<div class="modal-body" style="overflow: auto;">
<div class="form-area">

<div class="row">
<div class="col-md-12">
<div class="form-group">
<label class="control-label"><span class='mandatory'>*</span>Product Image</label>
<div id="picture-box" class="picture-box banner">
<img ng-if="formData.ProductImageName == ''" id="picture-box-picture" src="./asset/img/default-category.png">
<img ng-if="formData.ProductImageName !='' " id="picture-box-picture" src="{{formData.ProductImageURL}}">
<div class="picture-upload">
   <img src="./asset/img/upload.svg" id="picture-uploadBtn">
   <form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">
      <input type="hidden" name="Section" value="ProductPhoto">
      <input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">
   </form>
</div>

<div class="progressBar">
   <div class="bar"></div>
   <div class="percent">0%</div>
</div>
</div>
</div>	
</div>
</div>


<form id="edit_form" name="edit_form" autocomplete="off" >
<input type="hidden" id="ProductID" name="ProductID" value="{{formData.ProductID}}">
<input type="hidden" id="MediaGUIDs" name="MediaGUIDs" value="{{formData.ProductImage}}">
<input type="hidden" id="MediaGUIDss" name="MediaGUIDss" value="{{formData.ProductContent}}">
<input type="hidden" id="ProductQty1" name="ProductQty1" value="{{formData.ProductQty}}">

<div class="row">
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Product Category: </label>		
		<select name="ProductCategory" id="ProductCategory" class="form-control" onchange="SetProductCategory();" required>			
			<option value="formData.CategoryID">{{formData.CategoryName}}</option>
			<option ng-repeat="(key, row) in data.CategoryList" ng-selected="row.CategoryID == formData.CategoryID" value="{{row.CategoryID}}">{{row.CategoryName}}</option>
		</select>

		<input type="hidden" name="IsDownlodable" id="IsDownlodable" value="formData.IsDownlodable">	
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Sub Category: </label>
		<input name="ProductSubCategory" id="ProductSubCategory" type="text" class="form-control" value="{{formData.SubCategoryName}}" required="" maxlength="100">	
	</div>
</div>
</div>

<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Product Name</label>
		<input name="ProductName" type="text" class="form-control" value="{{formData.ProductName}}" required="" maxlength="100">
	</div>
</div>
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Unit Price (Exclude Tax)</label>
		<input name="ProductPrice" type="text" id="ProductPrice" class="form-control integer" value="{{formData.ProductPrice}}" onkeyup="CalculateMRP();" onblur="CalculateMRP();" maxlength="7" required>
	</div>
</div>
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Quantity</label>
		<input type="text" value="{{formData.ProductQty}}" class="form-control integer" maxlength="10" readonly="" disabled="">		
	</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Max. Qty. Each User Can Purchase</label>
		<input name="MaxQtyCanPurchase" type="text" value="{{formData.MaxQtyCanPurchase}}" id="MaxQtyCanPurchase" class="form-control integer" maxlength="5" required>	
	</div>
</div>


<div class="col-md-4" id="ShippingCostDiv" style="display: none;">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Shipping Cost</label>
		<input name="ShippingCost" type="text" value="{{formData.ShippingCost}}" id="ShippingCost" class="form-control integer" maxlength="5">	
	</div>
</div>
</div>	

<div class="row" id="IncreaseProductQtyDiv">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label">Add Stock(This quantity will be added to current stock quantity)</label>
		<input name="IncreaseProductQty" type="text" id="IncreaseProductQty" value="0" class="form-control integer" maxlength="10" placeholder="" required>
	</div>
</div> 
</div>

<div class="row" id="BooksDiv" style="display: none;">
<div class="col-md-3">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>No. Of Pages</label>
		<input name="NoOfPages" type="text" value="{{formData.NoOfPages}}" id="NoOfPages" maxlength="10" class="form-control integer">	
	</div>
</div> 

<div class="col-md-3">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Publisher Name</label>
		<input name="PublisherName" type="text" value="{{formData.PublisherName}}" id="PublisherName" maxlength="50" class="form-control">	
	</div>
</div>

<div class="col-md-3">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Author Name</label>
		<input name="AuthorName" type="text" value="{{formData.AuthorName}}" id="AuthorName" maxlength="50" class="form-control">	
	</div>
</div>

<div class="col-md-3">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Language</label>
		<input name="Language" type="text" id="Language" value="{{formData.Language}}" maxlength="30" class="form-control">	
	</div>
</div>
</div>

<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Tax in %</label>
		<input name="Tax" type="text" value="{{formData.Tax}}" onkeyup="CalculateMRP();" onblur="CalculateMRP();" id="Tax" maxlength="3" class="form-control integer">
	</div>
</div> 

<div class="col-md-8">
	<div class="form-group">
		<label class="control-label">Product Price MRP (Include Tax)</label>
		<input type="text" id="ProductPriceMRP" value="{{formData.ProductPriceMRP}}" class="form-control" readonly="">
	</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Description <span style="font-size: 10px;">(3000 Characters are allowed.)</span></label>
		<textarea name="ProductDesc" id="ProductDesc" onkeyup="wordLength('ProductDesc', 3000);"  onblur="wordLength('ProductDesc', 3000);" class="form-control" required>{{formData.ProductDesc}}</textarea>
		<span style="font-size: 10px;">3000 Characters are left.</span>
	</div>
</div> 
</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label">Features <span style="font-size: 10px;">(3000 Characters are allowed.)</span></label>
		<textarea name="ProductFeatures" id="ProductFeatures" onkeyup="wordLength('ProductFeatures', 3000);"  onblur="wordLength('ProductFeatures', 3000);" class="form-control" required>{{formData.ProductFeature}}</textarea>
		<span style="font-size: 10px;">3000 Characters are left.</span>
	</div>
</div> 
</div>
</form>

<div class="row">
<div class="col-md-6" id="DownloadableDiv" style="display: none;">
<div class="form-group">
<label class="control-label"><span class='mandatory'>*</span>Downloadable Content File</label>
<form enctype="multipart/form-data" action="{{APIURLFILE}}" method="post" name="picture_upload_form" id="picture_upload_form">
  <input type="hidden" name="Section" value="ProductContent">
  <input type="file" accept=".doc, .docx, .pdf, .xls. xlsx" name="File" id="fileInputProduct" data-targetinput="#MediaGUIDss">
</form>

<div class="progressBar1">
   <div class="bar1"></div>
   <div class="percent1">0%</div>
</div>

</div>	
</div>

<div class="col-md-6">
	<label ng-if="formData.ProductContentName" class="control-label">Uploaded File Name:</label> <a href="{{formData.ProductContentURL}}" target="_blank">{{formData.ProductContentName}}</a>
</div>
</div>

</div>
</div>


<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="editData()">Save</button>

<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>

<script type="text/javascript">
$(function()
{
	setTimeout(function()
	{
		SetProductCategory();
		
	}, "1000");
});


$('#fileInput').on('change', function() 
{ 
    var fsize = this.files[0].size;
    var filesz = Math.round((fsize / 1024));

    if (filesz > 2048)
    { 
        $('#fileInput').val('');
        alert("File too Big, please select a file less than 2MB."); 
        return false;
    } 
}); 


$('#fileInputProduct').on('change', function() 
{ 
    var fsize = this.files[0].size;
    var filesz = Math.round((fsize / 1024));

    if (filesz > (10240 * 2))
    { 
        $('#fileInputProduct').val('');
        alert("File too Big, please select a file less than 20MB."); 
        return false;
    } 
});
</script> 