<div class="modal-body" style="overflow: auto;">
<div class="form-area">



<div class="col-md-12" >
<div class="form-group">
<label class="control-label"><span class='mandatory'>*</span>Select File</label>
<form enctype="multipart/form-data" action="{{APIURLFILE}}" method="post" name="picture_upload_form" id="picture_upload_form">
  <input type="hidden" name="Section" value="OnlineStoreProduct">
  <input type="file" accept=".xls" name="File" id="fileInputProduct" data-targetinput="#MediaGUIDs">
</form>

<div class="progressBar1">
   <div class="bar1"></div>
   <div class="percent1">0%</div>
</div>

</div>	
</div>


<form id="import_form" name="import_form" autocomplete="off" method="post" enctype="multipart/form-data">
<input type="hidden" id="MediaGUIDs" name="MediaGUIDs" value="">
<input type="hidden" class="MediaURL" id="MediaURL" name="MediaURL" value="">
<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label">Steps:</label><br/>
		1. Download sample file <a href="./asset/products/import_product.xls">Download</a><br/>
		2. Fill the downloaded file as per instruction given in it.<br/>
		3. After filling file, choose file by above browse button.<br/>
		4. Click on save button.
	</div>
</div>
</div>
</form>

</div>
</div>


<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataImportLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataImportLoading" ng-click="addDataImport()">Save</button>

<img src="./asset/img/ajax-loader.gif" ng-if="addDataImportLoading" class="processingLoader">
</div>


<script> 
$('#ProductImport').on('change', function() 
{ 
    var fsize = this.files[0].size;
    var filesz = Math.round((fsize / 1024));

    if (filesz > 10240)
    { 
        $('#ProductImport').val('');
        alert("File too Big, please select a file less than 10MB."); 
        return false;
    } 
}); 
</script> 