<div class="modal-body" style="overflow: auto;">
<div class="form-area">

<div class="row">
<div class="col-md-12">
<div class="form-group">
<label class="control-label">Product Image: </label>
<div id="picture-box" class="picture-box banner">
<img ng-if="formData.ProductImageName == ''" id="picture-box-picture" src="./asset/img/default-category.png">
<img ng-if="formData.ProductImageName !='' " id="picture-box-picture" src="{{formData.ProductImageURL}}">
</div>
</div>	
</div>
</div>

<form autocomplete="off" >
<input type="hidden" id="ProductCategory" name="ProductCategory" value="{{formData.CategoryID}}">
<input type="hidden" id="ProductSubCategory" name="ProductSubCategory" value="{{formData.SubCategoryName}}">


<div class="row">
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label">Product Category: </label>				
		<label>{{formData.CategoryName}}</label>
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label">Sub Category: </label>
		{{formData.SubCategoryName}}
	</div>
</div>
</div>

<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Is Downloadable: </label>
		<label ng-if="formData.IsDownlodable == 0">No</label>
		<label ng-if="formData.IsDownlodable == 1">Yes</label>		
	</div>
</div>
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Product Name: </label>
		{{formData.ProductName}}
	</div>
</div>
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Unit Price (Exclude Tax): </label>
		{{formData.ProductPrice}}
	</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Quantity: </label>
		{{formData.ProductQty}}		
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Max. Qty. Each User Can Purchase: </label>
		{{formData.MaxQtyCanPurchase}}
	</div>
</div>


<div class="col-md-4" id="ShippingCostDiv" style="display: none;">
	<div class="form-group">
		<label class="control-label">Shipping Cost: </label>
		{{formData.ShippingCost}}	
	</div>
</div>
</div>	

<div class="row" id="BooksDiv" style="display: none;">
<div class="col-md-3">
	<div class="form-group">
		<label class="control-label">No. Of Pages: </label>
		{{formData.NoOfPages}}	
	</div>
</div> 

<div class="col-md-3">
	<div class="form-group">
		<label class="control-label">Publisher Name: </label>
		{{formData.PublisherName}}	
	</div>
</div>

<div class="col-md-3">
	<div class="form-group">
		<label class="control-label">Author Name: </label>
		{{formData.AuthorName}}	
	</div>
</div>

<div class="col-md-3">
	<div class="form-group">
		<label class="control-label">Language: </label>
		{{formData.Language}}	
	</div>
</div>
</div>

<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Tax: </label>
		{{formData.Tax}}%
	</div>
</div> 

<div class="col-md-8">
	<div class="form-group">
		<label class="control-label">Product Price MRP (Include Tax): </label>
		{{formData.ProductPriceMRP}}
	</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label">Description: </label>
		<label ng-bind-html="formData.ProductDesc"></label>
	</div>
</div> 
</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label">Features: </label>
		<label ng-bind-html="formData.ProductFeature"></label>
	</div>
</div> 
</div>
</form>

<div class="row">
<div class="col-md-12" id="DownloadableDiv" style="display: none;">
<div class="form-group">
<label ng-if="formData.ProductContentName" class="control-label">Downloadable Content File: </label> 
<a href="{{formData.ProductContentURL}}" target="_blank">{{formData.ProductContentName}}</a>
</div>
</div>
</div>
</div>
</div>



<script type="text/javascript">
$(function()
{
	setTimeout(function()
	{
		SetProductCategory();
		
	}, "1000");
});
</script>