<div class="modal-body">

	<div class="form-area">

		<form id="add_form" name="add_form" autocomplete="off" >


			<div class="row">

				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="Validity">Select Type</label>

						<select  id="Type"  name="Type" class="form-control chosen-select">

							<option value="">Select Type</option>

							<option value="QSP" ng-selected="type=='QSP'">Iconik selling Price</option>

							<option value="RSP" ng-selected="type=='RSP'">Retailer Selling Price</option>

						</select> 

						<!-- <select  ng-if="type == 'Course'" id="CategoryTypeName" onchange="ParentcategoryCheck(this.value)" name="CategoryTypeName" class="form-control chosen-select">

							<option value="Stream">Subject</option>

						</select>   -->

					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="Validity">Select Validity</label>

						<select  id="Validity"  name="Validity" class="form-control chosen-select">

							<option value="">Select Validity</option>

							<option value="3">3 Month</option>

							<option value="6">6 Month</option>

							<option value="12">12 Month</option>

							<option value="24">24 Month</option>

						</select> 

						<!-- <select  ng-if="type == 'Course'" id="CategoryTypeName" onchange="ParentcategoryCheck(this.value)" name="CategoryTypeName" class="form-control chosen-select">

							<option value="Stream">Subject</option>

						</select>   -->

					</div>

				</div>

			</div>


			<div class="row" id="SelectParentCategory">

				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="ParentCategory" id="select-label-parent-category">Keys Price (<i class="fa fa-rupee"></i>)</label>

						<input name="Price" type="text" class="form-control integer" value="" maxlength="4">
						<!-- <small>How many keys you want to add?.</small> -->

					</div>

				</div>

			</div>


		</form>



	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
</div>