<div class="modal-body">
   <div class="form-area">	
		<form id="add_form" name="add_form" autocomplete="off" >
			<div class="row" ng-if="!AlbumID">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title <span class="text-danger">*</span></label>
						<input name="MediaCaption" type="text" class="form-control" value="" maxlength="50">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Album <span class="text-danger">*</span></label>
						<div ng-if="!Category.length && !Categories.length">
						<select name="Category[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Category" ng-change="pushCategory(Category)">
							 <option ng-repeat="rows in data.CategoryData" value="{{rows.AlbumName}}" ng-selected="rows.AlbumName==Category">{{rows.AlbumName}}</option> 
							</select>
						</div>
						<div ng-if="Category.length">
							<select name="Category[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Category" ng-change="pushCategory(Category)">
							 <option ng-repeat="rows in data.CategoryData" value="{{rows.AlbumName}}" ng-selected="rows.AlbumName==Category">{{rows.AlbumName}}</option> 
							</select>
						</div>
						<div ng-if="Categories.length">
							<select name="Category[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Categories" ng-change="pushCategory(Categories)">
							 <option ng-repeat="rows in data.CategoryData" value="{{rows.AlbumName}}" ng-selected="rows.AlbumName==Categories">{{rows.AlbumName}}</option> 
							</select>
						</div>
							<a href="" ng-click="loadFormAddCategory()" title="Add New Album" >Add New Album </a>
					</div>
				</div>
			</div>
			<div class="row" ng-if="AlbumID">
				<div class="col-md-12">
					<div class="form-group">
						<input type="hidden" name="Category[]" value="{{AlbumName}}">
						<label class="control-label">Album <span class="text-danger">*</span></label><br>
						<label>{{AlbumName}}</label>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Title <span class="text-danger">*</span></label>
						<input name="MediaCaption" type="text" class="form-control" value="" maxlength="50">
					</div>
				</div>				
			</div>
			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
            <input type="hidden" name="Source" value="Direct">  
            <!-- <input type="hidden" name="Category[]" value="{{AlbumName}}"> -->
		</form>

		<div class="row">
			<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"> Upload Image <span class="text-danger">*</span></label>
			<div id="picture-box" class="picture-box banner">
				<!-- picture display -->
				<img id="picture-box-picture" ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/imageupload.png" style="height: 138px;
    width: 180px;">
				<img id="picture-box-picture" ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}" style="height: 138px;
    width: 180px;">

				<!-- picture upload form -->
				<div class="picture-upload">
					<img src="./asset/img/upload.svg" id="picture-uploadBtn">
					<form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="gallery">
						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs" multiple="multiple">
					</form>
				</div>
				<!-- progressbar -->
					<div class="progressBar">
						<div class="bar"></div>
						<div class="percent">0%</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>


<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>


<script type="text/javascript">
	  function applytinymce(){
        tinymce.init({
            selector: '#MediaContent',
            setup: function(editor) {
                editor.on('keyup', function(e) {
                console.log('edited. Contents: ' + editor.getContent());
                formDataCheck(editor.getContent());
                });
            }
        });  
    }
</script>