<div class="modal-body">

	<div class="form-area">

		<form id="category_form" name="category_form" autocomplete="off" >

			<div class="row">

				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label"> Album Name <span class="text-danger">*</span></label>

						<input name="Category" id="Category" type="text" class="form-control Category" value="" maxlength="50">

					</div>

				</div>
				
			</div>

        <input type="hidden" name="Source" value="Direct">  

		</form>
		

	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoadingc" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoadingc" ng-click="addCategoryData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoadingc" class="processingLoaderSet">

</div>
