<div class="modal-body">

	<div class="form-area">

		<form id="category_form" name="category_form" autocomplete="off" >

			<div class="row">

				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label"> Album Name <span class="text-danger">*</span></label>

						<input name="AlbumName" id="AlbumName" type="text" class="form-control AlbumName"  maxlength="50" value="{{formData.AlbumName}}">

					</div>

				</div>
				
			</div>

       	 <input type="hidden" name="AlbumID" value="{{formData.AlbumID}}">  

		</form>
		

	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoadingc" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoadingc" ng-click="editAlbum()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoadingc" class="processingLoaderSet">

</div>