 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script>
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });

  });
  </script>
<div class="modal-body">
  <div class="form-area">
<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title <span class="text-danger">*</span></label>
						<input name="MediaCaption" type="text" class="form-control" value="{{formData.MediaCaption}}" maxlength="50">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Album <span class="text-danger">*</span></label>
						<div ng-if="Category.length">
						<select name="Category[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Category" ng-change="pushCategory(Category)">
							 <option ng-repeat="rows in data.CategoryData" value="{{rows.AlbumName}}" ng-selected="rows.AlbumName==Category">{{rows.AlbumName}}</option> 
						</select>
					</div>
					<div ng-if="Categories.length">
						<select name="Category[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Categories" ng-change="pushCategory(Categories)">
							 <option ng-repeat="rows in data.CategoryData" value="{{rows.AlbumName}}" ng-selected="rows.AlbumName==Categories">{{rows.AlbumName}}</option> 
						</select>
					</div>
						<a href="" ng-click="loadFormAddCategory(1)" title="Add New Album" >Add New Album </a>

					</div>
				</div>
			</div>
		

			
			 <input type="hidden" class="MediaGUIDe" id="MediaGUIDe" name="MediaGUIDe" value="">
			 <input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="{{formData.MediaGUID}}">
            <input type="hidden" name="Source" value="Direct"> 

   </form>
	   <div class="row">
	   	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label"> Upload Image </label>
			<div id="picture-box" class="picture-box banner">
				<!-- picture display -->
				<img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png" style="width: 25%;">
				<img id="picture-box-picture" ng-if="formData.MediaURL" ng-src="{{formData.MediaURL}}" style="width: 25%;">

				<!-- picture upload form -->
				<div class="picture-upload">
					<img src="./asset/img/upload.svg" id="picture-uploadBtn">
					<form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="gallery">
						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDe">
					</form>
				</div>
				<!-- progressbar -->
				<div class="progressBar">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
			</div>
			</div>
		  </div>
		</div>
           
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-if="editDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-if="editDataLoading" ng-click="editData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">
</div>





