<div class="modal-body">
  <div class="form-area">

			<div class="row">
				
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Album: </label><br>
						{{formData.AlbumName}}
					</div>
				</div>
              
			</div>

			<div class="row">
				
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Entry Date: </label><br>
						{{formData.EntryDate}}
					</div>
				</div>
              
			</div>

			<div class="row">
				
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Modify Date: </label><br>
						{{formData.ModifyDate}}
					</div>
				</div>
              
			</div>
		
	
  </div>
</div>