<style type="text/css">
    .cover-card {
       /* border: 2px solid white;
        background: silver;
        padding: 0px;
        margin: 0px;
        height:200px;*/
    }
    .cover-card > p {
        text-align: center;
        background-color: rgba(6,6,6,0.0);
        color: rgba(6,6,6,0.0);
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 20px;
    }
    .cover-card:hover > p {
        background-color: rgba(6,6,6,0.3);
        color: white;
        text-shadow: 3px 3px 10px #000;
    }
</style>
<style type="text/css">
    #gallerylist {
        padding: 0;
       /* margin: 50px 20px;*/
        list-style: none;
        width: 100%;
    }
    #gallerylist li {
        margin: 15px;
        display: inline-block;
        width: 15%;
    }
    #gallerylist li a {
        padding: 5px;
        display: inline-block;      
        border: 1px solid #f2f2f2;
        width: 100%;
    }
    #gallerylist li a img {
        width: 125px;
        height: 125px;
        display: block;
    }
    #gallerylist li a:hover img {
        transform: scale(2.5);
        box-shadow: 20 20 20px rgba(0, 0, 0, 0.5);
    }
</style>
<div class="modal-body">
   <div class="form-area"> 
                 <!-- <div class="jcarousel-wrapper">
                    <div class="jcarousel" data-jcarousel="true">
                        <ul style="left: 0px; top: 0px;">
                            <li ng-repeat="photo in photos"><img src="{{photo.src}}" width="600" height="400" alt=""></li>
                        </ul>
                    </div>

                    <p class="photo-credits">
                        Photos by <a href="http://www.mw-fotografie.de/">Marc Wiegelmann</a>
                    </p>

                    <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
                    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                    
                    <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="https://sorgalla.com/jcarousel/examples/basic/#1" class="active">1</a><a href="https://sorgalla.com/jcarousel/examples/basic/#2">2</a><a href="https://sorgalla.com/jcarousel/examples/basic/#3">3</a><a href="https://sorgalla.com/jcarousel/examples/basic/#4">4</a><a href="https://sorgalla.com/jcarousel/examples/basic/#5">5</a><a href="https://sorgalla.com/jcarousel/examples/basic/#6">6</a></p>
                    
                </div> -->

                    <div class="row">
                        <ul id="gallerylist">
                            <li ng-repeat="photo in photos"><p>
                               {{photo.MediaCaption}}
                            </p><a><img src="{{photo.MediaURL}}" alt="{{photo.MediaCaption}}"></a>

                            <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="btn btn-danger btn-sm ml-1 ng-scope float-right" href="" ng-click="loadFormMediaDelete(key, photo.MediaGUID)" data-toggle="tooltip" title="Delete" data-toggle="tooltip" title="Remove picture from album" style="width: 50%;">Remove</a>   </li>
                            <!-- <li><a href="#"><img src="/examples/images/diamond.jpg" alt="Diamond Card"></a></li>
                            <li><a href="#"><img src="/examples/images/spade.jpg" alt="Spade Card"></a></li>
                            <li><a href="#"><img src="/examples/images/heart.jpg" alt="Heart Card"></a></li> -->
                        </ul>
                       <!--  <div ng-repeat="photo in photos" style=" margin: 20px; width: 20%;">
                            <p>
                               {{photo.MediaCaption}}
                            </p>
                            <img src="{{photo.MediaURL}}" style="width: 200px;height: 200px;">    
                            <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="btn btn-danger btn-sm ml-1 ng-scope float-right" href="" ng-click="loadFormMediaDelete(key, photo.MediaGUID)" data-toggle="tooltip" title="Delete" data-toggle="tooltip" title="Remove picture from album">Remove</a>                        
                        </div> -->
                        <!-- <div class="cover-card col-sm-8" style="background: url(http://lorempixel.com/600/200/nightlife/3) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/1) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/4) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/6) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>

                        <div class="cover-card col-sm-4" style="background: url(http://lorempixel.com/600/200/city/4) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-4" style="background: url(http://lorempixel.com/300/200/city/5) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-4" style="background: url(http://lorempixel.com/300/200/city/6) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-6" style="background: url(http://lorempixel.com/300/200/city/7) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div>
                        <div class="cover-card col-sm-6" style="background: url(http://lorempixel.com/300/200/city/8) no-repeat center top;background-size:cover;">
                            <p>
                                Text Caption
                            </p>
                        </div> -->
                    </div>
    </div>
          
</div>


<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-success btn-sm" ng-click="addData()">Save</button>
</div> -->