<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">

<form id="add_bulk_assign_form" name="add_bulk_assign_form" autocomplete="off">															
	
	<input name="EnquiryGUID" id="EnquiryGUID" type="hidden" value="{{formData.EnquiryGUIDS}}">
	<input name="EnquiryGUIDCount" id="EnquiryGUIDCount" type="hidden" value="{{formData.EnquirySelectedCount}}">

	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Total Enquiry Selected: <b>{{formData.EnquirySelectedCount}}</b></label>

			</div>

		</div>
	</div>


	<div class="row">	

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Assigned To <span class="text-danger">*</span></label>

				<select name="AssignedTo" id="AssignedTo" class="form-control">

					<option value="">Please Select</option>

					<option ng-repeat="row in formData.Users" value="{{row.UserID}}">{{row.FirstName}} {{row.LastName}} ({{row.UserTypeName}})</option>

				</select>

			</div>
		</div>
	
	</div>


	<div class="row">	

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Remarks <span class="text-danger">*</span></label>

				<textarea class="form-control" name="Remarks" id="Remarks" rows="2" cols="50"></textarea>

			</div>
		</div>
	
	</div>



</form>

 <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="bulkAssignData()">Save</button>

</div>