<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.form-group label b
{
	text-transform: none !important;
}

.CallList
{
	max-height: 200px !important;
	overflow: auto;
	display: none;
}
</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">

<form id="add_form" name="add_form" autocomplete="off" >																

	<input name="EnquiryGUID" type="hidden" value="{{formData.EnquiryGUID}}">

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Full Name: <b>{{formData.EnquiryPersonName}}</b></label>
				<label class="control-label" style="float: right;">Mobile: <b>{{formData.EnquiryMobile}}</b></label>
			</div>
		</div>
	</div>
	


	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Email: <b>{{formData.EnquiryEmail}}</b></label>
				<label class="control-label" style="float: right;">Interested In: <b>{{formData.EnquiryInterestedIn}}</b></label>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Remarks <span class="text-danger">*</span></label>

				<textarea class="form-control" name="Remarks" rows="1" cols="50"></textarea>
			</div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Status <span class="text-danger">*</span></label>

				<select name="Status" class="form-control">

					<option value="">Select Status</option>

					<option value="1">Hot</option>

					<option value="2">Mild</option>

					<option value="3">Cold</option>

					<option value="4">Closed</option>

					<option value="5">Dropped</option>

				</select>
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Follow-up Date <span class="text-danger">*</span></label>
				<input type="text" name="FollowUpDate" id="FollowUpDate" class="form-control" readonly="">
			</div>
		</div>			
	</div>
	

	<div class="row">

		<div class="col-md-12" style="float: right;">
			<div class="form-group">
				<div class="modal-footer">
					<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 80%;    left: 50%;    transform: translate(-50%, -50%);">

					<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

					<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData()">Save</button>

					</div>
			</div>
		</div>		
	</div>

	<div class="row">	
		<div class="col-md-12">
			<label><h5>Last Transaction<a href="" class="glyphicon glyphicon-list" ng-if="data.dataCallListDetails.length > 0" onclick="toggle_call_log();" title="View Call History"></a></h5></label>
		</div>
	</div>
	<div class="row">	
		<div class="col-md-3">
			<div class="form-group">
				<label>Last Call Date: 
					<b ng-if="formData.EnquiryLastestFollowDate != ''">{{formData.EnquiryLastestFollowDate}}</b>
					<b ng-if="formData.EnquiryLastestFollowDate == ''">-</b>
				</label>
			</div>	
		</div>
		<div class="col-md-9">
			<div class="form-group">				
				<label>Last Remarks: 
					<b ng-if="formData.EnquiryLastestRemark != ''">{{formData.EnquiryLastestRemark}}</b>
					<b ng-if="formData.EnquiryLastestRemark == ''">-</b>
				</label>
			</div>	
		</div>
	</div>
	

	
	<div class="row CallList" id="CallListDetails" ng-if="data.dataCallListDetails.length > 0">
	<div class="col-md-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width:30px;">#</th>
				<th style="width: 100px;">Call Date</th>
				<th style="width: 300px;">Remarks</th>
				<th style="width: 100px;">Status</th>
				<th style="width: 100px;">Next Followup Date</th>
			</tr>
		</thead>

		<tbody>
			<tr scope="row" ng-repeat="(key, row) in data.dataCallListDetails" id="sectionsid_{{row.MenuOrder}}.{{key}}">
				<td>{{ (key + 1)}} <label ng-if="LoginUser == row.EnquiryByUser"><img src="asset/img/tick.png"></label></td>				

				<td>{{row.CallDate}}</td>

				<td>{{row.Remarks}}</td>

				<td>{{row.Status}}</td>

				<td>{{row.NextFollowDate}}</td>
			</tr>
		</tbody>
		</table>
	</div>
	</div>


</form>

 <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>