<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">

<form id="edit_form" name="edit_form" autocomplete="off" >																

	<input name="EnquiryGUID" type="hidden" value="{{formData.EnquiryGUID}}">

	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Full Name <span class="text-danger">*</span></label>

				<input name="FullName" type="text" class="form-control" value="{{formData.EnquiryPersonName}}" maxlength="50">

			</div>

		</div>


		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Mobile <span class="text-danger">*</span></label>				

					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">+91</span>
					  </div>
					  <input name="PhoneNumber" type="text" class="form-control integer" value="{{formData.EnquiryMobile}}" minlength="10" maxlength="10" aria-label="Username" aria-describedby="basic-addon1">
					</div>

			</div>
			

		</div>		

	</div>



	


	<div class="row">

		<div class="col-md-6">
			<div class="form-group">

				<label class="control-label">Email <span class="text-danger">*</span></label>

				<input name="Email" type="email" class="form-control" value="{{formData.EnquiryEmail}}" maxlength="" onkeyup="validateEmail(this);" onblur="validateEmail(this);">

			</div>
		</div>



		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Interested In <span class="text-danger">*</span></label>

				<input name="InterestedIn" type="text" class="form-control" value="{{formData.EnquiryInterestedIn}}" maxlength="150">

			</div>		

		</div>  

	</div>
	

	<div class="row">	

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Remarks </label>

				<textarea class="form-control" name="Remarks" rows="2" cols="50" onkeyup="maxCharactersLimit(this, 300);" onblur="maxCharactersLimit(this, 300);">{{formData.EnquiryRemarks}}</textarea>

			</div>
		</div>
	
	</div>		


	<div class="row">

		<div class="col-md-12">
			<div class="form-group">

				<label class="control-label">Select Source <span class="text-danger">*</span></label>

				<select name="Source" class="form-control">

					<option value="">Please Select</option>

					<option value="Reference" ng-selected="formData.EnquirySource == 'Reference'">Reference</option>

					<option value="Website" ng-selected="formData.EnquirySource == 'Website'">Website</option>

					<option value="App" ng-selected="formData.EnquirySource == 'App'">App</option>

					<option value="Walkin" ng-selected="formData.EnquirySource == 'Walkin'">Walk-in</option>

					<option value="Advertisement" ng-selected="formData.EnquirySource == 'Advertisement'">Advertisement</option>

				</select>

			</div>

		</div>

	</div>


</form>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>

</div>