<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}
.CallList
{
	max-height: 400px !important;
	overflow: auto;
}
</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">																


<div class="row">

	<div class="col-md-6">

		<div class="form-group">

			<label class="control-label"><b>Source</b>:&nbsp;</label>{{SourceID}}			

		</div>

	</div>


	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label"><b>Status</b>:&nbsp;</label>{{StatusID}}

		</div>
		

	</div>		

</div>


<div class="row CallList">

<div class="col-md-12">

<table class="table table-striped table-condensed table-hover table-sortable">

<!-- table heading -->

<thead>

	<tr>

		<th style="width:30px;">#</th>

		<th style="width: 100px;">Name</th>

		<th style="width: 100px;">Mobile</th>

		<!-- <th style="width: 100px;">Enquiry Date</th> -->

		<th style="width: 100px;">Calls Total</th>

		<th style="width: 300px;">Remarks</th>		

	</tr>

</thead>

<!-- table body -->

<tbody>

	<tr scope="row" ng-repeat="(key, row) in data.dataListDetails" id="sectionsid_{{row.MenuOrder}}.{{row.EnquiryGUID}}">

		<td>{{ (key + 1)}}</td>

		<td>{{row.EnquiryPersonName}}<br/>{{row.EnquiryEmail}}</td>					

		<td>{{row.EnquiryMobile}}</td>

		<!-- <td>{{row.EnquiryDate}}</td> -->

		<td>{{row.totalCalls}}</td>

		<td>{{row.EnquiryLastestRemark}}</td>
		

	</tr>

</tbody>

</table>
	

</div>			

</div>



 <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 80%;    left: 50%;    transform: translate(-50%, -50%);">

<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

</div>