<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">

																

	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Full Name: </label>
				<br>{{formData.EnquiryPersonName}}

			</div>

		</div>


		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Mobile: </label>				
				<br>{{formData.EnquiryMobile}}

			</div>
			

		</div>		

	</div>



	


	<div class="row">

		<div class="col-md-6">
			<div class="form-group">

				<label class="control-label">Email: </label>

				<br>{{formData.EnquiryEmail}}

			</div>
		</div>



		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Interested In: </label>

				<br>{{formData.EnquiryInterestedIn}}

			</div>		

		</div>  

	</div>
	

	<div class="row">	

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Remarks: </label>

				<br>{{formData.EnquiryRemarks}}

			</div>
		</div>
	
	</div>		


	<div class="row">

		<div class="col-md-6">
			<div class="form-group">

				<label class="control-label">Source: </label>

				<br>{{formData.EnquirySource}}

			</div>

		</div>


		<div class="col-md-6">
			<div class="form-group">

				<label class="control-label">Enquiry Date: </label>

				<br>{{formData.EnquiryDate}}

			</div>

		</div>

	</div>



	<div class="row">

		<div class="col-md-12">
			<div class="form-group">

				<label class="control-label">Status: </label>

				<br>{{formData.EnquiryStatusName}}

			</div>

		</div>

	</div>


 <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 80%;    left: 50%;    transform: translate(-50%, -50%);">

<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

</div>