<style type="text/css">

#add_model .modal-lg{

max-width: 85%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}
</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">
													

<div class="row">

<div class="col-md-12">

	<table width="100%" class="table table-striped table-condensed table-hover table-sortable">

		<!-- table heading -->

		<thead>

			<tr>

				<th style="width:30px;">#</th>

				<th style="width: 150px;">Call Date</th>

				<th style="width: 300px;">Remarks</th>

				<th style="width: 100px;">Status</th>

				<th style="width: 120px;">Next Followup Date</th>
			</tr>

		</thead>

		<!-- table body -->

		<tbody ng-if="data.dataListDetails.length > 0">

			<tr scope="row" ng-repeat="(key, row) in data.dataListDetails" id="sectionsid_{{row.MenuOrder}}.{{key}}">

				<td>{{ (key + 1)}} <label ng-if="LoginUser == row.EnquiryByUser"><img src="asset/img/tick.png"></label></td>				

				<td>{{row.CallDate}}</td>

				<td>{{row.Remarks}}</td>

				<td>{{row.Status}}</td>				

				<td>{{row.NextFollowDate}}</td>
			</tr>

		</tbody>

		<tbody ng-if="data.dataListDetails.length <= 0">

			<tr scope="row">

				<td colspan="4">No record found.</td>				

			</tr>

		</tbody>

		</table>

</div>




</div>




 <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 80%;    left: 50%;    transform: translate(-50%, -50%);">

<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

</div>