<div class="modal-body">

	<div class="form-area">

		<form id="add_form" name="add_form" autocomplete="off" >

			<div class="row" id="SelectParentCategory">

				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="ParentCategory" id="select-label-parent-category">Default Keys Count</label>

						<input name="TotalKeys" type="text" class="form-control integer" value="" maxlength="4">

						<small>How many total keys you want to provide to Master franchisee?.</small>

					</div>

				</div>

			</div>


		</form>



	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-click="setFranchiseeDefaultKeys()">Save</button>

</div>