<style type="text/css">
input[type=checkbox]{
	width: 50%;
    float: left;
    margin: 10px 0px;
}	
input[type=checkbox] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 0px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
}
</style>

<div class="modal-body">



	<div class="form-area">



		<form id="add_form" name="add_form" autocomplete="off" >

			<div class="row">



				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Validity</label>


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Count</label>



					</div>



				</div>


			</div>

			<div class="row" ng-repeat="(key, row) in data.dataList">



				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity" ng-if="index=0">Validity</label>


						<label class="filter-col text-center">{{row.Validity}}</label>

						<input type="hidden" name="Validity[]" value="{{row.Validity}}">
					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity" ng-if="index=0">Keys Count</label>

						<input name="Keys[]" type="text" id="keys{{row.Validity}}" class="form-control integer" value="{{row.AvailableKeys}}" 
						onkeyup="updateTotalKeys()">



					</div>



				</div>


			</div>


			<div class="row">



				


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity"><strong>Total Keys</strong></label>

						


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">


						<input type="hidden" class="TotalPrice" name="TotalPrice" value="{{data.TotalAvailableKeys}}">
						

						<input  type="text" class="form-control" id="TotalPrice"  value="{{data.TotalAvailableKeys}}" disabled="disabled">



					</div>



				</div>



			</div>



			<div class="row">



				


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity"><strong>Availaable Keys</strong></label>

						


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">


						
						
						<input type="hidden" id="TotalAvailableKeys" name="TotalAvailableKeys" value="{{data.TotalAvailableKeys}}">

						<input  type="text" class="form-control"  value="{{data.TotalAvailableKeys}}" disabled="disabled">



					</div>



				</div>



			</div>




		</form>







	</div>



</div>







<div class="modal-footer">



	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>



	<button type="submit" class="btn btn-success btn-sm" ng-click="updateAllotedKeys()">Save</button>



</div>