html {
    height: 100%;
    box-sizing: border-box
}
/*********** light Theme **********/
:root {
    --main-bg-color: #f0f0f0; 
    --dark-bg-color: #000 ; 
  }

body {
    padding-bottom: 50px;
    min-height: 100%;
    width: 100%;
    /* position: absolute; */
    background-color: #f3f3f3;
    color: #111;
    font-family: Roboto, sans-serif;
    font-size:13px;
}
a, .a{
    color: #4169e1;
    cursor: pointer;
}
/*.dropdown-item.active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: #f4f4f4;
    color: #000;
}*/
.a:active{
    position: relative;
    top: 1px;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.010);
    font-weight: 300
}
p {
    margin: 0 0 8px;
}
strong {
    font-weight: 500;
}
img.rounded-circle {
    box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.17);
}

.navbar{
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.10);
    background: #119ad7; /* Old browsers */
    background: -moz-linear-gradient(top,  #119ad7 0%, #0080d6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #119ad7 0%,#0080d6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #119ad7 0%,#0080d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119ad7', endColorstr='#0080d6',GradientType=0 ); /* IE6-9 */

}
/*-------------------*/
.btn {
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 6px 12px;

}
.btn:not(.btn-secondary) {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
}
.btn.btn-success {
    min-width: 90px;
}
.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
.btn-secondary:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-secondary:active, .btn-secondary:focus {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

/*-------------------*/
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.chosen-container{
    font-size: inherit;
}
.form-group label {
    font-size: 88%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.form-control, .chosen-container a.chosen-single, .chosen-choices {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 1px;
    transition: border 0.1s linear 0s, box-shadow 0.1s linear 0s;
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,.10) inset;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 3px;
    font-size: inherit;
    line-height: 1.5;

}
.form-control:focus {
    border-color: #bbb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    background-color: rgba(255, 255, 224, 0.40);
}

.form-control[readonly]{
    background-color: inherit;
}
[placeholder]:focus::-webkit-input-placeholder {
  opacity: .3;
}
.chosen-select{
    width: 200px;
}
/*-------------------*/
.chosen-container{
    font-synthesis: 14px;
}

.chosen-container a.chosen-single{
    padding: 6px 12px;
    min-height: 34px;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: .800rem;
}
.chosen-container-single .chosen-single div {
    width: 17px;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 8px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 8px;
}
.chosen-container-multi .chosen-choices{
    padding: 0px 12px;
    background-image: none;
    min-height: 36px;
    border: 1px solid #d7d7d7;
}
.chosen-container-multi .chosen-choices li.search-choice{
    margin: 6px 6px 5px 0px;
    padding: 7px 20px 7px 10px;
    line-height: 10px;
    border-radius: 2px;
    background-image: none;
    background-color: #f8f9ff;
    border: 1px solid #dbe2f3;
    color: #000;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    top: 6px;
    height: 11px;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    height: 36px
}
.chosen-container .chosen-results li.group-result {
    font-weight: 500;
}
.chosen-container-active .chosen-choices {
 border: 1px solid #aaa; 
 box-shadow: none; 
}
/*-------------------*/
/*-------------------*/
.alertify-notifier{

}
.alertify .ajs-dialog {
    border-radius: 2px;
}
.alertify .ajs-header, .alertify .ajs-commands {
    display: none;
}

/*-------------------*/
#logo{
    margin: 50px auto 0 auto;
}
#logo img{
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.30));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.30));
    max-height: 80px;
    max-width: 220px;
}
/*-------------------*/
#mainFrame {
    min-height: 600px;
    padding: 13px 0;
    margin-top: 5px;
}
.login-block {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1), 3px 4px 0 0 rgba(0, 0, 0, 0.04);
    padding: 20px 20px;
    margin: 50px auto 0 auto;
}
/*-------------------*/
.panel-heading {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #eff2f7;
    padding: 10px 15px;
}
.panel-heading h1{
    margin: 0;
}
.panel-body {
    background: #fff none repeat scroll 0 0;
    padding: 5px 15px;
    position: relative;
    min-height: 90px;
}
/*-------------------*/
.block {
    display: block;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1), 3px 4px 0 0 rgba(0, 0, 0, 0.04);
    overflow: hidden;
}
.block_mar {
    margin-bottom: 30px;
}

.block_pad {
    padding: 7px 15px 5px;
}
/*-------------------*/
.dropdown-toggle::after {
    vertical-align: middle;
}
.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #afe8ff;
}
.dropdown-menu {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 2px;
    padding: 0;
    left: 2px;
}
.dropdown-menu a {
    font-size: 13px;
}
.notification-box > .dropdown-item {
    white-space: inherit;
}
.dropdown-toggle .fa-bell {
    font-size: 18px;
}
/*-------------------*/
.boxbg {
    border: 1px solid #eee;
    background-color: rgba(247, 247, 247, 0.30);
    border-radius: 4px;
}

.block_bordered{
 border: 2px solid rgba(0, 0, 0, 0.15);
 border-color: lightsteelblue;
 box-shadow: 2px 3px 0 0 rgba(0, 0, 0, 0.04);

}   
.table {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    font-size: 13px;
    margin-bottom: 0;

}
.table th {
    font-family: 'Poppins', sans-serif;
    /*background-color: #3d3d3d;*/
    background-color: #23B3E0;
    /*border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;*/
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 0 none!important;
    color: #fff;
    min-width: 60px;
    padding: 5px 10px;
    font-weight: 400;
}
.table>thead>tr>th {
   border-bottom: none; 
   padding: 10px 7px;
}
.table>tbody>tr>td {
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    color: #111;
    padding: 10px;
}
.table td {
    border: 1px solid rgba(221, 221, 221, 0.1);
    border-collapse: collapse;
    line-height: 20px;
    box-shadow: 0 2px 0 0 #FFFFFF inset;
}
td.bg-danger, td.bg-success {
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 1) !important;
}
.tr_placeholder {height: 59px;}

.table .btn-group.navbar-btn {
    margin-top: 0;
    margin-bottom: 0;
}
.table .btn-group.navbar-btn .btn {
    padding: 3px 10px;
}

/*-------------------*/
.table td.inner-table{
    padding: 0;
}
.table td.inner-table .table{
    border: 0;
    box-shadow: none;
    margin: 0;
}
.table td.inner-table .table td{
    border: 0;
}
.no-table{
    border: none;
    box-shadow: none;
}
.no-table td, .no-table th{
    border: none;
    padding: 8px;
    font-weight: 400;
}

.no-table th {
    color: inherit;
    text-shadow: none;
}
/*-------------------*/
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #FCFCFC;
}

.table-hover>tbody>tr:hover {
    background-color: #f4f4f4;
}
.btn img {
    height: 14px;
}

/*-------------------*/
td.listed {
    position: relative;
}
.listed .content {
    min-height: 46px;
    position: relative;
}
.listed.sm img{
    max-width: 42px;
    max-height: 42px
}
.listed.sm .content{
    margin-left: 10px;
    padding-left: 5px;
    position: absolute;
    margin-left: 50px;
}
.no-records {
    text-align: center;
    background-color: rgba(247, 247, 247, 0.36);
    padding: 5px;
    border: 1px solid rgba(221, 221, 221, 0.49);
    margin-top: 20px;
    border-radius: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);

}
.data-loader{
    position: absolute;
    z-index: 3500;
    left: 0;
    bottom: 0;
    right: 0;
}

.page-loader{
    display: block;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 40%;
    z-index: 3500;
}
.page-loader span{
    background-color: #fff;
    padding: 5px 10px;
    border: 2px solid #88a8d2;
    box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.17);
    border-radius: 2px;
}
/*-------------------*/
.modal-content{
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); 
    box-shadow: 0 5px 15px rgba(0,0,0,.5); 
}

/*.modal-open .modal {
    overflow-y: scroll;
}*/
.modal-header {
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: #119AD7;
    color: #FFF;
    border-radius: 0;
}
.modal-header .modal-title{
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.modal-footer {
    padding: 10px 15px 10px 15px;
    background-color: #f7f7f7;
    border: none;
}
.modal-body {
    padding: 15px 15px;
}
/*-------------------*/
.picture-box{
    text-align: center;
    min-width: 220px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(247, 247, 247, 0.30);
    border-bottom: 1px solid #eee;
    min-height: 75px;
}

.picture-box p{
    margin:0 0 3px; 
}
/*-------------------*/
.picture-box .picture-upload {
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.10);
   /* opacity: 0;*/
}

.picture-box .picture-upload #picture-uploadBtn {
    cursor: pointer;
    transition: opacity .4s;
    height: 72px;
    width: 72px;
  
}

.picture-box .picture-upload .picture-uploadBtn {
    cursor: pointer;
    transition: opacity .4s;
    height: 72px;
    width: 72px;
}
.picture-box .picture-upload form {
    display: none;
}

.picture-box:hover > .picture-upload {
    opacity: 1;
}

.picture-uploadBtn {
    cursor: pointer;
    transition: opacity .4s;
    height: 72px;
    width: 72px;
}
/*-------------------*/
.progressBar, .progressBar1 {
    left: 0;
    position: absolute;
    top: 50%;
    width: 90%;
    display: none;
    margin: auto;
    right: 0;
}
.progressBar .bar, .progressBar1 .bar1 {
    background-color: rgba(111, 205, 50, 0.8);
    width: 0%;
    height: 17px;
}
.progressBar .percent, .progressBar1 .percent1 {
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
}

.strik {
    background-image: url(../img/strik.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px 10px;
}
.icon {
    max-width: 17px;
    max-height: 17px;
}

.icon.md {
    max-width: 30px;
    max-height: 30px;
}

.thumbnail{
    height: 90px;
}
.banner{
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.banner img{
    max-width: 100%;

}
.imgbg{
    background-size: cover;
    background-repeat: no-repeat;
}
.imgproduct{

}
/*-------------------*/


.sort{
    cursor: pointer;    
}

.sort > span{
background: url(../img/up-down.png) 0px 3px no-repeat;
    clear: both;
    height: 16px;
    width: 14px;
    display: inline-block;
    margin-left: 0px;
}


/*-------------------*/
footer {
    position: absolute;
    padding-top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
/*7-3-2018*/

.navbar-header {
    float: left;
}

.attr-nav .dropdown {
    display: inline-block;
}

.attr-nav .badge {
    position: absolute;
    right: -3px;
    top: 5px;
    z-index: 99999;
    border-radius: 50%;
    padding: 4px 7px;
    font-weight: normal;
    background-color: orangered;
    color: white;
}

.dropdown-menu.notification_menu {
    left: -252px;
    width: 300px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
}
.notification_menu::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #343a40;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    position: absolute;
    right: 12px;
    top: -20px;
}
.not-txt, .not-date {
    display: block;
    width: 100%;
}

@media only screen and (max-width:767px) {

    .navbar-header {
        width: 100%;
    }

    .navbar-brand {
        text-align: center;
        width: 120px;
    }

    .attr-nav {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .attr-nav .badge {
        border-radius: 90%;
        font-size: 12px;
        position: absolute;
        right: 7px;
        top: 0;
        z-index: 100;
    }
    .getway_menu {
        left: -72px;
        top: 54px;
    }

    .getway_menu {
        left: -72px;
        top: 54px;
    }

    .notification-box {
        border-bottom: 1px solid #ececec;
        padding: 5px 10px;
    }

    .navbar-dark .navbar-toggler {
        float: left;
    }

}

.modal-open .modal {
    overflow: scroll !important;
}
