    /*
    Flaticon icon font: Flaticon
    Creation date: 20/12/2018 11:41
    */
body {
    margin: 0;
    padding: 0;
}
@font-face {
font-family: "Flaticon";
src: url("fonts/Flaticon.eot");
src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
     url("fonts/Flaticon.woff") format("woff"),
     url("fonts/Flaticon.ttf") format("truetype"),
     url("fonts/Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.svg#Flaticon") format("svg");
}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-size: 20px;  
font-style: normal;
font-weight: 600;
}

.flaticon-home:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-shopping:before { content: "\f102"; }
.flaticon-cricket:before { content: "\f103"; }
.flaticon-settings:before { content: "\f104"; }
.flaticon-users:before { content: "\f105"; }
.flaticon-atm:before { content: "\f106"; }
.flaticon-clipboards:before { content: "\f107"; }
.flaticon-team:before { content: "\f108"; }
.flaticon-network:before { content: "\f109"; }

.navigation .navbar-nav .nav-link i {
    margin-right: 10px;
    vertical-align: middle;
}


/******** Sidebar Css **************/
.sidebar_hide {
    width: 7% !important;
    overflow: hidden !important;
}
.sidebar_left {
    padding-left: 95px !important;
}
.top_header {
    /*background-color: #a9a9a9;*/
    background-color: #EDEDED;
    height: 35px;
    color: #fff;
    padding: 10px;
    background-color: #00A7ED;
    /*background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    background-image: linear-gradient(141deg, #48A2EB   0%, #00C2D6 51%, #5ED2C6  75%);
    /*background-image: linear-gradient( #00A7ED 75%, #00C2D6 51%, #00A7ED 0%, 141deg);*/
}
.top_header .nav-item {
    margin: 10px 0 0 0;
}
.menu-toggel {
    display: block !important;
}
.sidebar_hide {
    max-width: 57px !important;
    overflow: hidden;
}
.sidebar_hide .navbar-brand {
   opacity: 0;
}
.menu_icon .navbar-toggler-icon::after {
    content: "";
    position: absolute;
    top: 25px;
    border-top: 2px solid #fff;
    width: 25px;
    left: 18px;
}
.menu_icon .navbar-toggler-icon::before {
    content: "";
    position: absolute;
    right: 14px;
    border: 2px inset #fff;
    height: 13px;
    width: 13px;
    transform: rotate(-45deg);
    top: 19.5px;
    border-top: 0;
    border-left: 0;
}
/********** custom Css ************/
.main-navbar {
    padding-left: 210px;
}
a:hover {
    text-decoration: none;
}
.navigation {
    max-width: 220px;
    height: 100%;
    display: block;
    background: #fff !important;
    padding: 0 !important;
    transition: all 0.2s ease 0s;
}
.navigation .container-fluid{
    flex-wrap: wrap;
    padding: 0;
}
.navigation .navbar-nav  {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navigation .navbar-header {
    padding: 5px 0;
    /*background-color: #a9a9a9;*/
    /*background-color: #00C3D7;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
}
.navigation .nav-item .nav-link:hover {
    /*background-color: #f4f4f4;*/
    background-color: #49A4EA!important;
    /*border-left: 3px solid #dc3545;*/
    border-left: 3px solid #FFF;
}
.navigation .navbar-nav .nav-link {
    /*color: var(--dark-bg-color) !important;*/
    color: #FFF;
    padding: 10px 20px 10px 8px;
    line-height: 30px;
    border-left: 3px solid transparent;
    font-size: 13px;
    transition: all 0.3s linear 0s;
}
.navigation .navbar-nav .dropdown-toggle::after {
    position: absolute;
    right: 14px;
    top: 22px;
    transition: all 0.3s linear 0s;
}
.navigation .navbar-nav .show .dropdown-toggle::after {
    transform: rotate(180deg);
}
.navigation .dropdown-menu a {
    font-size: 13px;
    line-height: 25px;
    padding-left: 50px;
    position: relative;
    white-space: normal;
    /*background: #CACFD2;*/
}
.navigation .dropdown-menu a::before {
    content: "";
    height: 5px;
    width: 5px;
    border: 1px solid #aaa;
    position: absolute;
    left: 35px;
    border-radius: 50%;
    background-color: #aaa;
    top: 15px;
}
.navigation .dropdown-menu {
    border: none;
    background-color: #5D6D7E!important;
    box-shadow: none;
    width: 100%;
    position: static !important;
    transition: all 2.3s linear 0s;
}
.attr-nav .dropdown {
    display: block;
}
.navigation .nav-item .nav-link:hover i {
    color: red;
}
/*********** Dashboard Css ************/
.custom-card-body {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--main-bg-color); 
} 
.card-info .ng-binding {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.card-info h6 {
    font-size: 15px;
    font-weight: 300;
}
.font_icon {
    font-size: 34px !important;
}
.card {
    border: 1px solid transparent;
    min-height: 100%;
    height: 100px;
}



#records_form .listed.sm img {
    max-width: 38px;
    max-height: 38px;
}
.form-control:focus, .form-control:active {
    box-shadow:none;
    border: 1px solid  #28a745 ;
    background-color: #fff;

}



.notification .dropdown-toggle::after {
    content: "";
    opacity: 0;
}
.notify-list {
    min-width: 300px;
}
.notify-list .dropdown-title {
    border-bottom: 1px solid #f1f1f1;
    font-size: 16px;
    padding: 12px 15px;
    text-align: center;
}
.notify-list .notif-center a, .notif-box .notif-center a {
  display: flex;
  color: #4d585f;
  margin-bottom: 20px;
}
.notif-icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.notify-list ul::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: -4px;
  background-color: #fff;
  transform: rotate(45deg);
}
.navigation .navbar-nav {
  height: 90vh;
  overflow: auto;
}
.navigation .navbar-nav::-webkit-scrollbar {
  width: 3px;
}

.navigation .navbar-nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.navigation .navbar-nav::-webkit-scrollbar-thumb {
 background-color: darkgrey;
 outline: 1px solid slategrey;
}


/*12-March-2019*/
#mainFrame select {
  height: 40px !important;    
}
#mainFrame input {
  height: 40px;    
}
#mainFrame input[type="radio"], 
#mainFrame input[type="checkbox"], 
#mainFrame input[type="file"] {
  height: auto;
}
.modal-dialog .modal-header {
  /*background: #4c3aad;*/
  background: #359FDD;
}
.modal-footer {
  background-color: transparent;
}
.close:focus, .close:hover {
  outline: none;
}
#universal_search{
  float: left;
  width: 100%;
}
#universal_search input{
  float: left;
  width: 90%;
}
#universal_search span{
    float: left;
    margin-left: 80%;
    margin-top: -30px;
    cursor: pointer;
}
a#SearchTextClear {
    float: right;
    position: absolute;
    top: 5px;
    cursor: pointer;  
    display: none;
    left: 87%;
}
div#navbarSupportedContent{
    /*background: #359FDD;*/
    background: #56C0D4;
    color: #FFF;
}
a#navbardrop {
    color: #FFF;
}
.top_header .nav-item a{
  color: #525252 !important;
}
.dropdown-item{
  color: #FFF !important;
}
.navigation .dropdown-menu{
  background: #50B2DE !important;
}
.dropdown-item:focus, .dropdown-item:hover{
  background: #49A4EA !important;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #77cc6d !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #49A4EA!important;
}
a.nav-link.active {
    background: #49A4EA!important;
}
.right-dropdown-item:hover{
  background: #FFF!important;
}


.mandatory
{
  color: red; 
}

p, strong, td, label, span, h1, h2, h3, h4, h5, h6, b, div
{
  word-wrap: anywhere !important;
  word-break: break-all !important;
}

.modal {
  overflow-y:auto;
}

.processingLoader
{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.processingLoaderSet
{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.processingLoaderSetDown
{
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control-label
{
  font-weight: bolder;
}