/*

    DEMO STYLE

*/



@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {

    font-family: 'Poppins', sans-serif;

    background: #fafafa;

}



p {

    font-family: 'Poppins', sans-serif;

    font-size: 1.1em;

    font-weight: 300;

    line-height: 1.7em;

    color: #999;

}



a,

a:hover,

a:focus {

    color: inherit;

    text-decoration: none;

    transition: all 0.3s;

}

.navbar-expand-lg .navbar-nav .dropdown-menu {top: 54px;}

.navbar {

    padding: 15px 10px;

    background: #fff;

    border: none;

    border-radius: 0;

    margin-bottom: 0px;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}



.navbar-btn {

    box-shadow: none;

    outline: none !important;

    border: none;

}



.line {

    width: 100%;

    height: 1px;

    border-bottom: 1px dashed #ddd;

    margin: 40px 0;

}



i,

span {

    display: inline-block;

}



/* ---------------------------------------------------

    SIDEBAR STYLE

----------------------------------------------------- */



.wrapper {

    display: flex;

    align-items: stretch;

}



#sidebar {

    min-width: 170px;

    max-width: 170px;

    background: #2a3e4c;

    color: #fff;

    transition: all 0.3s;

}



#sidebar.active {

    min-width: 80px;

    max-width: 80px;

    text-align: center;

}

#sidebar a.nav-link p {

    display: inline-block;

    color: #fff;

    margin: 0 0 0 10px;

}

.svg-inline--fa.fa-user {

    text-align: center !important;

}

#sidebar.active .sidebar-header h3,

#sidebar.active .CTAs {

    display: none;

}



#sidebar.active .sidebar-header strong {

    display: block;

}



#sidebar ul li a {

    text-align: left;

}



#sidebar.active ul li a {

    padding: 10px;

    text-align: center;

    font-size: 14px;

}



#sidebar.active ul li a i {

    margin-right: 0;

    display: block;

    font-size: 1.8em;

    margin-bottom: 5px;

}



#sidebar.active ul ul a {

    padding: 10px !important;

}



#sidebar.active .dropdown-toggle::after {

    top: auto;

    bottom: 10px;

    right: 50%;

    -webkit-transform: translateX(50%);

    -ms-transform: translateX(50%);

    transform: translateX(50%);

}

button#sidebarCollapse {

    background: none;

    border: none;

    box-shadow: none;

    color: #878787;

}

#sidebar .sidebar-header {

    padding: 20px 0 18px;

    background: #fff;

    color: #2ecd99;

    text-align: center;

}



#sidebar .sidebar-header strong {

    display: none;

    font-size: 1.8em;

}



#sidebar ul.components {

    padding: 20px 0;

    /*border-bottom: 1px solid #47748b;*/

}



#sidebar ul li a {

    padding: 10px;

    font-size: 14px;

    display: block;

}



#sidebar ul li a:hover {

    color: #878787;

    background: rgba(255, 255, 255, 0.05);

}



#sidebar .dropdown-menu {color: #878787;border: none;border-radius: 0;

    background: rgba(255, 255, 255, 0.05);padding: 0;text-align: left;}

#sidebar ul li a i {

    margin-right: 10px;

}



#sidebar ul li.active>a,

a[aria-expanded="true"] {

    color: #2ecd99;

    /*background: #6d7fcc;*/

}



a[data-toggle="collapse"] {

    position: relative;

}





.dropdown-toggle::after {

    display: block;

    position: absolute;

    top: 50%;

    right: 15px;

    transform: translateY(-50%);

}



ul ul a {

    font-size: 0.9em !important;

    padding-left: 30px !important;

    background: none;

    color: #878787;



}



ul.CTAs {

    padding: 20px;

}



ul.CTAs a {

    text-align: center;

    font-size: 0.9em !important;

    display: block;

    border-radius: 5px;

    margin-bottom: 5px;

}



a.download {

    background: #fff;

    color: #7386D5;

}



a.article,

a.article:hover {

    background: #6d7fcc !important;

    color: #fff !important;

}



/* ---------------------------------------------------

    CONTENT STYLE

----------------------------------------------------- */



#content {

    width: 100%;

    padding: 0;

    min-height: 100vh;

    transition: all 0.3s;

}



/* ---------------------------------------------------

    MEDIAQUERIES

----------------------------------------------------- */



@media (max-width: 768px) {

    #sidebar {

        min-width: 80px;

        max-width: 80px;

        text-align: center;

        margin-left: -80px !important;

    }

    .dropdown-toggle::after {

        top: auto;

        bottom: 10px;

        right: 50%;

        -webkit-transform: translateX(50%);

        -ms-transform: translateX(50%);

        transform: translateX(50%);

    }

    #sidebar.active {

        margin-left: 0 !important;

    }

    #sidebar .sidebar-header h3,

    #sidebar .CTAs {

        display: none;

    }

    #sidebar .sidebar-header strong {

        display: block;

    }

    #sidebar ul li a {

        padding: 20px 10px;

    }

    #sidebar ul li a span {

        font-size: 0.85em;

    }

    #sidebar ul li a i {

        margin-right: 0;

        display: block;

    }

    #sidebar ul ul a {

        padding: 10px !important;

    }

    #sidebar ul li a i {

        font-size: 1.3em;

    }

    #sidebar {

        margin-left: 0;

    }

    #sidebarCollapse span {

        display: none;

    }

}