<style type="text/css">

#add_model .modal-lg{

max-width: 85%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}
</style>

<form id="add_form" name="add_form" autocomplete="off" >
<input type="hidden" name="HdnTotalQuestions" value="{{data.QuestionCounts.TotalQuestions}}">
<input type="hidden" name="HdnQuestionsLevelEasy" value="{{data.QuestionCounts.Easy}}">
<input type="hidden" name="HdnQuestionsLevelModerate" value="{{data.QuestionCounts.Moderate}}">
<input type="hidden" name="HdnQuestionsLevelHigh" value="{{data.QuestionCounts.High}}">
<input type="hidden" name="QuestionsGroup" value="5">

    
<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div id="div1" class="first current">

<div class="row">
<div class="col-md-12">
<div class="form-group">
	<label class="control-label">Select Test Name <em style="color: red">*</em></label>
	<select name="QtPaperID" class="form-control">	

   		<option ng-repeat="row in data.TestNameList" value="{{row.QtPaperID}}" ng-if="row.Selected == 'selected'" ng-selected="row.Selected">{{row.QtPaperTitle}}</option>	
	</select>
</div>

</div>
</div>


<div class="row">

<div class="col-md-3">

	<div class="form-group">

		<label class="control-label mb-10">Total Questions <em style="color: red">*</em></label>

		<input type="number" name="TotalQuestions" id="TotalQuestions" class="form-control" min="0" value="{{data.RowData.TotalQuestions}}" max="{{data.QuestionCounts.TotalQuestions}}">

	</div>

</div>



<div class="col-md-3">

	<div class="form-group">

		<label class="control-label mb-10">Passing Percentage (%) <em style="color: red">*</em></label>

		<input type="number" name="PassingMarks" id="PassingMarks" value="{{data.RowData.PassingMarks}}" class="form-control" min="0">

	</div>

</div>


<div class="col-md-3">

	<div class="form-group">

		<label class="control-label mb-10">Negative Mark</label>

		<select  name="NegativeMarks1"  class="form-control">

			<option value="0" ng-selected="data.RowData.NegativeMarks == 0">0</option>

			<option value="1" ng-selected="data.RowData.NegativeMarks == 1">-1</option>

			<option value="2" ng-selected="data.RowData.NegativeMarks == 2">-2</option>

			<option value="3" ng-selected="data.RowData.NegativeMarks == 3">-3</option>

			<option value="4" ng-selected="data.RowData.NegativeMarks == 4">-4</option>

			<option value="5" ng-selected="data.RowData.NegativeMarks == 5">-5</option>

		</select>

	</div>

</div>


<div class="col-md-3">

	<div class="form-group">
		<label class="control-label mb-10" style="margin-top: 15px;"></label>

		<select  name="NegativeMarks2"   class="form-control" required="">

			<option value="0" ng-selected="data.RowData.NegativeMarks == 0">0</option>

			<option value="0.25" ng-selected="data.RowData.NegativeMarks == '.25'">0.25</option>

			<option value="0.50" ng-selected="data.RowData.NegativeMarks == '.50'">0.50</option>

			<option value="0.75" ng-selected="data.RowData.NegativeMarks == '.75'">0.75</option>

		</select>
	</div>

</div>

</div>

		

<hr class="light-grey-hr-custom"/>

<label class="control-label mb-10">Question Level <em style="color: red">*</em></label>
<div class="row">
<div class="col-md-4">
<div class="form-group">
<label class="control-label mb-10">Easy (Available: {{data.QuestionCounts.Easy}})</label>
<input type="number" name="QuestionsLevelEasy" id="QuestionsLevelEasy" class="form-control integer" min="1" value="{{data.RowData.QuestionsLevelEasy}}" max="{{data.QuestionCounts.Easy}}">	
</div>
</div>																	


<div class="col-md-4">
<div class="form-group">
<label class="control-label mb-10">Moderate (Available: {{data.QuestionCounts.Moderate}})</label>
<input type="number" name="QuestionsLevelModerate" id="QuestionsLevelModerate" class="form-control integer" min="1" value="{{data.RowData.QuestionsLevelModerate}}"  max="{{data.QuestionCounts.Moderate}}">	
</div>
</div>


<div class="col-md-4">
<div class="form-group">
<label class="control-label mb-10">High (Available: {{data.QuestionCounts.High}})</label>
<input type="number" name="QuestionsLevelHigh" id="QuestionsLevelHigh" class="form-control integer" min="1" value="{{data.RowData.QuestionsLevelHigh}}"  max="{{data.QuestionCounts.High}}">	
</div>
</div>
</div>

<div class="row">

<div class="col-md-12">

	<div class="form-group">

		<label class="control-label mb-10 text-left">Instruction</label>

		<textarea class="form-control" id="Instruction" name="Instruction" rows="5" ng-bind-html="data.RowData.Instruction"></textarea>

	</div>
</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>		

</div>

</div>

<!-- /Row -->

</div>								

</div>

</div>

</div>

</form>

<div class="modal-footer">

<div class="pull-left">

<!-- <button type="button" id="prev" class="btn btn-default">Prev</button> -->

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="ScholarshipDataLoading" data-dismiss="modal">Cancel</button>

</div>

<div class="pull-right">

<img src="./asset/img/ajax-loader.gif" ng-if="ScholarshipDataLoading" class="processingLoader">

<button class="btn btn-success btn-sm" ng-disabled="ScholarshipDataLoading" ng-click="GeneratePaperSave()"> Submit </button>

</div>	

</div>

<script type="text/javascript">

var expanded = false;



function showCheckboxes() {

var checkboxes = document.getElementById("checkboxes");

if (!expanded) {

checkboxes.style.display = "block";

expanded = true;

} else {

checkboxes.style.display = "none";

expanded = false;

}

}



// function checkAndAdd(){

// 	if($("#TotalQuestions").val() != 0 && $("#TotalQuestions").val() != ''){



// 	}else{

// 		alert("Please fill Total question field.");

// 	}

// }


function ShowScholarshipTime(obj)
{
	if($(obj).val() == 5)
	{
		$("#ScholarshipTestRow").show();
	}
	else
	{
		$("#ScholarshipTestRow").hide();	
	}

	//$("#ScholarshipStartDateTime, #ScholarshipEndDateTime").val();
}

</script>