<style type="text/css">

#add_model .modal-lg{

max-width: 85%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}
</style>

<form id="add_schedule_form" name="add_schedule_form" autocomplete="off" >

<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">


<div class="row">
<div class="col-md-12">
<div class="form-group">
	<label class="control-label mb-10 text-left">Title <em style="color: red">*</em></label>

	<input type="text" name="SPaperTitle" class="form-control" maxlength="100">
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
	<div class="form-group">
		<label for="ScheduleDate" class="control-label mb-10">Schedule Date <em style="color: red">*</em></label>
		<div id="subjects_section">
			<input type="text" name="ScheduleDate" id="ScheduleDate" class="form-control" readonly="">
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="form-group">
		<label class="control-label mb-10 text-left">Test Duration <em style="color: red">*</em></label>
		<input type="text" name="ScheduleDuration" id="ScheduleDuration" class="form-control integer input-md ui-timepicker-input">
	</div>
</div>
</div>


<div class="row">
<div class="col-md-2">
	<div class="form-group">		
		<label><br/></label>
		<input type="radio" name="ScheduleType" onclick="enableDisableTest(1);" value="1" checked="" class="form-control">
	</div>
</div>

<div class="col-md-5">
	<div class="form-group">
		<label class="control-label mb-10 text-left">Active From Time </label>
		<input type="text" name="ActivatedFromTime" id="ActivatedFromTime" class="form-control input-md ui-timepicker-input">
	</div>
</div>
<div class="col-md-5">
	<div class="form-group">
		<label class="control-label mb-10 text-left">Active Upto Time </label>
		<input type="text" name="ActivatedToTime" id="ActivatedToTime" class="form-control input-md ui-timepicker-input">
	</div>
</div>
</div>


<div class="row">
<div class="col-md-2">
	<div class="form-group">
		<label><br/></label>		
		<input type="radio" name="ScheduleType" onclick="enableDisableTest(2);" value="2" class="form-control">
	</div>
</div>

<div class="col-md-5">
	<div class="form-group">
		<label class="control-label mb-10 text-left">Start Time </label>
		<input type="text" name="StartTime" id="StartTime" disabled="" class="form-control input-md ui-timepicker-input">
	</div>
</div>
</div>



</div>

</div>

</div>

</div>

</div>

</div>		

</div>

</div>

<!-- /Row -->

</div>								

</div>

</div>

</div>

</form>

<div class="modal-footer">

<div class="pull-left">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="ScholarshipDataLoading" data-dismiss="modal">Cancel</button>

</div>

<div class="pull-right">

<img src="./asset/img/ajax-loader.gif" ng-if="ScholarshipDataLoading" class="processingLoader">

<button class="btn btn-success btn-sm" ng-disabled="ScholarshipDataLoading"  ng-click="ScholarshipTestSave();"> Submit </button>

</div>	

</div>