<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">

	<form id="add_student" name="add_student" autocomplete="off" >

		

		<div class="row">

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Course <span class="text-danger">*</span></label>

					<select name="CategoryGUID" id="Course" class="form-control" onchange="getBatchAndPlans(this.value); setDueDate();">

						<option value="">Please Select</option>

						<option ng-repeat="row in data.course" duration="{{row.Duration}}" value="{{row.CategoryGUID}}">{{row.CategoryName}}</option>

					</select>

				</div>

			</div>

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Batch <span class="text-danger">*</span></label>

					<select name="BatchGUID" id="Batch" class="form-control" onchange="setDueDate();">

						<option value="">Please Select</option>

						<option ng-repeat="row in data.batch" startdate="{{row.StartDate}}" value="{{row.BatchGUID}}">{{row.BatchName}}</option>

					</select>

				</div>

			</div>

		</div>

		<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Personal Information</h6>

		<div class="row">

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">First Name <span class="text-danger">*</span></label>

					<input name="FirstName" type="text" class="form-control" value="" maxlength="50">

				</div>

			</div>

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Last Name <span class="text-danger">*</span></label>

					<input name="LastName" type="text" class="form-control" value="" maxlength="50">

				</div>

			</div>

			
		</div>


		<div class="row">

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Mobile <span class="text-danger">*</span></label>

					

						<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">+91</span>
						  </div>
						  <input name="PhoneNumber" type="text" class="form-control integer" value="" minlength="10" maxlength="10" aria-label="Username" aria-describedby="basic-addon1" onkeyup="validateMobile(this);" onblur="validateMobile(this);" style="width: 70%;">
						</div>

				</div>

			</div>



			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Email <span class="text-danger">*</span></label>

					<input name="Email" type="email" class="form-control" value="" maxlength="" onkeyup="validateEmail(this);" onblur="validateEmail(this);">

				</div>

			</div>

		</div>



		<div class="row">

			<div class="col-md-12">

				<div class="form-group">

					<label class="control-label">Address <span class="text-danger">*</span></label>

					<textarea class="form-control" name="Address" rows="1" cols="50" onkeyup="maxCharactersLimit(this, 150);" onblur="maxCharactersLimit(this, 150);"></textarea>

				</div>

			</div>  
		</div>
		


		<div class="row">
			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Select State <span class="text-danger">*</span></label>

					<select name="StateID" id="State" class="form-control"  onchange="getCities(this.value)">

						<option value="">Please Select</option>

						<option ng-repeat="row in data.states" value="{{row.State_id}}">{{row.StateName}}</option>

					</select>

				</div>
			</div>	


			<div class="col-md-4">
				<div class="form-group">

					<label class="control-label">Select City <span class="text-danger">*</span></label>

					<select name="CityName" id="City" class="form-control">

						<option value="">Please Select</option>

						<option ng-repeat="row in data.cities" value="{{row.name}}">{{row.name}}</option>

					</select>

				</div>
			</div>
			

			<div class="col-md-2">	
				<div class="form-group">

					<label class="control-label">Zip Code</label>

					<input name="Postal" type="text" class="form-control integer" value="" maxlength="6">

				</div>

			</div>

		</div>


		
		





		<div class="row">

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Linkedin URL</label>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">in</span>
					  </div>
					  <input name="LinkedInURL" type="url" class="form-control" value=""  aria-describedby="basic-addon1">
					</div>

				</div>

			</div>


			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Facebook URL</label>
					<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">f</span>
						  </div>
						<input name="FacebookURL" type="url" class="form-control" value="" aria-describedby="basic-addon1">
					</div>

				</div>

			</div>

		</div>



		<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Father/Mother</h6>

		<div class="row">

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Father's Name </label>

					<input name="FathersName" type="text" class="form-control" value="" maxlength="50">

				</div>
			</div>
			

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Mother's Name </label>

					<input name="MothersName" type="text" class="form-control" value="" maxlength="50">

				</div>				

			</div>
		</div>
		

		<div class="row">	
			<div class="col-md-6">				

				<div class="form-group">

					<label class="control-label">Mobile (Father's / Mother's) </label>

					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">+91</span>
					  </div>
					  <input name="FathersPhone" type="text" class="form-control integer" value="" minlength="10" maxlength="10" aria-label="Username" aria-describedby="basic-addon1" onkeyup="validateMobile(this);" onblur="validateMobile(this);" style="width: 70%;">
					</div>

				</div>
			</div>
			

			<div class="col-md-6">	
				<div class="form-group">

					<label class="control-label">Email (Father's / Mother's)</label>

					<input name="FathersEmail" type="email" class="form-control" value="" maxlength="50" onkeyup="validateEmail(this);" onblur="validateEmail(this);">

				</div>

			</div>

		</div>


		<div class="row">	
			<div class="col-md-12">	
				<div class="form-group">

					<label class="control-label">Permanent Address</label>

					<textarea class="form-control" name="PermanentAddress" rows="1" cols="20" onkeyup="maxCharactersLimit(this, 150);" onblur="maxCharactersLimit(this, 150);"></textarea>

				</div>
			</div>
		</div>


		<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Local Guardian</h6>

		<div class="row">

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Name</label>

					<input name="GuardianName" type="text" class="form-control" value="" maxlength="50">

				</div>

				<div class="form-group">

					<label class="control-label">Address</label>

					<textarea class="form-control" name="GuardianAddress" rows="1" cols="20" onkeyup="maxCharactersLimit(this, 150);" onblur="maxCharactersLimit(this, 150);"></textarea>

				</div>


			</div>

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Mobile</label>

					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">+91</span>
					  </div>
					  <input name="GuardianPhone" type="text" class="form-control integer" value="" minlength="10" maxlength="10" aria-label="Username" aria-describedby="basic-addon1" onkeyup="validateMobile(this);" onblur="validateMobile(this);" style="width: 70%;">
					</div>

				</div>

				<div class="form-group">

					<label class="control-label">Email</label>

					<input name="GuardianEmail" type="email" class="form-control" value="" maxlength="50" onkeyup="validateEmail(this);" onblur="validateEmail(this);">

				</div>


			</div>

			

		</div>	

		



		<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Fee Information</h6>



		<div class="row">

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Plan <span class="text-danger">*</span></label>
					
					<select name="FeeGUID" id="Plan" class="form-control" ng-model="fee" ng-change="getCustomizedFee(fee)" onchange="setDueDate();">

						<option value="">Please Select</option>

						<option ng-repeat="(key, row) in data.fee" installment="1" value="{{row.FeeGUID}}">Package {{key+1}} - {{row.FullDiscountFee}}</option>

						<option ng-repeat="(key, row) in data.installment" installment="{{row.NoOfInstallment}}" value="{{row.InstallmentID}}">Plan {{key+1}} - {{row.InstallmentAmount}}/month for {{row.NoOfInstallment}} installment</option>

						<option value="Customized" installment='c'>Customized</option>
					</select>

				</div>

			</div>

			<div class="col-md-6">

				<div class="form-group">

					<label class="control-label">Fee Status <span class="text-danger">*</span></label>

					<select name="FeeStatusID" id="Status" class="form-control">

						<option value="">Please Select</option>

						<option value="1">Unpaid</option>

						<option value="2">Paid</option>

					</select>

				</div>

			</div>

		</div>


		<div class="row" id="CustomizedFee" ng-if="customFee">

			<div class="col-md-4">

				<div class="form-group">

					<label class="control-label">Total Fee Amount <span class="text-danger">*</span></label>
					
					<input name="TotalFeeAmount" id="TotalFeeAmount" type="text" class="form-control integer" value="" maxlength="50" autocomplete="off">

				</div>

			</div>

			<div class="col-md-4">

				<div class="form-group">

					<label class="control-label">No. of installment</label>
					
					<input name="TotalFeeInstallments" id="TotalFeeInstallments" type="text" class="form-control integer" value="" maxlength="2" autocomplete="off" onkeyup="changeInstallmentAmount(this.value); setDueDate();">

				</div>

			</div>

			<div class="col-md-4">

				<div class="form-group">

					<label class="control-label">Installment amount</label>
					
					<input name="InstallmentAmount" id="InstallmentAmount" type="text" class="form-control integer" value="" maxlength="5" autocomplete="off" onkeyup="changeInstallmentCount(this.value)">

				</div>

			</div>
		</div>


		<div class="row" id="due_date_setting" style="display: none; margin-bottom: 20px;">
		<div class="col-md-12">
		<div class="form-group">
		<label class="control-label">Due Date for Fee Submission <span class="text-danger">*</span><label class="bsd"></label></label>					
		<div id="due_date_setting_content"></div>
		</div>
		</div>
		</div>


		<div class="row">

			<div class="col-md-12">

				<div class="form-group">

					<label class="control-label">Remarks</label>

					<textarea class="form-control" name="Remarks" id="Remarks" rows="3" cols="50" onkeyup="maxCharactersLimit(this, 1000);" onblur="maxCharactersLimit(this, 1000);"></textarea>

				</div>

			</div>

		</div>
		

		

		<input type="hidden" name="Source" value="Direct">  

		<input type="hidden" name="Password" value="iconik123"> 

		<input type="hidden" name="UserTypeID" value="7"> 

	</form>



</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoaderSetDown">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData()">Save</button>
</div>