<style type="text/css">

#drop_out_model .modal-lg{

max-width: 85%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.hide_class
{
	display: none;
}

</style>

<form id="add_dropout_form" name="add_dropout_form" autocomplete="off">

<input type="hidden" name="StudentUserGUID" id="StudentUserGUID" value="{{data.StudentUserGUID}}">

<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<form action="#" class="form-horizontal">

<div id="div1" class="first current">

<div class="form-body">

<!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>VIEW QUESTION DETAILS</h6> -->

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Personal Information</h6>

<div class="row">

<div class="col-md-3">
<div class="form-group">	
	<img style="width: 100px;" src="{{formData.ProfilePic}}">
</div>
</div>


<div class="col-md-3">
<div class="form-group">
	<label class="control-label">STUDENT NAME :</label>
	<p class="form-control-static"> {{formData.FirstName}} {{formData.LastName}}</p>

	
	<br/>
	<label class="control-label">BATCH NAME :</label>	
	<p class="form-control-static"> {{formData.BatchName}}</p>	
</div>
</div>


<div class="col-md-3">
<div class="form-group">
	<label class="control-label">MOBILE :</label>
	<p class="form-control-static"> {{formData.PhoneNumber}}</p>

	
	<br/>
	<label class="control-label">BATCH START DATE :</label>
	<p class="form-control-static"> {{formData.StartDate}}</p>	
</div>
</div>


<div class="col-md-3">
<div class="form-group">
	<label class="control-label">EMAIL :</label>
	<p class="form-control-static"> {{formData.Email}}</p>

	
	<br/>
	<label class="control-label">BATCH END DATE :</label>
	<p class="form-control-static"> {{formData.EndDate}}</p>
		
</div>
</div>
</div>


<div class="row">
<div class="col-md-3"><div class="form-group">&nbsp;</div></div>

<div class="col-md-3">
<div class="form-group">
	<label class="control-label">Total Fee :</label>	
	<p class="form-control-static"><i class="fa fa-rupee"></i> {{formData.TotalFee}}</p>		
</div>
</div>


<div class="col-md-3">
<div class="form-group">
	<label class="control-label">Paid Amount :</label>
	<p class="form-control-static"><i class="fa fa-rupee"></i> {{formData.PaidAmount}}</p>		
</div>
</div>


<div class="col-md-3">
<div class="form-group">
	<label class="control-label">Remaining Amount :</label>
	<p class="form-control-static"><i class="fa fa-rupee"></i> {{formData.RemainingAmount}}</p>		
</div>
</div>
</div>


<hr class="light-grey-hr"/>

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Fee Information</h6>
<div class="row" ng-if="data.fee_breakup_list.length > 0">
<div class="col-md-12">
<table class="table">
<thead>
<tr>
    <th>Breakup Name</th>
    <th>Amount(In Rs)</th>
    <th>Is Taxable(%)</th>            
    <th>Net Amount Paid</th>
    <th>Refund %</th>
    <th>Refund Amount</th>             
</tr>
</thead>

<tbody>
<tr scope="row" ng-repeat="(key, row) in data.fee_breakup_list" ng-if="row.Amount != ''">
  
  <td>            
    <label>{{row.BreakupName}}</label>
  </td>  

  <td> 
    <label>{{row.Amount}}</label>          
  </td> 

  <td>
    <label ng-if="row.Tax != ''">Yes</label><label ng-if="row.Tax == ''">No</label>
    <label ng-if="row.Tax != ''">({{row.Tax}}%)</label>            
  </td> 

  <td>
    <label>{{row.NetAmount}}</label>
  </td> 

  <td>
    <label>{{row.RefundPercent}}</label>
  </td> 

  <td>
    <label><b>{{row.RefundAmount}}</b></label>
  </td> 
</tr>

<tr ng-if="SystemRefundAmount > 0">
	<td colspan="5" align="right">System Calculated Refund Amount Total</td>
	<td><b>{{SystemRefundAmount}}</b></td>
</tr>

<tr ng-if="data.fee_breakup_list.length <= 0">
	<td colspan="6">No record found.</td>	
</tr>
</tbody>
</table>
</div>
</div>
<hr class="light-grey-hr"/>


<div class="row">
<div class="col-md-3">
<div class="form-group">
	<label>Date Of Dropping <span style="color: red;">*</span></label>
	<input type="text" name="do_date" id="do_date" class="form-control" value="">
</div>
</div>

<div class="col-md-9">
<div class="form-group">
	<label>Reason <span style="color: red;">*</span></label>
	<input type="text" name="do_reason" id="do_reason" class="form-control" value="">
</div>
</div>
</div>


<div class="row">
<div class="col-md-3">
<div class="form-group">
	<label>System Calculated Refund</label>
	<input type="text" class="form-control integer" value="{{SystemRefundAmount}}" readonly disabled>
	<input type="hidden" name="do_system_amount_refund" value="{{SystemRefundAmount}}">
</div>
</div>

<div class="col-md-3">
<div class="form-group">
	<label>Amount Refund <span style="color: red;">*</span></label>
	<input type="text" name="do_amount_refund" id="do_amount_refund" class="form-control integer" maxlength="10" value="">
</div>
</div>

<div class="col-md-3">
<div class="form-group">
	<label>Payment Type <span style="color: red;">*</span></label>
	<select type="text" name="do_payment_type" id="do_payment_type" class="form-control" onchange="show_payment_type(this.value);">
		<option value="cash">Cash</option>
		<option value="cheque">Cheque</option>
		<option value="online">Online</option>
	</select>
</div>
</div>

<div class="col-md-6"></div>
</div>

<div id="do_payment_type_cheque" class="row" style="display: none;">
<div class="col-md-3">	
<div class="form-group">
	<label>Cheque Number <span style="color: red;">*</span></label>
	<input type="text" name="do_cheque_number" id="do_cheque_number" class="form-control" value="">
</div>
</div>

<div class="col-md-3">	
<div class="form-group">
	<label>Cheque Date <span style="color: red;">*</span></label>
	<input type="text" name="do_cheque_date" id="do_cheque_date" class="form-control" value="">
</div>
</div>

<div class="col-md-3">	
<div class="form-group">
	<label>Bank Name <span style="color: red;">*</span></label>
	<input type="text" name="do_cheque_bank" id="do_cheque_bank" class="form-control" value="">
</div>
</div>
</div>


<div id="do_payment_type_online" class="row"  style="display: none;">
<div class="col-md-3">	
<div class="form-group">
	<label>Transaction ID <span style="color: red;">*</span></label>
	<input type="text" name="do_online_transactionid" id="do_online_transactionid" class="form-control" value="">
</div>
</div>

<div class="col-md-3">	
<div class="form-group">
	<label>Other Details <span style="color: red;">*</span></label>
	<input type="text" name="do_online_details" id="do_online_details" class="form-control" value="">
</div>
</div>
</div>


</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="addFormDroppingLoading" class="processingLoaderSetDown">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addFormDroppingLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="addFormDroppingLoading" ng-click="addDroppingData()">Save</button>
</div>

<script type="text/javascript">
$(function()
{
	$("#do_date, #do_cheque_date").datepicker();
});


function show_payment_type(typ)
{
	if(typ == "cheque")
	{
		$("#do_payment_type_online").hide();

		$("#do_payment_type_cheque").show();

		$("#do_payment_type_cheque").find("input").val('');		
	}
	else if(typ == "online")
	{
		$("#do_payment_type_cheque").hide();

		$("#do_payment_type_online").show();

		$("#do_payment_type_online").find("input").val('');		
	}
	else
	{
		$("#do_payment_type_cheque").find("input").val('');

		$("#do_payment_type_online").find("input").val('');

		$("#do_payment_type_online").hide();

		$("#do_payment_type_cheque").hide();				
	}		
}	
</script>