<style type="text/css">

#edit_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">

<form id="add_student" name="add_student" autocomplete="off" >

	<!-- <input type="hidden" name="UserGUID" value="{{formData.UserGUID}}"> -->

	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Course <span class="text-danger">*</span></label>

				<select name="CategoryGUID" id="Course" class="form-control " onchange="getBatchAndPlans(this.value); setDueDate();">

					<option value="{{formData.CategoryGUID}}">Please Select</option>

					<option ng-repeat="row in data.course" duration="{{row.Duration}}" value="{{row.CategoryGUID}}" ng-selected="formData.CourseID == row.CategoryID">{{row.CategoryName}}</option>

				</select>

			</div>

		</div>

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Batch <span class="text-danger">*</span></label>

				<select name="BatchGUID" id="Batch" class="form-control" onchange="setDueDate();">

					<option ng-repeat="row in data.batch" startdate="{{row.StartDate}}" value="{{row.BatchGUID}}" ng-selected="formData.BatchID = row.BatchID">{{row.BatchName}}</option>

				</select>

			</div>

		</div>

	</div>



	<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Personal Information</h6>

	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">First Name <span class="text-danger">*</span></label>

				<input name="FirstName" type="text" class="form-control" value="{{formData.FirstName}}" maxlength="50">

			</div>

		</div>

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Last Name <span class="text-danger">*</span></label>

				<input name="LastName" type="text" class="form-control" value="{{formData.LastName}}" maxlength="50">

			</div>

		</div>		

	</div>


	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Mobile <span class="text-danger">*</span></label>

				<!-- <input name="PhoneNumber" type="text" class="form-control" value="{{formData.PhoneNumber}}" maxlength="50"> -->
				<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">+91</span>
					  </div>
					  <input name="PhoneNumber" type="text" class="form-control integer" value="{{formData.PhoneNumber}}" maxlength="10" aria-label="Username" aria-describedby="basic-addon1" onkeyup="validateMobile(this);" onblur="validateMobile(this);" style="width: 70%;">
				</div>

			</div>

		</div>



		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Email <span class="text-danger">*</span></label>

				<input name="Email" type="email" class="form-control" value="{{formData.Email}}" maxlength="" onkeyup="validateEmail(this);" onblur="validateEmail(this);">

			</div>

		</div>

	</div>



	<div class="row">

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Address <span class="text-danger">*</span></label>

				<textarea class="form-control" name="Address" rows="1" cols="50" onkeyup="maxCharactersLimit(this, 150);" onblur="maxCharactersLimit(this, 150);">{{formData.Address}}</textarea>

			</div>

		</div>  
	</div>	



	<div class="row">
		<div class="col-md-6">		

			<div class="form-group">

				<label class="control-label">Select State <span class="text-danger">*</span></label>
				<select name="StateID" id="State" class="form-control"  onchange="getCities(this.value)">

					<option value="">Please Select</option>

					<option ng-repeat="row in data.states" value="{{row.State_id}}" ng-selected="formData.StateName == row.StateName">{{row.StateName}}</option>

				</select>

			</div>
		</div>
		

		<div class="col-md-4">	
			<div class="form-group">

				<label class="control-label">Select City <span class="text-danger">*</span></label>

				<select name="CityName" id="City" class="form-control ">

					<option value="">Please Select</option>

					<option ng-repeat="row in data.cities" value="{{row.name}}" ng-selected="formData.CityName == row.name">{{row.name}}</option>

				</select>

			</div>
		</div>
		

		<div class="col-md-2">	
			<div class="form-group">

				<label class="control-label">Zip Code</label>

				<input name="Postal" type="text" class="form-control integer" value="{{formData.Postal}}" maxlength="6">

			</div>

		</div>

	</div>



	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Linkedin URL</label>
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="basic-addon1">in</span>
				  </div>
				  <input name="LinkedInURL" type="url" class="form-control" value="{{formData.LinkedInURL}}"  aria-describedby="basic-addon1">
				</div>

			</div>

		</div>



		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Facebook URL</label>
				<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">f</span>
					  </div>
					<input name="FacebookURL" type="url" class="form-control" value="{{formData.FacebookURL}}" aria-describedby="basic-addon1">
				</div>

			</div>

		</div>

	</div>



	
	<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Father/Mother</h6>

	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Father's Name </label>

				<input name="FathersName" type="text" class="form-control" value="{{formData.FathersName}}" maxlength="50">

			</div>

		</div>

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Mother's Name </label>

				<input name="MothersName" type="text" class="form-control" value="{{formData.MothersName}}" maxlength="50">

			</div>

		</div>
	</div>	
	

	<div class="row">	
		<div class="col-md-6">

			<div class="form-group">
				<label class="control-label">Mobile (Father's / Mother's) </label>
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="basic-addon1">+91</span>
				  </div>
				  <input name="FathersPhone" type="text" class="form-control integer" minlength="10" maxlength="10" aria-label="Username" aria-describedby="basic-addon1" value="{{formData.FathersPhone}}" onkeyup="validateMobile(this);" onblur="validateMobile(this);" style="width: 70%;">
				</div>

			</div>

		</div>

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Email (Father's / Mother's) </label>

				<input name="FathersEmail" type="email" class="form-control" value="{{formData.FathersEmail}}" maxlength="50" onkeyup="validateEmail(this);" onblur="validateEmail(this);">

			</div>

		</div>

	</div>


	<div class="row">
		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Permanent Address</label>

				<textarea class="form-control" name="PermanentAddress" rows="1" cols="20" onkeyup="maxCharactersLimit(this, 150);" onblur="maxCharactersLimit(this, 150);">{{formData.PermanentAddress}}</textarea>

			</div>

		</div>
	</div>
		
	
	



	<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Local Guardian</h6>

	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Name</label>

				<input name="GuardianName" type="text" class="form-control" value="{{formData.GuardianName}}" maxlength="50">

			</div>

		</div>

		<div class="col-md-6">

			<div class="form-group">
				<label class="control-label">Mobile</label>
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="basic-addon1">+91</span>
				  </div>
				  <input name="GuardianPhone" type="text" class="form-control integer"  minlength="10" maxlength="10" aria-describedby="basic-addon1" value="{{formData.GuardianPhone}}" onkeyup="validateMobile(this);" onblur="validateMobile(this);" style="width: 70%;">
				</div>
			</div>

		</div>
	</div>	


	<div class="row">
		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Address</label>

				<textarea class="form-control" name="GuardianAddress" rows="1" cols="20" onkeyup="maxCharactersLimit(this, 150);" onblur="maxCharactersLimit(this, 150);">{{formData.GuardianAddress}}</textarea>

			</div>

		</div>

		

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Email</label>

				<input name="GuardianEmail" type="email" class="form-control" value="{{formData.GuardianEmail}}" maxlength="50" onkeyup="validateEmail(this);" onblur="validateEmail(this);">

			</div>

		</div>

	</div>	



	<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Fee Information</h6>



	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Plan <span class="text-danger">*</span></label>
				
				<div ng-if="formData.IsPaidAnyFee == 1 && formData.PaidFeeHistory.length > 0">
					<select name="FeeGUID" id="Plan" class="form-control" readonly>						

						<option ng-repeat="(key, row) in data.fee" value="{{row.FeeGUID}}" ng-selected="FeeID == row.FeeID"  ng-if="FeeID == row.FeeID">Package {{key+1}} - {{row.FullDiscountFee}}</option>

						<option ng-repeat="(key, row) in data.installment" value="{{row.InstallmentID}}" ng-selected="formData.InstallmentID == row.InstallmentID" ng-if="formData.InstallmentID == row.InstallmentID">Plan {{key+1}} - {{row.InstallmentAmount}}/month for {{row.NoOfInstallment}} installment</option>

						<option value="Customized" ng-selected="formData.FeeID == '' && formData.InstallmentID == ''" ng-if="formData.FeeID == '' && formData.InstallmentID == ''">Customized</option>
					</select>
				</div>
				


				<div ng-if="formData.IsPaidAnyFee == 0 && formData.PaidFeeHistory.length <= 0">	
					<select name="FeeGUID" id="Plan" class="form-control" onchange="getCustomizedFees(this.value); setDueDate();">

						<option value="">Please Select</option>

						<option ng-repeat="(key, row) in data.fee" installment="1" value="{{row.FeeGUID}}" ng-selected="FeeID == row.FeeID">Package {{key+1}} - {{row.FullDiscountFee}}</option>

						<option ng-repeat="(key, row) in data.installment" value="{{row.InstallmentID}}" ng-selected="formData.InstallmentID == row.InstallmentID" installment="{{row.NoOfInstallment}}">Plan {{key+1}} - {{row.InstallmentAmount}}/month for {{row.NoOfInstallment}} installment</option>

						<option value="Customized" ng-selected="formData.FeeID == '' && formData.InstallmentID == ''" installment='c'>Customized</option>
					</select>
				</div>
			</div>

		</div>

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Fee Status <span class="text-danger">*</span></label>

				<select name="FeeStatusID" id="Status" class="form-control">

					<option value="">Please Select</option>

					<option value="1" ng-selected='formData.FeeStatusID == 1'>Unpaid</option>

					<option value="5" ng-selected='formData.FeeStatusID == 5'>Paid</option>

				</select>

			</div>

		</div>

	</div>

	<div class="row" id="CustomizedFee" style="display: none;">

		<div class="col-md-4">

			<div class="form-group">

				<label class="control-label">Total Fee Amount <span class="text-danger">*</span></label>
				
				<input name="TotalFeeAmount" type="text" class="form-control integer" id="TotalFeeAmount" value="{{formData.TotalFeeAmount}}" maxlength="50" autocomplete="off" onkeyup="changeInstallment(this.value)">

			</div>

		</div>

		<div class="col-md-4">

			<div class="form-group">

				<label class="control-label">No. of installment</label>
				
				<input name="TotalFeeInstallments" type="text" class="form-control integer" id="TotalFeeInstallments" value="{{formData.TotalFeeInstallments}}" maxlength="2" autocomplete="off" onkeyup="changeInstallmentAmount(this.value); setDueDate();">

			</div>

		</div>

		<div class="col-md-4">

			<div class="form-group">

				<label class="control-label">Installment amount</label>
				
				<input name="InstallmentAmount" type="text" class="form-control integer" id="InstallmentAmount" value="{{formData.InstallmentAmount}}" maxlength="6" autocomplete="off" onkeyup="changeInstallmentCount(this.value)">

			</div>

		</div>
	</div>



	<div class="row" id="due_date_setting" style="margin-bottom: 20px;">
	<div class="col-md-12">
	<div class="form-group">
	<label class="control-label">Due Date for Fee Submission <span class="text-danger">*</span><label class="bsd"></label></label>		
	<div id="due_date_setting_content">		
		<div ng-if="formData.IsPaidAnyFee == 1">
			<div class='col-md-2' style='float:left;' ng-repeat="(key, row) in data.DueDates">
				<input type='hidden' name='duedates[]' value="{{row.DueDate}}">
				<label>Installment {{ (key + 1) }}</label>
				<input type='text' class='form-control' value="{{row.DueDate}}" readonly disabled>
			</div>
		</div>
		
		
		<div ng-if="formData.IsPaidAnyFee == 0">
			<div class='col-md-2' style='float:left;' ng-repeat="(key, row) in data.DueDates">
				<label>Installment {{ (key + 1) }}</label>
				<input type='text' class='form-control duedates' name='duedates[]' value="{{row.DueDate}}" readonly>				
			</div>
		</div>	
	</div>
	</div>
	</div>
	</div>



	<div class="row">

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Remarks</label>

				<textarea class="form-control" name="Remarks" id="Remarks" rows="3" cols="50" onkeyup="maxCharactersLimit(this, 1000);" onblur="maxCharactersLimit(this, 1000);" ng-bind-html="formData.Remarks"></textarea>

			</div>

		</div>

	</div>

	

	<input type="hidden" name="Source" value="Direct">  

	<input type="hidden" name="Password" value="iconik123"> 

	<input type="hidden" name="UserTypeID" value="7"> 

</form>



</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">


<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoaderSetDown">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit"  ng-click="editData()">Save</button>

</div>