<style type="text/css">
  /* .section2-add-more-owner{
       width: 12%;
       float: right;
       margin: -18px 0px 0px 0px;
   }*/
</style>
<div class="modal-body">

   <div class="form-area">

      <div class="form-group">

         <label for="inputName" class="control-label mb-10">Upload Image</label>

         <div id="picture-box" class="picture-box banner">

            <!-- picture display -->

            <div class="">  

               <img ng-if="!ProfilePic" id="picture-box-picture" ng-src="./asset/img/default-category.png">

               <img ng-if="ProfilePic" id="picture-box-picture" ng-src="{{ProfilePic}}">

            </div>

            

            <!-- picture upload form -->

            <div class="picture-upload">

               <img src="./asset/img/upload.svg" id="picture-uploadBtn">

               <form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">

                  <input type="hidden" name="UserGUID" value="{{StudentGUID}}"> 

                  <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">

                  <input type="hidden" class="MediaName" id="MediaName" name="MediaName" value="">

                  <input type="hidden" name="Section" value="ProfilePic">

                  <input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">

               </form>

            </div>

            <!-- progressbar -->

            <div class="progressBar">

               <div class="bar"></div>

               <div class="percent">0%</div>

            </div>

         </div>

      </div>

   </div>

</div>

<div class="modal-footer">

   <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoaderSet">

   <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

   <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="saveImage()">Save</button>

</div>

