<div class="modal-body">

	<div class="form-area">

		<div class="form-group">

			<div>

				<div class="">


					<form enctype="multipart/form-data" action="{{APIURLFILE}}" name="importStudents" method="post" class="col-md-12">	

						<div class="row">

					      <div class="col-md-6">

					         <div class="form-group">

					         	<label class="control-label">Course <span class="text-danger">*</span></label>

					             <select name="CategoryGUID" id="Course" class="form-control" ng-model="course" ng-change="getBatchAndPlans(course)">

									<option value="">Please Select</option>

									<option ng-repeat="row in data.course" value="{{row.CategoryGUID}}">{{row.CategoryName}}</option>

								</select>

					         </div>

					      </div>

					      <div class="col-md-6">

					        <div class="form-group">

								<label class="control-label">Batch <span class="text-danger">*</span></label>

								<select name="BatchGUID" id="Batch" class="form-control chosen-select">

									<option value="">Please Select</option>

									<option ng-repeat="row in data.batch" value="{{row.BatchGUID}}">{{row.BatchName}}</option>

								</select>

							</div>

					      </div>

					    </div>

						<input type="hidden" name="Section" value="Students">

						<input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">

						<input type="hidden" class="MediaURL" id="MediaURL" name="MediaURL" value="">

						<label class="control-label" style="width: 100%;">Upload File <span class="text-danger">*</span>
							<a style="text-decoration: underline;  text-transform: capitalize;float: right;" href="./asset/student/tbl_users.xlsx" download>Download format</a></label>
						<input type="file" accept=".xls,.xlsx" name="File" id="studentFileInput"  class="form-control"  data-targetinput="#MediaGUID" style="width: 100%;">
						<small style="font-size: 90%;">Allowed file type : (xls, xlsx)</small>
					</form>

					 

				</div>

				<!-- progressbar -->

				<div class="progressBar">

					<div class="bar"></div>

					<div class="percent">0%</div>

				</div>

			</div>

		</div>

	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="importData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
</div>