<style type="text/css">
#view_model .modal-lg{

max-width: 50%;

}
</style>

<div class="modal-body">

<div class="form-area">

<div class="">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="">

<div class="">

<div class="">

<div class="">

<div class="form-wrap">

<form action="#" class="form-horizontal">

<div id="div1" class="first current">

	
	<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Personal Information</h6>
	<table class="table table-striped table-hover">
		<!-- table heading -->
		<thead>
			<tr>
				<th style="width: 100px; text-align: center;">Field</th>
				<th ng-if="Approved == 0" style="width: 100px; text-align: center;">Current</th>
				<th style="width: 100px; text-align: center;">Updated</th>
			</tr>
		</thead>
		<!-- table body -->
		<tbody>
			<tr scope="row">
				<td style="text-align: center;">First Name</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_FirstName}}</td>
				<td style="text-align: center;">{{formData.FirstName}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Last Name</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_LastName}}</td>
				<td style="text-align: center;">{{formData.LastName}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Email</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_Email}}</td>
				<td style="text-align: center;">{{formData.Email}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Phone Number</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_PhoneNumber}}</td>
				<td style="text-align: center;">{{formData.PhoneNumber}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Address</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_Address}}</td>
				<td style="text-align: center;">{{formData.Address}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">State</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_StateName}}</td>
				<td style="text-align: center;">{{formData.StateName}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">City</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_CityName}}</td>
				<td style="text-align: center;">{{formData.CityName}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Zip Code</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_Postal}}</td>
				<td style="text-align: center;">{{formData.Postal}}</td>
			</tr>				
			<tr scope="row">
				<td style="text-align: center;">Linkedin</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_LinkedInURL}}</td>
				<td style="text-align: center;">{{formData.LinkedInURL}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Facebook</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_FacebookURL}}</td>
				<td style="text-align: center;">{{formData.FacebookURL}}</td>
			</tr>
		</tbody>
	</table>

	<hr class="light-grey-hr"/>
	<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Local Guardian</h6>
	<table class="table table-striped table-hover">
		<!-- table heading -->
		<thead>
			<tr>
				<th style="width: 100px; text-align: center;">Field</th>
				<th ng-if="Approved == 0" style="width: 100px; text-align: center;">Current</th>
				<th style="width: 100px; text-align: center;">Updated</th>
			</tr>
		</thead>
		<!-- table body -->
		<tbody>
			<tr scope="row">
				<td style="text-align: center;">Name</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_GuardianName}}</td>
				<td style="text-align: center;">{{formData.GuardianName}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Email</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_GuardianEmail}}</td>
				<td style="text-align: center;">{{formData.GuardianEmail}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Address</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_GuardianAddress}}</td>
				<td style="text-align: center;">{{formData.GuardianAddress}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Phone Number</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_GuardianPhone}}</td>
				<td style="text-align: center;">{{formData.GuardianPhone}}</td>
			</tr>
		</tbody>
	</table>
	<hr class="light-grey-hr"/>
	<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Father/Mother</h6>
	<table class="table table-striped table-hover">
		<!-- table heading -->
		<thead>
			<tr>
				<th style="width: 100px; text-align: center;">Field</th>
				<th ng-if="Approved == 0" style="width: 100px; text-align: center;">Current</th>
				<th style="width: 100px; text-align: center;">Updated</th>
			</tr>
		</thead>
		<!-- table body -->
		<tbody>
			<tr scope="row">
				<td style="text-align: center;">FATHER'S NAME</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_FathersName}}</td>
				<td style="text-align: center;">{{formData.FathersName}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">MOTHER'S NAME</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_MothersName}}</td>
				<td style="text-align: center;">{{formData.MothersName}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Address</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_PermanentAddress}}</td>
				<td style="text-align: center;">{{formData.PermanentAddress}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Email</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_FathersEmail}}</td>
				<td style="text-align: center;">{{formData.FathersEmail}}</td>
			</tr>
			<tr scope="row">
				<td style="text-align: center;">Phone Number</td>
				<td ng-if="Approved == 0" style="text-align: center;">{{formData.Current_FathersPhone}}</td>
				<td style="text-align: center;">{{formData.FathersPhone}}</td>
			</tr>
		</tbody>
	</table>									
	<hr class="light-grey-hr"/>
</form>

</div>

</div>

</div>

</div>

</div>

</div>		

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

<button type="submit" ng-if="Approved == 0" ng-disabled="loadeSubmit" class="btn btn-success btn-sm" ng-click="approveProfileUpdate(formData.PendingProfileID,formData.StudentID,formData.CourseID,formData.BatchID)">Approve</button>

<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">

</div>