<style type="text/css">

#view_model .modal-lg{

max-width: 85%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>

<form id="add_form" name="add_form" enctype="multipart/form-data" autocomplete="off">

<input type="hidden" name="MediaGUIDs" id="MediaGUIDs" value="">

<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<form action="#" class="form-horizontal">

<div id="div1" class="first current">

<div class="form-body">

<!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>VIEW QUESTION DETAILS</h6> -->

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Personal Information</h6>

<div class="row">
<div class="col-md-6">

<div class="form-group">

	<label class="control-label col-md-12">Profile Picture :</label>

	<div class="col-md-9">

		<img style="width: 100px;" src="{{formData.ProfilePic}}">

	</div>

</div>

</div>

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">FIRST NAME :</label>

	<div class="col-md-9">

		<p class="form-control-static"> {{formData.FirstName}} </p>

	</div>

</div>

</div>

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">LAST NAME :</label>

	<div class="col-md-8">

		<p class="form-control-static"> {{formData.LastName}} </p>

	</div>

</div>

</div>

</div>

<!-- /Row -->

<hr class="light-grey-hr"/>

<div class="row">



<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">ADDRESS :</label>

	<div class="col-md-9">

		<p class="form-control-static"> {{formData.Address}}</p>

	</div>

</div>

</div>

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">STATE :</label>

	<div class="col-md-9">

		<p class="form-control-static"> {{formData.StateName}} </p>

	</div>

</div>

</div>

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">CITY :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.CityName}} </p>

	</div>

</div>

</div>	

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">PIN :</label>

	<div class="col-md-8">

		<p class="form-control-static"> {{formData.Postal}}</p>

	</div>

</div>

</div>	

<!--/span-->

</div>

<!-- /Row -->

<hr class="light-grey-hr"/>

<div class="row">





<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">MOBILE :</label>

	<div class="col-md-9">

		<p class="form-control-static"> {{formData.PhoneNumber}} </p>

	</div>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">EMAIL :</label>

	<div class="col-md-8">

		<p class="form-control-static"> {{formData.Email}}</p>

	</div>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">LINKEDIN :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.LinkedInURL}} </p>

	</div>

</div>

</div>



<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">FACEBOOK :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.FacebookURL}} </p>

	</div>

</div>

</div>

</div>

<!-- /Row -->

<!-- /Row -->

<hr class="light-grey-hr"/>

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Local Guardian</h6>

<div class="row">



<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">NAME :</label>

	<div class="col-md-9">

		<p class="form-control-static"> {{formData.GuardianName}} </p>

	</div>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">ADDRESS :</label>

	<div class="col-md-8">

		<p class="form-control-static"> {{formData.GuardianAddress}}</p>

	</div>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">PHONE :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.GuardianPhone}} </p>

	</div>

</div>

</div>



<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">EMAIL :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.GuardianEmail}} </p>

	</div>

</div>

</div>



</div>

<!-- /Row -->



<hr class="light-grey-hr"/>

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Father/Mother</h6>

<div class="row">



<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">FATHER'S NAME :</label>

	<div class="col-md-9">

		<p class="form-control-static"> {{formData.FathersName}} </p>

	</div>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">MOTHER'S NAME :</label>

	<div class="col-md-8">

		<p class="form-control-static"> {{formData.MothersName}}</p>

	</div>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">ADDRESS :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.PermanentAddress}} </p>

	</div>

</div>

</div>



<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">PHONE :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.FathersPhone}} </p>

	</div>

</div>

</div>



<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">Email :</label>

	<div class="col-md-7">

		<p class="form-control-static"> {{formData.FathersEmail}} </p>

	</div>

</div>

</div>



</div>



<hr class="light-grey-hr"/>

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Course Information</h6>

<div class="row">



<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">COURSE :</label>

	<div class="col-md-9">

		<p class="form-control-static"> {{formData.CourseName}} </p>

	</div>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">BATCH :</label>

	<div class="col-md-8">

		<p class="form-control-static"> {{formData.BatchName}}</p>

	</div>

</div>

</div>

</div>



<hr class="light-grey-hr"/>

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Fee Information</h6>


<div class="row" ng-if="data.fee_breakup_list.length > 0">
<div class="col-md-12">
<table class="table">
<thead>
<tr>
    <th>Breakup Name</th>
    <th>Amount(In Rs)</th>
    <th>Is Taxable(%)</th>            
    <th>Net Amount Paid</th>
    <th>Refund %</th>            
</tr>
</thead>

<tbody>
<tr scope="row" ng-repeat="(key, row) in data.fee_breakup_list" ng-if="row.Amount != ''">
  
  <td>            
    <label>{{row.BreakupName}}</label>
  </td>  

  <td> 
    <label>{{row.Amount}}</label>          
  </td> 

  <td>
    <label ng-if="row.Tax != ''">Yes</label><label ng-if="row.Tax == ''">No</label>
    <label ng-if="row.Tax != ''">({{row.Tax}}%)</label>            
  </td> 

  <td>
    <label>{{row.NetAmount}}</label>
  </td> 

  <td>
    <label>{{row.RefundPercent}}</label>
  </td> 
</tr>
</tbody>
</table>
</div>
</div><br/>


<div class="row">
<div class="col-md-4">
<div class="form-group">
	<label>Total Fee :</label>	
	<p class="form-control-static" ><i class="fa fa-rupee"></i> {{formData.TotalFee}} </p>	
</div>
</div>


<div class="col-md-4">
<div class="form-group">
	<label>No Of Installment :</label>
	<p class="form-control-static" >{{formData.NoOfInstallment}} </p>
</div>
</div>


<div class="col-md-4">
<div class="form-group">
	<label>Installment Amount :</label>
	<p class="form-control-static" ><i class="fa fa-rupee"></i> {{formData.InstallmentAmount}} </p>
</div>
</div>
</div>



<div class="row">
<div class="col-md-3">
<div class="form-group">
	<label>Paid EMI :</label>	
	<p class="form-control-static" >{{formData.PaidEMICount}} </p>	
</div>
</div>


<div class="col-md-3">
<div class="form-group">
	<label>Remaining EMI :</label>
	<p class="form-control-static" >{{formData.RemainingEMI}} </p>
</div>
</div>


<div class="col-md-3">
<div class="form-group">
	<label>Paid Amount :</label>
	<p class="form-control-static" ><i class="fa fa-rupee"></i> {{formData.PaidAmount}} </p>
</div>
</div>

<div class="col-md-3">
<div class="form-group">
	<label>Remaining Amount :</label>
	<p class="form-control-static" ><i class="fa fa-rupee"></i> {{formData.RemainingAmount}} </p>
</div>
</div>
</div>


<div class="row" ng-if="formData.PaidFeeHistory.length > 0">
<div class="col-md-12">
<div class="form-group">
<table width="100%" border="0" class="table table-striped table-hover">
<tr>
	<th>Payment Date</th>
	<th>Amount Paid</th>
	<th>Payment Mode</th>
	<th>Payment Details</th>
</tr>

<tr ng-repeat="row in formData.PaidFeeHistory">
	<td>{{row.PaymentDate | date}}</td>
	<td>{{row.Amount}}</td>
	<td>{{row.PaymentMode}}</td>
	<td>
		<label ng-if="row.PaymentMode == 'Cash'">
			<div ng-repeat="notes in row.Denomination" style="margin-bottom: 3px;">
				<i class="fa fa-rupee"></i>{{notes.NoteType}} * {{notes.Count}} = {{notes.Amount}}
			</div>	
		</label>

		<label ng-if="row.PaymentMode == 'Cheque'">
			Cheque Number: {{row.ChequeNumber}}<br/>
			Cheque Date: {{row.ChequeDate}}<br/>
			Bank Name: {{row.BankName}}
		</label>

		<label ng-if="row.PaymentMode == 'Online'">
			Payment Type: {{row.PaymentType}}<br/>
			Transaction ID: {{row.TransactionID}}
		</label>
	</td>
</tr>	
</table>
</div>
</div>
</div>

<!--div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">STATUS:</label>

	<div class="col-md-9">

		<p class="form-control-static" ng-if="formData.FeeStatusID == 1"> Unpaid </p>

		<p class="form-control-static" ng-if="formData.FeeStatusID == 5"> Paid </p>

	</div>

</div>

</div-->

<!--/span-->

<!-- <div class="col-md-3">

<div class="form-group">

	<label class="control-label col-md-12">STATUS :</label>

	<div class="col-md-8">

		<p class="form-control-static"> {{formData.TotalFailedStudents}}</p>

	</div>

</div>

</div> -->

</div>



<hr class="light-grey-hr"/>

<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Other</h6>

<div class="row">



<!--/span-->

<div class="col-md-6">

<div class="form-group">

	<label class="control-label col-md-12">REMARKS :</label>

	<div class="col-md-9">

		<p class="form-control-static" ng-bind-html="content"> {{formData.TotalAttendedBy}} </p>

		<p class="form-control-static"> <p ng-bind-html="formData.Remarks"></p></p>

	</div>

</div>

</div>

</div>


<div ng-if="formData.StatusID == 28">
<hr class="light-grey-hr"/>
<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Dropout Details:</h6>

<div class="row">
<div class="col-md-3">
<div class="form-group">
	<label class="control-label">Date Of Dropping:</label>
	{{formData.DroppingDate | date}}
</div>
</div>

<div class="col-md-9">
<div class="form-group">
	<label class="control-label">Reason:</label>
	{{formData.DroppingReason}}
</div>
</div>
</div>


<div class="row">
<div class="col-md-3">
<div class="form-group">
	<label class="control-label">Amount Refund:</label>
	{{formData.AmountBalance}}
</div>
</div>

<div class="col-md-3">
<div class="form-group">
	<label class="control-label">Payment Type:</label>
	{{formData.PaymentType}}
</div>
</div>

<div class="col-md-6"></div>
</div>

<div class="row" ng-if="formData.PaymentType == 'cheque'">
<div class="col-md-3">	
<div class="form-group">
	<label class="control-label">Cheque Number:</label>
	{{formData.ChequeNumberOrTransaction}}
</div>
</div>

<div class="col-md-3">	
<div class="form-group">
	<label class="control-label">Cheque Date:</label>
	{{formData.ChequeDate | date}}
</div>
</div>

<div class="col-md-3">	
<div class="form-group">
	<label class="control-label">Bank Name:</label>
	{{formData.BankOrOther}}
</div>
</div>
</div>


<div class="row" ng-if="formData.PaymentType == 'online'">
<div class="col-md-3">	
<div class="form-group">
	<label class="control-label">Transaction ID:</label>
	{{formData.ChequeNumberOrTransaction}}
</div>
</div>

<div class="col-md-3">	
<div class="form-group">
	<label class="control-label">Other Details:</label>
	{{formData.BankOrOther}}
</div>
</div>
</div>

</div>



<hr class="light-grey-hr"/>

<div class="clear">&nbsp;</div>


</div>

</div>

									

</form>

</div>

</div>

</div>

</div>

</div>

</div>		

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">

<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

</div>