<div class="modal-body">

	<div class="form-area">



		<!-- <div class="form-group"> -->

			<!-- <div id="picture-box" class="picture-box banner"> -->

				<!-- picture display -->

				<!-- <img id="picture-box-picture" ng-src="./asset/img/default-category.png"> -->



				<!-- picture upload form -->

				<!-- <div class="picture-upload">

					<img src="./asset/img/upload.svg" id="picture-uploadBtn">

					<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">

						<input type="hidden" name="Section" value="Category">

						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">

					</form>

				</div> -->

				<!-- progressbar -->

				<!-- <div class="progressBar">

					<div class="bar"></div>

					<div class="percent">0%</div>

				</div>

			</div>

		</div> -->





		<form id="add_form" name="add_form" autocomplete="off" >
			
			<div class="row">

				<div class="col-md-7">

					<div class="form-group" ng-if="type == 'Stream'">

						<label class="filter-col" for="CategoryTypeName">Select Type <span style="color:red">*</span></label>

						<select  id="CategoryTypeName" onchange="ParentcategoryCheck(this.value)" name="CategoryTypeName" class="form-control chosen-select">

							<option value="Stream">Stream</option>

							<option value="Course">Course</option>

						</select> 

						<!-- <select  ng-if="type == 'Course'" id="CategoryTypeName" onchange="ParentcategoryCheck(this.value)" name="CategoryTypeName" class="form-control chosen-select">

							<option value="Stream">Subject</option>

						</select>   -->

					</div>

				</div>

			</div>


			<div ng-if="type == 'Stream'" class="row" ng-if="data.dataList.length" id="SelectParentCategory" style="display: none;">

				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="ParentCategory" id="select-label-parent-category">Select Stream <span style="color:red">*</span></label>

						<select id="ParentCategoryGUID" name="ParentCategoryGUID" class="form-control chosen-select">

							<option value="{{data.ParentCategoryGUID}}">Select Stream</option>

							<option ng-repeat="row in data.dataList" ng-if="row.Status == 'Active' && row.CategoryTypeID == 1" value="{{row.CategoryGUID}}">{{row.CategoryName}}</option>

						</select>

						<small>Select this option only if you want to add a course.</small>

					</div>

				</div>

			</div>


			<div class="row" ng-if="type == 'Stream'">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label" id="category-name-label">{{type}} Name <span style="color:red">*</span></label>

						<input name="CategoryName" id="CategoryName" type="text" class="form-control" value="" maxlength="40">

					</div>

				</div>

			</div>



			<div ng-if="type == 'Course'" class="row" ng-if="data.dataList.length">
				<input type="hidden" name="CategoryTypeName" value="Subject">
				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="ParentCategory" id="select-label-parent-category">Select Course <span style="color:red">*</span></label>

						<select id="ParentCategoryGUID" name="ParentCategoryGUID" class="form-control chosen-select">

							<option value="">Select Course</option>

							<option ng-repeat="row in data.dataList" ng-if="row.Status == 'Active'  && row.CategoryTypeID == 2" value="{{row.CategoryGUID}}">{{row.CategoryName}}</option>

						</select>

						<small>Select this option only if you want to add a subject.</small>

					</div>

				</div>

			</div>




			<div class="row" ng-if="type == 'Course'">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label" id="category-name-label">Subject Name <span style="color:red">*</span></label>

						<input name="CategoryName" id="CategoryName" type="text" class="form-control" value="" maxlength="40">

					</div>

				</div>

			</div>


			<div class="row" id="course_duration" style="display: none;">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label">Duration (No. of month) <span style="color:red">*</span></label>

						<input name="Duration" id="Duration" type="text" class="form-control integer" maxlength="3">

					</div>

				</div>

			</div>




			<div ng-if="type == 'Subject'" class="row" ng-if="data.dataList.length">
				<input type="hidden" name="CategoryTypeName" value="Topic">
				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="ParentCategory" id="select-label-parent-category">Select Subject <span style="color:red">*</span></label>

						<select id="ParentCategoryGUID" name="ParentCategoryGUID" class="form-control chosen-select">

							<option value="">Select Subject</option>

							<option ng-repeat="row in data.dataList" ng-if="row.Status == 'Active' && row.CategoryTypeID == 3" value="{{row.CategoryGUID}}">{{row.CategoryName}}</option>

						</select>

						<small>Select this option only if you want to add a topic.</small>

					</div>

				</div>

			</div>




			<div class="row" ng-if="type == 'Subject'">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label" id="category-name-label">Topic Name <span style="color:red">*</span></label>

						<input name="CategoryName" id="CategoryName" type="text" class="form-control" value="" maxlength="40">

					</div>

				</div>

			</div>




			<div class="row">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label">Status <span style="color:red">*</span></label>

						<select name="Status" id="Status" class="form-control chosen-select">

							<option value="Active" ng-selected="formData.Status=='Active'">Active</option>

							<option value="Inactive" ng-selected="formData.Status=='Inactive'">Inactive</option>

						</select>

					</div>

				</div>

			</div>

			<!-- hidden parameters -->

			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value=""> <!-- for banner -->

			<!-- hidden parameters /-->

		</form>



	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData(1)">Save & Continue</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData(0)">Save & Exit</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">

</div>