<div class="modal-body">

	<div class="form-area">



		<!-- <div class="form-group">

			<div id="picture-box" class="picture-box banner">

				

				<img id="picture-box-picture" ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/default-category.png">

				<img id="picture-box-picture" ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}"> -->



				<!-- picture upload form -->

				<!-- <div class="picture-upload">

					<img src="./asset/img/upload.svg" id="picture-uploadBtn">

					<form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">

						<input type="hidden" name="Section" value="Category">

						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">

					</form>

				</div> -->

				<!-- progressbar -->

				<!-- <div class="progressBar">

					<div class="bar"></div>

					<div class="percent">0%</div>

				</div> -->

			<!-- </div>

		</div> -->





		<form id="edit_form" name="edit_form" autocomplete="off" >

			<div class="row">

				<div class="col-md-7">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Type <span style="color:red">*</span></label>

						<p ng-if="formData.CategoryTypeID == 1"><strong>Stream</strong></p>

						<p ng-if="formData.CategoryTypeID == 2"><strong>Course</strong></p>

						<p ng-if="formData.CategoryTypeID == 3"><strong>Subject</strong></p>

						<p ng-if="formData.CategoryTypeID == 4"><strong>Topic</strong></p>

					</div>

				</div>

			</div>





			<div class="row">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label"><span ng-if="formData.CategoryTypeID == 1">Stream</span>
						<span ng-if="formData.CategoryTypeID == 2">Course</span>
						<span ng-if="formData.CategoryTypeID == 3">Subject</span>
						<span ng-if="formData.CategoryTypeID == 4">Topic</span>
						 Name <span style="color:red">*</span></label>

						<input name="CategoryName" type="text" class="form-control" value="{{formData.CategoryName}}"  maxlength="40">

					</div>

				</div>

			</div>


			<div class="row" ng-if="formData.CategoryTypeID == 2">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label">Duration (No. of month) <span style="color:red">*</span></label>

						<input name="Duration" type="text" class="form-control integer" value="{{formData.Duration}}" maxlength="3">

					</div>

				</div>

			</div>





			<div class="row">

				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label">Status <span style="color:red">*</span></label>

						<select name="Status" id="Status" class="form-control chosen-select">

							<option value="Active" ng-selected="formData.Status=='Active'">Active</option>

							<option value="Inactive" ng-selected="formData.Status=='Inactive'">Inactive</option>

						</select>

					</div>

				</div>

			</div>

			<!-- hidden parameters -->

			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value=""> <!-- for banner -->

			<input type="hidden" name="CategoryGUID" value="{{formData.CategoryGUID}}">   

			<input type="hidden" name="CategoryTypeID" value="{{formData.CategoryTypeID}}">
			<!-- hidden parameters /-->

		</form>



	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">
</div>





