<div class="row">
   <div class="col-md-12">
      <div class="panel panel-default card-view">
         <div class="panel-wrapper">
            <div class="panel-body">
               <div class="row" >
                  <div class="col-sm-12 col-xs-12">
                     <div class="form-wrap">
                      <!--   <form action="#" class="form-horizontal"> -->
                           <div class="form-body">
                              <!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Institute Info</h6> 
                              <hr/>-->
                              <div class="row">
                                 <div class="col-md-12">
                                    <img ng-if="formData.Media.Records.length" src="{{formData.Media.Records[0].MediaURL}}" alt="Logo" class="" style="float: left;">
                                   
                                 </div> 
                              </div>
                              <div class="clear" ng-if="formData.Media.Records.length">&nbsp;<hr/></div>
                              
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label  class="control-label">Type:</label>
                                       <div class="">
                                       <p class="form-control-static"> {{type}}</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label class="control-label">Name:</label>
                                       <div class="">
                                       <p class="form-control-static"> {{formData.CategoryName}}</p>
                                       </div>
                                    </div>
                                 </div>
                                 
                                 
                                 <div class="col-md-6" ng-if="formData.CategoryTypeID == 2">
                                    <div class="form-group">
                                       <label class="control-label">Duration:</label>
                                       <div class="">
                                       <p class="form-control-static"> {{formData.Duration}} months</p>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label class="control-label">Status:</label>
                                       <div class="">
                                          <p class="form-control-static"> {{formData.Status}} </p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label  class="control-label">Entry Date:</label>
                                       <div class="">
                                       <p class="form-control-static"> {{formData.EntryDate}}</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label class="control-label">Last Modify Date:</label>
                                       <div class="">
                                          <p class="form-control-static" ng-if="formData.ModifiedDate != ''"> {{formData.ModifiedDate}} </p>

                                          <p class="form-control-static" ng-if="formData.ModifiedDate == ''"> {{formData.EntryDate}} </p>

                                       </div>
                                    </div>
                                 </div>
                              </div>
                              

                          

                           </div>
                              <div class="clear">&nbsp;</div>
                           </div>
                           
                      <!--   </form> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   