<style type="text/css">

#edit_model .modal-lg{

max-width: 85%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

/*.multiselect {

width: 200px;

}*/



/*#checkboxes label:hover {

background-color: #1e90ff;

}*/

</style>

<form id="edit_form" name="edit_form" autocomplete="off">

<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="row">																

<input type="hidden" name="QtPaperGUID" id="QtPaperGUID" value="{{formdata.QtPaperGUID}}">

<div class="col-md-6">

<div class="form-group">

<label for="inputName" class="control-label mb-10">Select Course {{formdata}}<em style="color: red">*</em></label>

<select  class="form-control Courses" onchange="getSubCategoryList(this.value)" name="ParentCat" id="Courses" required="">

<option value="{{data.ParentCategoryGUID}}">Select Course</option>

<option ng-repeat="row in categoryDataList" value="{{row.CategoryGUID}}" ng-selected="formData.CourseGUID == row.CategoryGUID">{{row.CategoryName}}</option>

</select>	

</div>

</div>

<div class="col-md-6">

<div class="form-group">

<label for="inputName" class="control-label mb-10">Select Subject <em style="color: red">*</em></label>

<div id="subjects_section">

{{subject}}

<select onchange="getAvailableQuestion(this.value)"  name="CategoryGUID" id="subjectID"  class="form-control subject" required="">

	<option value="" selected="">Select Subject</option>

	<option ng-repeat="row in subCategoryDataList" value="{{row.CategoryGUID}}" ng-selected="formData.SubjectGUID == row.CategoryGUID">{{row.CategoryName}}</option>

</select>

</div>

</div>

</div>

</div>

<div class="row">

<div class="col-md-12">

<div class="form-group">

<label class="control-label mb-10 text-left">Title <em style="color: red">*</em></label>

<input type="text" name="QtPaperTitle" class="form-control" value="{{formData.QtPaperTitle}}">

</div>

<div class="form-group">



</div>

</div>

</div>

<!-- /Row -->



<hr class="light-grey-hr-custom"/>



<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Add Question Details</h6>

<hr class="light-grey-hr"/>

<div id="div1" class="first current">



<div class="row">

<div class="col-md-6">

<div class="form-group">

<label class="control-label mb-10">Question Group <em style="color: red">*</em></label>


<div class="multiselect">

      <select class="form-control QuestionsGroup"  id="QuestionsGroup" onchange="getAvailableQuestion(1)" name="QuestionsGroup">

      	<option value="">Select Question Group</option> 

        <option ng-selected="formData.QuestionsGroup == 'Practice Test'" value="1">Practice Test (Available {{question.MockTest}})</option>

        <option ng-selected="formData.QuestionsGroup == 'Quiz'" value="2">Quiz (Available {{question.Quiz}})</option>

        <option ng-selected="formData.QuestionsGroup == 'Test'" value="3">Assessment (Available {{question.Test}})</option>

        <option ng-selected="formData.QuestionsGroup == 'Contest'" value="4">Contest (Available {{question.Contest}})</option>

      </select>

</div>

</div>

</div>

<div class="col-md-3">

<div class="form-group">

<label class="control-label mb-10">Total Question <em style="color: red">*</em></label>

<input type="number" name="TotalQuestions" id="TotalQuestions" class="form-control QuestionsMarks" min="0" value="{{formData.TotalQuestions}}">

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

<label class="control-label mb-10">Passing Percentage (%) <em style="color: red">*</em></label>

<input type="number" name="PassingMarks" id="PassingMarks" class="form-control QuestionsMarks" min="0" value="{{formData.PassingMarks}}">

</div>

</div>

</div>



<hr class="light-grey-hr-custom"/>

<div class="row">

<!--/span-->

<div class="col-md-6">

<div class="form-group">

<label class="control-label mb-10">Question Level <em style="color: red">*</em></label>

<div class="checkbox-list" style="width: 100%;float: left;">

	<div class="checkbox-inline pl-0" style="width: 150px;float: left;">

		<span class="checkbox checkbox-info">

			<input ng-if="formData.QuestionsLevelEasy" class="form-control" name="QuestionsLevelEasy" id="QuestionsLevelEasy"  type="number" autocomplete="off" style="width: 80px;float: left;" min="0" value="{{formData.QuestionsLevelEasy}}">

			<input ng-if="!formData.QuestionsLevelEasy" class="form-control" name="QuestionsLevelEasy" id="QuestionsLevelEasy"  type="number" autocomplete="off" style="width: 80px;float: left;" min="0" value="0">

			<label for="checkbox0" style="margin-left: 10px;">Easy</label>

		</span>

		<label for="checkbox0"  id="available_easy" style="    margin-top: 5px;">Available : {{question.Easy}}</label>

	</div>

	<div class="checkbox-inline pl-0" style="width: 200px;float: left;">

		<span class="checkbox checkbox-info">

			<input ng-if="formData.QuestionsLevelModerate" class="form-control" name="QuestionsLevelModerate" id="QuestionsLevelModerate" type="number" autocomplete="off" style="width: 80px;float: left;" min="0" value="{{formData.QuestionsLevelModerate}}">

			<input ng-if="!formData.QuestionsLevelModerate" class="form-control" name="QuestionsLevelModerate" id="QuestionsLevelModerate" type="number" autocomplete="off" style="width: 80px;float: left;" min="0" value="0">

			<label for="checkbox11"  style="margin-left: 10px;float: left;"> Moderate </label>

		</span>

		<label for="checkbox0" id="available_moderate" style="/* margin-left: 10px; */">Available : {{question.Moderate}}</label>

	</div>

	<div class="checkbox-inline pl-0" style="width: 170px;float: left;">

		<span class="checkbox checkbox-info">

			<input ng-if="formData.QuestionsLevelHigh" class="form-control" name="QuestionsLevelHigh" id="QuestionsLevelHigh"  type="number" autocomplete="off" style="width: 80px;float: left;" min="0" value="{{formData.QuestionsLevelHigh}}">

			<input ng-if="!formData.QuestionsLevelHigh" class="form-control" name="QuestionsLevelHigh" id="QuestionsLevelHigh"  type="number" autocomplete="off" style="width: 80px;float: left;" min="0" value="0">

			<label for="checkbox11"  style="margin-left: 10px;float: left;"> High </label>

		</span>

		<label for="checkbox0" id="available_high" style="/* margin-left: 10px; */">Available : {{question.High}}</label>

	</div>			

</div>

</div>

</div>



<!--/span-->

<div class="col-md-3">

<div class="form-group">

<label class="control-label mb-10">Negative Mark</label>

<select  name="NegativeMarks1"  class="form-control" required="">

	<option value="0">0</option>

	<option value="1" ng-selected="formData.NegativeMarks[0] == -1">-1</option>

	<option value="2" ng-selected="formData.NegativeMarks[0] == -2">-2</option>

	<option value="3" ng-selected="formData.NegativeMarks[0] == -3">-3</option>

	<option value="4" ng-selected="formData.NegativeMarks[0] == -4">-4</option>

	<option value="5" ng-selected="formData.NegativeMarks[0] == -5">-5</option>

</select>

</div>

</div>

<!--/span-->

<div class="col-md-3">

<div class="form-group">

<label class="control-label mb-10" style="margin-top: 15px;"></label>

<select  name="NegativeMarks2"   class="form-control" required="">

	<option value="0">0</option>

	<option value="0.25" ng-selected="formData.NegativeMarks[1] == 25">0.25</option>

	<option value="0.50" ng-selected="formData.NegativeMarks[1] == 50">0.50</option>

	<option value="0.50" ng-selected="formData.NegativeMarks[1] == 75">0.75</option>

</select>

</div>

</div>

<!--/span-->

<!--/span-->



<!--/span-->																	

</div>

<hr class="light-grey-hr-custom"/>

<div class="row">

<div class="col-md-12">

<div class="form-group">

<label class="control-label mb-10 text-left">Instruction</label>

<textarea class="form-control" id="Instruction" name="Instruction" rows="5">{{formData.Instruction}}</textarea>

</div>

<div class="form-group">



</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>		

</div>

</div>

<!-- /Row -->

</div>								

</div>

</div>

</div>

</form>

<div class="modal-footer">

<div class="pull-left">

<!-- <button type="button" id="prev" class="btn btn-default">Prev</button> -->

<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

</div>

<div class="pull-right">

<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">


<button class="btn btn-success btn-sm" ng-if="listCheck!='getQuestionList'" ng-disabled="editDataLoading"  ng-click="checkAndEdit()"> Submit </button>

<!-- <button class="btn btn-success btn-sm" ng-if="listCheck=='getQuestionList'"  onclick="checkAndAdd('exit','getQuestionList')"> Submit & Exit</button>

<button type="reset" class="btn btn-success btn-sm" ng-if="listCheck=='getQuestionList'"  onclick="checkAndAdd('addNext','getQuestionList')"> Submit & Add another</button>

<button type="reset" class="btn btn-success btn-sm" ng-if="listCheck!='getQuestionList'"  onclick="checkAndAdd('addNext')"> Submit & Add another</button> -->

</div>	

</div>