<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" >
			<input name="UserTypeID" type="hidden" class="form-control" value="10" >
			<input name="Status" type="hidden" class="form-control" value="Pending" >
			<input name="DeviceType" type="hidden" class="form-control" value="Native" >
			<input name="Password" type="hidden" class="form-control" value="123456" >
			<input type="hidden" name="Source" value="Direct"> 
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Institute Name</label>
						<input name="FirstName" type="text" class="form-control" value="" required="" maxlength="50">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Email</label>
						<input name="Email" type="email" id="email" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Mobile No.</label>
						<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1">+91</span>
							  </div>

							  <input name="PhoneNumber" type="text" class="form-control integer" value="" minlength="10" maxlength="10" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>




<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="addData()">Send</button>
</div>


