
<div class="modal-body">

	<div class="form-area">
		
		<form id="addwall_form" name="addwall_form" autocomplete="off" >
			<div class="row">
				
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Name of Person: </label>
					
						<p><strong>{{FullName}}</strong></p>

					</div>

				</div>
					
			</div>
		

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">

						<label class="control-label">Title <span class="text-danger">*</span></label>

						<input name="MediaCaption" type="text" class="form-control" value="" maxlength="50">
						<input name="Name" type="hidden" class="form-control" value="{{UserID}}" maxlength="50">

					</div>

				</div>

				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label">Date <span class="text-danger">*</span></label>

						<input name="NewsDate" type="text" id="NewsDate" class="form-control" value="" maxlength="50" placeholder="dd-mm-yyyy">

					</div>

				</div>
		</div>
        <div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Content</label>
						<textarea rows="4" cols="70" ui-tinymce="" class="manual_text MediaContent" name="MediaContent" id="MediaContent" onkeyup=""></textarea>
					</div>
				</div>
			</div>
			 <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
            <input type="hidden" name="Source" value="Direct">  

		</form>

<div class="row">

	<div class="col-md-12">
	<div class="form-group">
		<label class="control-label" style="margin-left: 10px;">Upload Image</label>
			<div id="picture-box" class="picture-box banner">
				<!-- picture display -->
				<img id="picture-box-picture" ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/imageupload.png" style="width: 25%;">
				<img id="picture-box-picture" ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}" style="width: 25%;">

				<!-- <img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png" style="width: 25%;">
					<img id="picture-box-picture" ng-if="formData.MediaURL" ng-src="{{ProfilePic}}" style="width: 25%;"> -->
				
				<!-- picture upload form -->
				<div class="picture-upload">					
					<img src="./asset/img/upload.svg" id="picture-uploadBtn">
					<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="WallOfFame">
						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">
					</form>
				</div>
				<!-- progressbar -->
				<div class="progressBar">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
			</div>
		</div>
	 </div>
	</div>
			
			

	</div>

</div>


<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-click="addwallData()">Save</button>

</div>


<script type="text/javascript">
	  function applytinymce(){
        tinymce.init({
            selector: '#MediaContent',
            setup: function(editor) {
                editor.on('keyup', function(e) {
                console.log('edited. Contents: ' + editor.getContent());
                formDataCheck(editor.getContent());
                });
            }
        });  
    }
</script>


