<div class="modal-body">
   <form id="edit_form" name="edit_form" autocomplete="off" >
      <input type="hidden" name="UserGUID" value="{{formData.UserGUID}}">   
      <!-- <div class="form-group">
         <div id="picture-box" class="picture-box">
         	<img ng-src="{{formData.ProfilePic}}" alt="User Image" class="thumbnail rounded-circle">
         	<p class="mt-2"><strong ng-bind="formData.FullName"></strong></p>
         	<div ng-bind="formData.UserTypeName"></div>
         </div>
         </div> -->
      <!-- <div class="row">
         <div class="col-md-6">
         	<div class="form-group">
         		<label class="control-label">Institute Name</label>
         		<input name="PhoneNumber" type="text" class="form-control" value="{{formData.Username}}" maxlength="10">
         	</div>
         </div>
         
         <div class="col-md-6">
         	<div class="form-group">
         		<label class="control-label">Username</label>
         		<input name="PhoneNumber" type="text" class="form-control" value="{{formData.Username}}" maxlength="10">
         	</div>
         </div>
         
         
         </div>
         
         <div class="row">
         <div class="col-md-6">
         	<div class="form-group">
         		<label class="control-label">Status</label>
         		<select name="Status" id="Status" class="form-control chosen-select">
         			<option value=""></option>
         			<option value="Pending" ng-selected="formData.Status=='Pending'">Pending</option>
         			<option value="Verified" ng-selected="formData.Status=='Verified'">Verified</option>
         			<option value="Deleted" ng-selected="formData.Status=='Deleted'">Deleted</option>
         			<option value="Blocked" ng-selected="formData.Status=='Blocked'">Blocked</option>
         		</select>
         	</div>
         </div>
         
         -->
      <div class="col-md-12">
         <div class="form-wrap">
           
               <div class="clear">&nbsp;</div>
               <div class="form-body">
                  <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10">
                     </i>Institute Info
                  </h6>
                  <hr class="light-grey-hr"/>
                 <!--  <div class="row">
                     <div class="col-md-12">
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="panel1 panel-default1 card-view1">
                                 <div class="panel-wrapper1 collapse in">
                                    <div class="panel-body1">
                                       <div class="mt-0">
                                          <input type="file" id="input-file-now-custom-1" class="dropify" data-default-file="vendors/bower_components/dropify/src/images/test-image-1.jpg" />
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="panel-heading">
                                 <div class="pull-left mt-90">
                                    <h6 class="panel-title txt-dark">Photo Upload (default value)</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> -->
                  <div class="clear">&nbsp;</div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="inputName" class="control-label mb-10">Institute Name</label>
                           <input type="text" class="form-control" name="FirstName" id="inputName" placeholder="" required value="{{formData.FirstName}}">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label class="control-label mb-10">Registration Number</label>
                           <input type="text" id="" class="form-control" name="RegistrationNumber" placeholder="" value="{{formData.RegistrationNumber}}">
                           <!--<span class="help-block"> This is inline help </span>-->
                        </div>
                     </div>
                  </div>
                  <!-- /Row -->
                  <hr class="light-grey-hr-custom"/>
                  <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Postal Details</h6>
                  <hr class="light-grey-hr"/>

                  <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label class="control-label mb-10">Address </label>
                  <textarea class="form-control" name="Address">{{formData.Address}}</textarea>
                    	</div>
                 </div>
               
           
				<!-- <div class="col-md-6">
					<div class="form-group">
						<label class="filter-col" for="CountryCode">Country</label>
					<select id="CountryCode" name="CountryCode" class="form-control chosen-select">
						<option value="">Please Select</option>
						<option ng-repeat="row in filterData" value="{{row.CountryCode}}"  ng-selected="formData.CountryCode==row.CountryCode">{{row.CountryName}}</option>
						</select>  
					</div>
				</div> -->
			

         <div class="col-md-6">
               <div class="form-group">
                  <label class="filter-col" for="CountryCode">Country</label>
               <select id="CountryCode" name="CountryCode" class="form-control chosen-select">
                  <option value="IN">India</option>
                  </select>  
               </div>
            </div>


                  </div>
                  <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label mb-10">State Name</label>
                            <select name="StateID" class="form-control chosen-select" ng-model="UserData.State_id" ng-change="getCities(UserData.State_id)">
                              <option value="">Please Select</option>
                              <option ng-repeat="rows in data.states" value="{{rows.State_id}}" ng-selected="UserData.State_id == rows.State_id" >{{rows.StateName}}</option>

                            </select>

                     <!-- <select id="StateName" name="StateName" class="form-control chosen-select">
                              <option value="">Please Select</option>
                        <option ng-repeat="row in filterData" value="{{row.StateName}}"  ng-selected="formData.StateName==row.StateName">{{row.StateName}}</option>
                  </select>  -->

                        </div>
                     </div>
                    
                    
                   <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label mb-10">City Name</label>
                           <select name="CityName" class="form-control chosen-select">
                              <option value="">Please Select</option>
                              <option ng-repeat="rowc in data.cities" value="{{rowc.name}}" ng-selected="UserData.CityName == rowc.name">{{rowc.name}}</option>
                           </select>
                        </div>
                     </div>

                     <!--/span-->
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label mb-10">Zip Code</label>
                           <input type="text" class="form-control integer" value="{{formData.Postal}}" 
                           name="Postal" maxlength="6">
                        </div>
                     </div>
                     
                     <!--/span-->
                  </div>
                  <!-- /Row -->
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="inputEmail" class="control-label mb-10">Email address</label>
                           <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="That email address is invalid" required value="{{formData.Email}}" name="Email">
                           <div class="help-block with-errors"></div>
                        </div>
                     </div>
                 </div>

                      <div class="row">
                     <!--/span-->
                     <div class="col-md-6">
                        <div class="form-group">
                           <label class="control-label mb-10">Tele Phone Number</label>
                           <div class="row">
                              <div class="input-group input_border_custom">
                                <!--  <div class="col-sm-2">
                                    <div class="input-group-addon"><i><input type="text" placeholder="" class="form-control" value="+91" readonly=""></i></div>
                                 </div> -->
                                 <div class="col-sm-3">
	                              <div class="input-group-addon"><i><input type="text" placeholder="STD Code" class="form-control integer" value="{{formData.CityCode}}" name="CityCode" maxlength="4"></i></div>
                                 </div>

                                 <div class="col-sm-7">
                                    <input type="text" placeholder="TelePhoneNumber" class="form-control integer" 
                                    value="{{formData.TelePhoneNumber}}" name="TelePhoneNumber" maxlength="10">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--/span-->
                     <div class="col-md-6">
                        <div class="form-group">
                           <label class="control-label mb-10">Mobile No</label>
                           <div class="input-group">
                              <input type="text" placeholder="999 999 9999" name="PhoneNumberForChange" data-mask="999 999 9999" class="form-control integer" value="{{formData.PhoneNumberForChange}}" maxlength="10">
                           </div>
                        </div>
                     </div>
                     <!--/span-->
                  </div>
                  <!-- /Row -->
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <div class="radio" style="padding: 0;">
                              <label class="control-label mb-10">Website </label>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="radio" name="UrlType" id="box" value="http://" ng-checked="formData.UrlType=='http://'">
                              <label for="http"> http:// </label>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="radio" name="UrlType" id="bri" value="https://" ng-checked="formData.UrlType=='https://'">
                              <label for="https"> https:// </label>
                           </div>
                           <input type="text" class="form-control" name="Website" placeholder="www.example.com"  value="{{formData.Website}}">
                        </div>
                     </div>
                     <!--/span-->
                  </div>
                  <!-- /Row -->
                  <hr class="light-grey-hr-custom"/>
                  <h6 class="txt-dark capitalize-font"><i class="fa fa-globe mr-10"></i>
                  Social Profile </h6>
                  <hr class="light-grey-hr"/>
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="input-group"> 
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-icon-anim btn-facebook btn-square"><i class="fa fa-facebook"></i></button>
                           </span>
                           <input type="text" id="example-input3-group21" name="FacebookURL" 
                           class="form-control" placeholder="www.facebook.com" 
                           value="{{formData.FacebookURL}}" >
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="input-group"> 
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-icon-anim btn-twitter btn-square"><i class="fa fa-twitter"></i></button>
                           </span> 
                           <input type="text" id="example-input3-group22" name="TwitterURL" class="form-control" placeholder="www.twitter.com" value="{{formData.TwitterURL}}">
                        </div>
                     </div>
                  </div>
                  <div class="clear">&nbsp;</div>
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="input-group"> 
                           <span class="input-group-btn">
                           <button class="btn btn-linkedin btn-icon-anim btn-square"><i class="fa fa-linkedin"></i></button>
                           </span>
                           <input type="text" id="example-input3-group23" name="LinkedInURL" class="form-control" placeholder="www.linkedin.com" value="{{formData.LinkedInURL}}">
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="input-group"> 
                           <span class="input-group-btn">
                           <button class="btn btn-googleplus btn-icon-anim btn-square"><i class="fa fa-google-plus"></i></button>
                           </span>
                           <input type="text" id="example-input3-group24" name="GoogleURL" class="form-control" placeholder="www.googleplus.com" value="{{formData.GoogleURL}}">
                        </div>
                     </div>
                  </div>
                  <div class="clear">&nbsp;</div>
               </div>
               <!-- <div class="form-actions mt-10">
                  <button type="submit" class="btn btn-success  mr-10"> Save</button>
                  <button type="button" class="btn btn-default">Cancel</button>
               </div> -->
               <div class="clear">&nbsp;</div>
            
         </div>
      </div>
 

</form>
</div>
</div>
<div class="modal-footer">
   <input type="hidden" name="UserGUID" value="{{formData.UserGUID}}">   
   
   <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
   <button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editDataProfile()">Save</button>
</div>