<style type="text/css">

	#view_model .modal-lg{

		max-width: 85%;

    	/*margin-right: 35px;*/

	}

	.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

		min-width: 50px;

	}

	.disabled-btn {

	  cursor: not-allowed !important;

	}

	.enabled-btn {

	  cursor: pointer!important;

	}



	.checkbox-list{



	}

</style>

<form id="add_form" name="add_form" enctype="multipart/form-data" autocomplete="off">

<input type="hidden" name="MediaGUIDs" id="MediaGUIDs" value="">

<div class="modal-body">

	<div class="form-area">

		<div class="col-md-12">

			<div class="row">

				<div class="col-md-12">

					<div class="panel panel-default card-view">

						<div class="panel-wrapper">

							<div class="panel-body">

								<div class="row">

									<div class="col-sm-12 col-xs-12">

										<div class="form-wrap">

											<form action="#" class="form-horizontal">

												<div id="div1" class="first current">

													<div class="form-body">

													<!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>VIEW QUESTION DETAILS</h6> -->

													<hr class="light-grey-hr"/>

													<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Personal Information</h6><hr class="light-grey-hr"/>

													<div class="row">

														<div class="col-md-6">

															<div class="form-group">

																<label class="control-label col-md-12">Institute NAME :</label>

																<div class="col-md-9">

																	<p class="form-control-static"> {{formData.FullName}} </p>

																</div>

															</div>

														</div>

														

													</div>

													<!-- /Row -->

													<hr class="light-grey-hr"/>

													<div class="row">

														

														<div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">ADDRESS :</label>

																<div class="col-md-9">

																	<p class="form-control-static"> {{formData.Address}}</p>

																</div>

															</div>

														</div>

														<div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">STATE :</label>

																<div class="col-md-9">

																	<p class="form-control-static"> {{formData.StateName}} </p>

																</div>

															</div>

														</div>

														<div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">CITY :</label>

																<div class="col-md-7">

																	<p class="form-control-static"> {{formData.CityName}} </p>

																</div>

															</div>

														</div>	

														<div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">PIN :</label>

																<div class="col-md-8">

																	<p class="form-control-static"> {{formData.Postal}}</p>

																</div>

															</div>

														</div>	

														<!--/span-->

													</div>

													<!-- /Row -->

													<hr class="light-grey-hr"/>

													<div class="row">

														

														

														<!--/span-->

														<div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">MOBILE :</label>

																<div class="col-md-9">

																	<p class="form-control-static"> {{formData.PhoneNumber}} </p>

																</div>

															</div>

														</div>

														<!--/span-->

														<div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">EMAIL :</label>

																<div class="col-md-8">

																	<p class="form-control-static"> {{formData.Email}}</p>

																</div>

															</div>

														</div>

														<div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">LOGIN STATUS:</label>

																<div class="col-md-9">

																	<p class="form-control-static" ng-if="formData.FeeStatusID == 1"> Pending </p>

																	<p class="form-control-static" ng-if="formData.FeeStatusID == 5"> Completed </p>

																</div>

															</div>

														</div>

													</div>

													<hr class="light-grey-hr"/>

													<div class="clear">&nbsp;</div>


													<div class="row">

														<!--/span-->


														<div class="col-md-6">

															<div class="form-group">

																<label class="control-label col-md-12">FACEBOOK :</label>

																<div class="col-md-7">

																	<p class="form-control-static"> {{formData.FacebookURL}} </p>

																</div>

															</div>

														</div>



														<div class="col-md-6">

															<div class="form-group">

																<label class="control-label col-md-12">LINKEDIN :</label>

																<div class="col-md-7">

																	<p class="form-control-static"> {{formData.LinkedInURL}} </p>

																</div>

															</div>

														</div>




														<div class="col-md-6">

															<div class="form-group">

																<label class="control-label col-md-12">TWITTER :</label>

																<div class="col-md-7">

																	<p class="form-control-static"> {{formData.TwitterURL}} </p>

																</div>

															</div>

														</div>



														<div class="col-md-6">

															<div class="form-group">

																<label class="control-label col-md-12">GOOGLE PLUS :</label>

																<div class="col-md-7">

																	<p class="form-control-static"> {{formData.TwitterURL}} </p>

																</div>

															</div>

														</div>




														



														
													</div>

													<!-- /Row -->

													<!-- /Row -->

													

													<!-- /Row -->



													



													



													
													<div class="row">

														

														<!--/span-->

														

														

														<!--/span-->

														<!-- <div class="col-md-3">

															<div class="form-group">

																<label class="control-label col-md-12">STATUS :</label>

																<div class="col-md-8">

																	<p class="form-control-static"> {{formData.TotalFailedStudents}}</p>

																</div>

															</div>

														</div> -->

													</div>



													

													<hr class="light-grey-hr"/>

													<div class="clear">&nbsp;</div>

													</div>

												</div>

																								

											</form>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>		

				</div>

			</div>

		</div>

	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

</div>