<style type="text/css">
  /* .section2-add-more-owner{
       width: 12%;
       float: right;
       margin: -18px 0px 0px 0px;
   }*/

   label.control-label
   {
      font-weight: bold !important;
   }
</style>
<div class="modal-body">

   <div class="form-area">

      <div class="form-group">

         <label for="inputName" class="control-label mb-10">Upload Logo</label>

         <div id="picture-box" class="picture-box banner">

            <!-- picture display -->

            <div class="">  

               <img ng-if="!UserData.ProfilePic" id="picture-box-picture" ng-src="./asset/img/default-category.png">

               <img ng-if="UserData.ProfilePic" id="picture-box-picture" ng-src="{{UserData.ProfilePic}}">

            </div>

            <!-- picture upload form -->

            <div class="picture-upload">

               <img src="./asset/img/upload.svg" id="picture-uploadBtn">

               <form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">

                  <input type="hidden" name="Section" value="ProfilePic">

                  <input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">

               </form>

            </div>

            <!-- progressbar -->

            <div class="progressBar">

               <div class="bar"></div>

               <div class="percent">0%</div>

            </div>

         </div>

      </div>

      <div class="col-md-12">

         <div class="form-wrap">

            <form id="edit_form" name="edit_form" method="post" action="#">

               <input type="hidden" name="Section" value="ProfilePic">

               <input type="hidden" name="UserGUID" value="{{UserData.UserGUID}}">   

               <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">

               <input type="hidden" class="MediaName" id="MediaName" name="MediaName" value="">

               <div class="clear">&nbsp;</div>

               <div class="form-body">

                  <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10">

                     </i>Institute Info

                  </h6>

                  

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10" ng-if="UserData.UserTypeName=='Institute' || UserData.UserTypeName=='Market Place Institute'">Name<span style="color:red">*</span></label>
                           <label for="inputName" class="control-label mb-10" ng-if="UserData.UserTypeName!='Institute' && UserData.UserTypeName!='Market Place Institute'">First Name</label>
                           <!-- <label for="inputName" class="control-label mb-10"><b>{{UserData.Username}}</b></label> -->

                          <input type="text" class="form-control" name="FirstName"  placeholder=""  value="{{UserData.FirstName}}">

                        </div>

                     </div>

                     <div class="col-md-6" ng-if="UserData.UserTypeName=='Institute' && UserData.UserTypeName!='Market Place Institute'">

                        <div class="form-group">

                           <label class="control-label mb-10">Registration Number</label><br>
                          <input type="text" id="" class="form-control" name="RegistrationNumber" value="{{UserData.RegistrationNumber}}">
                        </div>

                     </div>
                     <div class="col-md-6" ng-if="UserData.UserTypeName!='Institute' && UserData.UserTypeName!='Market Place Institute'">
                        <div class="form-group">
                           <label class="control-label mb-10">Last Name</label><br>
                           <input type="text" id="" class="form-control" name="LastName" placeholder="" value="{{UserData.LastName}}">
                        </div>

                     </div>

                  </div>
                <div ng-if="UserData.UserTypeName!='Institute' && UserData.UserTypeName!='Market Place Institute'">
                   <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10">

                     </i>Job Profile</h6>

                  <hr class="light-grey-hr"/>

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">User Type Name</label><br>

                           <label for="inputName" class="control-label mb-10"><b>{{UserData.UserTypeName}}</b></label>

                        </div>

                     </div>


                     </div>


                  <!-- /Row -->
               

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">Department</label>
                           <select  name="Department" class="form-control">
                              <option value="IT" ng-selected="UserData.Department==IT">IT</option>
                              <option value="Other" ng-selected="UserData.Department==Other">Other</option>
                           </select>
                           

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">Designation</label>

                           <input type="text" id="" class="form-control" name="Designation" placeholder="" value="{{UserData.Designation}}">

                        </div>

                     </div>

                  </div>

                  <!-- /Row -->

                   <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10">

                     </i>Work Experience</h6>

                  <hr class="light-grey-hr"/>

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">EMPLOYER</label>

                           <input type="text" class="form-control" name="Employer" id="Employer" placeholder=""  value="{{UserData.Employer}}">

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">DESIGNATION</label>

                           <input type="text" id="" class="form-control" name="Designation" placeholder="" value="{{UserData.Designation}}">

                        </div>

                     </div>

                  </div>

                  <!-- /Row -->

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">INDUSTRY</label>

                           <input type="text" class="form-control" name="Industry" placeholder=""  value="{{UserData.Industry}}">

                        </div>

                     </div>

                   <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">Total Experience</label>
                        <input name="Experience" type="text" id="Experience" class="form-control integer" value="{{UserData.Experience }}"  >
                     </div>
                  </div>

                  </div>

             
                  <!-- /Row -->

                 <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10">

                  </i>Personal Details</h6>

                  <hr class="light-grey-hr"/>

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">Gender</label></br>

                              <label class="control-label">Male</label>

                              <input name="Gender" type="radio"  ng-checked="UserData.Gender=='Male'" value="Male">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                              <label class="control-label">Female</label>

                              <input name="Gender" type="radio"  ng-checked="UserData.Gender=='Female'" value="Female">

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">DATE OF BIRTH</label>

                           <input type="text" id="BirthDate" class="form-control integer" name="BirthDate" placeholder="dd/mm/yyyy" value="{{UserData.BirthDate}}">

                        </div>

                     </div>

                  </div>

                  <!-- /Row -->

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                          <label class="control-label">Degree</label>
                           <select name="Course"  class="form-control" value="">
                           <option value="BE" ng-selected="UserData.Course==BE">BE</option>
                           <option value="BA" ng-selected="UserData.Course==BA">BA</option>
                           <option value="BSc" ng-selected="UserData.Course==BSc">BSc</option>
                           <option value="BCom" ng-selected="UserData.Course==BCom">BCom</option>
                           <option value="LLB" ng-selected="UserData.Course==LLB">LLB</option>
                        </select>

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">INSTITUTE</label>

                           <input type="text" id="" class="form-control" name="Institute" placeholder="" value="{{UserData.Institute}}">
                        </div>

                     </div>

                  </div>

                  <!-- /Row -->

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">SPECIALIZATION</label>

                           <input type="text" class="form-control" name="Specialization" id="inputName" placeholder=""  value="{{UserData.Specialization}}">

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">PASSING YEAR</label>

                           <input type="text" id="" class="form-control integer" name="Year" placeholder="" value="{{UserData.Year}}">

                        </div>

                     </div>

                  </div>
                </div>
                
                  <!-- /Row -->

                  <hr class="light-grey-hr-custom"/>

                  <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Postal Details</h6>

                  

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">Address<span style="color:red">*</span></label>

                           <textarea class="form-control" rows="1" name="Address">{{UserData.Address}}</textarea>

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="filter-col" for="CountryCode">Country<span style="color:red">*</span></label>

                           <select id="CountryCode" name="CountryCode" class="form-control">

                              <option value="IN">India</option>

                           </select>

                        </div>

                     </div>

                  </div>

                  <div class="row">

                     <div class="col-md-4">

                        <div class="form-group">

                           <label class="control-label mb-10">State Name<span style="color:red">*</span></label>

                            <select name="StateID" class="form-control chosen-select" ng-model="UserData.State_id" ng-change="getCities(UserData.State_id)">
                              <option value="">Please Select</option>
                              <option ng-repeat="rows in data.states" value="{{rows.State_id}}" ng-selected="UserData.State_id == rows.State_id" >{{rows.StateName}}</option>

                            </select>

                        </div>

                     </div>

                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label">Select City<span style="color:red">*</span></label>
                              <select name="CityName" class="form-control chosen-select">
                              <option value="">Please Select</option>
                              <option ng-repeat="rowc in data.cities" value="{{rowc.name}}" ng-selected="UserData.CityName == rowc.name">{{rowc.name}}</option>

                           </select>
                    
                     </div>

                     </div>

                     <!--/span-->

                     <div class="col-md-4">

                        <div class="form-group">

                           <label class="control-label mb-10">Zip Code</label>

                           <input type="text" class="form-control integer" value="{{UserData.Postal}}" name="Postal" maxlength="6">

                        </div>

                     </div>

                     <!--/span-->

                  </div>

                  <!-- /Row -->

                  

                  <div class="row">

                     <!--/span-->

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">Telephone Number</label>

                           <div class="row">

                              <div class="input-group input_border_custom">

                                 <div class="col-sm-12">
                                    <input type="text" placeholder="STD Code" class="form-control integer" value="{{UserData.CityCode}}" name="CityCode" maxlength="6" style="width:30%; float: left;">
                                    <input type="text" placeholder="Telephone Number" class="form-control integer" value="{{UserData.TelePhoneNumber}}" name="TelePhoneNumber" maxlength="10" style="width: 70%; float: left;">

                                 </div>

                              </div>

                           </div>

                        </div>

                     </div>

                     <!--/span-->

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">Mobile No<span style="color:red">*</span></label>

                           <div class="input-group">

                             <div class="input-group-prepend">
                               <span class="input-group-text" id="basic-addon1">+91</span>
                             </div>

                              <input type="text" placeholder="9999999999" name="PhoneNumber" data-mask="999 999 9999" class="form-control integer" value="{{UserData.PhoneNumber}}" maxlength="10" ng-if="UserData.PhoneNumberForChange==''" aria-describedby="basic-addon1">

                              <input type="text" placeholder="999 999 9999" name="PhoneNumber" data-mask="999 999 9999" class="form-control integer" value="{{UserData.PhoneNumberForChange}}" maxlength="10" ng-if="UserData.PhoneNumberForChange!=''" aria-describedby="basic-addon1">

                           </div>

                        </div>

                     </div>

                     <!--/span-->

                  </div>

                  <!-- /Row -->

                  <div class="row">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputEmail" class="control-label mb-10">Email address<span style="color:red">*</span></label>

                           <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="That email address is invalid"  value="{{UserData.Email}}" name="Email" ng-if="UserData.EmailForChange==''">

                           <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="That email address is invalid"  value="{{UserData.EmailForChange}}" name="Email" ng-if="UserData.EmailForChange!=''">

                            <input type="hidden" class="form-control" id="inputEmail" placeholder="EmailForChange" data-error="That email address is invalid"  value="{{UserData.EmailForChange}}" name="EmailForChange" >

                           <div class="help-block with-errors"></div>

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <div class="radio" style="padding: 0;">

                              <label class="control-label mb-10">Website </label>

                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                              <input type="radio" name="UrlType" id="box" value="http://" ng-checked="UserData.UrlType=='http://'">

                              <label for="http"> http:// </label>

                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                              <input type="radio" name="UrlType" id="bri" value="https://" ng-checked="UserData.UrlType=='https://'">

                              <label for="https"> https:// </label>

                           </div>

                           <input type="text" class="form-control" name="Website" placeholder="www.example.com"  value="{{UserData.Website}}">

                        </div>

                     </div>

                     <!--/span-->

                  </div>

                  <!-- /Row -->
                  <hr class="light-grey-hr"/>
                  <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10">

                  </i>Other Details</h6>

                  

                  <div class="row">

                     <div class="col-md-12">
                        <div style="width: 100%;">
                           <div class="form-group float-left" style="width: 100%;">
                              <div style="width: 85%; float: left;">
                                 <label class="control-label mb-10">Owner Name</label>
                                 <input type="text" class="form-control" name="OwnerName" id="OwnerName">
                              </div>
                             
                              <div style="width: 15%; float: left;">
                                  <br><a class="btn btn-success" onclick="add_ownername_field();" style="min-width: 20px; margin-left: 20px; margin-top: 5px;"><i class="fa fa-plus"></i></a>
                              </div>
                           </div>


                           <table class="table table-stripped" width="100%" cellpadding="5" cellspacing="5" border="0" id="ownertable">
                              <thead>
                              <tr>
                                 <th width="85%">Owner Name</th>
                                 <th width="15%" align="right" style="text-align: center !important;">Action</th>
                              </tr>
                              </thead>
                              <tbody>
                                 <tr ng-if="UserData.OwnerName.length" ng-repeat="(key, row) in UserData.OwnerName">
                                    <td>
                                       <label>{{row}}<input type="hidden" name="OwnerName[]" value="{{row}}"></label>
                                    </td>

                                    <td>
                                    <a class="" onclick="remove_ownername_field(this);" style="min-width: 20px; margin-left: 20px;"><i class="fa fa-trash"></i></a>
                                    </td>
                                 </tr> 

                                                                
                              </tbody>
                           </table>                          
                           
                        </div><hr/>
                     </div>
                     
                     <div class="col-md-12">

                        <div class="form-group">
                          
                           <label for="inputName" class="control-label mb-10">Teaching Aids</label></br>
                              <label class="control-label" style="float: left;">Smart Class System</label>
                              <input name="TeachingAids[]" type="checkbox" value="Smart Class System" ng-checked="UserData.TeachingAids.indexOf('Smart Class System') > 0 || UserData.TeachingAids.indexOf('Smart Class System') == 0" style="width: 5%;float: left;">


                               <label class="control-label" style="float: left;">Video Projection System</label>
                              <input name="TeachingAids[]" type="checkbox" value="Video Projection System" ng-checked="UserData.TeachingAids.indexOf('Video Projection System') > 0 || UserData.TeachingAids.indexOf('Video Projection System') == 0" style="width: 5%;float: left;">

                               <label class="control-label" style="float: left;">OHP</label>
                              <input name="TeachingAids[]" type="checkbox" value="OHP" ng-checked="UserData.TeachingAids.indexOf('OHP') > 0 || UserData.TeachingAids.indexOf('OHP') == 0" style="width: 5%;float: left;">

                               <label class="control-label" style="float: left;">Computer Lab</label>
                              <input name="TeachingAids[]" type="checkbox" value="Computer Lab" ng-checked="UserData.TeachingAids.indexOf('Computer Lab') > 0 || UserData.TeachingAids.indexOf('Computer Lab') == 0" style="width: 5%;float: left;">

                               <label class="control-label" style="float: left;">Internet</label>
                              <input name="TeachingAids[]" type="checkbox" value="Internet" ng-checked="UserData.TeachingAids.indexOf('Internet') > 0 || UserData.TeachingAids.indexOf('Internet') == 0" style="width: 5%;float: left;">
                           

                        </div>

                     </div>

                     

                  </div>

                   <div class="row"  style="margin-top: 20px;">

                     <div class="col-md-12">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">Achievement</label></br>

                              <!-- <input type="text" class="form-control" name="Achivements" value="{{UserData.Achivements}}"> -->
                              <textarea class="form-control" name="Achivements" id="Achivements" rows="4" cols="50">{{UserData.Achivements}}</textarea>
                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">Scholarship Test Offered</label></br>

                           <label class="control-label" style="width: 10%;float: left;">Yes</label>
                           <input name="ScholarshipTest" type="radio" value="Yes" style="width: 10%;float: left;" ng-checked="'Yes'==UserData.ScholarshipTest">
                           <label class="control-label" style="width: 10%;float: left;">No</label>
                           <input name="ScholarshipTest" type="radio" value="No" style="width: 10%;float: left;" ng-checked="'No'==UserData.ScholarshipTest">

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">No of Classrooms</label>

                           <input type="text"  class="form-control integer" name="Classrooms"  value="{{UserData.Classrooms}}" maxlength="5">

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">Library Facility</label></br>

                           <label class="control-label" style="width: 10%;float: left;">Yes</label>
                           <input name="Library" type="radio" value="Yes" style="width: 10%;float: left;" ng-checked='UserData.Library == "Yes"'>
                           <label class="control-label" style="width: 10%;float: left;">No</label>
                           <input name="Library" type="radio" value="No" style="width: 10%;float: left;" ng-checked='UserData.Library == "No"'>

                        </div>

                     </div>

                     <div class="col-md-6">

                        <div class="form-group">

                           <label class="control-label mb-10">Mess Facility</label></br>

                           <label class="control-label" style="width: 10%;float: left;">Yes</label>
                           <input name="MessFacility" type="radio" value="Yes" style="width: 10%;float: left;" ng-checked="'Yes'==UserData.MessFacility">
                           <label class="control-label" style="width: 10%;float: left;">No</label>
                           <input name="MessFacility" type="radio" value="No" style="width: 10%;float: left;" ng-checked="'No'==UserData.MessFacility">

                        </div>

                     </div>

                  </div>

                   <div class="row">

                     

                     

                  </div>

                   <div class="row" style="margin-top: 20px;">

                     <div class="col-md-6">

                        <div class="form-group">

                           <label for="inputName" class="control-label mb-10">Hostel Facility</label></br>

                           <label class="control-label" style="width: 10%;float: left;">Yes</label>
                           <input name="HostelFacility" type="radio" value="Yes" style="width: 10%;float: left;" ng-model="UserData.HostelFacility" ng-checked="'Yes'==UserData.HostelFacility">
                           <label class="control-label" style="width: 10%;float: left;">No</label>
                           <input name="HostelFacility" type="radio" value="No" style="width: 10%;float: left;" ng-model="UserData.HostelFacility" ng-checked="'No'==UserData.HostelFacility">

                        </div>

                     </div>

                      <div class="row" style="margin-left: 0px;" ng-if="UserData.HostelFacility=='Yes'">

                           <div class="col-md-6">

                              <div class="form-group">

                                 <label class="control-label mb-10">Number of Rooms</label>

                                 <input type="text"  class="form-control integer" name="NumberOfRooms"  value="{{UserData.NumberOfRooms}}" maxlength="5">

                              </div>

                           </div>


                            <div class="col-md-6">

                              <div class="form-group">

                                 <label class="control-label mb-10">Students/room</label>

                                 <input type="text"  class="form-control integer" name="StudentPerRooms"  value="{{UserData.NumberOfRooms}}" maxlength="3">

                              </div>

                           </div>

                        </div>

                     
                  </div>

                  

                  <!-- /Row -->

                  <hr class="light-grey-hr-custom"/>

                  <h6 class="txt-dark capitalize-font"><i class="fa fa-globe mr-10"></i>

                     Social Profile 

                  </h6>

                  

                  <div class="row">

                     <div class="col-sm-6">

                        <div class="input-group"> 

                           <span class="input-group-btn">

                           <button type="button" class="btn btn-icon-anim btn-facebook btn-square"><i class="fa fa-facebook"></i></button>

                           </span>

                           <input type="url" id="example-input3-group21" name="FacebookURL"  class="form-control" placeholder="https://www.facebook.com/" value="{{UserData.FacebookURL}}" >

                        </div>

                     </div>

                     <div class="col-sm-6">

                        <div class="input-group"> 

                           <span class="input-group-btn">

                           <button type="button" class="btn btn-icon-anim btn-twitter btn-square"><i class="fa fa-twitter"></i></button>

                           </span> 

                           <input type="url" id="example-input3-group22" name="TwitterURL" class="form-control" placeholder="https://twitter.com/" value="{{UserData.TwitterURL}}">

                        </div>

                     </div>

                  </div>

                  <div class="clear">&nbsp;</div>

                  <div class="row">

                     <div class="col-sm-6">

                        <div class="input-group"> 

                           <span class="input-group-btn">

                           <button class="btn btn-linkedin btn-icon-anim btn-square"><i class="fa fa-linkedin"></i></button>

                           </span>

                           <input type="url" id="example-input3-group23" name="LinkedInURL" class="form-control" placeholder="https://www.linkedin.com/" value="{{UserData.LinkedInURL}}">

                        </div>

                     </div>

                     <div class="col-sm-6">

                        <div class="input-group"> 

                           <span class="input-group-btn">

                           <button class="btn btn-googleplus btn-icon-anim btn-square"><i class="fa fa-google-plus"></i></button>

                           </span>

                           <input type="url" id="example-input3-group24" name="GoogleURL" class="form-control" placeholder="https://google.com" value="{{UserData.GoogleURL}}">

                        </div>

                     </div>

                  </div>

                  <div class="clear">&nbsp;</div>

               </div>

               <div class="clear">&nbsp;</div>

            </form>

         </div>

      </div>

   </div>

</div>

<div class="modal-footer">

   <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoaderSetDown">

   <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

   <button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>

</div>

<script type="text/javascript">
$(function()
{
   $("#Achivements").bind("blur", function()
   {
         var txt = $(this).val();

         var l = txt.length;

         if(l > 255)
         {
            alert("Maximum 255 characters are allowed.");

            txt = txt.substring(0, 255);

            $(this).val(txt);

            return;
         }
   });
});   


function add_ownername_field()
{
   var v = $("#OwnerName").val();

   if(v != "")
   {
      var l = $("#ownertable").find("tbody").find("tr").length;

      if(l >= 5)
      {
         alert("Sorry! you can add max 5 owner names.");

         return;
      }
      else
      {         
         $("#ownertable").show();

         $("#ownertable").find("tbody").append("<tr><td><label>"+v+"<input type='hidden' name='OwnerName[]' value='"+v+"'></label></td><td><a class='' onclick='remove_ownername_field(this);' style='min-width: 20px; margin-left: 20px;'><i class='fa fa-trash'></i></a></td></tr>");

         $("#OwnerName").val('');
      }
   }
}

function remove_ownername_field(obj)
{
   if(confirm("Are you sure want to remove owner ?"))
   {
      $(obj).parent().parent().remove();

      var l = $("#ownertable").find("tbody").find("tr").length;

      if(l <= 0)
      {
         $("#ownertable").hide();
      }
   }   
}
</script>