<style type="text/css">
   #staffedit_model .modal-lg{
   max-width: 900px !important;
   }
   .chosen-select {
       width: 330px;
   }

</style>
<div ng-app>
   <div class="modal-body">
      <div class="form-group">

         <label for="inputName" class="control-label mb-10">Upload Photo</label>

         <div id="picture-box" class="picture-box banner">

            <!-- picture display -->

            <div class="">  

               <img ng-if="!UserData.ProfilePic" id="picture-box-picture" ng-src="./asset/img/default-category.png">

               <img ng-if="UserData.ProfilePic" id="picture-box-picture" ng-src="{{UserData.ProfilePic}}">

            </div>

            <!-- picture upload form -->

            <div class="picture-upload">

               <img src="./asset/img/upload.svg" id="picture-uploadBtn">

               <form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">

                  <input type="hidden" name="Section" value="ProfilePic">

                  <input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">

               </form>

            </div>

            <!-- progressbar -->

            <div class="progressBar">

               <div class="bar"></div>

               <div class="percent">0%</div>

            </div>

         </div>

      </div>
      <div class="form-area" ng-init="showDiv = true">
         <form id="staffedit_form" name="staffedit_form" autocomplete="off" >
            <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">First Name <span style="color: red">*</span></label>
                     <input name="FirstName" type="text" class="form-control" value="{{formData.FirstName}}" maxlength="50" >
                     <input name="UserID" type="hidden" class="form-control" value="{{formData.UserID}}" maxlength="50" >
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">Last Name <span style="color: red">*</span></label>
                     <input name="LastName" type="text" class="form-control" value="{{formData.LastName}}" maxlength="50">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">Email</label>
                     <input name="Email" type="text" class="form-control" value="{{formData.Email}}" maxlength="50" disabled="true">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">Role <span style="color: red">*</span></label>
                     <select name="UserTypeID" id="UserTypeID" class="form-control chosen-select" ng-model="UserTypeID" disabled="true">
                        <option value="">Please Select</option>
                        <option ng-repeat="(key, rows) in data.Roles" value="{{rows.UserTypeID}}" ng-selected="rows.UserTypeID==UserTypeID">{{rows.UserTypeName}}</option>
                     </select>
               
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">

                     <label class="control-label">Admin Panel Access</label><br>                                
                     <label class="control-label" style="width: 10%;float: left;">Yes</label>
                     <input name="Access" type="radio" value="Yes" style="width: 10%;float: left;" ng-click="showDivs = false" ng-checked="'Yes'==formData.AdminAccess" disabled="true">
                     <label class="control-label" style="width: 10%;float: left;">No</label>
                     <input name="Access" type="radio" value="No" style="width: 10%;float: left;" ng-click="showDivs = true" ng-checked="'No'==formData.AdminAccess" disabled="true">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">App Panel Access</label><br>                                
                     <label class="control-label" style="width: 10%;float: left;">Yes</label>
                     <input name="AppAccess" type="radio" value="Yes" style="width: 10%;float: left;" ng-checked="'Yes'==formData.AppAccess" disabled="true">
                     <label class="control-label" style="width: 10%;float: left;">No</label>
                     <input name="AppAccess" type="radio" value="No" style="width: 10%;float: left;" ng-checked="'No'==formData.AppAccess" disabled="true">
                  </div>
               </div>
            </div>
              <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
            <div>
               <div>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#PersonalDetailse" role="tab" aria-controls="PersonalDetailse">Personal Details</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#EmergencyDetailse" role="tab" aria-controls="EmergencyDetailse">Emergency</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#NomineeDetailse" role="tab" aria-controls="NomineeDetailse">Nominee</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Eductione" role="tab" aria-controls="Eductione">Qualification</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#WorkExperiencee" role="tab" aria-controls="WorkExperiencee">Work Experience</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#JobsDetailse" role="tab" aria-controls="JobsDetailse">Jobs Details</a>
                     </li>
                     <li class="nav-item" ng-if="UserTypeID == 11" id="subject_tabs">
                        <a class="nav-link" data-toggle="tab" href="#Subjecte" role="tab" aria-controls="Subjecte">Subject</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#SocialMediae" role="tab" aria-controls="SocialMediae">Social Media</a>
                     </li>
                  </ul>
                  <div class="tab-content" style="margin:15px;">
                   
                     <!-- Personal details-->
                     <div class="tab-pane active" id="PersonalDetailse" role="tabpanel">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Contact No.</label>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                    <input name="PhoneNumber"  type="text" class="form-control integer"  value="{{formData.PhoneNumber}}" maxlength="10" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Gender</label><br>
                                 <label class="control-label" style="width: 20%;float: left;">Male</label>
                                 <input name="Gender" type="radio" value="Male" style="width: 20%;float: left;" ng-checked="'Male'==formData.Gender" checked="">
                                 <label class="control-label" style="width: 20%;float: left;">Female</label>
                                 <input name="Gender" type="radio" value="Female" style="width: 20%;float: left;" ng-checked="'Female'==formData.Gender" checked="">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Date of Birth</label>
                                 <input name="BirthDate" onclick="getCalendarDOB()" type="text"  class="form-control BirthDate" value="{{formData.BirthDate|date:'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy">
                                 <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span> -->
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Marital Status</label><br>
                                 <select name="MaritalStatus" class="form-control" ng-model="MaritalStatus">
                                    <option value="">Please select</option>
                                    <option value="single" ng-selected="'single'== formData.MaritalStatus">Single</option>
                                    <option value="married" ng-selected="'married'== formData.MaritalStatus">Married</option>
                                    <option value="widowed" ng-selected="'widowed'== formData.MaritalStatus">Widowed</option>
                                    <option value="divorced" ng-selected="'divorced'== formData.MaritalStatus">Divorced</option>
                                    <option value="seprate" ng-selected="'seprate'== formData.MaritalStatus">Seprate</option>
                                    <option value="living in" ng-selected="'living in'== formData.MaritalStatus">Living in</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row" ng-if="MaritalStatus == 'married'">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Anniversary Date</label>
                                 <input name="AnniversaryDate" id="AnniversaryDate" type="text" id="datepicker" class="form-control AnniversaryDate" value="{{formData.AnniversaryDate|date:'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy" onclick="getCalendar()">
                              
                              </div>
                           </div>
                           
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Address</label><br>
                                 <textarea class="form-control ng-binding" name="Address" rows="8" cols="10" value="{{formData.Address}}">{{formData.Address}}</textarea>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Select State</label>
                                 <select name="StateID" id="StateID" class="form-control chosen-select" ng-model="StateID" ng-change="getCities(StateID)">
                                    <option value=""></option>
                                    <option ng-repeat="row in data.states" value="{{row.State_id}}" ng-selected="row.State_id==StateID">{{row.StateName}}</option>
                                 </select>
                               </div>
                               <div class="form-group">
                                 <label class="control-label">Select City</label>
                                 <select name="CityName" id="City" class="form-control">
                                    <option value=""></option>
                                    <option ng-repeat="row in data.cities" value="{{row.name}}" ng-selected="row.name==formData.CityName">{{row.name}}</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">ZIP Code</label><br>
                                 <input name="CityCode" type="text" class="form-control integer" value="{{formData.CityCode}}" maxlength="6">
                              </div>
                           </div>
                        </div>
                     </div>

                     <!-- Emergency Details-->
                     <div class="tab-pane" id="EmergencyDetailse" role="tabpanel">
                         <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Name of Person</label>
                                 <div class="input-group mb-3">
                                    <input name="Emergency"  type="text" class="form-control"  value="{{formData.Emergency}}">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Relation with Person</label><br>
                               <input name="RelationWithEmergency"  type="text" class="form-control"  value="{{formData.RelationWithEmergency}}">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Contact No.</label>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                    <input name="EmergencyPhoneNumber"  type="text" class="form-control integer"  value="{{formData.EmergencyPhoneNumber}}" maxlength="10" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Gender</label><br>
                                 <label class="control-label" style="width: 20%;float: left;">Male</label>
                                 <input name="EmergencyGender" type="radio" value="Male" style="width: 20%;float: left;" ng-checked="'Male'==formData.EmergencyGender" checked="">
                                 <label class="control-label" style="width: 20%;float: left;">Female</label>
                                 <input name="EmergencyGender" type="radio" value="Female" style="width: 20%;float: left;" ng-checked="'Female'==formData.EmergencyGender" checked="">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Address</label><br>
                                 <textarea class="form-control ng-binding" name="EmergencyAddress" rows="8" cols="10" value="{{formData.EmergencyAddress}}">{{formData.EmergencyAddress}}</textarea>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Select State</label>
                                 <select name="EmergencyState" id="EmergencyState" class="form-control chosen-select" ng-model="EmergencyState" ng-change="getCitiesByStateNames(EmergencyState)">
                                    <option value=""></option>
                                    <option ng-repeat="rows in data.states" value="{{rows.StateName}}" ng-selected="rows.StateName==formData.EmergencyState">{{rows.StateName}}</option>
                                 </select>
                               </div>
                               <div class="form-group">
                                 <label class="control-label">Select City</label>
                                 <select name="EmergencyCityName" id="EmergencyCityName" class="form-control">
                                    <option value=""></option>
                                    <option ng-repeat="rowc in data.CitiesEmergency" value="{{rowc.name}}" ng-selected="rowc.name==formData.EmergencyCityName">{{rowc.name}}</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">ZIP Code</label><br>
                                 <input name="EmergencyCityCode" type="text" class="form-control integer" value="{{formData.EmergencyCityCode}}" maxlength="6">
                              </div>
                           </div>
                        </div>
                     </div>

                     <!-- NomineeDetailse Details-->
                     <div class="tab-pane" id="NomineeDetailse" role="tabpanel">
                         <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Nominee</label>
                                 <div class="input-group mb-3">
                                    <input name="Nominee"  type="text" class="form-control"  value="{{formData.Nominee}}">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Relation with nominee</label><br>
                               <input name="RelationWithNominee"  type="text" class="form-control"  value="{{formData.RelationWithNominee}}">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Contact No.</label>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                    <input name="NomineePhoneNumber"  type="text" class="form-control integer"  value="{{formData.NomineePhoneNumber}}" maxlength="10" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Gender</label><br>
                                 <label class="control-label" style="width: 20%;float: left;">Male</label>
                                 <input name="NomineeGender" type="radio" value="Male" style="width: 20%;float: left;" ng-selected="'Male'==formData.NomineeGender" checked="">
                                 <label class="control-label" style="width: 20%;float: left;">Female</label>
                                 <input name="NomineeGender" type="radio" value="Female" style="width: 20%;float: left;" ng-selected="'Female'==formData.NomineeGender" checked="">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Address</label><br>
                                 <textarea class="form-control ng-binding" name="NomineeAddress" rows="8" cols="10" value="{{formData.NomineeAddress}}">{{formData.NomineeAddress}}</textarea>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Select State</label>
                                 <select name="NomineeState" id="NomineeState" class="form-control chosen-select" ng-model="NomineeState" ng-change="getCitiesByStateName(NomineeState)">
                                    <option value=""></option>
                                    <option ng-repeat="rows in data.states" value="{{rows.StateName}}" ng-selected="rows.StateName==formData.NomineeState">{{rows.StateName}}</option>
                                 </select>
                               </div>
                               <div class="form-group">
                                 <label class="control-label">Select City</label>
                                 {{formData.NomineeCityName}}
                                 <select name="NomineeCityName" id="NomineeCityName" class="form-control">
                                    <option value=""></option>
                                    <option ng-repeat="rown in data.CitiesNominee" value="{{rown.name}}" ng-selected="formData.NomineeCityName == rown.name">{{rown.name}}</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">ZIP Code</label><br>
                                 <input name="NomineeCityCode" type="text" class="form-control integer" value="{{formData.NomineeCityCode}}" maxlength="6">
                              </div>
                           </div>
                        </div>
                     </div>

                      <!-- Eductione Qualification-->
                     <div class="tab-pane" id="Eductione" role="tabpanel">
                        <div ng-if="!formData.Work_eduction.length" id="dynamic_field">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"> Qualification</label>
                                    <select name="Qualification[]"  class="form-control chosen-select"  ng-model="Educations" >
                                       <option value=""></option>
                                       <option ng-repeat="qua in data.qualification" value="{{qua.Qualification}}">{{qua.Qualification}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Specialization</label>
                                    <input name="Specialization[]" type="text" class="form-control" value="" >
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Univercity / Institute</label><br>
                                    <input name="Univercity[]" type="text" class="form-control" value="">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Passing Out Year</label><br>
                                    <input name="PassingYear[]" type="text" id="Year" class="form-control integer" value="" placeholder="2019" maxlength="4">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Percentage %</label>
                                    <input name="Percentage[]" type="text" class="form-control integer" value="" placeholder="%" maxlength="3">
                                 </div>
                              </div>
                           </div>
                          <div class="col" style="margin-top: 28px;">
                              <div class="form-group">
                                 <label class="control-label mb-10"></label>
                                 <button type="button" name="add" ng-click="clickQua()" class="btn btn-success">+</button>
                              </div>
                           </div> 
                        </div>
                        <div id="dynamic_field" ng-if="formData.Work_eduction.length" ng-repeat="(keys,ques) in formData.Work_eduction">
                         <div id="quali{{keys}}">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Qualification</label>
                                    <select name="Qualification[]"  class="form-control chosen-select" >
                                       <option value=""></option>
                                       <option ng-repeat="qua in data.qualification" value="{{qua.Qualification}}" ng-selected="ques.Qualification==qua.Qualification">{{qua.Qualification}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Specialization</label>
                                    <input name="Specialization[]" type="text" class="form-control" value="{{ques.Specialization}}" >
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Univercity / Institute</label><br>
                                    <input name="Univercity[]" type="text" class="form-control" value="{{ques.Univercity}}">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Passing Out Year</label><br>
                                    <input name="PassingYear[]" type="text" id="Year" class="form-control integer" value="{{ques.PassingYear}}" placeholder="2019" maxlength="4">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Percentage %</label>
                                    <input name="Percentage[]" type="text" class="form-control integer" value="{{ques.Percentage}}" placeholder="%" maxlength="3">
                                 </div>
                              </div>
                           </div>

                           <div class="col" style="margin-top: 28px;">
                              <div class="form-group">
                                 <button type="button" name="add" ng-click="clickQua()" class="btn btn-success" ng-if="keys == 0">+</button>
                                  <button type="button" name="remove" ng-if=" keys > 0" id="{{keys}}" class="btn btn-danger btn_removequa" ng-click="removeQualification(keys)" style="">Remove</button>
                              </div>
                           </div> 
                           </div>
                           </div>
                          
                     </div>

                      <!-- job Profile-->
                     <div class="tab-pane" id="JobsDetailse" role="tabpanel">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Job</label><br>
                                 <input name="Job" type="text" class="form-control" value="{{formData.Job}}">
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Department</label><br>
                                 <select  name="Department" class="form-control">
                                    <option value=""></option>
                                    <option ng-repeat="dep in data.Department" value="{{dep.DepartmentID}}" ng-selected="formData.Department==dep.DepartmentID">{{dep.DepartmentName}}</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Designation</label>
                                 <input name="JobDesignation" type="text" class="form-control" value="{{formData.Designation}}" >
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Reporting Manager</label><br>
                                 <select name="ReportingManager"  class="form-control chosen-select" >
                                    <option value=""></option>
                                    <option ng-repeat="qua in data.UserData" value="{{qua.UserID}}" ng-if="formData.UserID != qua.UserID" ng-selected="qua.UserID==formData.ReportingManager">{{qua.FullName}}</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Joining Date</label>
                                 <input name="JoiningDate" type="text" onclick="getJoiningDate()" class="form-control JoiningDate" value="{{formData.JoiningDate | date:'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy" >
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Appraisal Date</label><br>
                                 <input name="AppraisalDate" onclick="getAppraisalDate()"  type="text" class="form-control AppraisalDate" value="{{formData.AppraisalDate | date:'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy">
                              </div>
                           </div>
                        </div>
                     </div>

                      <!-- Work Experience-->
                     <div class="tab-pane" id="WorkExperiencee" role="tabpanel" >
                         <div id="dynamic_field_exp" ng-if="!formData.Work_experience.length">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Employer</label>
                                    <input name="Employer[]" type="text" class="form-control" value="" >
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Industries</label><br>
                                    <select name="Industries[]" type="text" class="form-control">
                                       <option value="">Please Select</option>
                                       <option ng-repeat="indu in data.Industries" value="{{indu.IndustryID}}">{{indu.IndustryName}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Position</label><br>
                                    <input name="ExpDesignation[]" type="text" class="form-control" value="">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Job Profile</label><br>
                                    <input name="JobProfile[]" type="text" class="form-control" value="">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Started Working Form</label>
                                    <input name="From[]" type="text" onclick="getCalendarForm()" class="form-control integer Form" value="" placeholder="dd-mm-yyyy" ng-model='startDate'>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">To</label>
                                    <input name="To[]" type="text" onclick="getCalendarTo()" class="form-control integer To" value="{{startDate}}" placeholder="dd-mm-yyyy" >
                                 </div>
                              </div>
                           </div>
                           <div class="col" style="margin-top: 28px;">
                              <div class="form-group">
                                 <label class="control-label mb-10"></label>
                                 <button type="button" name="addExp" class="btn btn-success" ng-click="click()">+</button>
                              </div>
                           </div>
                        </div>
                        <div id="dynamic_field_exp" ng-if="formData.Work_experience.length" ng-repeat="(key,exp) in formData.Work_experience">
                           <div id="experi{{key}}">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Employer</label>
                                    <input name="Employer[]" type="text" class="form-control" value="{{exp.Employer}}" >
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Industries</label><br>
                                    <select name="Industries[]" type="text" class="form-control">
                                       <option value="">Please Select</option>
                                       <option ng-repeat="indu in data.Industries" value="{{indu.IndustryID}}" ng-selected="indu.IndustryID == exp.Industries">{{indu.IndustryName}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Position</label><br>
                                    <input name="ExpDesignation[]" type="text" class="form-control" value="{{exp.ExpDesignation}}">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Job Profile</label><br>
                                    <input name="JobProfile[]" type="text" class="form-control" value="{{exp.JobProfile}}">
                                 </div>
                              </div>
                          
                              <div class="col-md-6">
                                 <div class="form-group">
                                    
                                    <label class="control-label">Started Working Form</label>
                                    <input name="From[]" type="text" onclick="getCalendarForm()" class="form-control integer Form" value="{{exp.From | date:'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy" >
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">To</label>
                                    <input name="To[]" type="text" onclick="getCalendarTo()" class="form-control integer To" value="{{exp.To | date:'dd-MM-yyyy'}}" placeholder="dd-mm-yyyy" >
                                 </div>
                              </div>
                               </div>
                              <div class="col" style="margin-top: 28px;">
                              <div class="form-group">
                                 <label class="control-label mb-10"></label>
                                 <button type="button" name="add" ng-click="click()" class="btn btn-success" ng-if="key == 0">+</button>
                                 <button type="button" name="remove" ng-if=" key > 0" id="{{key}}" ng-click="removeexperience(key)" class="btn btn-danger btn_removes" style="">Remove</button>
                              </div>
                           </div>
                        </div>
                         </div>

                     </div>


                      <!--Social Media-->
                     <div class="tab-pane" id="SocialMediae" role="tabpanel">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> 
                                    <span class="input-group-btn"> <button type="button" class="btn btn-icon-anim btn-facebook btn-square"><span class="fa fa-facebook"></span></button> </span> <input type="text" id="FacebookURL" name="FacebookURL" class="form-control" placeholder="www.facebook.com" value="{{formData.FacebookURL}}" > 
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> 
                                    <span class="input-group-btn"> <button type="button" class="btn btn-icon-anim btn-twitter btn-square"><span class="fa fa-twitter"></span></button> </span> <input type="text" id="TwitterURL" name="TwitterURL" class="form-control" placeholder="www.twitter.com" value="{{formData.TwitterURL}}"> 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> <span class="input-group-btn"> <button class="btn btn-linkedin btn-icon-anim btn-square"><span class="fa fa-linkedin"></span></button> </span> <input type="text" id="LinkedInURL" name="LinkedInURL" class="form-control" placeholder="www.linkedin.com"  value="{{formData.LinkedInURL}}"> 
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> 
                                    <span class="input-group-btn"> <button class="btn btn-googleplus btn-icon-anim btn-square"><span class="fa fa-google-plus"></span></button> </span> <input type="text" id="GoogleURL" name="GoogleURL" class="form-control" placeholder="www.googleplus.com"  value="{{formData.GoogleURL}}"> 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                      <!--course Subjecte-->
                     <div class="tab-pane" id="Subjecte" role="tabpanel">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Select Coures</label>
                                
                                 <select name="CourseID[]" class="form-control chosen-select" ng-model="CourseID" ng-change="getSubject(CourseID,'edit')" multiple="multiple">
                                    <option ng-repeat="Course in data.Course" value="{{Course.CategoryID}}" ng-selected="CourseID==Course.CategoryID">{{Course.CategoryName}}</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-4" ng-repeat="sub in formData.Course_subjects">
                              <div class="form-group" >

                                 <input type="checkbox" name="SubjectID[]" value="{{sub.CategoryID}}" ng-checked="sub.C == 'c'">{{sub.CategoryName}}
                           
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
               <input type="hidden" name="Source" value="Direct">  
            </div>
         </form>
      </div>
      <script>  
         $(document).ready(function(){  
       
             $(document).on('click', '.btn_removes', function(){  
                  var button_id = $(this).attr("id"); 
                  console.log('#row'+button_id); 
                  $('#row'+button_id).remove();  
             });  

              $(document).on('click', '.btn_remove', function(){  
               var button_id = $(this).attr("id"); 
               console.log('#row'+button_id); 
               $('#rows'+button_id).remove();  
          });   

          
          $(document).on('click', '.btn_removequa', function(){  
                  var button_id = $(this).attr("id"); 
                  console.log('#quali.'+button_id); 
                  $('#quali.'+button_id).hide();  
             }); 
         
         
         }); 
         
      </script>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit"  ng-click="staffeditData()">Save</button>
      </div>
   </div>
</div>

