<div class="modal-body">
	<div class="form-area">

		<div class="form-group">
			<label for="lastName" class="control-label">User</label>
			<div class="listed sm clearfix boxbg p-2">
				<img class="rounded-circle float-left" src="{{formData.Content.ProfilePic}}">
				<div class="content float-left"><strong>{{formData.Content.FullName}}</strong></div>
			</div>
		</div>


		<div class="form-group">
			<label for="lastName" class="control-label">Content</label>
			<div class="boxbg p-2">
				<p ng-if="formData.Content.Title"><strong>{{formData.Content.Title}}</strong></p>
				<p ng-if="formData.Content.Content">{{formData.Content.Content}}</p>
			</div>
		</div>


	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="deleteData(formData.Content.EntityGUID)">Delete Permanently</button>
</div>


