<style type="text/css">
.small_txt
{
  width: 70% !important;
  height: 30px !important;
}  
</style>
<div class="modal-body">
   <div class="form-area">
      <form id="add_form" name="add_form" autocomplete="off" method="post">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group" ng-if="SelectedCategoryFormAdd">
                  <label class="control-label filter-col" for="ParentCategory">Select Stream <span style="color:red">*</span></label>
                  <input type="hidden" name="ParentCategoryGUID" value="{{StreamGUID}}">
                  <select class="form-control" ng-disabled="SelectedCategoryFormAdd">
                     <option value="">Select Stream</option>
                     <option ng-repeat="row in categoryDataList" ng-if="row.Status='Active'" value="{{row.CategoryGUID}}" ng-selected="StreamGUID == row.CategoryGUID">{{row.CategoryName}}</option>
                  </select>
               </div>
               <div class="form-group" ng-if="!SelectedCategoryFormAdd">
                  <label class="control-label filter-col" for="ParentCategory">Select Stream <span style="color:red">*</span></label>
                  <select class="form-control" name="ParentCategoryGUID" onchange="getSubCategoryList(this.value)"  id="stream">
                     <option value="">Select Stream</option>
                     <option ng-repeat="row in categoryDataList" ng-if="row.Status='Active'" value="{{row.CategoryGUID}}" ng-selected="CourseGUID == row.CategoryGUID">{{row.CategoryName}}</option>
                  </select>
               </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-if="SelectedCategoryFormAdd">
                  <label class="control-label filter-col" for="ParentCategory">Select Course <span style="color:red">*</span></label>
                  <input type="hidden" name="CategoryGUID" value="{{CourseGUID}}">
                   <select  id="course" class="form-control"  ng-disabled="SelectedCategoryFormAdd">
                        <option value="">Select Course</option>
                        <option ng-repeat="row in subCategoryDataList" ng-if="row.Status='Active'" value="{{row.CategoryGUID}}" ng-selected="CourseGUID == row.CategoryGUID">{{row.CategoryName}}</option>
                   </select>
               </div>
               <div class="form-group" ng-if="!SelectedCategoryFormAdd">
                  <label class="control-label mb-10">Select Course <span style="color:red">*</span></label>
                  <div class="button dropdown">
                     <select  name="CategoryGUID" id="course" class="form-control" onchange="getDuration(this.value)" ng-disabled="SelectedCategoryFormAdd">
                        <option value="">Select Course</option>
                        <option ng-repeat="row in subCategoryDataList" ng-if="row.Status='Active'" value="{{row.CategoryGUID}}" ng-selected="SubjectGUID == row.CategoryGUID">{{row.CategoryName}}</option>
                     </select>
                     <!--  <a class="add_new_streams addcourse" data-toggle="modal" data-target="#Course_model" style="display: none;">Add New Course</a> -->
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label mb-10">Duration (in Months) <span style="color:red">*</span></label>
                  <!--  <select class="form-control" name="duration">
                     <option>--Select Duration (in Months)--</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                     <option value="11">11</option>
                     <option value="12">12</option>
                     </select> -->
                     <input type="hidden" name="duration" value="{{Duration}}">
                  <input type="text" class="form-control integer"  value="{{Duration}}" maxlength="2" minlength="1"  disabled="">
               </div>
            </div>
            <div class="col-md-6">
               <label class="control-label mb-10">Description</label>
               <textarea class="form-control" name="desc" style="margin-top: 0px; margin-bottom: 0px; height: 74px;"></textarea>
            </div>
         </div>
         <hr class="light-grey-hr-custom">
         
        <div class="row">
          <div class="col-sm-12" style="margin-bottom: 20px;">
          <strong style="color: #000; font-size: 16px; margin-bottom: 20px;">Course Fee Breakup:</strong>
          </div>          
        </div>
        
        <div class="row">
        <div class="col-md-12">
        <table class="table" id="fee_breakup_list">
        <thead>
        <tr>
            <th>Breakup Name</th>
            <th>Amount(In Rs)</th>
            <th>Is Taxable(%)</th>
            <th>Net Amount</th>
        </tr>
        </thead>

        <tbody>
        <tr scope="row" ng-repeat="(key, row) in data.fee_breakup_list">
          <td>
            <input type="hidden" name="hdn[]" value="{{row.BreakTypeID}}">
            <input type="hidden" name="fb_refund_{{row.BreakTypeID}}" id="fb_refund_{{row.BreakTypeID}}" value="{{row.RefundablePercent}}">

            <input type="checkbox" name="fb_chk_{{row.BreakTypeID}}" id="fb_chk_{{row.BreakTypeID}}" ng-click="enable_disable(row.BreakTypeID);">&nbsp;{{row.BreakupName}}
          </td>  

          <td>
            <input type="text" maxlength="7" name="fb_amt_{{row.BreakTypeID}}" id="fb_amt_{{row.BreakTypeID}}" class="form-control small_txt integer" ng-keyup="fb_calculate(row.BreakTypeID);" value="" disabled>            
          </td> 

          <td>
            {{row.IsTaxable}} <label ng-if="row.IsTaxable == 'Yes'">({{row.TaxablePercent}}%)</label>
            <input type="hidden" name="fb_tax_{{row.BreakTypeID}}" id="fb_tax_{{row.BreakTypeID}}" value="{{row.TaxablePercent}}">
          </td> 

          <td>
            <input type="text" maxlength="7" id="fb_netamt_{{row.BreakTypeID}}" class="form-control small_txt integer fb_netamt" value="" readonly>
          </td>          
        </tr>

        <tr ng-if="data.fee_breakup_list.length > 0">
          <td colspan="3">&nbsp;</td>
          <td><input type="text" name="fb_total" id="fb_total" class="form-control" value="" readonly></td>
        </tr> 

        <tr ng-if="data.fee_breakup_list.length <= 0">
          <td colspan="4">No record found.</td>
        </tr> 
        </tbody>
        </table>
        </div>
        </div>          


         <div class="row">
            <div class="col-sm-12" style="margin-bottom: 20px;">
               <strong style="color: #000; font-size: 16px; margin-bottom: 20px;">Course Fee Single Payment:</strong>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2">Course Fee (<i class="fa fa-rupee"></i>) <span style="color:red">*</span></label>
                  <div class="input-group">
                     <input type="text" name="single_fee" class="form-control integer" id="fee" readonly>
                  </div>
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label class="control-label mb-10">Discount (%)</label>
                  <input type="text" name="discount" class="form-control integer" 
                     id="discount" placeholder="0.00" maxlength="3" onkeyup="calculate();">
               </div>
            </div>
            <!--/span-->
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10">Discount Amount (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="discount_amt" class="form-control integer" 
                     id="discount_amt" placeholder="0.00" readonly>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2">Final Fee (<i class="fa fa-rupee"></i>)<span style="color:red">*</span></label>
                  <div class="input-group">
                     <input type="text" class="form-control integer" id="final_total" placeholder="0.00" readonly name="final_amt" >
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>
         <hr class="light-grey-hr-custom">
          <div class="row">
            <div class="col-sm-12" style="margin-bottom: 20px;">
               <strong style="color: #000; font-size: 16px; margin-bottom: 20px;">Course Fee If Paid in Installment</strong>
            </div>
          </div>
         <div class="row installment_row" id="dynamic_field">
           <div class="row" id="row1" style="margin-left: 0px;">
           
            
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">NO.OF Installment</label>
                  <input type="text" name="installment[]" id="NoInstallment1" placeholder="0" class="form-control name_list integer" maxlength="3" onkeyup="calculate_moreInstallment(1);"/>
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Markup(%)</label>
                  <input type="text" name="markup[]" maxlength="3" class="form-control integer" id="markup1" placeholder="0.00" onkeyup="calculate_moreInstallment(1);">
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Installment Amt (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="installment_amt[]" class="form-control integer" id="intallment_amt1" placeholder="0.00"  readonly="">
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10" >Total Fee (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="total_fees[]" class="form-control integer" id="finalInstallment1" placeholder="0.00"  readonly="" onkeyup="calculate_moreInstallment(1);">
               </div>
            </div>
            <div class="col" style="margin-top: 28px;">
               <div class="form-group">
                  <label class="control-label mb-10"></label>
                  <button type="button" name="add" id="add1" onclick="addMore(1)" class="btn btn-success">+</button>
                  <button type="button" name="remove" id="1" onclick="RemoveOne(1)" class="btn btn-danger btn_remove" style="display: none;">Remove</button>
               </div>
            </div>
          </div>
         </div>
      </form>
   </div>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
   <button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>
   <img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>
<script>  

  function addMore(cnt){
     var i = cnt;
     //alert('txt'+i);
     var final_total = document.getElementById('final_total').value;
     var installment = $('#NoInstallment'+i).val();   
     if(final_total.length == 0){
      alert("Total fee is required before adding installments setting.");
      return false;
     }else if(installment.length == 0){
      alert("No. of installment is required before adding installments setting.");
      return false;
     }   
     $("#add"+i).remove();
     $("#"+i).show(); 
     i++;
     var installment_row_count = $(".installment_row").length;
     installment_row_count++;
     $('#dynamic_field').append('<div class="row installment_row" id="row'+installment_row_count+'"> <div class="col-sm-12" style="margin-left:20px;"></div><div class="col"><div class="form-group" style="padding-left:15px;"><label class="control-label mb-10">No.Of Installment</label><input type="text" name="installment[]" id="NoInstallment'+i+'" maxlength="3" placeholder="" class="form-control qty integer"  onkeyup="calculate_moreInstallment('+i+')"/></div></div><div class="col"><div class="form-group"><label class="control-label mb-10">Markup(%)</label><input type="text" name="markup[]" maxlength="3" class="form-control price integer" onkeyup="calculate_moreInstallment('+i+')" id="markup'+i+'"  placeholder="0.00"></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Installment Amt (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="installment_amt[]" class="form-control output" id="intallment_amt'+i+'" placeholder="0.00" readonly=""><div class="input-group-addon"></div></div></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Total Fee (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="total_fees[]" class="form-control output" id="finalInstallment'+i+'" placeholder="0.00" readonly="" onkeyup="calculate_moreInstallment('+i+')"><div class="input-group-addon"></div></div></div></div> <div class="col"><div class="form-group change"><label for="" style="">&nbsp;</label><br><button type="button" name="add" id="add'+i+'" onclick="addMore('+i+')" class="btn btn-success">+</button><button type="button" name="remove" id="'+i+'" onclick="RemoveOne('+i+')" class="btn btn-danger btn_remove" style="display:none;">Remove</button></div></div></div>');    
   }


   function RemoveOne(cnt){
    $('#row'+cnt).remove();  
   }


   // $(document).ready(function(){  
   //      var i=1;  
   //      $('#add1').click(function(){  
   //       var final_total = document.getElementById('final_total').value;
   //       var installment = document.getElementById('txt'+i).value;   
   //       if(final_total.length == 0){
   //        alert("Total fee is required before adding installments setting.");
   //        return false;
   //       }else if(installment.length == 0){
   //        alert("No. of installment is required before adding installments setting.");
   //        return false;
   //       }        
   //    $("#add"+i).remove();
   //    $("#remove"+i).show();
   //    i++;  
   
   // $('#dynamic_field').append('<div class="row" id="row'+i+'"> <div class="col-sm-12" style="margin-left:20px;"><b>Plan'+i+'</b></div><div class="col"><div class="form-group" style="padding-left:15px;"><label class="control-label mb-10">No.Of Installment</label><input type="text" name="installment[]" id="txt1'+i+'"  placeholder="" class="form-control qty integer"  onkeyup="calculate_moreInstallment('+i+')"/></div></div><div class="col"><div class="form-group"><label class="control-label mb-10">Markup(%)</label><input type="text" name="markup[]" class="form-control price integer" onkeyup="calculate_moreInstallment('+i+')" id="txt2'+i+'"  placeholder="0.00"></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Installment Amt (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="installment_amt[]" class="form-control output" id="intallment_amt'+i+'" placeholder="0.00" readonly=""><div class="input-group-addon"></div></div></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Total Fee (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="total_fees[]" class="form-control output" id="txt3'+i+'" placeholder="0.00" readonly="" onkeyup="calculate_moreInstallment('+i+')"><div class="input-group-addon"></div></div></div></div> <div class="col"><div class="form-group change"><label for="" style="">&nbsp;</label><br><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove" style="">Remove</button></div></div></div>');  
   
   // });  
   
   //  $(document).on('click', '.btn_remove', function(){  
   //       var button_id = $(this).attr("id"); 
   //       console.log('#row'+button_id); 
   //       $('#row'+button_id).remove();  
   //  });  
   
   
   // }); 
   
</script>
<!-- function for fullpayment with discount --> 
<script type="text/javascript">
    function calculate() {       
         var fees = document.getElementById('fee').value;
         var discount = document.getElementById('discount').value;
         var discount_amt = document.getElementById('discount_amt').value;
         var final_total =document.getElementById('final_total').value;
         
        
         if(discount!='' && fees!=''){   
           var result_discount = parseInt(fees) * parseInt(discount)/100;
           var final_amount=fees-result_discount;           
           document.getElementById('discount_amt').value = result_discount;
           document.getElementById('final_total').value = final_amount.toFixed(2);
         }else if(fees != ""){
          document.getElementById('final_total').value = fees;
         }

         //calculate_installments();
     }
   
   //function for installment with extra amount
   function calculate_installments() {
         var fees = document.getElementById('fee').value;
         var installment = document.getElementById('txt1').value;
         var discount = document.getElementById('txt2').value;
         var discount_amt = document.getElementById('txt3').value;

         if(fees.length == 0){
          alert("Course Fee is required before installment setting");
          document.getElementById('txt3').value = "";
          document.getElementById('txt1').value = "";
          document.getElementById('intallment_amt').value = "";
          return false;
         }
          //alert(fees); alert(installment);
         if(installment !='' && installment != 0){

             if(discount!='' && discount != 0){
           
             var result_discount = parseInt(fees) * parseInt(discount)/100;
             var final_amount = fees-result_discount;
             var total = parseInt(result_discount) + parseInt(fees);
             var finalamt = fees/installment;

             //alert(finalamt);

             document.getElementById('intallment_amt').value = finalamt.toFixed(2);
             document.getElementById('txt3').value = total;
    
            }else{
              var finalamt = fees/installment;
             document.getElementById('txt3').value = fees;
             document.getElementById('txt1').value = installment;
             document.getElementById('intallment_amt').value = finalamt.toFixed(2);

           }

         }
     }
   
</script>
<!-- function for more installment with loop --> 
<script type="text/javascript">
   var key;
   function calculate_moreInstallment(key) {
   //alert(key);
            var fees = document.getElementById('fee').value;
            var installment = document.getElementById('NoInstallment'+key).value;
            var discount = document.getElementById('markup'+key).value;
            var discount_amt = document.getElementById('intallment_amt'+key).value;
            
            document.getElementById('intallment_amt'+key).value = 0;
            document.getElementById('finalInstallment'+key).value = 0;

            if(fees == "") { alert("Please enter Course Fee.");  fees = 0; return; }

            if(installment !='' && installment != 0 && fees != "")
            {
   
                if(discount!='' && discount != 0){
              
                var result_discount = parseInt(fees) * parseInt(discount)/100;
                var final_amount = fees-result_discount;
                var total = parseInt(result_discount) + parseInt(fees);
                var finalamt = total/installment;
   
               
                document.getElementById('intallment_amt'+key).value = finalamt.toFixed(2);
                document.getElementById('finalInstallment'+key).value = total;
             
   
              }else{
                var finalamt = fees/installment;
                document.getElementById('finalInstallment'+key).value = fees;
                document.getElementById('markup'+key).value = "";
                document.getElementById('intallment_amt'+key).value= finalamt.toFixed(2);;
   
              }
   
            }
        }
   
</script>