<div class="modal-body">
<div class="form-area">

<form id="breakup_head_form" name="breakup_head_form" autocomplete="off" method="post">
<div class="row">
  <div class="col-md-4">
     <div class="form-group">
        <label class="filter-col" for="fee_head_name">Breakup Name<span style="color:red">*</span></label>
        <input type="text" name="breakup_head_name" id="breakup_head_name" class="form-control">
        <input type="hidden" name="breakup_head_id" id="breakup_head_id" value="0">
     </div>        
  </div>

  <div class="col-md-8">
     <div class="form-group">
        <label class="filter-col"><br/><br/><br/></label>
        <button type="submit" class="btn btn-primary btn-xs" ng-disabled="addFormBreakupLoading" ng-click="addFormBreakup()">Save</button>&nbsp;
        <button type="button" class="btn btn-danger btn-xs" ng-disabled="addFormBreakupLoading" ng-click="resetFormBreakup()">Reset</button>
        <img src="./asset/img/ajax-loader.gif" ng-if="addFormBreakupLoading" >
     </div>       
  </div>   
</div>
</form>

<div class="row">
<div class="col-md-12">
<table class="table" id="breakup_list">
<thead>
<tr>
    <th>Breakup Name</th>    
    <th>Add Date</th>
    <th>Action</th>
</tr>
</thead>

<tbody>
<tr scope="row" ng-repeat="(key, row) in data.breakup_list" id="sectionsid_{{row.BreakTypeID}}">
  <td style="padding: 3px 5px !important;">{{row.BreakupName}}</td>  

  <td  style="padding: 3px 5px !important;">{{row.SaveDate}}</td>

  <td class="text-center" style="padding: 3px 5px !important;">
  <a class="glyphicon glyphicon-edit" href="" data-toggle="tooltip" title="Edit" ng-click="setEditBreakName(row.BreakTypeID, row.BreakupName);"></a>
  </td>
</tr> 

<tr ng-if="data.breakup_list.length <= 0">
  <td colspan="7">No record found.</td>
</tr> 
</tbody>
</table>
</div>
</div>


</div>
</div>