<div class="modal-body">
	<div class="form-area">

		<div class="form-group">
			<div>
				<p><strong>Warning!</strong> This action is irreversible. Data will be scrubbed and irretrievable.</p>
			</div>
		</div>


	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="loadFormDelete(row.InstallmentID)">Delete Permanently</button>
</div>


