<style type="text/css">
#addinfo 
{
  display: none;
}

.small_txt
{
  width: 70% !important;
  height: 30px !important;
}  
</style>
<div class="modal-body">
   <div class="form-area">
      <form id="edit_form" name="edit_form" autocomplete="off" method="post">
         </h3>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label filter-col" for="ParentCategory">Select Stream</label>
                  <input type="hidden" name="ParentCategoryGUID" value="{{StreamID}}">
                  <select class="form-control" name="ParentCategoryGUID" onchange="getSubCategoryList(this.value)" 
                     id="stream" disabled="true">
                     <option value="">Select Stream</option>
                     <option ng-repeat="row in categoryDataList" ng-if="row.Status='Active'" value="{{row.CategoryGUID}}" ng-selected="row.CategoryGUID == StreamID">{{row.CategoryName}}</option>
                  </select>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label mb-10">Select Course</label>
                  <div class="button dropdown">
                     <select  name="CategoryGUID" id="course" class="form-control" onchange="getDuration(this.value)" disabled="true">
                        <option value="">Select Course</option>
                        <option ng-repeat="row in subCategoryDataList" ng-if="row.Status='Active'" value="{{row.CategoryGUID}}" ng-selected="row.CategoryGUID == CourseID">{{row.CategoryName}}</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label mb-10">Duration (in Months)</label>
                  <input type="hidden" name="duration" value="{{formData.Duration}}">
                  <input type="text" class="form-control integer"  value="{{formData.Duration}}" maxlength="2" minlength="1" disabled="true">
               </div>
            </div>
            <div class="col-md-6">
               <label class="control-label mb-10">Description</label>
               <textarea class="form-control" name="desc" style="margin-top: 0px; margin-bottom: 0px; height: 74px;">{{formData.Description}}</textarea>
            </div>
         </div>
         <br>
         <hr class="light-grey-hr-custom">
          

         <div class="row">
          <div class="col-sm-12" style="margin-bottom: 20px;">
          <strong style="color: #000; font-size: 16px; margin-bottom: 20px;">Course Fee Breakup:</strong>
          </div>          
        </div>
        
        <div class="row">
        <div class="col-md-12">
        <table class="table" id="fee_breakup_list">
        <thead>
        <tr>
            <th>Breakup Name</th>
            <th>Amount(In Rs)</th>
            <th>Is Taxable(%)</th>
            <th>Net Amount</th>
        </tr>
        </thead>

        <tbody>
        <tr scope="row" ng-repeat="(key, row) in data.feeEditBreakupListing">
          
          <td>
            <input type="hidden" name="hdn[]" value="{{row.BreakTypeID}}">
            <input type="hidden" name="fb_refund_{{row.BreakTypeID}}" id="fb_refund_{{row.BreakTypeID}}" value="{{row.RefundPercent}}">
            
            <input type="checkbox" name="fb_chk_{{row.BreakTypeID}}" id="fb_chk_{{row.BreakTypeID}}" ng-click="enable_disable(row.BreakTypeID);" ng-checked="row.Amount != ''">&nbsp;{{row.BreakupName}}
          </td>  

          <td>
            <input type="text" maxlength="7" name="fb_amt_{{row.BreakTypeID}}" id="fb_amt_{{row.BreakTypeID}}" class="form-control small_txt integer" ng-keyup="fb_calculate(row.BreakTypeID);" value="{{row.Amount}}" ng-disabled="row.Amount == ''">            
          </td> 

          <td>
            <label ng-if="row.Tax != ''">Yes</label><label ng-if="row.Tax == ''">No</label>
            <label ng-if="row.Tax != ''">({{row.Tax}}%)</label>
            <input type="hidden" name="fb_tax_{{row.BreakTypeID}}" id="fb_tax_{{row.BreakTypeID}}" value="{{row.Tax}}">
          </td> 

          <td>
            <input type="text" maxlength="7" id="fb_netamt_{{row.BreakTypeID}}" class="form-control small_txt integer fb_netamt" value="{{row.NetAmount}}" readonly>
          </td>  
        </tr>

        <tr>
          <td colspan="3">&nbsp;</td>
          <td><input type="text" name="fb_total" id="fb_total" class="form-control" value="{{formData.FullAmount}}" readonly></td>
        </tr> 

        <tr ng-if="data.feeEditBreakupListing.length <= 0">
          <td colspan="4">No record found.</td>
        </tr> 
        </tbody>
        </table>
        </div>
        </div>


          <div class="row">
            <div class="col-sm-12" style="margin-bottom: 20px;">
               <strong style="color: #000; font-size: 16px; margin-bottom: 20px;">Course Fee Single Payment</strong>
            </div>
          </div>
         <div class="row">           
            <div class="clear">&nbsp;</div>
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2">Course Fee (<i class="fa fa-rupee"></i>)</label>
                  <div class="input-group">
                     <input type="text" name="single_fee" class="form-control" id="fee1" placeholder="Enter amount" onkeyup="calculate();" value="{{formData.FullAmount}}">
                  </div>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-2">
               <div class="form-group">
                  <label class="control-label mb-10">Discount (%)</label>
                  <input  type="text"   id="discount1"  
                     value="{{formData.Discount}}" name="discount"
                     class="form-control" maxlength="3" onkeyup="calculate();">
               </div>
            </div>
            <!--/span-->
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10">Discount Amount (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="discount_amt" 
                     class="form-control" 
                     id="discount_amt1" placeholder="" value="{{formData.DiscountAmount}}" readonly>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2">Final Fee (<i class="fa fa-rupee"></i>)</label>
                  <div class="input-group">
                     <input type="text" class="form-control" id="final_total" placeholder="0" readonly name="final_amt" value="{{formData.FullDiscountFee}}">
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>

          <hr class="light-grey-hr-custom">
          <div class="row">
            <div class="col-sm-12" style="margin-bottom: 20px;">
               <strong style="color: #000; font-size: 16px; margin-bottom: 20px;">Do we change the fee for students who are already registered with this fee structure? </strong>
            </div>
            <div class="col-sm-3" style="margin-bottom: 20px;">
               Yes <input type="radio" name="ChangeStudentFee" value="Yes" style="margin-top: 10px;" checked="checked"> 
            </div>
            <div class="col-sm-3" style="margin-bottom: 20px;">
               No <input type="radio" name="ChangeStudentFee" value="No" style="margin-top: 10px;"> 
            </div>
          </div>


          <hr class="light-grey-hr-custom">
         <div class="row">
            <div class="col-sm-12" style="margin-bottom: 20px;">
               <strong style="color: #000; font-size: 16px; margin-bottom: 20px;">Course Fee If Paid in Installment</strong>
            </div>
          </div>
         <div class="row installment_row" id="dynamic_field" ng-if="!formData.installment.length">
           <div class="row" id="row1" style="margin-left: 0px;">
           
            
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">No. Of Installment</label>
                  <input type="text" name="installment[]" id="NoInstallment1" placeholder="0" class="form-control name_list integer" maxlength="3" onkeyup="calculate_moreInstallment(1);"/>
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Markup(%)</label>
                  <input type="text" name="markup[]" class="form-control integer" id="markup1" placeholder="0.00" onkeyup="calculate_moreInstallment(1);" maxlength="3">
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Installment Amt (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="installment_amt[]" class="form-control integer" id="intallment_amt1" placeholder="0.00"  readonly="">
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Total Fee (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="total_fees[]" class="form-control integer" id="finalInstallment1" placeholder="0.00"  readonly="" onkeyup="calculate_moreInstallment(1);">
               </div>
            </div>
            <div class="col" style="margin-top: 28px;">
               <div class="form-group">
                  <label class="control-label mb-10"></label>
                  <button type="button" name="add" id="add1" onclick="addMore(1)" class="btn btn-success">+</button>
                  <button type="button" name="remove" id="1" onclick="RemoveOne(1)" class="btn btn-danger btn_remove" style="display: none;">Remove</button>
               </div>
            </div>
          </div>
         </div>

          <div class="row installment_row" id="dynamic_fields" ng-if="formData.installment.length" ng-repeat="(key, row) in formData.installment">
            <input type="hidden" name="count" value="{{key}}" ng-model="count">
           <div class="row installment_row" id="row{{key}}" style="margin-left: 0px;">       
     
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">No. Of Installment</label>
                  <input type="text" name="installment[]" id="NoInstallment{{key}}" placeholder="0" class="form-control name_list integer NoInstallment" value="{{row.NoOfInstallment}}" ng-keyup="calculate_moreInstallment(key)"/>
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Markup(%)</label>
                  <input type="text" name="markup[]" class="form-control integer" id="markup{{key}}" placeholder="0.00" ng-keyup="calculate_moreInstallment(key)" value="{{row.Markup}}">
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Installment Amt (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="installment_amt[]" class="form-control integer" id="intallment_amt{{key}}" placeholder="0.00"  readonly="" value="{{row.InstallmentAmount}}">
               </div>
            </div>
            <!--/span-->
            <div class="col">
               <div class="form-group">
                  <label class="control-label mb-10">Total Fee (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="total_fees[]" class="form-control integer" id="finalInstallment{{key}}" placeholder="0.00" readonly=""  ng-keyup="calculate_moreInstallment(key)" value="{{row.TotalFee}}">
               </div>
            </div>
            <div class="col" style="margin-top: 28px;">
               <div class="form-group">
                  <label class="control-label mb-10"></label>
                  <button type="button" name="add" id="add{{key+1}}" ng-click="addMore(key+1)" class="btn btn-success" ng-show="$last">+</button>
                  <button type="button" name="remove" id="{{key}}" ng-click="RemoveOne(key,row.InstallmentID)" class="btn btn-danger btn_remove" ng-hide="$last">Remove</button>
               </div>
            </div>
          </div>
         </div>
         <input type="hidden" name="FeeGUID" id="FeeGUID" value="{{formData.FeeGUID}}">
         <input type="hidden" name="CourseID" id="CourseID" value="{{formData.CourseID}}">
      </form>
   </div>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>
   <button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">update</button>
   <img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">
</div>
<!-- delete Modal -->
<!--  <div class="modal fade" id="delete_model">
   <div class="modal-dialog modal-md" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h3 class="modal-title h5">Delete <?php echo $this->ModuleData['ModuleName'];?></h3>      
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div ng-include="templateURLDelete"></div>
     </div>
   </div>
   </div> -->
<script>  
    function addMore(cnt){

     var i = cnt;
     //alert('txt'+i);
     var final_total = document.getElementById('final_total').value;
     var installment = $('#NoInstallment'+i).val();   
     if(final_total.length == 0){
      alert("Total fee is required before adding installments setting.");
      return false;
     }else if(installment.length == 0){
      alert("No. of installment is required before adding installments setting.");
      return false;
     }   
     $("#add"+i).remove();
     $("#"+i).show(); 
     i++;
     var installment_row_count = $(".installment_row").length;
     installment_row_count++;
     $('.installment_row').last().after('<div class="row installment_row" id="row'+installment_row_count+'"> <div class="col-sm-12" style="margin-left:20px;"></div><div class="col"><div class="form-group" style="padding-left:15px;"><label class="control-label mb-10">No.Of Installment</label><input type="text" name="installment[]" id="NoInstallment'+i+'" maxlength="3"  placeholder="" class="form-control qty integer"  onkeyup="calculate_moreInstallment('+i+')"/></div></div><div class="col"><div class="form-group"><label class="control-label mb-10">Markup(%)</label><input type="text" name="markup[]" class="form-control price integer" maxlength="3" onkeyup="calculate_moreInstallment('+i+')" id="markup'+i+'"  placeholder="0.00"></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Installment Amt (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="installment_amt[]" class="form-control output" id="intallment_amt'+i+'" placeholder="0.00" readonly=""><div class="input-group-addon"></div></div></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Total Fee (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="total_fees[]" class="form-control output" id="finalInstallment'+i+'" placeholder="0.00" readonly="" onkeyup="calculate_moreInstallment('+i+')"><div class="input-group-addon"></div></div></div></div> <div class="col"><div class="form-group change"><label for="" style="">&nbsp;</label><br><button type="button" name="add" id="add'+i+'" onclick="addMore('+i+')" class="btn btn-success">+</button><button type="button" name="remove" id="'+i+'" onclick="RemoveOne('+i+')" class="btn btn-danger btn_remove" style="display:none;">Remove</button></div></div></div>');  

     // $('#dynamic_fields').append('<div class="row installment_row" id="row'+installment_row_count+'"> <div class="col-sm-12" style="margin-left:20px;"></div><div class="col"><div class="form-group" style="padding-left:15px;"><label class="control-label mb-10">No.Of Installment</label><input type="text" name="installment[]" id="NoInstallment'+i+'"  placeholder="" class="form-control qty integer"  onkeyup="calculate_moreInstallment('+i+')"/></div></div><div class="col"><div class="form-group"><label class="control-label mb-10">Markup(%)</label><input type="text" name="markup[]" class="form-control price integer" onkeyup="calculate_moreInstallment('+i+')" id="markup'+i+'"  placeholder="0.00"></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Installment Amt (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="installment_amt[]" class="form-control output" id="intallment_amt'+i+'" placeholder="0.00" readonly=""><div class="input-group-addon"></div></div></div></div><div class="col"><div class="form-group"><label class="control-label mb-10" for="exampleInputuname_2">Total Fee (<i class="fa fa-rupee"></i>)</label><div class="input-group"><input type="text" name="total_fees[]" class="form-control output" id="finalInstallment'+i+'" placeholder="0.00" readonly="" onkeyup="calculate_moreInstallment('+i+')"><div class="input-group-addon"></div></div></div></div> <div class="col"><div class="form-group change"><label for="" style="">&nbsp;</label><br><button type="button" name="add" id="add'+i+'" onclick="addMore('+i+')" class="btn btn-success">+</button><button type="button" name="remove" id="'+i+'" onclick="RemoveOne('+i+')" class="btn btn-danger btn_remove" style="display:none;">Remove</button></div></div></div>');    
   }


   function RemoveOne(cnt){
    $('#row'+cnt).remove();  
   }
   
</script>
<!-- function for fullpayment with discount --> 
<script type="text/javascript">
     function calculate() {       
         var fees = document.getElementById('fee1').value;
         var discount = document.getElementById('discount1').value;
         var discount_amt = document.getElementById('discount_amt1').value;
         var final_total =document.getElementById('final_total').value;
         
         console.log(fees);
        
         if(discount!='' && fees!=''){   
           var result_discount = parseInt(fees) * parseInt(discount)/100;
           var final_amount=fees-result_discount;           
           document.getElementById('discount_amt1').value = result_discount;
           document.getElementById('final_total').value = final_amount.toFixed(2);
         }else if(fees != ""){
          document.getElementById('final_total').value = fees;
         }
     }
   
   //function for installment with extra amount
   function calculate_installments() {
         var fees = document.getElementById('fee1').value;
         var installment = document.getElementById('txt1').value;
         var discount = document.getElementById('txt2').value;
         var discount_amt = document.getElementById('txt3').value;

         if(fees.length == 0){
          alert("Course Fee is required before installment setting");
          document.getElementById('txt3').value = "";
          document.getElementById('txt1').value = "";
          document.getElementById('intallment_amt').value = "";
          return false;
         }
          //alert(fees); alert(installment);
         if(installment !='' && installment != 0){

             if(discount!='' && discount != 0){
           
             var result_discount = parseInt(fees) * parseInt(discount)/100;
             var final_amount = fees-result_discount;
             var total = parseInt(result_discount) + parseInt(fees);
             var finalamt = fees/installment;

             //alert(finalamt);

             document.getElementById('intallment_amt').value = finalamt.toFixed(2);
             document.getElementById('txt3').value = total;
    
            }else{
              var finalamt = fees/installment;
             document.getElementById('txt3').value = fees;
             document.getElementById('txt1').value = installment;
             document.getElementById('intallment_amt').value = finalamt.toFixed(2);

           }

         }
     }
   
</script>
<!-- function for more installment with loop --> 
<script type="text/javascript">
   var key;
   function calculate_moreInstallment(key) {
   //alert(key);
        var fees = document.getElementById('fee1').value;
        var installment = document.getElementById('NoInstallment'+key).value;
        var discount = document.getElementById('markup'+key).value;
        var discount_amt = document.getElementById('intallment_amt'+key).value;
        
        document.getElementById('intallment_amt'+key).value = 0;
        document.getElementById('finalInstallment'+key).value = 0;

        if(fees == "") { alert("Please enter Course Fee.");  fees = 0; return; }

        if(installment !='' && installment != 0 && fees != ""){

            if(discount!='' && discount != 0){
          
            var result_discount = parseInt(fees) * parseInt(discount)/100;
            var final_amount = fees-result_discount;
            var total = parseInt(result_discount) + parseInt(fees);
            var finalamt = total/installment;

           
            document.getElementById('intallment_amt'+key).value = finalamt.toFixed(2);
            document.getElementById('finalInstallment'+key).value = total;
         

          }else{
            var finalamt = fees/installment;
            document.getElementById('finalInstallment'+key).value = fees;
            document.getElementById('markup'+key).value = "";
            document.getElementById('intallment_amt'+key).value= finalamt.toFixed(2);;

          }

        }
    }
   
</script>
<!-- function for model box with stream ajax data-->     
<script>  
   $(document).ready(function(){
    $('#insert_form').on("submit", function(event){  
     event.preventDefault();  
     if($('#stream_name').val() == "")  
     {  
      alert("Stream Name is required");  
     }  
     
     else  
     {  
      $.ajax({  
       url:"<?php echo base_url(); ?>course/save_stream",  
       method:"POST",  
       data:$('#insert_form').serialize(),  
       beforeSend:function(){  
       // $('#insert').val("Inserting");  
       },  
       success:function(data){  
        $('#insert_form')[0].reset();  
        $('#Course_Stream').modal('hide');  
        $('#stream_table').html(data);  
        $('#course_table').html(); 
        $('.addcourse').show();
   
       $('#msg').html(data).fadeIn('slow');
       $('#msg').html("Course Stream Added successfully").fadeIn('slow') //also show a success message 
       $('#msg').delay(500).fadeOut('slow');
   
       }  
      });  
     }  
    });
   });
</script>
<!-- function for model box with course ajax data  -->      
<script>  
   $(document).ready(function(){
    $('#course_form').on("submit", function(event){  
     event.preventDefault();  
     if($('#stream_id').val() == "")  
     {  
      alert("Stream  is required");  
     }  
     else if($('#courses_id').val() == "")  
     {  
      alert("Course name is required");  
     }  
     else  
     {  
      $.ajax({  
       url:"<?php echo base_url(); ?>course/save_course",  
       method:"POST",  
       data:$('#course_form').serialize(),  
       beforeSend:function(){  
       // $('#insert').val("Inserting");  
       },  
       success:function(data){  
        $('#course_form')[0].reset();  
        $('#Course_model').modal('hide');  
        $('#course_table').html(data);  
   
         $('#msg1').html(data).fadeIn('slow');
         $('#msg1').html("Course Added successfully").fadeIn('slow') //also show a success message 
         $('#msg1').delay(500).fadeOut('slow');
       }  
      });  
     }  
    });
   });
</script>
<script>
   function onStreamChange(){
      var stream_id = $('.stream').val();
    // alert(stream_id);
     var stream_text = $(".stream option:selected").text();
     $('#streams').val(stream_id);
     $('#course_name').val(stream_text);
     if(stream_id != '')
     {
      $.ajax({
       url:"<?php echo base_url(); ?>course/fetch_course",
       method:"POST",
       data:{stream_id:stream_id},
       success:function(data)
       {
        $('.course').html(data);
        $('.addcourse').show();
       }
      });
     }
     else
     {
      $('.course').html('<option value="">Select Course</option>');
      $('.addcourse').hide();
     // $('#subject').html('<option value="">Select Subject</option>');
     }
   }
</script>