<div class="modal-body">
<div class="form-area">

<div class="row">
<div class="col-md-12" style="float: right;">
  <button type="button" style="float: right;" class="btn btn-warning btn-sm" ng-click="addNewBreakup();">Add New Breakup</button>
</div>  
</div>
<hr/>

<form id="fee_breakup_form" name="fee_breakup_form" autocomplete="off" method="post">
<div class="row">
  <div class="col-md-4">
     <div class="form-group">
        <label class="filter-col" for="fee_head_name">Breakup Name<span style="color:red">*</span></label>
        <select name="fee_head_name" id="fee_head_name" class="form-control">
          <option value="">Select</option>
          <option ng-repeat="(key, row) in data.breakup_list" value="{{row.BreakTypeID}}">{{row.BreakupName}}
          </option>  
        </select>  
     </div>       
  </div>

  <div class="col-md-4">
     <div class="form-group">
        <input type="checkbox" name="fee_is_taxable" id="fee_is_taxable" value="1" onclick="chk_unchk('t');">
        <label class="filter-col" for="fee_is_taxable">Is Taxable</label>        
        <input type="text" name="fee_taxable_percent" id="fee_taxable_percent" class="form-control integer" disabled maxlength="3" placeholder="Enter Tax in % (0-100)">
     </div>       
  </div>
 

  <div class="col-md-4">
     <div class="form-group">
        <input type="checkbox" name="fee_is_refundable" id="fee_is_refundable" value="1" onclick="chk_unchk('r');">
        <label class="filter-col" for="fee_is_refundable">Is Refundable</label><br/>
        <input type="text" name="fee_refundable_percent" id="fee_refundable_percent" class="form-control integer" disabled maxlength="3" placeholder="Enter Refund in % (0-100)">
     </div>       
  </div>  
</div>

<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addFormFeeBreakupLoading" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-success btn-sm" ng-disabled="addFormFeeBreakupLoading" ng-click="addFormFeeBreakup()">Save</button>
<img src="./asset/img/ajax-loader.gif" ng-if="addFormFeeBreakupLoading" class="processingLoader">
</div>

</form>



<div class="row">
<div class="col-md-12">
<table class="table" id="fee_breakup_list">
<thead>
<tr>
    <th>Breakup Name</th>
    <th>Is Taxable</th>
    <th>Taxable %</th>
    <th>Is Refundable</th>
    <th>Refundable %</th>
    <th>Add Date</th>
    <th>Action</th>
</tr>
</thead>

<tbody>
<tr scope="row" ng-repeat="(key, row) in data.fee_breakup_list" id="sectionsid_{{row.FeeBreakupID}}">
  <td>{{row.BreakupName}}</td>   

  <td>{{row.IsTaxable}}</td> 

  <td>{{row.TaxablePercent}}</td>

  <td>{{row.IsRefundable}}</td>

  <td>{{row.RefundablePercent}}</td>

  <td>{{row.SaveDate}}</td>

  <td class="text-center">
  <a class="glyphicon glyphicon-trash" href="" ng-click="feeBreakupDelete(row.FeeBreakupID);" data-toggle="tooltip" title="Delete"></a>
  </td>
</tr> 

<tr ng-if="data.fee_breakup_list.length <= 0">
  <td colspan="7">No record found.</td>
</tr> 
</tbody>
</table>
</div>
</div>

</div>
</div>

<script type="text/javascript">
function chk_unchk(typ)
{
    if(typ == 't')
    {
        var isTax = $("#fee_is_taxable").is(":checked");

        if(isTax == true)
        {            
            $("#fee_taxable_percent").removeAttr("disabled");
        }
        else
        {
            $("#fee_taxable_percent").attr("disabled", "disabled");
        }  

        $("#fee_taxable_percent").val("");
    }
    else if(typ == 'r')
    {
        var isTax = $("#fee_is_refundable").is(":checked");

        if(isTax == true)
        {            
            $("#fee_refundable_percent").removeAttr("disabled");
        }
        else
        {
            $("#fee_refundable_percent").attr("disabled", "disabled");
        }  

        $("#fee_refundable_percent").val("");
    }
}
</script>