<div class="modal-body">
   <div class="form-area">
      <!--  <h5> Course Details:</h5>
         <h6 class="txt-dark capitalize-font">    <i class="zmdi zmdi-account mr-10"></i>Fee Details :</h6> -->
      <!--   {{formData}} -->
      <form id="view_form" name="view_form" autocomplete="off" method="post">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label" for="ParentCategory">Stream</label>
                  <p>{{formData.Stream}}</p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label mb-10"> Course</label>
                  <p>{{formData.Course}}</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label mb-10">Duration (in Months)</label>
                  <p>{{formData.Duration}}</p>
               </div>
            </div>            
         </div>
         <div class="row">
            <div class="col-md-12">
               <label class="control-label mb-10">Description</label>
               <p>{{formData.Description}}</p>
            </div>
         </div>
         <br>
         <hr class="light-grey-hr-custom">
         <h6 class="txt-dark capitalize-font">    <i class="zmdi zmdi-account mr-10"></i>Fee Details :</h6>
         
        
        <div class="row">
        <div class="col-md-12">
        <table class="table" id="fee_breakup_list">
        <thead>
        <tr>
            <th>Breakup Name</th>
            <th>Amount(In Rs)</th>
            <th>Is Taxable(%)</th>            
            <th>Net Amount</th>            
        </tr>
        </thead>

        <tbody>
        <tr scope="row" ng-repeat="(key, row) in data.feeViewBreakupListing">
          
          <td>            
            <label>{{row.BreakupName}}</label>
          </td>  

          <td>
            <label>{{row.Amount}}</label>          
          </td> 
 
          <td>
            <label ng-if="row.Tax != ''">Yes</label><label ng-if="row.Tax == ''">No</label>
            <label ng-if="row.Tax != ''">({{row.Tax}}%)</label>            
          </td> 

          <td>
            <label>{{row.NetAmount}}</label>
          </td>  
        </tr>        

        <tr ng-if="data.feeViewBreakupListing.length <= 0">
          <td colspan="4">No record found.</td>
        </tr> 
        </tbody>
        </table>
        </div>
        </div>

        <hr/>
         <div class="row">
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10" >Course Full Fee</label>
                  <p>{{formData.FullAmount}}</p>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10">Discount(%)</label>
                  <p>{{formData.Discount}}</p>
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10">Discount Amount</label>
                  <p>{{formData.DiscountAmount}}</p>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-3">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2">Discount Final Amount</label>
                  <p>{{formData.FullDiscountFee}}</p>
               </div>
            </div>
         </div>
         <hr class="light-grey-hr-custom">
         <h6 class="txt-dark capitalize-font">    <i class="zmdi zmdi-account mr-10"></i>Installments Details :</h6>
         <table class="table">
            <thead>
               <tr>
                  <th>No.Of Installment</th>
                  <th>Markup</th>
                  <th>Total Fee</th>
                  <th>Installment Amount</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="row in formData.installment">
                  <td>{{row.NoOfInstallment}}</td>
                  <td>{{row.Markup}}</td>
                  <td>{{row.TotalFee}}</td>
                  <td>{{row.InstallmentAmount}}</td>
               </tr>
            </tbody>
         </table>
         <!--/span-->
      </form>
   </div>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
</div>