<style type="text/css">
input[type=checkbox]{
	width: 50%;
    float: left;
    margin: 10px 0px;
}	
input[type=checkbox] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 0px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
}
</style>
<div class="modal-body" style="padding: 12px;">



	<div class="form-area">



		<form id="allot_form" name="allot_form" autocomplete="off" >

			<input type="hidden" name="OrderGUID" value="{{OrderGUID}}">


			<div class="row">



				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Select Validity</label>


						<input name="Validity" id="validity3" type="checkbox" value="3"  onchange="ChangePrice(3)"> &nbsp; <label class="filter-col">3</label>


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Price</label>

						<input  type="text" class="form-control"   value="{{priceKey3}}"  readonly="">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Count</label>

						<input name="OrderKeys[]" type="text" id="key3" class="form-control integer" placeholder="0" onkeyup="getTotalPrice(this.value,'3')">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Total</label>

						<input  type="text" class="form-control" id="price3" name="Price[]" value="0"  readonly="">



					</div>



				</div>



			</div>


			<div class="row">



				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Select Validity</label>


						<input name="Validity" id="validity6" type="checkbox" value="6"  onchange="ChangePrice(6)"> &nbsp; <label class="filter-col">6</label>


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Price</label>

						<input  type="text" class="form-control"   value="{{priceKey6}}"  readonly="">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Count</label>

						<input name="OrderKeys[]" type="text" id="key6" class="form-control integer" placeholder="0" onkeyup="getTotalPrice(this.value,'6')">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Total</label>

						<input  type="text" class="form-control" id="price6" name="Price[]"  value="0" readonly="">



					</div>



				</div>



			</div>


			<div class="row">



				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Select Validity</label>


						<input name="Validity" id="validity12" value="12" type="checkbox"  onchange="ChangePrice(12)"> &nbsp; <label class="filter-col">12</label>


					</div>



				</div>

				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Price</label>

						<input  type="text" class="form-control"   value="{{priceKey12}}"  readonly="">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Count</label>

						<input name="OrderKeys[]" type="text" id="key12" class="form-control integer" placeholder="0" onkeyup="getTotalPrice(this.value,'12')">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Total</label>

						<input  type="text" class="form-control" id="price12" name="Price[]" value="0" readonly="">



					</div>



				</div>



			</div>


			<div class="row">



				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Select Validity</label>


						<input name="Validity" id="validity24" value="24" type="checkbox"  onchange="ChangePrice(24)"> &nbsp; <label class="filter-col">24</label>


					</div>



				</div>

				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Price</label>

						<input  type="text" class="form-control"   value="{{priceKey24}}"  readonly="">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Count</label>

						<input name="OrderKeys[]" type="text" id="key24" class="form-control integer" placeholder="0" onkeyup="getTotalPrice(this.value,'24')">



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Total</label>

						<input  type="text" class="form-control" id="price24" name="Price[]" value="0" readonly="">



					</div>



				</div>



			</div>


			<div class="row">



				<div class="col-md-3">



					



				</div>

				<div class="col-md-3">



					



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Total Amount</label>

						


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						

						<input  type="text" class="form-control" id="TotalPrice" name="TotalPrice" value="0" readonly="">



					</div>



				</div>



			</div>




		</form>







	</div>



</div>







<div class="modal-footer">



	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData(1)">Pay Later</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData(2)">Pay Now</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>