<style type="text/css">
input[type=checkbox]{
	width: 50%;
    float: left;
    margin: 10px 0px;
}	
input[type=checkbox] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 0px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
}
</style>
<div class="modal-body" style="padding: 12px;">



	<div class="form-area">



		<form id="allot_keys_form" name="allot_keys_form" autocomplete="off" >

			<input type="hidden" name="OrderGUID" value="{{OrderGUID}}">

			<div class="row" ng-repeat="row in OrderDetails">

				

				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Validity</label><br>


						 <label class="filter-col">{{row.Validity}}</label>


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Keys Count</label><br>

						<label class="filter-col">{{row.Keys}}</label>



					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Total</label><br>

						<label class="filter-col">{{row.Price}}</label>



					</div>



				</div>



			</div>




		</form>







	</div>



</div>







<div class="modal-footer">



	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

	<button type="submit" ng-if="keysType=='Allot'" class="btn btn-success btn-sm" ng-click="AllotKeys()">{{keysType}}</button>

	<button type="submit" ng-if="keysType=='Unallot'" class="btn btn-success btn-sm" ng-click="UnallotKeys()">{{keysType}}</button>
</div>