<style type="text/css">
input[type=checkbox]{
	width: 50%;
    float: left;
    margin: 10px 0px;
}	
input[type=checkbox] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 0px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
}
</style>
<div class="modal-body" style="padding: 12px;">



	<div class="form-area">



		<form id="allot_sms_form" name="allot_sms_form" autocomplete="off" >

			<input type="hidden" name="OrderGUID" value="{{OrderGUID}}">

			<div class="row" ng-repeat="row in OrderDetails">

				<input type="hidden" name="SMSCredits" value="{{row.SMSCredits}}">

				<div class="col-md-2">



					<div class="form-group">



						<label class="filter-col" for="Validity">Cost</label><br>


						 <label class="filter-col">{{row.Cost}}</label>


					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">SMS Credits</label><br>


						 <label class="filter-col">{{row.SMSCredits}}</label>




					</div>



				</div>


				<div class="col-md-3">



					<div class="form-group">



						<label class="filter-col" for="Validity">Tax Amount</label><br>

						<label class="filter-col">{{row.TaxAmount}}</label>



					</div>



				</div>

				<div class="col-md-4">



					<div class="form-group">



						<label class="filter-col" for="Validity">Total Include Tax</label><br>

						<label class="filter-col">{{row.TotalIncludeTax}}</label>



					</div>



				</div>




			</div>




		</form>







	</div>



</div>







<div class="modal-footer">



	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-click="AllotSMSCredits()">Allot</button>


</div>