<div class="modal-body" style="padding: 15px;">
   <div class="form-area">
      <!-- <h2>Payment</h2> -->
      <!-- <form id="payment_form" name="payment_form" autocomplete="off" > -->
      <input type="hidden" name="OrderGUID" id="OrderGUID" value="{{formData.OrderGUID}}">
      <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label class="control-label" style="font-weight: bold;font-size: 13px;">Select payment method </label>
               <div class="row">
                  <div class="col-md-12">
                     <input type="radio" name="PaymentType" value="Online" onchange="display_payment_form('Online')"> Online via credit card/ debit card/ net banking
                  </div>
                  <div class="col-md-12">
                     <input type="radio" name="PaymentType" value="Offline" onchange="display_payment_form('Offline')"> By cheque/ DD 
                  </div>
                  <!-- <div class="col-md-12">
                     <input type="radio" name="PaymentType" value="Direct" onchange="display_payment_form('Direct')"> Direct Deposite
                     </div> -->
               </div>
            </div>
         </div>
      </div>
      <div class="row" id="online_payment_form" style="display: none;">
      <form class="col-md-12" method="POST" name="customerData" action="https://admin.iconik.in/order/online">
      <!-- <form class="col-md-12" method="POST" name="customerData" action="http://127.0.0.1/public_html/order/online">  -->   
           <!--  <table height="100" border='1' align="center">
               <tr>
                  <td>Parameter Name:</td>
                  <td>Parameter Value:</td>
               </tr>
               <tr>
                  <td colspan="2"> Compulsory information</td>
               </tr>
               <tr>
                  <td></td> 
                  <td>--><input type="hidden" name="tid" id="tid" readonly /><!--</td>
                </tr>
               <tr>
                  <td></td> 
                  <td>--><input type="hidden" name="merchant_id" value="209521"/><!--</td>
                </tr>
               <tr>
                  <td>Order Id	:</td>
                  <td> -->
                  <div class="col-md-12">
		            <div class="form-group">
		               <label class="filter-col" for="CategoryTypeName">Order ID <span style="color:red"> *</span></label>
		               <input type="text" name="order_id" class="form-control" value="{{formData.CustomOrderID}}"/>						
		            </div>
		         </div>
		         <div class="col-md-12">
		            <div class="form-group">
		               <label class="filter-col" for="CategoryTypeName">Amount (<i class="fa fa-rupee"></i>)<span style="color:red"> *</span></label>
		               <input type="hidden" name="amount" value="{{formData.RemainingAmount}}"/>
		              <input type="text" class="form-control" value="{{formData.RemainingAmount}}" disabled="disabled" />					
		            </div>
		         </div><!-- </td>
               </tr>
               <tr>
                  <td>Amount	:</td>
                  <td> --><!-- </td>
               </tr>
               <tr>
                  <td></td>
                  <td> --><input type="hidden" name="currency" value="INR"/><!-- </td>
               </tr>
               <tr>
                  <td></td>
                  <td> --><input type="hidden" name="redirect_url" value="https://admin.iconik.in/ccavResponseHandler.php"/><!-- </td>
               </tr>
               <tr>
                  <td></td>
                  <td> --><input type="hidden" name="cancel_url" value="https://admin.iconik.in/ccavResponseHandler.php"/><!-- </td>
               </tr>
               <tr>
                  <td></td>
                  <td> --><input type="hidden" name="language" value="EN"/><!-- </td>
               </tr>
               <tr>
                  <td></td>
                  <td> --><!-- </td>
               </tr>
            </table> -->
            <input type="hidden" name="merchant_param1" value="{{SessionKey}}"/>
            <input type="hidden" name="merchant_param2" value="{{formData.OrderGUID}}"/>
            <input type="hidden" name="merchant_param3" value="{{formData.OrderFor}}"/>
            <input type="hidden" name="merchant_param4" value="Online"/>
            <input type="hidden" name="merchant_param5" value="{{formData.OrderID}}"/>
            <div class="modal-footer">
      			   <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
      			   <button type="submit" class="btn btn-secondary btn-sm" ng-if="!payNowStatus" ng-click="backOnOrder(formData.OrderGUID)">Back</button>
      			   <button type="submit" class="btn btn-success btn-sm" id="continue_payment">Continue</button>
      			</div>
         </form>
      </div>
      <div class="row" id="offline_payment_form" style="display: none;">
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Cheque/DD Number <span style="color:red"> *</span></label>
               <input name="ChequeNumber" id="ChequeNumber" type="text" class="form-control integer" value="" maxlength="6">						
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Cheque/DD Drawn On (Bank Name) <span style="color:red"> *</span></label>
               <input name="DrawnBank" id="DrawnBank" type="text" class="form-control" value="" maxlength="100">						
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Cheque/DD Date <span style="color:red"> *</span></label>
               <input name="ChequeDate" id="ChequeDate" type="text" class="form-control" onclick="setDepositeDate(this.value)" value="" maxlength="40">						
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Amount (<i class="fa fa-rupee"></i>)<span style="color:red"> *</span></label>
               <input type="hidden" id="OrderAmount" value="{{formData.RemainingAmount}}">
               <input type="hidden" name="ChequeAmount" id="ChequeAmount" value="{{formData.RemainingAmount}}">
               
               <input id="ChequeAmountDis" type="text" class="form-control" value="{{formData.RemainingAmount}}"  max="{{formData.RemainingAmount}}" readonly="" disabled="">						
            </div>
         </div>

         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Deposited On <span style="color:red"> *</span></label>
               <input name="DepositedDate" id="DepositedDate" type="text" class="form-control" value="" maxlength="40">           
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Upload Deposite Slip</label>
               <div class="form-group">
                  <div id="picture-box" class="picture-box banner">
                     <!-- picture display -->
                     <img id="picture-box-picture" ng-src="">
                     <div class="picture-upload">
                        <img src="./asset/img/upload.svg" id="picture-uploadBtn">
                        <form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">
                           <input type="hidden" name="Section" value="OfflinePayment">
                           <input type="file" accept="image/*" name="File" id="fileInput"
                              data-target="#picture-box #picture-box-picture"
                              data-croptarget="#picture-box #picture-box-crop"
                              data-targetinput=".MediaGUIDs"
                              >
                        </form>
                     </div>
                     <!-- progressbar -->
                     <div class="progressBar">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


         <div class="col-md-6">
            <div class="form-group">
              <label class="filter-col" for="DiscountCoupon">Discount Coupon</label>
              <input type="text" name="DiscountCoupon" id="DiscountCoupon" class="form-control" value="" placeholder="Enter Discount Coupon Code" onblur="NetTotalCheque();" />        
            </div>
         </div>


         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Net Amount (<i class="fa fa-rupee"></i>)<span style="color:red"> *</span></label>
              
              <input type="text" id="netamount" class="form-control" value="{{formData.RemainingAmount}}" max="{{formData.RemainingAmount}}" disabled="disabled" />         
            </div>
         </div>


         <div class="col-md-6">
              <div class="form-group">
                 <label class="filter-col" for="CategoryTypeName">GST 18% (<i class="fa fa-rupee"></i>)<span style="color:red"> *</span></label>
                
                <input type="text" id="gstamount" class="form-control" value="" readonly="" disabled="" />         
              </div>
           </div>


         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="finalamount">Final Amount (<i class="fa fa-rupee"></i>)<span style="color:red"> *</span></label>               
               <input name="finalamount" id="finalamount" type="text" class="form-control" value="{{formData.RemainingAmount}}" max="{{formData.RemainingAmount}}" readonly="" disabled="">          
            </div>
         </div>

         
      </div>
      <div class="row" id="direct_payment_form" style="display: none;">
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Name of depositor</label>
               <input name="DepositorName" id="DepositorName" type="text" class="form-control" value="" maxlength="40">						
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Bank Name</label>
               <input name="DrawnOnBank" id="DrawnOnBank" type="text" class="form-control" value="" maxlength="40">						
            </div>
         </div>
         <div class="col-md-12">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Transaction Number</label>
               <input name="TransactionNumber" id="TransactionNumber" type="text" class="form-control" value="" maxlength="40">						
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Amount</label>
               <input name="Amount" id="Amount" type="text" class="form-control integer" value="" maxlength="40">						
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Deposited On</label>
               <input name="DepositedOn" id="DepositedOn" type="text" class="form-control" value="" maxlength="40">						
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer" id="modal_footer">
   <button type="button" class="btn btn-secondary btn-sm" ng-disbaled="makePaymentDataLoading" data-dismiss="modal">Cancel</button>
   <button type="submit" class="btn btn-secondary btn-sm" ng-disbaled="makePaymentDataLoading" ng-if="!payNowStatus" ng-click="backOnOrder(formData.OrderGUID)">Back</button>
   <button type="submit" class="btn btn-success btn-sm" ng-disbaled="makePaymentDataLoading" ng-click="makePayment()">Continue</button>
   <img src="./asset/img/ajax-loader.gif" ng-if="makePaymentDataLoading" class="processingLoader"
</div>
<script type="text/javascript">
   $(function(){
   
   /* json object contains
   	1) payOptType - Will contain payment options allocated to the merchant. Options may include Credit Card, Net Banking, Debit Card, Cash Cards or Mobile Payments.
   	2) cardType - Will contain card type allocated to the merchant. Options may include Credit Card, Net Banking, Debit Card, Cash Cards or Mobile Payments.
   	3) cardName - Will contain name of card. E.g. Visa, MasterCard, American Express or and bank name in case of Net banking. 
   	4) status - Will help in identifying the status of the payment mode. Options may include Active or Down.
   	5) dataAcceptedAt - It tell data accept at CCAvenue or Service provider
   	6)error -  This parameter will enable you to troubleshoot any configuration related issues. It will provide error description.
   */	  
   	  var jsonData; 
   	  var access_code="AVCS02GE67AD47SCDA" // shared by CCAVENUE 
    var amount="6000.00";
   	  var currency="INR";
   	  
       $.ajax({
            url:'https://test.ccavenue.com/transaction/transaction.do?command=command=getJsonData&access_code='+access_code+'&currency='+currency+'&amount='+amount,
            dataType: 'jsonp',
            jsonp: false,
            jsonpCallback: 'processData',
            success: function (data) { 
                  jsonData = data;
                  // processData method for reference
                  processData(data); 
    // get Promotion details
                  $.each(jsonData, function(index,value) {
   	if(value.Promotions != undefined  && value.Promotions !=null){  
   		var promotionsArray = $.parseJSON(value.Promotions);
                  	$.each(promotionsArray, function() {
   			console.log(this['promoId'] +" "+this['promoCardName']);	
   			var	promotions=	"<option value="+this['promoId']+">"
   			+this['promoName']+" - "+this['promoPayOptTypeDesc']+"-"+this['promoCardName']+" - "+currency+" "+this['discountValue']+"  "+this['promoType']+"</option>";
   			$("#promo_code").find("option:last").after(promotions);
   		});
   	}
   });
            },
            error: function(xhr, textStatus, errorThrown) {
                //alert('An error occurred! ' + ( errorThrown ? errorThrown :xhr.status ));
                //console.log("Error occured");
            }
    		});
    		
    		$(".payOption").click(function(){
    			var paymentOption="";
    			var cardArray="";
    			var payThrough,emiPlanTr;
       var emiBanksArray,emiPlansArray;
    			
            	paymentOption = $(this).val();
            	$("#card_type").val(paymentOption.replace("OPT",""));
            	$("#card_name").children().remove(); // remove old card names from old one
             $("#card_name").append("<option value=''>Select</option>");
            	$("#emi_div").hide();
            	
            	//console.log(jsonData);
            	$.each(jsonData, function(index,value) {
            		//console.log(value);
             	  if(paymentOption !="OPTEMI"){
              	 if(value.payOpt==paymentOption){
              		cardArray = $.parseJSON(value[paymentOption]);
                  	$.each(cardArray, function() {
      	            	$("#card_name").find("option:last").after("<option class='"+this['dataAcceptedAt']+" "+this['status']+"'  value='"+this['cardName']+"'>"+this['cardName']+"</option>");
                  	});
                   }
                }
                
                if(paymentOption =="OPTEMI"){
                 if(value.payOpt=="OPTEMI"){
                 	$("#emi_div").show();
                 	$("#card_type").val("CRDC");
                 	$("#data_accept").val("Y");
                 	$("#emi_plan_id").val("");
   				$("#emi_tenure_id").val("");
   				$("span.emi_fees").hide();
                 	$("#emi_banks").children().remove();
                 	$("#emi_banks").append("<option value=''>Select your Bank</option>");
                 	$("#emi_tbl").children().remove();
                 	
                      emiBanksArray = $.parseJSON(value.EmiBanks);
                      emiPlansArray = $.parseJSON(value.EmiPlans);
                  	$.each(emiBanksArray, function() {
      	            	payThrough = "<option value='"+this['planId']+"' class='"+this['BINs']+"' id='"+this['subventionPaidBy']+"' label='"+this['midProcesses']+"'>"+this['gtwName']+"</option>";
      	            	$("#emi_banks").append(payThrough);
                  	});
                  	
                  	emiPlanTr="<tr><td>&nbsp;</td><td>EMI Plan</td><td>Monthly Installments</td><td>Total Cost</td></tr>";
   					
                  	$.each(emiPlansArray, function() {
                   	emiPlanTr=emiPlanTr+
   					"<tr class='tenuremonth "+this['planId']+"' id='"+this['tenureId']+"' style='display: none'>"+
   						"<td> <input type='radio' name='emi_plan_radio' id='"+this['tenureMonths']+"' value='"+this['tenureId']+"' class='emi_plan_radio' > </td>"+
   						"<td>"+this['tenureMonths']+ "EMIs. <label class='merchant_subvention'>@ <label class='emi_processing_fee_percent'>"+this['processingFeePercent']+"</label>&nbsp;%p.a</label>"+
   						"</td>"+
   						"<td>"+this['currency']+"&nbsp;"+this['emiAmount'].toFixed(2)+
   						"</td>"+
   						"<td><label class='currency'>"+this['currency']+"</label>&nbsp;"+ 
   							"<label class='emiTotal'>"+this['total'].toFixed(2)+"</label>"+
   							"<label class='emi_processing_fee_plan' style='display: none;'>"+this['emiProcessingFee'].toFixed(2)+"</label>"+
   							"<label class='planId' style='display: none;'>"+this['planId']+"</label>"+
   						"</td>"+
   					"</tr>";
   				});
   				$("#emi_tbl").append(emiPlanTr);
                   } 
                   }
            	});
            	
          });
    
    
       $("#card_name").click(function(){
       	if($(this).find(":selected").hasClass("DOWN")){
       		alert("Selected option is currently unavailable. Select another payment option or try again later.");
       	}
       	if($(this).find(":selected").hasClass("CCAvenue")){
       		$("#data_accept").val("Y");
       	}else{
       		$("#data_accept").val("N");
       	}
       });
           
      // Emi section start      
           $("#emi_banks").on("change",function(){
             if($(this).val() != ""){
             		var cardsProcess="";
             		$("#emi_tbl").show();
             		cardsProcess=$("#emi_banks option:selected").attr("label").split("|");
   			$("#card_name").children().remove();
   			$("#card_name").append("<option value=''>Select</option>");
   		    $.each(cardsProcess,function(index,card){
   		        $("#card_name").find("option:last").after("<option class=CCAvenue value='"+card+"' >"+card+"</option>");
   		    });
   			$("#emi_plan_id").val($(this).val());
   			$(".tenuremonth").hide();
   			$("."+$(this).val()+"").show();
   			$("."+$(this).val()).find("input:radio[name=emi_plan_radio]").first().attr("checked",true);
   			$("."+$(this).val()).find("input:radio[name=emi_plan_radio]").first().trigger("click");
   			 
   			 if($("#emi_banks option:selected").attr("id")=="Customer"){
   				$("#processing_fee").show();
   			 }else{
   				$("#processing_fee").hide();
   			 }
   			 
   		}else{
   			$("#emi_plan_id").val("");
   			$("#emi_tenure_id").val("");
   			$("#emi_tbl").hide();
   		}
   		
   		
   		
   		$("label.emi_processing_fee_percent").each(function(){
   			if($(this).text()==0){
   				$(this).closest("tr").find("label.merchant_subvention").hide();
   			}
   		});
   		
    });
    
    $(".emi_plan_radio").on("click",function(){
   	var processingFee="";
   	$("#emi_tenure_id").val($(this).val());
   	processingFee=
   			"<span class='emi_fees' >"+
   	 			"Processing Fee:"+$(this).closest('tr').find('label.currency').text()+"&nbsp;"+
   	 			"<label id='processingFee'>"+$(this).closest('tr').find('label.emi_processing_fee_plan').text()+
   	 			"</label><br/>"+
                 			"Processing fee will be charged only on the first EMI."+
                 	"</span>";
              $("#processing_fee").children().remove();
              $("#processing_fee").append(processingFee);
              
              // If processing fee is 0 then hiding emi_fee span
              if($("#processingFee").text()==0){
              	$(".emi_fees").hide();
              }
   	  
   });
   
   
   $("#card_number").focusout(function(){
   	/*
   	 emi_banks(select box) option class attribute contains two fields either allcards or bin no supported by that emi 
   	*/ 
   	if($('input[name="payment_option"]:checked').val() == "OPTEMI"){
   		if(!($("#emi_banks option:selected").hasClass("allcards"))){
   		  if(!$('#emi_banks option:selected').hasClass($(this).val().substring(0,6))){
   			  alert("Selected EMI is not available for entered credit card.");
   		  }
   	   }
      }
     
   });
   	
   	
   // Emi section end 		
    
    
    // below code for reference 
   
    function processData(data){
          var paymentOptions = [];
          var creditCards = [];
          var debitCards = [];
          var netBanks = [];
          var cashCards = [];
          var mobilePayments=[];
          $.each(data, function() {
          	 // this.error shows if any error   	
              console.log(this.error);
               paymentOptions.push(this.payOpt);
               switch(this.payOpt){
                 case 'OPTCRDC':
                 	var jsonData = this.OPTCRDC;
                  	var obj = $.parseJSON(jsonData);
                  	$.each(obj, function() {
                  		creditCards.push(this['cardName']);
                 	});
                 break;
                 case 'OPTDBCRD':
                 	var jsonData = this.OPTDBCRD;
                  	var obj = $.parseJSON(jsonData);
                  	$.each(obj, function() {
                  		debitCards.push(this['cardName']);
                 	});
                 break;
               	case 'OPTNBK':
                	var jsonData = this.OPTNBK;
                  var obj = $.parseJSON(jsonData);
                  $.each(obj, function() {
                   	netBanks.push(this['cardName']);
                  });
                 break;
                 
                 case 'OPTCASHC':
                   var jsonData = this.OPTCASHC;
                   var obj =  $.parseJSON(jsonData);
                   $.each(obj, function() {
                   	cashCards.push(this['cardName']);
                   });
                  break;
                    
                   case 'OPTMOBP':
                   var jsonData = this.OPTMOBP;
                   var obj =  $.parseJSON(jsonData);
                   $.each(obj, function() {
                   	mobilePayments.push(this['cardName']);
                   });
               }
               
             });
            
            console.log(creditCards);
           console.log(debitCards);
           console.log(netBanks);
           console.log(cashCards);
           console.log(mobilePayments);
             
       }
   });
</script>

<script type="text/javascript">
$(function()
{
  setTimeout(function()
  {
      NetTotalCheque();
  }, "2000");
});
function NetTotalCheque()
{
    var DiscountCoupon  = $("#DiscountCoupon").val();
    var IsDiscount      = $("#IsDiscount").val();
    var Amount = $("#OrderAmount").val();
    var RealAmount = Amount;

    var discountPercent = 0;

    if(DiscountCoupon == "")
    {
        discountPercent = 0;
    }
    else if(DiscountCoupon != "QIKME65")
    {
        alert("Invalid discount coupon."); 
        
        $("#netamount").val(RealAmount);
        //$("#hdnamount").val(RealAmount);
        //$("#finalamount").val(RealAmount);
        //return;
    }
    
    if(DiscountCoupon == "QIKME65")
    {
        discountPercent = 65;
    }

    //if(IsDiscount == 1)    
    if(true)
    {
        var amt = Amount;
        amt = parseFloat(amt);

        var amt1 = (amt * discountPercent) / 100;
        amt1 = parseFloat(amt1);

        var netamt = parseFloat(Amount) - amt1;
        netamt = parseFloat(netamt);
        netamt = Math.round(netamt);   

        $("#netamount").val(netamt);
        $("#hdnamount").val(netamt);

        var gstamt = (netamt * 0) / 100;
        gstamt = Math.round(gstamt); 
        $("#gstamount").val(gstamt);
        netamt = parseFloat(netamt) + parseFloat(gstamt);
        netamt = Math.round(netamt);
        $("#finalamount").val(netamt);
        $("#ChequeAmount").val(netamt);
    }
}  
</script>