<div class="modal-body">
  <div class="form-area">	
		<form id="verify_form" name="verify_form" autocomplete="off">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Date Credited <span class="text-danger">*</span></label>
						<input name="CreditedOn" type="text" id="CreditedOn"  class="form-control"  maxlength="50" placeholder="dd/mm/yyyy">
					</div>
				</div>	
			
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">TransactionID <span class="text-danger">*</span></label>
						<input name="TransactionNumber" type="text" class="form-control"  maxlength="50">
					</div>
				</div>
			</div>

			<input type="hidden"  id="OrderGUID" name="OrderGUID" value="{{OrderGUID}}">
			<input type="hidden"  id="PaymentGUID" name="PaymentGUID" value="{{PaymentGUID}}">
			<input type="hidden" name="OrderFor" id="OrderFor" value="{{OrderFor}}">
		</form>
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" ng-click="NotVerifyOrder()">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm"  ng-click="verifyOrder()">Save</button>
</div>