<div class="modal-body">
  <div class="form-area">
  			<div class="row" ng-repeat="(key,row) in PaymentDetails">


				<div class="col-md-2">



					<div class="form-group">



						<label class="filter-col" for="Validity">Amount</label><br>

						<label class="filter-col">{{row.Amount}}/ <p class="form-control-static" ng-if="row.PaymentType == 'Offline'"> By Cheque</p>
						<p class="form-control-static" ng-if="row.PaymentType != 'Offline'"> Online via CCAvenue</p></label>



					</div>



				</div>


				<div class="col-md-2">



					<div class="form-group">



						<label class="filter-col" for="Validity">Cheque No.</label><br>

						<label class="filter-col">{{row.ChequeNumber}}</label>



					</div>



				</div>

				<div class="col-md-2">



					<div class="form-group">



						<label class="filter-col" for="Validity">Cheque Date</label><br>

						<label class="filter-col">{{row.ChequeDate}}</label>



					</div>



				</div>

				<div class="col-md-2">



					<div class="form-group">



						<label class="filter-col" for="Validity">Deposite Date</label><br>

						<label class="filter-col">{{row.DepositedOn}}</label>



					</div>



				</div>

				<div class="col-md-2">



					<div class="form-group">



						<label class="filter-col" for="Validity">Drawn On</label><br>

						<label class="filter-col">{{row.DrawnOnBank}}</label>

						<a id="Verify{{key}}" ng-if="row.StatusID == 1" style="cursor: pointer;text-decoration: underline; margin-left: 30px; color: blue;" ng-click="loadPaymentVerifyForm(key,OrderGUID,row.PaymentGUID,OrderFor)">Verify</a>

					</div>



				</div>

				<!-- <div class="col-md-2" ng-if="row.TransactionNumber">



					<div class="form-group">



						<label class="filter-col" for="Validity">Transaction No.</label><br>

						<label class="filter-col">{{row.TransactionNumber}}</label>

						

					</div>



				</div>

				<div class="col-md-2" ng-if="row.CreditedOn">



					<div class="form-group">



						<label class="filter-col" for="Validity">Credited Date</label><br>

						<label class="filter-col">{{row.CreditedOn}}</label>

						

					</div>



				</div> -->


			


			</div>

  </div>
</div>
<div class="modal-footer">
	<!-- <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm"  ng-click="verifyOrder()">Save</button> -->
</div>