<div class="modal-body">
	<div class="form-area">
		<form id="add_subject_form" name="add_subject_form" autocomplete="off" >
		<input type="hidden" name="ParentCategoryGUIDIndex" id="ParentCategoryGUIDIndex" value="{{CourseData.ParentCategoryGUIDIndex}}">
		<input type="hidden" name="ParentCategoryGUID" id="ParentCategoryGUID" value="{{CourseData.ParentCategoryGUID}}">
		<input type="hidden" name="CategoryTypeName" value="Subject">
		<input type="hidden" name="ParentCategoryName" id="ParentCategoryName" value="{{CourseData.ParentCategoryName}}">
		
		<input type="hidden" name="Status" value="Active">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Course</label>
						<input name="CategoryName" type="text" class="form-control" value="{{CourseData.ParentCategoryName}}" maxlength="40" disabled="disabled">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Subject</label>
						<input name="CategoryName" id="SubCategoryName" type="text" class="form-control" value="" maxlength="40">
					</div>
				</div>
			</div>

		</form>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" ng-click="againLoadFormAdd()">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addSubject()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
</div>


