<style type="text/css">
#add_model .modal-lg{
max-width:1000px;
}
.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
min-width: 50px;
}
.disabled-btn {
cursor: not-allowed !important;
}
.enabled-btn {
cursor: pointer!important;
}
.right_link {
float: right;
margin: 10px 0;
color: #2ecd99;
cursor: pointer;
}
.chosen-select{
width:100%;
}
</style>
<input type="hidden" name="PostType" id="PostType" value="Content">
<input type="hidden" class="file_MediaGUIDs" id="file_MediaGUIDs" name="file_MediaGUIDs" value="">
<input type="hidden" class="audio_MediaGUIDs" id="audio_MediaGUIDs" name="audio_MediaGUIDs" value="">
<input type="hidden" name="ParentCategoryGUID" value="{{ParentCategoryGUID}}" id="ParentCategoryGUID">
<div class="modal-body">
<div class="form-area">
<div class="col-md-12">
<div class="row">
<div class="col-sm-12 col-xs-12">
<div class="form-wrap">
<div class="form-body">
<div class="row" ng-if="AddBySelectedCategory == 0">
<div class="col-md-6">
<div class="form-group">
<label for="inputName" class="control-label mb-10">Select Course <em style="color: red">*</em></label>
<select class="form-control Courses" onchange="getCategoryFilterData(this.value)" name="ParentCat" id="Courses" required="">
	<option value="{{data.ParentCategoryGUID}}">Select Course</option>
	<option ng-repeat="row in categoryDataList" value="{{$index}}">{{row.CategoryName}}</option>
</select>		
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label for="inputName" class="control-label mb-10">Select Subject <em style="color: red">*</em></label>
<div id="subcategory_section">
	<select name="CategoryGUID" id="subjectID"  class="form-control" onchange="" onchange="check_subject_available()" required="">
		<option value="">Select Subject</option>
		<option ng-repeat="row in subCategoryDataList" value="{{row.CategoryGUID}}">{{row.CategoryName}}</option>
	</select>
</div>
<a  class="right_link Add_Subject" id="link_add_subject" ng-click="loadFormSubjectAdd(ParentCategoryGUID)" style="display: none;cursor: pointer;  color: blue;  text-decoration: underline;">Add New Subject</a>
</div>
</div>
</div>
<div class="row" ng-if="AddBySelectedCategory == 1">
<div class="col-md-6">
<div class="form-group">
<label for="inputName" class="control-label mb-10">Select Course <em style="color: red">*</em></label>
<select class="form-control Courses" onchange="getCategoryFilterData(this.value)" name="ParentCat" id="Courses" required="">
	<option value="{{data.ParentCategoryGUID}}">Select Course</option>
	<option ng-repeat="row in categoryDataList" value="{{$index}}" ng-selected="CourseGUID == row.CategoryGUID">{{row.CategoryName}}</option>
</select>		
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label for="inputName" class="control-label mb-10">Select Subject <em style="color: red">*</em></label>
<div id="subcategory_section">
	<select name="CategoryGUID" id="subjectID"  class="form-control" onchange="" onchange="check_subject_available()" required="">
		<option value="">Select Subject</option>
		 <option ng-repeat="row in subCategoryDataList" value="{{row.CategoryGUID}}" ng-selected="SubjectGUID == row.CategoryGUID">{{row.CategoryName}}</option>
	</select>
</div>
<a  class="right_link Add_Subject" id="link_add_subject" ng-click="loadFormSubjectAdd(ParentCategoryGUID)" style="display: none;cursor: pointer;color: blue;text-decoration: underline;">Add New Subject</a>
</div>
</div>
</div>
<!-- /Row -->
<hr class="light-grey-hr-custom"/>
<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>SECTION ONE:- </b> (Use this Section to Upload Document file)</h6>
<hr class="light-grey-hr"/>
<div class="after-add-more">
<div class="row">
<form enctype="multipart/form-data" action="{{APIURL}}" method="post" class="col-md-12">	
<input type="hidden" name="Section" value="File">
<label class="filter-col" for="inputName" style="width: 45%;float: left;">Title</label>
<label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload File:- Allowed file type : (docx, doc, pdf, xls, xlsx, ppt, pptx)</label>
<div class="title-sec">
<input type="text" class="form-control title doc_title file_MediaCaption1" id="doctitleInput-1" name="MediaCaption" onkeyup="" style="width:45%; float: left;">
</div>
<input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.ppt,.pptx" name="File" id="docfileInput-1"  class="form-control file upload docfileInput"  data-targetinput="#file_MediaGUIDs" style="width: 45%;float: left; margin-left: 20px;">						
<div class="section1-add-more-btn" style="width: 5%;float: right; margin-left: 20px; margin-top: -32px;">
    <div class="form-group change">
        <label for="" style="margin: 5px 0;">&nbsp;</label><br/>
        <a class="btn btn-success add-more" mediaguid=""><i class="fa fa-plus-circle"></i></a>
    </div>
</div>
<div class="progressBar progressBar-doc">
	<div class="bar"></div>
	<div class="percent">0%</div>
</div>	
</form>
</div>

</div>
<hr class="light-grey-hr-custom"/>
<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>SECTION TWO:-</b> (Use this Section to Upload Media files)</h6>
<hr class="light-grey-hr"/>
<div class="after-video-add-more content-video-row1">
<div class="row">												
<label class="filter-col" for="inputName" style="width: 46%;float: left;margin-left: 10px;">Title</label>
<label for="inputName" class="control-label mb-10" style="width: 48%;float: right;margin-right: 42px;">Video Link :- Allowed link type : (youtube, vimeo etc.)</label>
<div class="title-sec" style="width: 44%;float: left; margin-left: 10px;">
	<input type="text" class="form-control content-tv1 title video_MediaCaption" name="video_MediaCaption[]" onkeyup="" style="width:100%; float: left;">
</div>
<input type="url" class="form-control content-v1 file video_file" name="video_file[]"  onkeyup="" style="width: 44%;float: left; margin-left: 20px;">

<div class="section2-add-more-video" style="width: 5%;float: right; margin-left: 20px; margin-top: -32px;">
    <div class="form-group change">
        <label for="" style="margin: 5px 0;">&nbsp;</label><br>
        <a class="btn btn-success video-add-more"><i class="fa fa-plus-circle"></i></a>
    </div>
</div>
</div>
</div>										
<hr class="light-grey-hr"/>
<div class="after-add-more1 content-audio-row1">
<div class="row">
<form enctype="multipart/form-data" action="{{APIURL}}" method="post" class="col-md-12">	
		<input type="hidden" name="Section" value="Audio">
		<label class="filter-col" for="inputName" style="width: 45%;float: left;">Title</label>
		<label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload Audio File:- Allowed  only Mp3</label>
		<div class="title-sec">
		<input type="text" class="form-control title audioTitleInput file_MediaCaption1" id="audioTitleInput-1" name="MediaCaption" onkeyup="" style="width:45%; float: left;">
		</div>
		<input type="file" accept="audio/mp3" name="File" id="audioFileInput-1"  class="form-control file upload audioFileInput"  data-targetinput="#audio_MediaGUIDs" style="width: 45%;float: left; margin-left: 20px;">						
		<div class="section2-add-more-btn" style="width: 5%;float: right; margin-left: 20px; margin-top: -32px;">
		    <div class="form-group change">
		        <label for="" style="margin: 5px 0;">&nbsp;</label><br/>
		        <a class="btn btn-success add-more1" mediaguid=""><i class="fa fa-plus-circle"></i></a>
		    </div>
		</div>
		<div class="progressBar progressBar-audio">
			<div class="bar"></div>
			<div class="percent">0%</div>
		</div>	
</form>
</div>
</div>
<hr class="light-grey-hr-custom"/>
<span style="cursor: pointer;color:blue;text-decoration: underline;" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="applytinymce()">Click here </span>&nbsp;to add content manually
<br>
<div class="collapse" id="collapseExample"><br>
<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>SECTION THREE:-</b></h6>
<hr class="light-grey-hr"/>
<div class="button-list mt-25">

<div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
				<label for="inputName" class="control-label mb-10">Title
				</label>
				<input type="text" class="form-control content-tv1 manual_title" name="PostCaption" id="PostCaption" onkeyup="">
			</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
				<label for="inputName" class="control-label mb-10">Content
				</label>

				<textarea rows="4" cols="100" ui-tinymce="" class="manual_text" name="PostContent" id="PostContent" onkeyup="" style="border: 1px solid rgba(33, 33, 33, 0.12);
border-radius: 0;
background-color: #fff;
box-shadow: none;
color: #212121;
display: block;
width: 100%;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;"></textarea>
			</div>
	</div>
</div>
</div>
</div>
</div>
<br>
<!-- <div class="row">
<div class="col-md-12">
<button class="btn btn-primary pull-right"> SAVE</button>
</div>
</div> -->

</div>
</div>
</div>
</div>								
</div>
</div>

<div class="modal-footer">


<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">
<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>
<button type="button" class="btn btn-success btn-sm" ng-disabled="editDataLoading" id="submit-btn" ng-click="addData()" data-toggle="tooltip" title="Course, subject and atleast one type of content is required!">Save</button>
</div>

<script type="text/javascript">
function applytinymce(){
tinymce.init({
selector: '#PostContent',
setup: function(editor) {
editor.on('keyup', function(e) {
console.log('edited. Contents: ' + editor.getContent());
formDataCheck(editor.getContent());
});
}
});  
}
</script>