<div class="modal-body">
	<div class="form-area">

		<div class="form-group">
			<div class="">
				<p><strong>Warning!</strong> This action is irreversible, this will delete this user and all associated records. All data will be scrubbed and irretrievable.</p>
			</div>
		</div>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" ng-if="PostGUID" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="deleteTextContent(PostGUID)">Delete Permanently</button>
	<button type="button" ng-if="MediaGUID" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="deleteMedia(MediaGUID)">Delete Permanently</button>
	<button type="button" ng-if="VideoEntityGUID" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="deleteVideo(VideoEntityGUID)">Delete Permanently</button>
</div>