<style type="text/css">
/*#edit_model .modal-lg{
max-width:1000px;
}*/
.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
min-width: 50px;
}
.disabled-btn {
cursor: not-allowed !important;
}
.enabled-btn {
cursor: pointer!important;
}
label{
color: #212121;
}
.chosen-select{
width:100%;
}
</style>
<div class="modal-body">

<!-- /Row -->
<div ng-if="type == 'file'">

<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>Type:- </b> Text</h6>
<hr class="light-grey-hr"/>
<!-- if files are available -->
<div class="after-add-more">
<div class="row">
<form  method="post" class="col-md-12" id="media_form">	
<input type="hidden" name="Section" value="File">
<input type="hidden" name="MediaGUID" id="MediaGUID" value="{{id}}">
<label class="filter-col" for="inputName" style="    width: 100%;
float: left;
margin: 8px;">Title <em style="color: red">*</em></label>
<!-- <label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload File:- Allowed file type : (docx, doc, pdf, xls, xlsx, ppt, pptx)</label> -->
<div class="title-sec">
<input type="text" class="form-control"  name="MediaCaption" id="MediaCaption" style="width:100%; float: left;" onkeyup="MediaDataCheck(this.value)" value="{{title}}" required="required">
</div>
<!-- <input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.ppt,.pptx" name="File" value="{{content}}" style="width: 45%;float: left; margin-left: 20px;" disabled> --><div class="progressBar progressBar-doc">
<div class="bar"></div>
<div class="percent">0%</div>
</div>	
</form>
</div>
</div>
</div>
<div ng-if="type == 'video'">							
<hr class="light-grey-hr-custom"/>
<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>Type:-</b> Video</h6>
<hr class="light-grey-hr"/>
<!-- if videos are available -->
<form method="post" class="col-md-12" id="video_form">
<div class="after-video-add-more content-video-row1">
<input type="hidden" name="Section" value="Video">
<input type="hidden" name="VideoEntityGUID" id="VideoEntityGUID" value="{{id}}">
<div class="row">
<div class="col-md-12">
<div class="form-group">
<label for="inputName" class="control-label mb-10" style="margin:8px;">Title <em style="color: red">*</em>
</label>
<input type="text" onkeyup="EditDataCheck()" class="form-control" id="PostVideoTitle" name="PostVideoTitle" value="{{title}}">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label class="filter-col" style="margin:8px;">Video Link :- Allowed link type : (youtube, vimeo etc.) <em style="color: red">*</em></label>
<input type="url" id="PostVideoLink" onkeyup="EditDataCheck()" class="form-control" name="PostVideoLink" value="{{content}}">
</div>
</div>
</div>
</div>
</form>	
</div>																
<div ng-if="type == 'audio'">							
<hr class="light-grey-hr-custom"/>
<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>Type:-</b> Audio</h6>
<hr class="light-grey-hr"/>
<!-- if audioes are available -->
<div class="after-add-more1 content-audio-row1">
<div class="row">
<form method="post" class="col-md-12" id="media_form">	
<input type="hidden" name="Section" value="Audio">
<input type="hidden" name="MediaGUID" id="MediaGUID" value="{{id}}">
<label class="filter-col" for="inputName" style="    width: 100%;
float: left;
margin: 8px;">Title <em style="color: red">*</em></label>
<!-- <label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload Audio File:- Allowed  only Mp3</label> -->
<div class="title-sec">
<input type="text" class="form-control" name="MediaCaption" value="{{title}}" id="MediaCaption" onkeyup="MediaDataCheck(this.value)" style="width:100%; float: left;">
</div>
<!-- <input type="file" accept="audio/mp3" class="form-control file upload"   style="width: 45%;float: left; margin-left: 20px;" value="{{content}}"> -->
<div class="progressBar progressBar-audio">
<div class="bar"></div>
<div class="percent">0%</div>
</div>	
</form>
</div>											
</div>
</div>


<div ng-if="type == 'content'">	
<hr class="light-grey-hr"/>
<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> -->Manual: Text</h6>
<hr class="light-grey-hr"/>
<form method="post" class="col-md-12" id="text_form">	
<div>
<div class="button-list mt-25">
<input type="hidden" name="PostGUID" id="PostGUID" value="{{id}}">
<input type="hidden" name="PostType" id="PostType" value="Content">
<div>
<div class="row">
<div class="col-md-12">
<div class="form-group">
	<label for="inputName" class="control-label mb-10">Title <em style="color: red">*</em>
	</label>
	<input type="text" class="form-control content-tv1 manual_title" name="PostCaption" id="PostCaption" value="{{title}}" onkeyup="formDataCheck()" required="required">
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group">
	<label for="inputName" class="control-label mb-10">Content <em style="color: red">*</em>
	</label>
	<textarea rows="4" cols="100"  class="manual_text" name="PostContent" id="PostContent" required="required" onkeyup="formDataCheck()" style="border: 1px solid rgba(33, 33, 33, 0.12);border-radius: 0;background-color: #fff;box-shadow: none;color: #212121;display: block;width: 100%;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;">{{content}}</textarea>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
<br>							


<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" ng-disabled="addDataLoading">Cancel</button>

<button type="submit" ng-if="type == 'content'" class="btn btn-success btn-sm" id="submit-btn" ng-click="editData(id)" data-toggle="tooltip" title="" ng-disabled="addDataLoading">Save</button>

<button type="submit" ng-if="type == 'video'" class="btn btn-success btn-sm" id="submit-btn" ng-click="updateContentVideo(id)" data-toggle="tooltip" title="" ng-disabled="addDataLoading">Save</button>

<button type="submit" ng-if="type == 'audio' || type == 'file'" class="btn btn-success btn-sm" id="submit-btn" ng-click="updateContentMedia(id,PostGUID)" data-toggle="tooltip" title="" ng-disabled="addDataLoading">Save</button>

<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoaderSet">
</div>