<style type="text/css">
	#edit_model .modal-lg{
		max-width:1000px;
	}
	.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
		min-width: 50px;
	}
	.disabled-btn {
	  cursor: not-allowed !important;
	}
	.enabled-btn {
	  cursor: pointer!important;
	}
	label{
		color: #212121;
	}
	.chosen-select{
		width:100%;
	}
</style>
<input type="hidden" name="PostType" id="PostType" value="Content">
<input type="hidden" class="file_MediaGUIDs" id="file_MediaGUIDs" name="file_MediaGUIDs" value="">
<input type="hidden" class="audio_MediaGUIDs" id="audio_MediaGUIDs" name="audio_MediaGUIDs" value="">
<div class="modal-body">
	<div class="form-area">
		<div class="col-md-12">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="form-wrap">
							
								<div class="form-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="inputName" class="control-label mb-10">Select Course<em style="color: red">*</em></label>
												<input type="hidden" name="{{formData.ParentCategory.CategoryGUID}}">
												<select class="form-control" onchange="getCategoryFilterData()" name="ParentCat" id="Courses" required="">
													<option value="">Select Course</option>
													<option ng-selected="row.CategoryGUID == formData.ParentCategory.CategoryGUID" ng-repeat="row in categoryDataList"  value="{{$index}}">{{row.CategoryName}}</option>
												</select>
												<!-- <a type="button" class="right_link" data-toggle="modal" data-target="#Add_Course">Add New Course</a> -->			
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
													<label for="inputName" class="control-label mb-10">Select Subject <em style="color: red">*</em></label>
													<div id="subcategory_section">
														<select  id="subject"  name="CategoryGUIDs" class="form-control" onchange="formDataCheck()" onclick="check_subject_available()" required="">
															<option value="">Select Subject</option>
														</select>
													</div>
												<!-- <a type="button" class="right_link" data-toggle="modal" data-target="#Add_Subject">Add New Subject</a> -->
											</div>
										</div>
									</div>
									<!-- /Row -->
									<hr class="light-grey-hr-custom"/>
									<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>SECTION ONE:- </b> (Use this Section to Upload Document file)</h6>
									<hr class="light-grey-hr"/>
									<!-- if files are available -->
									<div class="after-add-more" ng-if="formData.Media_file_count > 0" ng-repeat="row in formData.Media_file.Records">
										<div class="row">
											<form enctype="multipart/form-data" action="../api/upload/file" method="post" class="col-md-12">	
												<input type="hidden" name="Section" value="File">
												<label class="filter-col" for="inputName" style="width: 45%;float: left;">Title</label>
												<label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload File:- Allowed file type : (docx, doc, pdf, xls, xlsx, ppt, pptx)</label>
												<div class="title-sec">
												<input type="text" class="form-control title file_MediaCaption{{$index+1}}" id="doctitleInput-{{$index+1}}" name="MediaCaption" onkeyup="formDataCheck()" style="width:45%; float: left;" value="{{row.MediaCaption}}" disabled>
												</div>
												<input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.ppt,.pptx" name="File" id="docfileInput-{{$index+1}}"  class="form-control file upload"  data-targetinput="#file_MediaGUIDs" style="width: 45%;float: left; margin-left: 20px;" disabled>					

												<div ng-if="$index+1 != formData.Media_file_count" class="section1-add-more-btn" style="width: 5%;float: right; margin-left: 20px; margin-top: -32px;">
												    <div class="form-group change"><label for="" style="margin: 5px 0;">&nbsp;</label><br><a ng-click="deleteMedia(row.MediaGUID)" mediaguid="{{row.MediaGUID}}" class="btn btn-danger remove">-</a></div>
												</div>	
												<div ng-if="$index+1 == formData.Media_file_count" class="section1-add-more-btn" style="width: 5%;float: right;margin-right: 3px;margin-top: -32px;">
												    <div class="form-group change">
												        <label for="" style="margin: 5px 0;">&nbsp;</label><br/>
												        <a class="btn btn-success add-more"  mediaguid="{{row.MediaGUID}}"><i class="fa fa-plus-circle"></i></a>
												    </div>
												</div>
												
												<div class="progressBar progressBar-doc">
													<div class="bar"></div>
													<div class="percent">0%</div>
												</div>	
											</form>
										</div>
									</div>
									<!-- if files are not available -->	
									<div class="after-add-more" ng-if="formData.Media_file_count == 0">
										<div class="row">
											<form enctype="multipart/form-data" action="../api/upload/file" method="post" class="col-md-12">	
												<input type="hidden" name="Section" value="File">
												<label class="filter-col" for="inputName" style="width: 45%;float: left;">Title</label>
												<label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload File:- Allowed file type : (docx, doc, pdf, xls, xlsx, ppt, pptx)</label>
												<div class="title-sec">
												<input type="text" class="form-control title doc_title file_MediaCaption1" id="doctitleInput-1" name="MediaCaption" onkeyup="formDataCheck()" style="width:45%; float: left;">
												</div>
												<input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.ppt,.pptx" name="File" id="docfileInput-1"  class="form-control file upload docfileInput"  data-targetinput="#file_MediaGUIDs" style="width: 45%;float: left; margin-left: 20px;">
												<div class="section1-add-more-btn" style="width: 5%;float: right; margin-left: 20px; margin-top: -32px;">
												    <div class="form-group change">
												        <label for="" style="margin: 5px 0;">&nbsp;</label><br/>
												        <a class="btn btn-success add-more"  mediaguid=""><i class="fa fa-plus-circle"></i></a>
												    </div>
												</div>
												
												<div class="progressBar progressBar-doc">
													<div class="bar"></div>
													<div class="percent">0%</div>
												</div>	
											</form>
										</div>
									</div>								
									<hr class="light-grey-hr-custom"/>
									<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>SECTION TWO:-</b> (Use this Section to Upload Media files)</h6>
									<hr class="light-grey-hr"/>
									    <!-- if videos are available -->
										<div class="after-video-add-more content-video-row1"  ng-if="formData.Media_video_count > 0" ng-repeat="(key, value) in formData.Media_video">
											<div class="row">
												<div class="col-md-5">
													<div class="form-group">
															<label for="inputName" class="control-label mb-10">Title
															</label>
															<input type="text" class="form-control content-tv1 title video_MediaCaption" name="video_MediaCaption[]" onkeyup="formDataCheck()" value="{{key}}" style="width: 420px;">
														</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
															<label class="filter-col" style="width: 82%;float: right;margin-right: 42px;">Video Link :- Allowed link type : (youtube, vimeo etc.) <!-- <em style="color: red">*</em> --></label>
															<input type="url" class="form-control content-v1 file video_file" name="video_file[]"  onkeyup="formDataCheck()" value="{{value}}" style="margin-left: 38px;
    width: 425px;">
														</div>
												</div>
												<div ng-if="$index+1 != formData.Media_video_count" class="col-md-1 section2-add-more-video">
												     <div class="form-group change"><label for="" style="margin: 5px 0;">&nbsp;</label><br><a class="btn btn-danger remove">-</a></div>
												</div>
												<div ng-if="$index+1 == formData.Media_video_count" class="col-md-1 section2-add-more-video">
												    <div class="form-group change">
												        <label for="" style="margin: 5px 0;">&nbsp;</label><br>
												        <a class="btn btn-success video-add-more"><i class="fa fa-plus-circle"></i></a>
												    </div>
												</div>
											</div>
										</div>	
										<!-- if videos are not available -->
										<div class="after-video-add-more content-video-row1"  ng-if="formData.Media_video_count == 0">
											<div class="row">
												<div class="col-md-5">
													<div class="form-group">
															<label for="inputName" class="control-label mb-10">Title
															</label>
															<input type="text" class="form-control content-tv1 title video_MediaCaption" name="video_MediaCaption[]" onkeyup="formDataCheck()" style="width: 420px;">
														</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
															<label class="filter-col" style="width: 82%;float: right;margin-right: 42px;">Video Link :- Allowed link type : (youtube, vimeo etc.) <!-- <em style="color: red">*</em> --></label>
															<input type="url" class="form-control content-v1 file video_file" name="video_file[]"  onkeyup="formDataCheck()" style="margin-left: 38px;
    width: 425px;">
														</div>
												</div>
												
												<div class="col-md-1 section2-add-more-video">
												    <div class="form-group change">
												        <label for="" style="margin: 5px 0;">&nbsp;</label><br>
												        <a class="btn btn-success video-add-more"><i class="fa fa-plus-circle"></i></a>
												    </div>
												</div>
											</div>
										</div>																
										<hr class="light-grey-hr"/>
										<!-- if audioes are available -->
										<div class="after-add-more1 content-audio-row1" ng-if="formData.Media_audio_count > 0" ng-repeat="row in formData.Media_audio.Records">
											<div class="row">
												<form enctype="multipart/form-data" action="../api/upload/file" method="post" class="col-md-12">	
														<input type="hidden" name="Section" value="Audio">
														<label class="filter-col" for="inputName" style="width: 45%;float: left;">Title</label>
														<label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload Audio File:- Allowed  only Mp3</label>
														<div class="title-sec">
														<input type="text" class="form-control title file_MediaCaption{{$index+1}}" id="audioTitleInput-{{$index+1}}" name="MediaCaption" value="{{row.MediaCaption}}" onkeyup="formDataCheck()" style="width:45%; float: left;" disabled>
														</div>
														<input type="file" accept="audio/mp3" name="File" id="audioFileInput-{{$index+1}}"  class="form-control file upload"  data-targetinput="#audio_MediaGUIDs" style="width: 45%;float: left; margin-left: 20px;" disabled>		

														<div ng-if="$index+1 != formData.Media_audio_count" class="section2-add-more-btn" style="width: 5%;float: right; margin-left: 20px; margin-top: -32px;">
														     <div class="form-group change"><label for="" style="margin: 5px 0;">&nbsp;</label><br><a mediaguid="{{row.MediaGUID}}" ng-click="deleteMedia(row.MediaGUID)" class="btn btn-danger remove">-</a></div>
														</div>	

														<div ng-if="$index+1 == formData.Media_audio_count" class="section2-add-more-btn" style="width: 5%;float: right;     margin-right: 3px; margin-top: -32px;">
														    <div class="form-group change">
														        <label for="" style="margin: 5px 0;">&nbsp;</label><br/>
														        <a class="btn btn-success add-more1"  mediaguid="{{row.MediaGUID}}"><i class="fa fa-plus-circle"></i></a>
														    </div>
														</div>
														<div class="progressBar progressBar-audio">
															<div class="bar"></div>
															<div class="percent">0%</div>
														</div>	
												</form>
											</div>											
										</div>
										<!-- if audio not available -->
										<div class="after-add-more1 content-audio-row1" ng-if="formData.Media_audio_count == 0">
											<div class="row">
												<form enctype="multipart/form-data" action="../api/upload/file" method="post" class="col-md-12">	
														<input type="hidden" name="Section" value="Audio">
														<label class="filter-col" for="inputName" style="width: 45%;float: left;">Title</label>
														<label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload Audio File:- Allowed  only Mp3</label>
														<div class="title-sec">
														<input type="text" class="form-control title audioTitleInput file_MediaCaption1" id="audioTitleInput-1" name="MediaCaption"  onkeyup="formDataCheck()" style="width:45%; float: left;">
														</div>
														<input type="file" accept="audio/mp3" name="File" id="audioFileInput-1"  class="form-control file upload audioFileInput"  data-targetinput="#audio_MediaGUIDs" style="width: 45%;float: left; margin-left: 20px;">

														<div  class="section2-add-more-btn" style="width: 5%;float: right;     margin-right: 3px; margin-top: -32px;">
														    <div class="form-group change">
														        <label for="" style="margin: 5px 0;">&nbsp;</label><br/>
														        <a class="btn btn-success add-more1"  mediaguid=""><i class="fa fa-plus-circle"></i></a>
														    </div>
														</div>
														<div class="progressBar progressBar-audio">
															<div class="bar"></div>
															<div class="percent">0%</div>
														</div>	
												</form>
											</div>											
										</div>
									
									<hr class="light-grey-hr-custom"/>
									<span style="cursor: pointer;color:blue;text-decoration: underline;" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="{{formData.PostCaption ? 'true' : 'false'}}" aria-controls="collapseExample">Click here </span> &nbsp;to add content manually
									<br>
									<div class="collapse {{formData.PostCaption ? 'show' : ''}}" id="collapseExample"><br>
										<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>SECTION THREE:-</b></h6>
										<hr class="light-grey-hr"/>
										<div class="button-list mt-25">
											
											<div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
																<label for="inputName" class="control-label mb-10">Title
																</label>
																<input type="text" class="form-control content-tv1 manual_title" name="PostCaption" id="PostCaption" value="{{formData.PostCaption}}" onkeyup="formDataCheck()">
															</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
																<label for="inputName" class="control-label mb-10">Content
																</label>
																<textarea rows="4" cols="100"  class="manual_text" name="PostContent" id="PostContent" onkeyup="formDataCheck()" style="border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #212121;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;">{{formData.PostContent}}</textarea>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<br>							
						</div>
					</div>
				</div>
			</div>								
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-success btn-sm" id="submit-btn" ng-click="editData(formData.PostGUID)" data-toggle="tooltip" title="">Save</button>
</div>