<style type="text/css">
	#view_model .modal-lg{
		max-width:1000px;
	}
	.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
		min-width: 50px;
	}
	.disabled-btn {
	  cursor: not-allowed !important;
	}
	.enabled-btn {
	  cursor: pointer!important;
	}
</style>
<input type="hidden" name="PostType" id="PostType" value="Content">
<input type="hidden" class="file_MediaGUIDs" id="file_MediaGUIDs" name="file_MediaGUIDs" value="">
<input type="hidden" class="audio_MediaGUIDs" id="audio_MediaGUIDs" name="audio_MediaGUIDs" value="">
<div class="modal-body">
	<div class="form-area">
		<div class="col-md-12">
				<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default card-view">
			<div class="">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="form-wrap">
								<form action="#" class="form-horizontal">
									<div class="form-body">
										
										<!-- <h6 class="txt-dark capitalize-font">Content details</h6> -->
									
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label col-md-12" style="text-align: left;">Course:</label>
													<div class="col-md-12">
														<p class="form-control-static" style="text-align: left;"> {{formData.ParentCategory.CategoryName}} </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-12" style="text-align: left;">Subject:</label>
													<div class="col-md-12" style="text-align: left;">
														<p class="form-control-static">  {{formData.CategoryNames}}</p>
													</div>
												</div>
											</div>
										</div>
										<!-- /Row -->
									</div>
									<div ng-if="formData.Media_file_count > 0">
									<hr class="light-grey-hr"/>
									<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>Documents :</b></h6>
									<hr class="light-grey-hr"/>
									
									<div class="row" ng-if="formData.Media_file_count > 0" ng-repeat="row in formData.Media_file.Records">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> {{row.MediaCaption}}  </p>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">File:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> <a href="javascript:void(0)" ng-click="FileInModalBox(API_URL,row.MediaURL,row.MediaCaption,formData.PostGUID)">File</a> </p>

												</div>
											</div>
										</div>
									</div>


									<!-- <div class="row" ng-if="formData.Media_file_count == 0">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> -  </p>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">File:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> <a href="#">-</a> </p>

												</div>
											</div>
										</div>
									</div> -->
								   </div>
									<!-- /Row -->
									
									<div ng-if="(formData.Media_video_count > 0 || formData.Media_audio_count > 0) || (formData.Media_video_count > 0 && formData.Media_audio_count > 0)">
										<hr class="light-grey-hr-custom"/>
									<h6 class="txt-dark normal_font"><!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>Audio and Video :</b></h6>
									<hr class="light-grey-hr"/>
									
									    <div class="row" ng-if="formData.Media_video_count > 0" ng-repeat="(key, value) in formData.Media_video">
									    	{{getIframe(value)}}
											<div class="col-md-4">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> {{key}}  </p>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Video:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static iframe"></p>

												</div>
											</div>
										</div>
										</div>
										<br>

										<!-- <div class="row" ng-if="formData.Media_video_count == 0">
											<div class="col-md-4">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> -  </p>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Video:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> <a href="#">-</a> </p>

												</div>
											</div>
										</div>
										</div> -->


										<div class="row" ng-if="formData.Media_audio_count > 0" ng-repeat="row in formData.Media_audio.Records">
											<div class="col-md-4">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> {{row.MediaCaption}}  </p>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Audio:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> <a href="#">
														
													<audio controls><source src="{{API_URL}}{{row.MediaURL}}" type="audio/ogg"><source src="{{API_URL}}{{row.MediaURL}}" type="audio/mpeg"></audio> </p>

												</div>
											</div>
										</div>
										</div>
										<br>
<!-- 
										<div class="row" ng-if="formData.Media_audio_count == 0">
											<div class="col-md-4">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> -  </p>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Audio:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> <a href="#">-</a> </p>

												</div>
											</div>
										</div>
										</div> -->
									</div>
										<!-- /Row -->
									
									<div ng-if="formData.PostCaption != ''">
										<hr class="light-grey-hr-custom"/>
									<h6 class="txt-dark normal_font">
									
										<!-- <i class="zmdi zmdi-account-box mr-10"></i> --><b>Manually Added Content :</b></h6>
									<hr class="light-grey-hr"/>
									<div class="button-list mt-25">
											<label class="control-label col-md-12" style="text-align: left;">Content Title:</label>
											<div class="col-md-12" style="font-weight: normal;">
												{{formData.PostCaption}}
											</div>
											<label class="control-label col-md-12" style="text-align: left;">Content Description:</label>
											<div class="col-md-12" style="font-weight: normal;">
											   <p ng-bind-html="formData.PostContent"></p>
											</div>											
										</div>
											<div class="clear">&nbsp;</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
			</div>								
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>