<style type="text/css">
#view_model .modal-lg{
max-width:1000px;
}
.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
min-width: 50px;
}
.disabled-btn {
cursor: not-allowed !important;
}
.enabled-btn {
cursor: pointer!important;
}
</style>
<input type="hidden" name="PostType" id="PostType" value="Content">
<input type="hidden" class="file_MediaGUIDs" id="file_MediaGUIDs" name="file_MediaGUIDs" value="">
<input type="hidden" class="audio_MediaGUIDs" id="audio_MediaGUIDs" name="audio_MediaGUIDs" value="">
<div class="modal-body">


	<!-- <div ng-if="type == 'file'">		
		<div class="row">			
			<div class="col-md-12">
				<div class="form-group">					
					<p class="form-control-static" ng-if="fileExtension == 'xls'"> <a href="{{content}}">File</a> </p>
					
					<p class="form-control-static" ng-if="fileExtension != 'xls'"> <a href="javascript:void(0)" ng-click="FileInModalBox(API_URL,content,title,id)">Click to open file</a> </p>
					
				</div>
			</div>
		</div>
   	</div> -->



	<div ng-if="type == 'video'">		
		<div class="row">
			{{getIframe(content)}}			
			<div class="col-md-12">
				<div class="form-group">					
					<p class="form-control-static iframe"></p>					
				</div>
			</div>
		</div>
   	</div>
	



	<div ng-if="type == 'audio'">
		<div class="row">			
			<div class="col-md-12">
				<div class="form-group">					
					<p class="form-control-static">							
					
					<audio controls autoplay><source src="{{content}}" type="audio/ogg"><source src="{{content}}" type="audio/mpeg"></audio> </p>					
				</div>
			</div>
		</div>
		<br>
	</div>
	<!-- /Row -->


	
	<div ng-if="type == 'content'">
		<div class="row">	
			<div class="col-md-12">
				<div class="form-group">									
					<p ng-bind-html="content"></p>
				</div>
			</div>
		</div>
	</div>

<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>