<div class="modal-body" style="overflow: auto;">
<div class="form-area">


<form id="add_form" name="add_form" autocomplete="off" >
<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Name</label>
		<input name="CouponsCode" type="text" class="form-control" value="" required="" maxlength="50">
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Expiry Date</label>
		<input name="ExpiryDate" type="text" id="ExpiryDate" class="form-control integer" maxlength="7" required>
	</div>
</div>


<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Discount in %</label>
		<input name="Discount" type="text" id="Discount" class="form-control integer" maxlength="3">		
	</div>
</div> 
</div>


<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Select Category</label>
		<select name="ProductsCategory[]" id="ProductsCategory" class="form-control select2" ng-model="ProductsSubCategory" ng-change="getProducts();" style="width:100%;" multiple>
		<option value="">Select SubCategory</option>	
		<optgroup ng-repeat="(key, row) in data.CategorySubCategoryList" label="{{key}}">
			<option ng-repeat="(key1, row1) in row" value="{{row1.SubCategoryID}}">{{row1.SubCategoryName}}</option>
		</optgroup>		
		</select>
	</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Apply Discount on Products</label>
		<select name="ProductsInclude[]" id="ProductsInclude" class="form-control select2" style="width:100%;" multiple>		
		<option ng-repeat="(key, row) in data.ProductsBySubCategoryList" value="{{row.ProductID}}">{{row.ProductName}}</option>
		</select>
	</div>
</div>
</div>


<div class="row">
<div class="col-md-12">
	<div class="form-group">		
		<input name="IsPublished" type="checkbox" value="1">&nbsp;Publish & Apply Coupon
	</div>
</div>
</div>

</form>
</div>
</div>


<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>

<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>