<div class="modal-body" style="overflow: auto;">
<div class="form-area">


<form id="edit_form" name="edit_form" autocomplete="off" >
<input type="hidden" name="CouponsID" id="CouponsID" value="{{formData.CouponsID}}">	
<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Name: </label><br/>
		<input name="CouponsCode" type="text" class="form-control" value="{{formData.CouponsCode}}" required="" maxlength="50">
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Expiry Date</label>
		<input name="ExpiryDate" type="text" id="ExpiryDate" value="{{formData.ExpiryDate | date:'dd-MM-yyyy'}}" class="form-control integer" maxlength="7" required>
	</div>
</div> 

<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Discount</label>
		<input name="Discount" type="text" id="Discount" value="{{formData.Discount}}" class="form-control integer" maxlength="10">
	</div>	
</div>
</div>


<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Select Category</label>
		<select name="ProductsCategory[]" id="ProductsCategory" class="form-control select2" ng-model="ProductsSubCategory" ng-change="getProducts();" style="width:100%;" multiple>
		<option value="">Select SubCategory</option>	
		<optgroup ng-repeat="(key, row) in data.CategorySubCategoryList" label="{{key}}">
			<option ng-repeat="(key1, row1) in row" value="{{row1.SubCategoryID}}">{{row1.SubCategoryName}}</option>
		</optgroup>		
		</select>
	</div>
</div>
</div>


<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label"><span class='mandatory'>*</span>Apply Discount on Products</label>
		<select name="ProductsInclude[]" id="ProductsInclude" class="form-control select2" style="width:100%;" multiple>		
		<option ng-repeat="(key, row) in data.ProductsBySubCategoryList" id="PEOpt{{row.ProductID}}" value="{{row.ProductID}}">{{row.ProductName}}</option>
		</select>
	</div>
</div>
</div>


<div class="row">
<div class="col-md-12">
	<div class="form-group">		
		<input name="IsPublished" type="checkbox" value="1" ng-checked="formData.IsPublished == 1">&nbsp;Publish & Apply Coupon
	</div>
</div>
</div>
</form>
</div>
</div>


<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="editData()">Save</button>

<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>