<div class="modal-body" style="overflow: auto;">
<div class="form-area">

<div class="row">
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Name: </label>
		<h5>{{formData.CouponsCode}}</h5>
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Expiry Date: </label>
		{{formData.ExpiryDate | date}}
	</div>
</div> 

<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Discount: </label>
		{{formData.Discount}}%
	</div>
</div>
</div>



<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label class="control-label">Applicable on Products: </label>		
		{{formData.CouponOnProductsStr}}	
	</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group">		
		<label class="control-label">Publish & Apply Coupon: </label>
		<label ng-if="formData.IsPublished == 1">Yes</label>
		<label ng-if="formData.IsPublished == 0">No</label>
	</div>
</div>
</div>
</form>
</div>
</div>


<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>