<div class="modal-body">

	<div class="form-area">

		<form id="add_form" name="add_form" autocomplete="off" >

			<div class="row">

				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label">Book Title <span class="text-danger">*</span></label>

						<input name="Title" type="text" class="form-control" value="" maxlength="50">

					</div>

				</div>
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label">Category <span class="text-danger">*</span></label>
						<select name="Category"  class="form-control">
							<option>Please Select</option>
							<option ng-repeat="rows in data.filterDataC" value="{{rows.ID}}" ng-selected="category == rows.Category">{{rows.Category}}</option>
						</select>
						<a href="" ng-click="loadFormAddCategory()" title="Add New Category" >Add New Category </a>
				
						<!-- <input name="Category" type="text" class="form-control" value="" maxlength="50"> -->

					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-6">

					<div class="form-group">
						<label class="control-label">Author <span class="text-danger">*</span></label>
						<input name="Author" type="text" class="form-control" value="" maxlength="50">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Accession Number <span class="text-danger">*</span></label>
						<input name="AccessionNumber" type="text" class="form-control" value="">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Synopsis</label>
						<textarea ui-tinymce="" class="manual_text Synopsis form-control" name="Synopsis" id="Synopsis" onkeyup=""></textarea>
					</div>
				</div>
			</div>
			 <input type="hidden" name="FormType" value="Book">
			 <input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">
			 <input type="hidden" class="AudioGUID" id="AudioGUID" name="AudioGUID" value="">
			 <input type="hidden" class="MediaGUIDBook" id="MediaGUIDBook" name="MediaGUIDBook" value="">
            <input type="hidden" name="Source" value="Direct"> 
            <div class="row">
	       	 <div class="col-md-6">
			  <div class="form-group">
				<label class="control-label">No. of Copy</label>
				<input type="text" name="TotalBook" value="0" class="form-control integer">
					
			 </div>
			 </div> 	
			<!--    <div class="col-md-6">
			   <div class="form-group">
				<label class="control-label">Video Url</label>
				<input type="text" name="VedioURL" value="" class="form-control" placeholder="http://">
			    </div>
			  </div> -->
	        </div> 

		</form>

	      
	       <!--  <div class="row">
	       	  <div class="col-md-6">
			  <div class="form-group">
				<label class="control-label">Upload File(.xls,.doc,.pdf)</label>
			
					<form enctype="multipart/form-data" action="../api/upload/file" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="Library">
						<input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.ppt,.pptx" name="File" id="fileInputs" class="form-control"  data-targetinput="#MediaGUID">
					</form>
				
				<div class="progressBars">
					<div class="bars"></div>
					<div class="percents"></div>
				</div>	
				<span>Allowed only .xls,.doc,.pdf</span>
			 </div>
			</div> 	
			<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Upload Audio Media File</label>
			
					<form enctype="multipart/form-data" action="../api/upload/file" method="post">
						<input type="hidden" name="Section" value="Audio">
						<input type="file" accept="audio/mp3" name="File" id="fileInputAudio" class="form-control fileInputAudio"  data-targetinput="#AudioGUID">
					</form>
					
				<div class="progressBarA">
					<div class="bars"></div>
					<div class="percents"></div>
				</div>	
				<span>Allowed only Mp3</span>
			 </div>
			</div>
	        </div> -->
	
		<div class="book">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group ">
						<label class="control-label">Image</label>
					<div id="picture-box" class="picture-box banner">
						<!-- picture display -->
				
					 <img id="picture-box-picture" ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/imageupload.png"> 
						<img id="picture-box-picture" ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}">

						<!-- picture upload form -->
						<div class="picture-upload">
							<img src="./asset/img/upload.svg" id="picture-uploadBtn">
							<form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">
								<input type="hidden" name="Section" value="LibraryBook">
								<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDBook">
							</form>
						</div>
						<!-- progressbar -->
						<div class="progressBar">
							<div class="bar"></div>
							<div class="percent">0%</div>
						</div>
					</div>
				</div>
			</div>
       </div>
	   </div>


</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>


<script type="text/javascript">
	  function applytinymce(){
        tinymce.init({
            selector: '#Synopsis',
            setup: function(editor) {
                editor.on('keyup', function(e) {
                console.log('edited. Contents: ' + editor.getContent());
                formDataCheck(editor.getContent());
                });
            }
        });  
    }
</script>


