<style type="text/css">
	#edit_model .modal-md{
		max-width:700px;
	}
</style>
<div class="modal-body">
  <div class="form-area">
		<form id="editd_form" name="editd_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title <span class="text-danger">*</span></label>
						<input name="Title" type="text" class="form-control" value="{{formData.Title}}" maxlength="50">
					</div>
				</div>
               <div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Category <span class="text-danger">*</span></label>
						<select name="Category" class="form-control">
							<option ng-repeat="rows in data.CategoryData" value="{{rows.ID}}" ng-selected="rows.ID==formData.CategoryID">{{rows.Category}}</option>
						</select>
					<a href="" ng-click="loadFormAddCategory()" title="Add New Category" >Add New Category </a>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Synopsis</label>
						<textarea rows="4" cols="100" ui-tinymce="" class="manual_text Synopsis form-control" name="Synopsis" id="Synopsis" onkeyup="" value="{{formData.Synopsis}}">{{formData.Synopsis}}</textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Digital Type <span class="text-danger">*</span></label>
						<select name="DigitalType"  class="form-control" ng-model="formData.DigitalType">
							<option value="">Please Select</option>
							<option value="Video" ng-selected="formData.DigitalType == 'Video'">Video</option>
							<option value="Audio" ng-selected="formData.DigitalType == 'Audio'">Audio</option>
							<option value="File" ng-selected="formData.DigitalType == 'File'">Document</option>
						</select>
					</div>
				</div>
			
			<!-- <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Author <span class="text-danger">*</span></label>
						<input name="Author" type="text" value="{{formData.Author}}" class="form-control" value="" maxlength="50">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Accession Number <span class="text-danger">*</span></label>
						<input name="AccessionNumber" type="text" class="form-control" value="{{formData.AccessionNumber}}">
						
					</div>
				</div>				
			</div> -->

			<!-- <div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Synopsis</label>
						<textarea rows="4" cols="100" ui-tinymce="" class="manual_text Synopsis form-control" name="Synopsis" id="Synopsis" onkeyup="" value="{{formData.Synopsis}}">{{formData.Synopsis}}</textarea>
					</div>
				</div>
			</div> -->
			<input name="BookGUID" id="BookGUID" type="hidden" class="form-control" value="{{formData.BookGUID}}">
			     <input type="hidden" name="FormType" value="Digital">
				 <input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">
				 <input type="hidden" class="MediaGUIDBook" id="MediaGUIDBook" name="MediaGUIDBook" value="">
				 <input type="hidden" class="AudioGUID" id="AudioGUID" name="AudioGUID" value="">
				 <input type="hidden" class="MediaGUIDBook" id="MediaIDBook" name="MediaIDBook" value="{{formData.MediaIDBook}}">
				 <input type="hidden" class="MediaID" id="MediaID" name="MediaID" value="{{formData.MediaID}}">

				 <input type="hidden" class="Audio" id="Audio" name="Audio" value="{{formData.Audio}}">
			
	       	<!--  <div class="col-md-6">
			  <div class="form-group">
				<label class="control-label">Total Books</label>
				<input type="text" name="TotalBook"  class="form-control integer" value="{{formData.TotalBook}}">
			 </div>
			 </div>  -->	
			   <div class="col-md-6" ng-if="formData.DigitalType == 'Video'">
			   <div class="form-group">
				<label class="control-label">Video Url</label>
				<input type="Url" name="VedioURL"  class="form-control" placeholder="http://" value="{{formData.VedioURL}}">
			    </div>
			  </div>
	       
				 
		</form>

		  
	       	<div class="col-md-6" ng-if="formData.DigitalType == 'File'">
			<div class="form-group">
				<label class="control-label">Upload Document</label>
			
					<form enctype="multipart/form-data" action="{{APIURL_FILE}}" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="Library">
						<input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.ppt,.pptx" name="File" id="fileInputs" class="form-control"  data-targetinput="#MediaGUID">
					</form>
					<!-- progressbar -->
				<div class="progressBars">
					<div class="bars"></div>
					<div class="percents"></div>
				</div>	
				<span>Allowed only .xls,.doc,.pdf</span>
			 </div>
			</div>
			<div class="col-md-6" ng-if="formData.DigitalType == 'Audio'">
			<div class="form-group">
				<label class="control-label">Upload Audio Media File</label>
			
					<form enctype="multipart/form-data" action="../api/upload/file" method="post">
						<input type="hidden" name="Section" value="Audio">
						<input type="file" accept="audio/mp3" name="File" id="fileInputAudio" class="form-control fileInputAudio"  data-targetinput="#AudioGUID">
					</form>
					<!-- progressbar -->
				<div class="progressBarA">
					<div class="bars"></div>
					<div class="percents"></div>
				</div>	
				<span>Allowed only Mp3</span>
			 </div>
			</div>
	        </div>
	
		<div class="book">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group ">
						<label class="control-label">Image</label>
					<div id="picture-box" class="picture-box banner">
						<!-- picture display -->
				
					 <img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png"> 
						<img id="picture-box-picture" ng-if="formData.BMediaURL" ng-src="{{formData.BMediaURL}}">

						<!-- picture upload form -->
						<div class="picture-upload">
							<img src="./asset/img/upload.svg" id="picture-uploadBtn">
							<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
								<input type="hidden" name="Section" value="LibraryBook">
								<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDBook">
							</form>
						</div>
						<!-- progressbar -->
						<div class="progressBar">
							<div class="bar"></div>
							<div class="percent">0%</div>
						</div>
					</div>
				</div>
			</div>
       </div>
	   </div>
		
	
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editDatad()">Update</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoaderSet">
</div>