<style type="text/css">
	#issunebook_model .modal-md{
		max-width:600px;
	}
</style>
<div class="modal-body">
	<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title </label>
						<input name="Title" type="text" class="form-control" value="{{formData.Title}}" maxlength="50" readonly="">
					</div>
				</div>
               <div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Category </label>
						<input name="Category" type="text" class="form-control" value="{{formData.Category}}" maxlength="50" readonly="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Author </label>
						<input name="Author" type="text" value="{{formData.Author}}" class="form-control" value="" maxlength="50" readonly="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Accession Number </label>
						<input name="AccessionNumber" type="text" class="form-control" value="{{formData.AccessionNumber}}" readonly="">
						<input name="BookID" type="hidden" class="form-control" value="{{formData.BookID}}">
						<input name="BookGUID" type="hidden" class="form-control" value="{{formData.BookGUID}}">
					</div>
				</div>				
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Select User <span class="text-danger">*</span></label>
						<select name="UserID" id="UserID" class="form-control chosen-select">
							<option value=""></option>
							<option ng-repeat="row in data.UserData" value="{{row.UserID}}">{{row.FullName}}</option>

						</select>
						<!-- <input id="input-search" name="mysearch" ng-keyup="$event.keyCode == 13 ? loadItems({{mysearch}}) : null" placeholder="Search">
						  <span id="input-search-clear" class="fa fa-times-circle"></span>
						</input> -->

					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Issue Date <span class="text-danger">*</span></label>
						<input name="IssueDate" type="text" id="IssueDate" class="form-control" value=""  placeholder="dd-mm-yyyy">
					</div>
				</div>				
			</div>





</div>





<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="PermissionDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="PermissionDataLoading" ng-click="IssueBookData()">Book Issue</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="PermissionDataLoading" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
</div>





