
<div class="modal-body">

	<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title </label>
						<input name="Title" type="text" class="form-control" value="{{formData[0].Title}}" maxlength="50" readonly="">
					</div>
				</div>
               <div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Category </label>
						<input name="Category" type="text" class="form-control" value="{{formData[0].Category}}" maxlength="50" readonly="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Author </label>
						<input name="Author" type="text" value="{{formData[0].Author}}" class="form-control" value="" maxlength="50" readonly="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Accession Number </label>
						<input name="AccessionNumber" type="text" class="form-control" value="{{formData[0].AccessionNumber}}" readonly="">
						<input name="BookID" type="hidden" class="form-control" value="{{formData[0].BookID}}">
						<input name="BookGUID" type="hidden" class="form-control" value="{{formData[0].BookGUID}}">
					</div>
				</div>				
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">User <span class="text-danger">*</span></label>
						
						<select name="UserIDs" id="UserIDs" class="form-control" ng-model="key" ng-change="getBookDataByKey(key)">
							<option value=""></option>

							<option ng-repeat="(key, rowu) in formData" value="{{key}}" ng-selected="rowu.UserID == formData.UserID">{{rowu.FullName}}</option>
						
						</select>

						<input type="hidden" name="UserID" value="{{formData[key].UserID}}">
						
						<!-- <input name="FullName" type="text" class="form-control" value="{{formData.FullName}}" readonly="">
						<input name="UserID" type="hidden" class="form-control" value="{{formData.UserID}}" readonly=""> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Issue Date <span class="text-danger">*</span></label>
						<input name="IssueDate" type="text" class="form-control"  value="{{formData[key].IssueDate | date : 'dd-MM-yyyy'}}"  readonly="">
					</div>
				</div>				
			</div>
			<div class="row">
				
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Return Date <span class="text-danger">*</span></label>
						<input name="ReturnDate" id="ReturnDate" type="text" class="form-control" value="" placeholder="dd-mm-yyyy">
					</div>
				</div>				
			</div>





</div>





<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="PermissionDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="PermissionDataLoading" ng-click="ReturnBookData()">Book Return</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="PermissionDataLoading" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
</div>





