<div class="modal-body">
  <div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Title </label>
						
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.Title}}</p>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Image </label>
						
						<div class="col-md-9" ng-if="formData.BMediaThumbURL">

							<img src="{{formData.BMediaThumbURL}}">

						</div>
					</div>
				</div>
               <div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Category </label>
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.Category}}</p>

						</div>
					</div>
				</div>
			
				<div class="col-md-6" ng-if="formData.DigitalType=='Video'">
					<div class="form-group">
						<label class="control-label col-md-12">Video </label>
						<div class="col-md-9">
								{{getIframe(formData.VedioURL)}}
								<p class="form-control-static iframe"></p>

						</div>
					</div>
				</div>				
		
				<div class="col-md-6" ng-if="formData.DigitalType=='File'">
					<div class="form-group">
						<label class="control-label col-md-12">File </label>
						<div class="col-md-9">

							<p class="form-control-static" ng-if="fileExtension == 'xls' || fileExtension == 'xlsx'"> <a href="{{formData.MediaURL}}" ng-if="formData.MediaID != 0" download >Download</a></p>
							<!-- <a href="" ng-click="loadContentView(API_URL,formData.MediaURL,formData.Title,formData.BookGUID)">File</a> -->

					  <p class="form-control-static"  ng-if="fileExtension == 'pdf'"> <a href="javascript:void(0)" ng-if="formData.MediaID != 0" ng-click="FileInModalBox(API_URL,formData.MediaURL,formData.Title,formData.BookGUID)">File</a></p>

						</div>
					</div>
				</div>
				<div class="col-md-6" ng-if="formData.DigitalType=='Audio'">
					<div class="form-group">
						<label class="control-label col-md-12">Audio </label>
						<div class="col-md-9">

							<p class="form-control-static"> <audio controls=""><source src="{{formData.AudioURL}}" type="audio/ogg"><source src="{{formData.AudioURL}}" type="audio/mpeg"></audio></p>

						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label col-md-12">Synopsis</label>
						<div class="col-md-12">						
							<p ng-bind-html="formData.Synopsis" style="word-break: break-word;"></p>
						</div>
					</div>
				</div>				
			</div>
				
	

			
		</form>
	
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>





