<style type="text/css">
	#view_model .modal-lg{
		max-width:1000px;
	}
	.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
		min-width: 50px;
	}
	.disabled-btn {
	  cursor: not-allowed !important;
	}
	.enabled-btn {
	  cursor: pointer!important;
	}
	iframe{
		width: 300px!important;
    	height: 200px!important;
	}
</style>
<input type="hidden" name="PostType" id="PostType" value="Content">
<input type="hidden" class="file_MediaGUIDs" id="file_MediaGUIDs" name="file_MediaGUIDs" value="">
<input type="hidden" class="audio_MediaGUIDs" id="audio_MediaGUIDs" name="audio_MediaGUIDs" value="">
<div class="modal-body">
	<div class="form-area">
		<div class="col-md-12">
				<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default card-view">
			<div class="">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="form-wrap">
								<form action="#" class="form-horizontal">
									
									
									
									<div ng-if="ContentType == 'video'">										
									    <div class="row">
									    	{{getIframe(URL_Data)}}
											<div class="col-md-12">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> {{Title}}  </p>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Video:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static iframe"></p>

												</div>
											</div>
										</div>
										</div>
										<br>
									</div>
									<div ng-if="ContentType == 'audio'">
										<div class="row">
											<div class="col-md-12">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Title:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> {{Title}}  </p>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label col-md-12" style="text-align: left;">Audio:</label>
												<div class="col-md-12" style="text-align: left;">
													<p class="form-control-static"> <a href="#">
														
													<audio controls><source src="{{URL_Data}}" type="audio/ogg"><source src="{{URL_Data}}" type="audio/mpeg"></audio> </p>

												</div>
											</div>
										</div>
										</div>
										<br>
									</div>
										<!-- /Row -->							
									
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
			</div>								
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>