<div class="modal-body">
  <div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Title </label>
						
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.Title}}</p>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Image </label>
						
						<div class="col-md-9" ng-if="formData.BMediaThumbURL">

							<img src="{{formData.BMediaThumbURL}}">

						</div>
					</div>
				</div>
               <div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Category </label>
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.Category}}</p>

						</div>
					</div>
				</div>
			
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Author </label>
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.Author}}</p>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Accession Number </label>
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.AccessionNumber}}</p>

						</div>
					</div>
				</div>				
			
				
			
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">No of copy </label>
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.TotalBook}}</p>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Available Book </label>
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.available_book}}</p>

						</div>
					</div>
				</div>				
			
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-12">Issued Book </label>
						<div class="col-md-9">

							<p class="form-control-static"> {{formData.unavailable_book}}</p>

						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label col-md-12">Synopsis</label>
						<div class="col-md-12">						
							<p ng-bind-html="formData.Synopsis" style="word-break: break-word;"></p>
						</div>
					</div>
				</div>
						
			</div>
	
		</form>
	
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>





