<style type="text/css">
   #add_model .modal-lg{
   max-width: 900px !important;
   }
   .chosen-select {
	    width: 330px;
	}
   /* .nav.nav-tabs {
   float: left;
   display: block;
   margin-right: 20px;
   border-bottom:0;
   border-right: 1px solid #ddd;
   padding-right: 15px;
   height: 400px;
   }
   .nav-tabs .nav-link {
   border: 1px solid transparent;
   border-top-left-radius: .25rem;
   border-top-right-radius: .25rem;
   background: #ccc;
   }
   .nav-tabs .nav-link.active {
   color: #495057;
   background-color:#007bff !important;
   border-color: transparent !important;
   }
   .nav-tabs .nav-link {
   border: 1px solid transparent;
   border-top-left-radius: 0rem!important;
   border-top-right-radius: 0rem!important;
   }
   .tab-content>.active {
   display: block;
   /*background: #007bff;
   min-height: 165px;
   }*/
   /*.nav.nav-tabs {
   float: left;
   display: block;
   margin-right: 20px;
   border-bottom: 0;
   border-right: 1px solid transparent;
   padding-right: 15px;
   }*/
</style>
<div ng-app>
   <div class="modal-body">
      <div class="form-area" ng-init="showDiv = true">
         <div class="form-group">

         <div id="picture-box" class="picture-box banner">

            <!-- picture display -->

            <img id="picture-box-picture" ng-src="./asset/img/default-category.png">



            <!-- picture upload form -->

            <div class="picture-upload">

               <img src="./asset/img/upload.svg" id="picture-uploadBtn">

               <form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">

                  <input type="hidden" name="Section" value="ProfilePic">

                  <input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">

               </form>

            </div>

            <!-- progressbar -->

            <div class="progressBar">

               <div class="bar"></div>

               <div class="percent">0%</div>

            </div>

         </div>

      </div>
         <form id="add_form" name="add_form" autocomplete="off" >
            <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
            <input type="hidden" name="MediaName" id="MediaName" value="">
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">First Name <span style="color: red">*</span></label>
                     <input name="FirstName" type="text" class="form-control" value="" maxlength="50">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">Last Name <span style="color: red">*</span></label>
                     <input name="LastName" type="text" class="form-control" value="" maxlength="50">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">Email <span style="color: red">*</span></label>
                     <input name="Email" type="text" class="form-control" value="" maxlength="50" onkeyup="validateEmail(this);" onblur="validateEmail(this);">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">Contact No. <span style="color: red">*</span></label>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="basic-addon1">+91</span>
                        </div>
                        <input name="PhoneNumber"  type="text" class="form-control integer"  value="" maxlength="10" >
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label">Role <span style="color: red">*</span></label>
                     <select name="UserTypeID" id="UserTypeID" class="form-control" onchange="checkSubject(this.value)">
                        <option value="">Please Select</option>
                        <option ng-repeat="(key, rows) in data.Roles" value="{{rows.UserTypeID}}" ng-selected="UserTypeID == rows.UserTypeID">{{rows.UserTypeName}}</option>
                     </select>
                     <a ng-click="loadFormCategory()" style="color:blue">Add New Role</a>
                  </div>
               </div>
               <div class="col-md-3 mt-2">
                  <div class="form-group">
                     <label class="control-label">Admin  Access</label><br>                                
                     <label class="control-label mt-2" style="width: 10%;float: left;">Yes</label>
                     <input name="Access" type="radio" value="Yes" style="width: 10%;float: left;" ng-click="showDiv = true" checked="" class="mt-2">
                     <label class="control-label mt-2" style="width: 10%;float: left;">No</label>
                     <input name="Access" type="radio" value="No" style="width: 10%;float: left;" ng-click="showDiv = false" class="mt-2">
                  </div>
               </div>
               <div class="col-md-3 mt-2">
                  <div class="form-group">
                     <label class="control-label">App  Access</label><br>                                
                     <label class="control-label mt-2" style="width: 10%;float: left;">Yes</label>
                     <input name="AppAccess" type="radio" value="Yes" style="width: 10%;float: left;" checked="" class="mt-2">
                     <label class="control-label mt-2" style="width: 10%;float: left;">No</label>
                     <input name="AppAccess" type="radio" value="No" style="width: 10%;float: left;" class="mt-2">
                  </div>
               </div>
            </div>
            <div class="row" id="Subject" style="display: none;">
               <div class="col-md-12">
                  <div class="form-group">
                     <label class="control-label">Select Course</label>
                     <select name="CourseID[]" class="form-control chosen-select" ng-model="Subject" ng-change="getSubject(Subject,'add')" multiple="multiple">
                        <option ng-repeat="Course in data.Course" value="{{Course.CategoryID}}">{{Course.CategoryName}}</option>
                     </select>
                  </div>
               </div>
               <div class="col-md-4" ng-repeat="sub in data.Subject">
                  <div class="form-group">
                      <label class="control-label" ng-if="key==0">Select Subject</label>
                     
                     <label class="control-label" ng-if="key>0 && key<3"></label>
                     <br ng-if="key<3">
                     <input type="checkbox" name="SubjectID[]" value="{{sub.CategoryID}}">{{sub.CategoryName}}
                  </div>
               </div>
            </div>
            <input name="Password" type="hidden" class="form-control" value='123456' maxlength="12">
             
            <div ng-hide="showDiv" >
               <div >
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#PersonalDetails" role="tab" aria-controls="PersonalDetails">Personal Details</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#EmergencyDetails" role="tab" aria-controls="EmergencyDetails">Emergency</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#NomineeDetails" role="tab" aria-controls="NomineeDetails">Nominee</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Eduction" role="tab" aria-controls="Eduction">Qualification</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#WorkExperience" role="tab" aria-controls="WorkExperience">Work Experience</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#JobsDetails" role="tab" aria-controls="JobsDetails">Jobs Details</a>
                     </li>
                    <!--  <li class="nav-item"  id="subject_tabs" style="display: none;">
                        <a class="nav-link" data-toggle="tab" href="#Subject" role="tab" aria-controls="Subject">Subject</a>
                     </li> -->
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#SocialMedia" role="tab" aria-controls="SocialMedia">Social Media</a>
                     </li>
                  </ul>
                  <div class="tab-content" style="margin:15px;">
                  	<!-- Personal details-->
                     <div class="tab-pane active" id="PersonalDetails" role="tabpanel">
                        <div class="row">                           
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Gender <span style="color: red">*</span></label><br>
                                 <label class="control-label" style="width: 8%;float: left;">Male</label>
                                 <input name="Gender" type="radio" value="Male" style="width: 20%;float: left;">
                                 <label class="control-label" style="width: 10%;float: left;">Female</label>
                                 <input name="Gender" type="radio" value="Female" style="width: 20%;float: left;">
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Date of Birth <span style="color: red">*</span></label>
                                 <input name="BirthDate"  type="text"  class="form-control BirthDate" id="BirthDate" value="" placeholder="dd/mm/yyyy" readonly>
                                 <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span> -->
                              </div>
                           </div>
                        </div>
                        <div class="row">                           
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Marital Status</label><br>
                                 <select name="MaritalStatus" class="form-control" ng-model="MaritalStatus">
                                    <option value="">Please select</option>
                                    <option value="single">Single</option>
                                    <option value="married">Married</option>
                                    <option value="widowed">Widowed</option>
                                    <option value="divorced">Divorced</option>
                                    <option value="seprate">Seprated</option>
                                    <option value="living in">Living in</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-md-6" ng-if="MaritalStatus == 'married'">
                              <div class="form-group">
                                 <label class="control-label">Anniversary Date</label>
                                 <input name="AnniversaryDate" id="AnniversaryDate" type="text" class="form-control AnniversaryDate" value="" placeholder="dd/mm/yyyy" onclick="getCalendar()" readonly>
                              
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Address <span style="color: red">*</span></label><br>
                                 <textarea class="form-control ng-binding" name="Address" rows="10" cols="10" onkeyup="maxCharactersLimit(this, 200);" onblur="maxCharactersLimit(this, 200);"></textarea>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Select State <span style="color: red">*</span></label>
                                 <select name="StateID" id="State" class="form-control chosen-select" ng-model="state" ng-change="getCities(state)">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="row in data.states" value="{{row.State_id}}">{{row.StateName}}</option>
                                 </select>
                               </div>
                               <div class="form-group">
                                 <label class="control-label">Select City <span style="color: red">*</span></label>
                                 <select name="CityName" id="City" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="row in data.cities" value="{{row.name}}">{{row.name}}</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">ZIP Code <span style="color: red">*</span></label><br>
                                 <input name="CityCode" type="text" class="form-control integer" value="" maxlength="6">
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('PersonalDetails')">Save</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('PersonalDetails','exit')">Save & Exit</button>
                           <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
                        </div>
                     </div>

                     <!-- Emergency Details-->
                     <div class="tab-pane" id="EmergencyDetails" role="tabpanel">
                         <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Name of Person</label>
                                 <div class="input-group mb-3">
                                    <input name="Emergency"  type="text" class="form-control"  value="" maxlength="100">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Relation with Person</label><br>
                               <input name="RelationWithEmergency"  type="text" class="form-control"  value=""  maxlength="100">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Contact No.</label>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                    <input name="EmergencyPhoneNumber"  type="text" class="form-control integer"  value="" maxlength="10" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Gender</label><br>
                                 <label class="control-label" style="width: 8%;float: left;">Male</label>
                                 <input name="EmergencyGender" type="radio" value="Male" style="width: 8%;float: left;">
                                 <label class="control-label" style="width: 10%;float: left;">Female</label>
                                 <input name="EmergencyGender" type="radio" value="Female" style="width: 8%;float: left;">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Address</label><br>
                                 <textarea class="form-control ng-binding" name="EmergencyAddress" rows="10" cols="10" onkeyup="maxCharactersLimit(this, 200);" onblur="maxCharactersLimit(this, 200);"></textarea>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Select State</label>
                                 <select name="EmergencyState" id="EmergencyState" class="form-control chosen-select" ng-model="EmergencyState" ng-change="getCitiesByStateNames(EmergencyState)">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="rows in data.states" value="{{rows.StateName}}">{{rows.StateName}}</option>
                                 </select>
                               </div>
                               <div class="form-group">
                                 <label class="control-label">Select City</label>
                                 <select name="EmergencyCityName" id="EmergencyCityName" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="rowc in data.CitiesEmergency" value="{{rowc.name}}">{{rowc.name}}</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">ZIP Code</label><br>
                                 <input name="EmergencyCityCode" type="text" class="form-control integer" value="" maxlength="6">
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('EmergencyDetails')">Save</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('EmergencyDetails','exit')">Save & Exit</button>
                           <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
                        </div>
                     </div>

                     <!-- NomineeDetails Details-->
                     <div class="tab-pane" id="NomineeDetails" role="tabpanel">
                     	 <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Nominee</label>
                                 <div class="input-group mb-3">
                                    <input name="Nominee"  type="text" class="form-control"  value="" maxlength="100">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Relation with nominee</label><br>
                               <input name="RelationWithNominee"  type="text" class="form-control"  value="" maxlength="100">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Contact No.</label>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                    <input name="NomineePhoneNumber"  type="text" class="form-control integer"  value="" maxlength="10" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Gender</label><br>
                                 <label class="control-label" style="width: 8%;float: left;">Male</label>
                                 <input name="NomineeGender" type="radio" value="Male" style="width: 8%;float: left;">
                                 <label class="control-label" style="width: 10%;float: left;">Female</label>
                                 <input name="NomineeGender" type="radio" value="Female" style="width: 8%;float: left;">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Address</label><br>
                                 <textarea class="form-control ng-binding" name="NomineeAddress" rows="10" cols="10" onkeyup="maxCharactersLimit(this, 200);" onblur="maxCharactersLimit(this, 200);"></textarea>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Select State</label>
                                 <select name="NomineeState" id="NomineeState" class="form-control chosen-select" ng-model="NomineeState" ng-change="getCitiesByStateName(NomineeState)">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="rows in data.states" value="{{rows.StateName}}">{{rows.StateName}}</option>
                                 </select>
                               </div>
                               <div class="form-group">
                                 <label class="control-label">Select City</label>
                                 <select name="NomineeCityName" id="NomineeCityName" class="form-control">
                                    <option value="">Please Select</option>
                                    <option ng-repeat="rowc in data.CitiesNominee" value="{{rowc.name}}">{{rowc.name}}</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">ZIP Code</label><br>
                                 <input name="NomineeCityCode" type="text" class="form-control integer" value="" maxlength="6">
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('NomineeDetails')">Save</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('NomineeDetails','exit')">Save & Exit</button>
                           <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
                        </div>
                     </div>

                      <!-- Eduction Qualification-->
                     <div class="tab-pane" id="Eduction" role="tabpanel">
                        <div id="dynamic_field">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"> Qualification <span style="color: red">*</span></label>
                                    <select name="Qualification[]"  class="form-control chosen-select"  ng-model="Educations" >
                                       <option value=""></option>
                                       <option ng-repeat="qua in data.qualification" value="{{qua.Qualification}}">{{qua.Qualification}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Specialization <span style="color: red">*</span></label>
                                    <input name="Specialization[]" type="text" class="form-control" value="" >
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">University / Institute <span style="color: red">*</span></label><br>
                                    <input name="Univercity[]" type="text" class="form-control" value="">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Passing Out Year <span style="color: red">*</span></label><br>
                                    <select name="PassingYear[]" id="Year" class="form-control">
                                       <option value=''>Select Year</option>
                                       <option ng-repeat="(key, y) in PassingOutYear" value="{{y}}">{{y}}</option>
                                    </select>   
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Percentage % <span style="color: red">*</span></label>
                                    <input name="Percentage[]" type="text" class="form-control integer Percentage" value="" placeholder="%" maxlength="3">
                                 </div>
                              </div>
                           </div>
                          <div class="col" style="margin-top: 28px;">
                              <div class="form-group">
                                 <label class="control-label mb-10"></label>
                                 <button type="button" name="add" ng-click="clickQua()" class="btn btn-success" ng-init="count=0">+</button>
                              </div>
                           </div> 
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('Qualification')">Save</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('Qualification','exit')">Save & Exit</button>
                           <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
                        </div>
                     </div>

                      <!-- job Profile-->
                     <div class="tab-pane" id="JobsDetails" role="tabpanel">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Job <span style="color: red">*</span></label><br>
                                 <input name="Job" type="text" class="form-control" value="">
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Department <span style="color: red">*</span></label><br>
                                 <select  name="Department" class="form-control">
                                    <option value=""></option>
                                    <option ng-repeat="dep in data.Department" value="{{dep.DepartmentID}}">{{dep.DepartmentName}}</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                           	<div class="form-group">
                           		<label class="control-label">Designation <span style="color: red">*</span></label>
                           		<input name="JobDesignation" type="text" class="form-control" value="" >
                           	</div>
                           </div>
                           <div class="col-md-6">
                           	<div class="form-group">
                              

                           		<label class="control-label">Reporting Manager <span style="color: red">*</span></label><br>
                           		<select name="ReportingManager"  class="form-control chosen-select" >
                                    <option value=""></option>
                                    <option value="{{InstituteID}}" ng-if="data.dataList.length == 0">{{InstituteName}}</option>
                                    <option ng-repeat="qua in data.dataList" value="{{qua.UserID}}" ng-if="formData.UserID != qua.UserID" ng-selected="qua.UserID==formData.ReportingManager">{{qua.FullName}}</option>
                                 </select>
                           	</div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Joining Date <span style="color: red">*</span></label>
                                 <input name="JoiningDate" type="text" onclick="getJoiningDate()" class="form-control JoiningDate" id="JoiningDate" value="" placeholder="dd/mm/yyyy" ng-change="getJoindate(Date)" ng-model="Date">
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label">Appraisal Date <span style="color: red">*</span></label><br>
                                 <input name="AppraisalDate" onclick="getAppraisalDate()" type="text" class="form-control AppraisalDate" id="AppraisalDate" value="{{Date}}" placeholder="dd/mm/yyyy">
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('JobsDetails')">Save</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('JobsDetails','exit')">Save & Exit</button>
                           <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
                        </div>
                     </div>

                      <!-- Work Experience-->
                     <div class="tab-pane" id="WorkExperience" role="tabpanel">
                        <div id="dynamic_field_exp">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Employer</label>
                                    <input name="Employer[]" type="text" class="form-control" value="" >
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Industries</label><br>
                                    <select name="Industries[]" type="text" class="form-control" value="">
                                       <option value=""></option>
                                       <option ng-repeat="indu in data.Industries" value="{{indu.IndustryID}}">{{indu.IndustryName}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Position</label><br>
                                    <input name="ExpDesignation[]" type="text" class="form-control" value="">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Job Profile</label><br>
                                    <input name="JobProfile[]" type="text" class="form-control" value="">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Started Working From</label>
                                    <input name="From[]" type="text" onclick="getCalendarForm()" class="form-control integer Form" value="" placeholder="dd/mm/yyyy" ng-model='startDate'>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label">Started Working To</label>
                                    <input name="To[]" type="text" onclick="getCalendarTo()" class="form-control integer To" value="{{startDate}}" placeholder="dd/mm/yyyy" >
                                 </div>
                              </div>
                           </div>
                           <div class="col" style="margin-top: 28px;">
                              <div class="form-group">
                                 <label class="control-label mb-10"></label>
                                 <button type="button" name="addExp" class="btn btn-success" ng-click="click()">+</button>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('WorkExperience')">Save</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('WorkExperience','exit')">Save & Exit</button>
                           <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
                        </div>
                     </div>


                      <!--Social Media-->
                     <div class="tab-pane" id="SocialMedia" role="tabpanel">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> 
                                    <span class="input-group-btn"> <button type="button" class="btn btn-icon-anim btn-facebook btn-square"><span class="fa fa-facebook"></span></button> </span> <input type="text" id="FacebookURL" name="FacebookURL" class="form-control" placeholder="http://www.facebook.com" value="" > 
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> 
                                    <span class="input-group-btn"> <button type="button" class="btn btn-icon-anim btn-twitter btn-square"><span class="fa fa-twitter"></span></button> </span> <input type="text" id="TwitterURL" name="TwitterURL" class="form-control" placeholder="http://www.twitter.com" value=""> 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> <span class="input-group-btn"> <button class="btn btn-linkedin btn-icon-anim btn-square"><span class="fa fa-linkedin"></span></button> </span> <input type="text" id="LinkedInURL" name="LinkedInURL" class="form-control" placeholder="http://www.linkedin.com"  value=""> 
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <div class="input-group"> 
                                    <span class="input-group-btn"> <button class="btn btn-googleplus btn-icon-anim btn-square"><span class="fa fa-google-plus"></span></button> </span> <input type="text" id="GoogleURL" name="GoogleURL" class="form-control" placeholder="http://www.googleplus.com"  value=""> 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal" onclick="location.reload();">Cancel</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('SocialMedia')">Save</button>
                           <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('SocialMedia','exit')">Save & Exit</button>
                           <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
                        </div>
                     </div>

                      <!--course Subject-->
                     <div class="tab-pane"  role="tabpanel">
                        
                     </div>
                  </div>
               </div>
               <input type="hidden" name="Source" value="Direct"> 
               <input type="hidden" name="UserID" id="UserID">   
            </div>
         </form>
      </div>
      <div class="modal-footer"  ng-show="showDiv">
         <button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData('','exit')">Save</button>

         <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
      </div>
   </div>
</div>
<script>  
$(document).ready(function()
{     
   $(".Percentage").keyup(function()
   {
         $(this).parent().find(".length_error").remove();
         
         if($(this).val() > 100)
         {
            $(this).parent().append("<span class='length_error'>Percentage should be between 1 and 100.</span>");

            $(this).val('');
         }
   });


   /*$( "#BirthDate" ).datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      maxDate:0,
      onClose: function( selectedDate ) {
        $( "#AnniversaryDate" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#AnniversaryDate" ).datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,                  
      onClose: function( selectedDate ) {
        $( "#BirthDate" ).datepicker( "option", "maxDate", selectedDate );
      }
    });*/



    $( "#JoiningDate" ).datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      maxDate:0,
      onClose: function( selectedDate ) {
        $( "#AppraisalDate" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#AppraisalDate" ).datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,                  
      onClose: function( selectedDate ) {
        $( "#JoiningDate" ).datepicker( "option", "maxDate", selectedDate );
      }
    });



    $( ".Form" ).datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      maxDate:0,
      onClose: function( selectedDate ) {
        $( ".To" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( ".To" ).datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      maxDate:0,                  
      onClose: function( selectedDate ) {
        $( ".Form" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
});
</script>