<div class="modal-body ng-scope">
	   <div class="form-area">
		<form id="add_form" name="add_form_category" autocomplete="off" class="ng-pristine ng-valid">
				<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">User Roles <span class="text-danger">*</span></label>
						<input name="UserTypeName" id="UserTypeName" type="text" class="form-control UserTypeName" value="" required="">
					</div>
				</div>

			</div>
           </form>
	  </div>

	</div>
	<div class="modal-footer ng-scope">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoadingc" ng-click="addDataCategory()">Save</button>
    </div>