<div class="modal-body">

	<div class="form-area">

		<div class="form-group">

			<div>

				<div class="">


					<form enctype="multipart/form-data" action="../api/upload/file" name="importStaff" method="post" class="col-md-12">	

						<div class="row">

					      <div class="col-md-12">

					         <div class="form-group">

					         	<label class="control-label">Role <span style="color: red">*</span></label>
			                     <select name="UserTypeID" id="UserTypeID" class="form-control" onchange="checkSubject(this.value)">
			                        <option value="">Please Select</option>
			                        <option ng-repeat="(key, rows) in data.Roles" value="{{rows.UserTypeID}}" ng-selected="UserTypeID == rows.UserTypeID">{{rows.UserTypeName}}</option>
			                     </select>

					         </div>

					      </div>

					   
					     

					    </div>

						<input type="hidden" name="Section" value="Staff">

						<input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">

						<input type="hidden" class="MediaURL" id="MediaURL" name="MediaURL" value="">

						<label class="control-label" style="width: 100%; margin-top: 10px;">Upload File <span class="text-danger">*</span>
							<a style="text-decoration: underline;  text-transform: capitalize;float: right;" href="/asset/staff/import_staff_format.xlsx" download>Download format</a></label>
						<input type="file" accept=".xls,.xlsx" name="File" id="staffFileInput"  class="form-control"  data-targetinput="#MediaGUID" style="width: 100%;">
						<small style="font-size: 90%;">Allowed file type : (xls, xlsx)</small>
					</form>

					 <img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" style="position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">

				</div>

				<!-- progressbar -->

				<div class="progressBar">

					<div class="bar"></div>

					<div class="percent">0%</div>

				</div>

			</div>

		</div>

	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="importData()">Save</button>

</div>