<style type="text/css">
   #view_model .modal-lg{
   max-width: 900px !important;
   }
   .chosen-select {
       width: 330px;
   }

</style>
<div ng-app>
   <div class="modal-body">
      <div class="form-area" ng-init="showDiv = true">
         <form id="edit_form" name="edit_form" autocomplete="off" >
            
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group text-center">
                    <img ng-if="formData.ProfilePic" id="picture-box-picture" ng-src="{{formData.ProfilePic}}">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label"><strong>First Name </strong></label><br>
                     {{formData.FirstName}}
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label"><strong>Last Name </strong></label><br>
                     {{formData.LastName}}
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label"><strong>Email</strong></label><br>
                     {{formData.Email}}
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label"><strong>Role </strong></label><br>
                     {{formData.UserTypeName}}
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label"><strong>Admin Panel Access</strong></label><br> 
                     {{formData.AdminAccess}}
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label class="control-label"><strong>App Panel Access</strong></label><br>{{formData.AppAccess}}
                  </div>
               </div>
            </div>
            <h6 class="txt-dark capitalize-font" ng-if="formData.Key.length" style="border-top: 1px solid #dee2e6;border-bottom: 1px solid #dee2e6; padding: 10px;"><i class="zmdi zmdi-account-box mr-10"></i>Key Details</h6>
            <div class="row" ng-if="formData.Key.length" style="border-top: 0px solid #dee2e6;border-bottom: 0px solid #dee2e6; padding: 10px;">
               <div class="col-md-2">
                  <div class="form-group">
                     <label class="control-label"><strong>Key</strong></label><br> 
                     {{formData.Key}}
                  </div>
               </div>
               <div class="col-md-1">
                  <div class="form-group">
                     <label class="control-label"><strong>Validity</strong></label><br>{{formData.Validity}}
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="form-group">
                     <label class="control-label"><strong>Assigned On</strong></label><br>{{formData.KeyAssignedOn}}
                  </div>
               </div>
               <div class="col-md-3" ng-if="formData.ActivatedOn.length">
                  <div class="form-group">
                     <label class="control-label"><strong>Activated On</strong></label><br>{{formData.ActivatedOn}}
                  </div>
               </div>
               <div class="col-md-3" ng-if="formData.ExpiredOn.length">
                  <div class="form-group">
                     <label class="control-label"><strong>Expired On</strong></label><br>{{formData.ExpiredOn}}
                  </div>
               </div>
            </div>
           
            <div>
               <div>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#PersonalDetailsv" role="tab" aria-controls="PersonalDetailsv">Personal Details</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#EmergencyDetailsv" role="tab" aria-controls="EmergencyDetailsv">Emergency</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#NomineeDetailsv" role="tab" aria-controls="NomineeDetailsv">Nominee</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Eductionv" role="tab" aria-controls="Eductionv">Qualification</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#WorkExperiencev" role="tab" aria-controls="WorkExperiencev">Work Experience</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#JobsDetailsv" role="tab" aria-controls="JobsDetailsv">Jobs Details</a>
                     </li>
                     <li class="nav-item" ng-if="formData.UserTypeID == 11" id="subject_tabs">
                        <a class="nav-link" data-toggle="tab" href="#Subjectv" role="tab" aria-controls="Subjectv">Subject</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#SocialMediav" role="tab" aria-controls="SocialMediav">Social Media</a>
                     </li>
                  </ul>
                  <div class="tab-content" style="margin:15px;">
                     <!-- Personal details-->
                     <div class="tab-pane active" id="PersonalDetailsv" role="tabpanel">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Contact No.</strong></label><br>
                                 +91- {{formData.PhoneNumber}}
                                 </div>
                              </div>
                        
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Gender</strong></label><br>
                                 {{formData.Gender}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label" ng-if="formData.BirthDate">Date of Birth</label></label><br>
                                 {{formData.BirthDate|date:'dd-MM-yyyy'}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Marital Status</strong></label><br>
                                 <p ng-if="formData.MaritalStatus!='? undefined' && formData.MaritalStatus!='seprate'">{{formData.MaritalStatus}}</p>
                                 <p ng-if="formData.MaritalStatus!='seprate'">Seprated</p>
                              </div>
                           </div>
                        </div>
                        <div class="row" ng-if="MaritalStatus == 'married'">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label" ng-if="formData.AnniversaryDate">Anniversary Date</label></label><br>
                                {{formData.AnniversaryDate|date:'dd-MM-yyyy'}}
                              
                              </div>
                           </div>
                           
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Address</strong></label><br>
                                 {{formData.Address}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>State</strong></label><br>
                                 {{formData.StateName}}
                               </div>
                               <div class="form-group">
                                 <label class="control-label"><strong>City</strong></label><br>
                                 {{formData.CityName}}
                              </div>
                              <div class="form-group">
                                 <label class="control-label"><strong>ZIP Code</strong></label><br>
                                 {{formData.CityCode}}
                              </div>
                           </div>
                        </div>
                     </div>

                     <!-- Emergency Details-->
                     <div class="tab-pane" id="EmergencyDetailsv" role="tabpanel">
                         <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Name of Person</strong></label><br>
                                 <div class="input-group mb-3">
                                    {{formData.Emergency}}
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Relation with Person</strong></label><br>
                               {{formData.RelationWithEmergency}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Contact No.</strong></label>
                                 <div class="input-group mb-3">
                                    +91-{{formData.EmergencyPhoneNumber}}
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Gender</strong></label><br>
                                 {{formData.EmergencyGender}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Address</strong></label><br>
                                 {{formData.EmergencyAddress}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>State</strong></label><br>
                                 {{formData.EmergencyState}}
                               </div>
                               <div class="form-group">
                                 <label class="control-label"><strong>City</strong></label><br>
                                 {{formData.EmergencyCityName}}
                              </div>
                              <div class="form-group">
                                 <label class="control-label"><strong>ZIP Code</strong></label><br>
                                 {{formData.EmergencyCityCode}}
                              </div>
                           </div>
                        </div>
                     </div>

                     <!-- NomineeDetailsv Details-->
                     <div class="tab-pane" id="NomineeDetailsv" role="tabpanel">
                         <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Nominee</strong></label><br>
                                 <div class="input-group mb-3">
                                    {{formData.Nominee}}
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Relation with nominee</strong></label><br>
                               {{formData.RelationWithNominee}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Contact No.</strong></label><br>
                                 <div class="input-group mb-3">
                                    +91-{{formData.NomineePhoneNumber}}
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Gender</strong></label><br>
                                 {{formData.NomineeGender}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Address</strong></label><br>
                                {{formData.NomineeAddress}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>State</strong></label><br>
                                 {{formData.NomineeState}}
                               </div>
                               <div class="form-group">
                                 <label class="control-label"><strong>City</strong></label><br>
                                 {{formData.NomineeCityName}}
                              </div>
                              <div class="form-group">
                                 <label class="control-label"><strong>ZIP Code</strong></label><br>
                                 {{formData.NomineeCityCode}}
                              </div>
                           </div>
                        </div>
                     </div>

                      <!-- Eductionv Qualification-->
                     <div class="tab-pane" id="Eductionv" role="tabpanel">
                        <div id="dynamic_field" ng-repeat="(key,ques) in formData.Work_eduction">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Qualification</strong></label><br>
                                   {{ques.Qualification}}
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Specialization</strong></label><br>
                                    {{ques.Specialization}}
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Univercity / Institute</strong></label><br>
                                    {{ques.Univercity}}
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Passing Out Year</strong></label><br>
                                   {{ques.PassingYear}}
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Percentage %</strong></label><br>
                                    {{ques.Percentage}}
                                 </div>
                              </div>
                           </div>

                           <hr/>
                           </div>
                           
                           <div class="row" ng-if="formData.Work_eduction.length <= 0">
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label class="control-label">No record found.</label>
                                 </div>
                              </div>
                           </div>

                           


                     </div>

                      <!-- job Profile-->
                     <div class="tab-pane" id="JobsDetailsv" role="tabpanel">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Job</strong></label><br>
                                 {{formData.Job}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Department</strong></label><br>
                                 {{formData.DepartmentName}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Designation</strong></label><br>
                                {{formData.Designation}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Reporting Manager</strong></label><br>
                                 {{formData.ReportingManager}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Joining Date</strong></label><br>
                                {{formData.JoiningDate | date:'dd-MM-yyyy'}}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Appraisal Date</strong></label><br>
                                {{formData.AppraisalDate | date:'dd-MM-yyyy'}}
                              </div>
                           </div>
                        </div>
                     </div>

                      <!-- Work Experience-->
                     <div class="tab-pane" id="WorkExperiencev" role="tabpanel" >
                        <div id="dynamic_field_exp" ng-repeat="(key,exp) in formData.Work_experience">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Employer</strong></label><br>
                                   {{exp.Employer}}
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Industries</strong></label><br>
                                    {{exp.IndustryName}}
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Position</strong></label><br>
                                    {{exp.ExpDesignation}}
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>Job Profile</strong></label><br>
                                    {{exp.JobProfile}}
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    
                                    <label class="control-label"><strong>Started Working Form</strong></label><br>
                                    {{exp.From | date:'dd-MM-yyyy'}}
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label class="control-label"><strong>To</strong></label><br>
                                    {{exp.To | date:'dd-MM-yyyy'}}
                                 </div>
                              </div>
                               </div>
                              <hr>
                          
                           
                        </div>


                        <div class="row" ng-if="formData.Work_experience <= 0">
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label class="control-label">No record found.</label>
                              </div>
                           </div>
                        </div>


                     </div>


                      <!--Social Media-->
                     <div class="tab-pane" id="SocialMediav" role="tabpanel">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group">
                                <span class="fa fa-facebook"></span>  {{formData.FacebookURL}}
                                 
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <span class="fa fa-twitter"></span>  {{formData.TwitterURL}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <span class="fa fa-linkedin"></span>  {{formData.LinkedInURL}}
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <span class="fa fa-google-plus"></span>  {{formData.GoogleURL}}
                              </div>
                           </div>
                        </div>
                     </div>

                      <!--course Subjectv-->
                     <div class="tab-pane" id="Subjectv" role="tabpanel">
                         <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label class="control-label"><strong>Coures</strong></label><br>
                                <div class="col-md-4" ng-repeat="Course in formData.Courses">{{Course.CategoryName}}</div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                           <div class="form-group">
                            <label class="control-label"><strong>Subjects</strong></label><br>
                            <div class="row">
                           <div class="col-md-6" ng-repeat="sub in data.Subject">
                               {{sub.CategoryName}}
                           </div>
                           </div>
                           </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
               <input type="hidden" name="Source" value="Direct">  
            </div>
         </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
         
      </div>
   </div>
</div>
