<style type="text/css">
.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
min-width: 50px;
}
.disabled-btn {
cursor: not-allowed !important;
}
.enabled-btn {
cursor: pointer!important;
}
.modal-body {
padding: 0px;
padding-top: 1rem;
}
.checkbox-list{

}
/*.multiselect {
width: 200px;
}*/

/*#checkboxes label:hover {
background-color: #1e90ff;
}*/
</style>
<form id="assign_paper" name="assign_paper" autocomplete="off" >
<div class="modal-body">
<div class="form-area">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default card-view">
<div class="panel-wrapper in">
<div class="panel-body">
<div class="row">
<div class="col-sm-12 col-xs-12">
<div class="form-wrap">
<div class="form-body">

<!-- <div ng-if="loadAssignPaperCheck == 'Quiz'" ng-show="loadAssignPaperCheck == 'Quiz'">
<select  name="QtPaperGUID" class="form-control" onchange="getBatchByPaper(this.value)" name="ParentCat" id="Batch">
<option value="">Please Select</option>
<option ng-repeat="row in data.qplist" value="{{row.QtPaperGUID}}"  ng-selected="row.QtPaperGUID == QtPaperGUID">{{row.QtPaperTitle}}</option>
</select>
</div>


<div ng-if="loadAssignPaperCheck != 'Quiz'" ng-show="loadAssignPaperCheck != 'Quiz'">
<select  name="QtPaperGUID" class="form-control" onchange="getBatchByPaper(this.value)" name="ParentCat" id="Batch">
<option value="">Please Select</option>
<option ng-repeat="row in data.qplist" value="{{row.QtPaperGUID}}"  ng-selected="row.QtPaperGUID == QtPaperGUID">{{row.QtPaperTitle}}</option>
</select>
</div> -->


<div class="row">
<div class="col-md-12">
	<div class="form-group">
		<label for="inputName" class="control-label mb-10">Select Question Paper <em style="color: red">*</em></label>
		<select  name="QtPaperGUID" class="form-control" onchange="getBatchByPaper(this.value)" name="ParentCat" id="Batch">
           <option value="">Please Select</option>
           <option ng-repeat="row in data.qplist" value="{{row.QtPaperGUID}}"  ng-selected="row.QtPaperGUID == QtPaperGUID">{{row.QtPaperTitle}}</option>
        </select>
	</div>
</div>
</div>


<div class="row">
<div class="col-md-6">
	<div class="form-group">
		<label for="inputName" class="control-label mb-10">Select Batch <em style="color: red">*</em></label>
		<select  name="BatchGUID" class="form-control" onchange="getSubjectByBatch(this.value)" name="ParentCat" id="Batch">
           <option value="">Select Batch</option>
           <option ng-repeat="row in batch" value="{{row.BatchGUID}}"  ng-selected="row.BatchGUID == BatchGUID">{{row.BatchName}}</option>
        </select>
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
		<label for="inputName" class="control-label mb-10">Date <em style="color: red">*</em></label>
		<div id="subjects_section">
			<input type="text" name="Date" id="Date" class="form-control">
		</div>
	</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label mb-10 text-left">Activated From Time <em style="color: red">*</em></label>
		<input type="text" name="ActivatedFromTime" id="ActivatedFromTime" class="form-control input-md ui-timepicker-input" onchange="setActivatedEndDateTime(this.value)">
	</div>
	<div class="form-group">
		
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label mb-10 text-left">Activated Upto Time <em style="color: red">*</em></label>
		<input type="text" name="ActivatedToTime" id="ActivatedToTime" class="form-control input-md ui-timepicker-input">
	</div>
	<div class="form-group">
		
	</div>
</div>
</div>



<div class="row">
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label mb-10 text-left">Start Date Time <em style="color: red">*</em></label>
		<input type="text" name="StartTime" id="StartTime" class="form-control input-md ui-timepicker-input" onchange="setEventEndDateTime(this.value)">
	</div>
	<div class="form-group">
		
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
		<label class="control-label mb-10 text-left">End Date Time <em style="color: red">*</em></label>
		<input type="text" name="EndTime" id="EndTime" class="form-control input-md ui-timepicker-input">
	</div>
	<div class="form-group">
		
	</div>
</div>
</div>
<!-- /Row -->

<hr class="light-grey-hr-custom"/>

</div>
</div>
</div>
</div>
</div>
</div>		
</div>
</div>
<!-- /Row -->
</div>								
</div>
</div>
</div>
</form>
<div class="modal-footer">
<div class="pull-left">
<!-- <button type="button" id="prev" class="btn btn-default">Prev</button> -->
<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addAssignPaperLoading" data-dismiss="modal">Cancel</button>
</div>
<div class="pull-right">
<button ng-if="loadAssignPaperCheck == 'Quiz'" ng-disabled="addAssignPaperLoading" class="btn btn-success btn-sm"  ng-click="addAssignPaper('AssignQuiz')"> Submit </button>

<button ng-if="loadAssignPaperCheck != 'Quiz'" ng-disabled="addAssignPaperLoading" class="btn btn-success btn-sm"  ng-click="addAssignPaper()"> Submit </button>

<img src="./asset/img/ajax-loader.gif" ng-if="addAssignPaperLoading" class="processingLoaderSet">
</div>	
</div>
