<style type="text/css">
	#view_model .modal-lg{
		max-width: 85%;
    	/*margin-right: 35px;*/
	}
	.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
		min-width: 50px;
	}
	.disabled-btn {
	  cursor: not-allowed !important;
	}
	.enabled-btn {
	  cursor: pointer!important;
	}
	.modal-body {
	    padding: 0px;
	    padding-top: 1rem;
	}
	.checkbox-list{

	}
</style>
<form id="add_form" name="add_form" enctype="multipart/form-data" autocomplete="off">
<input type="hidden" name="MediaGUIDs" id="MediaGUIDs" value="">
<div class="modal-body">
	<div class="form-area">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default card-view">
						<div class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="form-wrap">
											<form action="#" class="form-horizontal">
												<div id="div1" class="first current">
													<div class="form-body">
													<!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>VIEW QUESTION DETAILS</h6> -->
													<hr class="light-grey-hr"/>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Course :</label>
																<div class="col-md-9">
																	<p class="form-control-static"> {{formData.CourseName}} </p>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Subject :</label>
																<div class="col-md-8">
																	<p class="form-control-static"> {{formData.SubjectName}} </p>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Batch :</label>
																<div class="col-md-9">
																	<p class="form-control-static"> {{formData.QuestionContent}}?</p>
																</div>
															</div>
														</div>
													</div>
													<!-- /Row -->
													<hr class="light-grey-hr"/>
													<div class="row">
														
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Question Paper Title :</label>
																<div class="col-md-9">
																	<p class="form-control-static"> {{formData.QtPaperTitle}} </p>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Assigned Date :</label>
																<div class="col-md-7">
																	<p class="form-control-static"> {{formData.AssignedDate}} </p>
																</div>
															</div>
														</div>	
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Total Questions :</label>
																<div class="col-md-8">
																	<p class="form-control-static"> {{formData.TotalQuestions}}</p>
																</div>
															</div>
														</div>	
														<!--/span-->
													</div>
													<!-- /Row -->
													<hr class="light-grey-hr"/>
													<div class="row">
														
														
														<!--/span-->
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Passing Marks :</label>
																<div class="col-md-9">
																	<p class="form-control-static"> {{formData.PassingMarks}} </p>
																</div>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Negative Marks :</label>
																<div class="col-md-8">
																	<p class="form-control-static"> {{formData.NegativeMarks}}</p>
																</div>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Total Students :</label>
																<div class="col-md-7">
																	<p class="form-control-static"> {{formData.TotalStudents}} </p>
																</div>
															</div>
														</div>
													</div>
													<!-- /Row -->
													<!-- /Row -->
													<hr class="light-grey-hr"/>
													<div class="row">
														
														<!--/span-->
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Total Attended By :</label>
																<div class="col-md-9">
																	<p class="form-control-static"> {{formData.TotalAttendedBy}} </p>
																</div>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Total Failed Students :</label>
																<div class="col-md-8">
																	<p class="form-control-static"> {{formData.TotalFailedStudents}}</p>
																</div>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-12">Total Passed Students :</label>
																<div class="col-md-7">
																	<p class="form-control-static"> {{formData.TotalPassedStudents}} </p>
																</div>
															</div>
														</div>
														
													</div>
													<!-- /Row -->
													
													<hr class="light-grey-hr"/>
													<div class="clear">&nbsp;</div>
													</div>
												</div>
																								
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>
