<div class="row">
	<form enctype="multipart/form-data" action="../api/upload/file" method="post" class="col-md-12">	
		<input type="hidden" name="Section" value="File">
		<label class="filter-col" for="inputName" style="width: 45%;float: left;">Title</label>
		<label class="filter-col" style="width: 48%;float: right;margin-right: 42px;">Upload File:- Allowed file type : (docx, doc, pdf, xls, xlsx, ppt, pptx)</label>
		<div class="title-sec">
		<input type="text" class="form-control title doc_title file_MediaCaption1" id="doctitleInput-1" name="MediaCaption" onkeyup="formDataCheck()" style="width:45%; float: left;">
		</div>
		<input type="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.ppt,.pptx" name="File" id="docfileInput-1"  class="form-control file upload docfileInput"  data-targetinput="#file_MediaGUIDs" style="width: 45%;float: left; margin-left: 20px;">						
		<div class="section1-add-more-btn" style="width: 5%;float: right; margin-left: 20px; margin-top: -32px;">
		    <div class="form-group change">
		        <label for="" style="margin: 5px 0;">&nbsp;</label><br/>
		        <a class="btn btn-success add-more" mediaguid=""><i class="fa fa-plus-circle"></i></a>
		    </div>
		</div>
		<div class="progressBar progressBar-doc">
			<div class="bar"></div>
			<div class="percent">0%</div>
		</div>	
	</form>
</div>