<style type="text/css">
#edits_model .modal-lg{
max-width: 85%!important;
/*margin-right: 35px;*/
}
.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
min-width: 50px;
}
.disabled-btn {
cursor: not-allowed !important;
}
.enabled-btn {
cursor: pointer!important;
}
.modal-body {
padding: 0px;
padding-top: 1rem;
}
.checkbox-list{
}

.image_upload_content
{  
   position: absolute;
   background-color: #fff;
   left: 300px;
   top: 630px;
}
</style>
<form id="edit_form" name="edit_form" autocomplete="off">
<input type="hidden" name="MediaGUID" id="MediaGUIDs" value="">
<input type="hidden" name="subject" id="CategoryGUIDs">
<input type="hidden" name="QtBankGUID" id="QtBankGUID" value="{{formData.QtBankGUID}}">


<div class="modal-body">

<div class="form-area">


<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="row">

<div class="col-md-4">

<div class="form-group">

<label for="inputName" class="control-label mb-10">Select Course <em style="color: red">*</em></label>

<select class="form-control" onchange="getSubCategoryList(this.value, 's')" name="ParentCat" id="Courses">

   <option value="">Select Course</option>

   <option ng-repeat="row in categoryDataList" value="{{row.CategoryGUID}}" ng-selected="CourseGUID == row.CategoryGUID">{{row.CategoryName}}</option>

</select>

</div>

</div>

<div class="col-md-4">

<div class="form-group">

<label for="inputName" class="control-label mb-10">Select Subject <em style="color: red">*</em></label>

<div id="subjects_section">

   <select id="SubjectGUID" name="CategoryGUIDs"  class="form-control" onchange="getSubCategoryList(this.value, 't')">

      <option value="">Select Subject</option>

      <option ng-repeat="row in subCategoryDataList" value="{{row.CategoryGUID}}" ng-selected="SubjectGUID == row.CategoryGUID">{{row.CategoryName}}</option>

   </select>

</div>

</div>

</div>


<div class="col-md-4">

<div class="form-group">

<label for="TopicID" class="control-label mb-10">Select Topic</label>

<div>
   <select id="TopicID" name="TopicID"  class="form-control">

      <option value="">Select Topic</option>

      <option ng-repeat="row in subTopicDataList" value="{{row.CategoryID}}" ng-selected="TopicCategoryID == row.TopicCategoryID">{{row.CategoryName}}</option>

   </select>

</div>

</div>

</div>

</div>

<!-- /Row -->



<hr class="light-grey-hr-custom"/>



<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Add Question Details</h6>

<hr class="light-grey-hr"/>

<div id="div1" class="first current">

<div class="row">

<div class="col-md-6">

<div class="form-group">

   <label class="control-label mb-10">Question Group <em style="color: red">*</em></label>

   <div class="checkbox-list" style="    width: 100%;

float: left;">

      <div class="checkbox-inline pl-0" style="width: 125px;float: left;">

         <span class="checkbox checkbox-info">

            <input class="checkbox0" name="QuestionsGroup[]" value="1" type="checkbox" ng-checked="formData.PracticeTest">

            <label for="checkbox0"> Practice Test </label>

         </span>

      </div>

      <div class="checkbox-inline pl-0" style="width: 60px;float: left;">

         <span class="checkbox checkbox-info">

            <input class="checkbox11" name="QuestionsGroup[]" value="2"  type="checkbox" ng-checked="formData.Quiz">

            <label for="checkbox11"> Quiz </label>

         </span>

      </div>

      <div class="checkbox-inline pl-0" style="width: 90px;float: left;">

         <span class="checkbox checkbox-info">

            <input class="checkbox11" name="QuestionsGroup[]"  value="3"  type="checkbox" ng-checked="formData.Assessment">

            <label for="checkbox11"> Assessment </label>

         </span>

      </div>

      <div class="checkbox-inline pl-0" style="width: 90px; float: left;">

         <span class="checkbox checkbox-info">

            <input id="checkbox11" name="QuestionsGroup[]"  value="4"  type="checkbox" ng-checked="formData.Contest">

            <label for="checkbox11"> Contest </label>

         </span>

      </div>

      <div class="checkbox-inline pl-0" style="width: 138px;float: left;">

         <span class="checkbox checkbox-info">

            <input class="checkbox11" name="QuestionsGroup[]"  value="5"  type="checkbox" ng-checked="formData.ScholarshipTest">

            <label for="checkbox11"> Scholarship Test </label>

         </span>

      </div>

   </div>   

</div>

</div>

<!--/span-->

<div class="col-md-2">

<div class="form-group">

   <label class="control-label mb-10">Difficulty Level <em style="color: red">*</em></label>

   <select class="form-control QuestionsLevel" name="QuestionsLevel" id="QuestionsLevel">

      <option>Select Difficulty Level</option>

      <option value="Easy" ng-selected='formData.QuestionsLevel == "Easy"'>Easy</option>

      <option value="Moderate" ng-selected='formData.QuestionsLevel == "Moderate"'>Moderate</option>

      <option value="High" ng-selected='formData.QuestionsLevel == "High"'>High</option>

   </select>

</div>

</div>

<!--/span-->

<div class="col-md-2">

<div class="form-group">

   <label class="control-label mb-10">Question Type <em style="color: red">*</em></label>

   <select id="colorselector" onchange="changeQuestionType(this.value)" name="QuestionsType" class="form-control QuestionType">

         <option>Select Question Type</option>

         <option value="Multiple Choice" ng-selected='formData.QuestionsType == "Multiple Choice"'>Multiple Choice</option>                         

         <option value="Logical Answer" ng-selected='formData.QuestionsType == "Logical Answer"'>Logical Answer (True/False)</option>

   </select>

</div>

</div>

<!--/span-->

<div class="col-md-2">

<div class="form-group">

   <label class="control-label mb-10">Mark <em style="color: red">*</em></label>

   <input type="number" name="QuestionsMarks" class="form-control QuestionsMarks" min="0" value="{{formData.QuestionsMarks}}">

</div>

</div>

<!--/span-->

</div>

<!-- /Row -->

<div class="row">

<div class="col-md-12">

<div class="form-group">

   <label class="control-label mb-10 text-left">Enter Question <em style="color: red">*</em></label>

   <label class="control-label mb-10" style="float: right;"><span style="cursor: pointer;color:blue;text-decoration: underline;    margin-left: 5px;float: right;" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Click here </span>&nbsp;to add image to the question</label>

   <textarea class="form-control" id="QuestionContent" name="QuestionContent" rows="5" ng-bind-html="formData.QuestionContent"></textarea>

   <img id="picture-box-picture" ng-if="!MediaCheck" ng-src="./asset/img/default-category.png" style="height: 100px;width: 150px;margin-top: 10px;">

   <img id="picture-box-picture" ng-if="MediaCheck" src="{{formData.Media.Records[0].MediaThumbURL}}" style="height: 100px;width: 150px;margin-top: 10px;">

</div>

<div class="form-group">


</div>

</div>

</div>

<div class="row">

<div class="col-md-12">

<div id="multilevel" class="colors" style="display:none">

   <div class="form-group">
      <div class="row">
         <label style="width: 67%;" class="control-label mb-10 text-left col-sm-8">Multiple Answer <em style="color: red">*</em></label>

         <label style="width: 20%;" class="control-label mb-10 text-left col-sm-4">Correct Answer <em style="color: red">*</em></label>
      </div>


      <div class="col-sm-12">
         <input type="hidden" id="multilevel_counter" value="">
         
         <div ng-repeat="(key, row) in formData.answer">
            <input type="hidden" name="CorrectAnswer" id="CorrectAnswer" ng-if="row.CorrectAnswer == 1" value="{{row.AnswerContent}}">
         </div>


         <div class="row multiple-choice" ng-repeat="(key, row) in formData.answer" style="margin-top: 10px;">
           

            <div class="col-sm-8 ">
                  <input type="text" name="AnswerContent[]" id="multiple-choice-{{(key + 1)}}" class="form-control multiple-choice-options" placeholder="Option" value="{{row.AnswerContent}}">
            </div>

            <div class="col-sm-2 col-md-2 has-success" style="margin-top: 10px;">
               <div class="mt-40">
                  <input id="correct-answer-{{(key + 1)}}" type="radio" name="CorrectAnswerOption" value="{{(key + 1)}}" style="margin: 4px 10px 0 45px;" class="CorrectAnswerOption" onchange="setCorrectAnswer(this.value);" ng-checked="row.CorrectAnswer == 1">
               </div>
            </div>

            <div ng-if="key > 1" class="col-sm-2 mt-40">
               <a href="javascript:void(0)" onclick="removeMultipleChoiceById(this.id)" class="remove_field ml-15" id="remove_field{{(key + 1)}}" style="position: relative;top: 0px;"><i class="glyphicon glyphicon-remove" style="top: 5px;"></i> Remove Option</a></div>        

         </div>


      </div>

      <div class="col-sm-12">
         <div class="input_fields_wrap"></div>
      </div>


      <div class="col-sm-12">
         <button onclick="add_field_button()" class="add_field_button btn btn-success mt-30" style="width: 13%;font-size: 13px;padding: 2px 5px 5px 5px; margin-top: 20px;background-color: gray;border-color: gray;"><span class="glyphicon glyphicon-plus" style="top: 1px;left: -5px;font-size: 14px;"></span> <span style="position: relative;left: -5px;top: -1px;">Add More Option</span></button>

      </div>

   </div> 

</div>

</div>



<div class="col-md-12">
<div id="logical" class="colors" style="display:none"><br/>
<div class="form-group">
<label class="control-label mb-10 text-left">Logical Answer <em style="color: red">*</em></label>
<div class="row">
   <div class="col-md-12" id="logical_options" style="margin-top: 5px; margin-bottom: 10px;">            


      
   </div>
</div>
</div>
</div>
</div>

</div>



<div class="row">

<div class="col-md-12">

<div class="form-group">

   <label class="control-label mb-10 text-left">Explanation</label>

   <textarea class="form-control" id="Explanation" name="Explanation" rows="5" ng-bind-html="formData.Explanation"></textarea>

</div>

</div>

</div>





</div>

</div>

</div>

</div>

</div>

</div>

</div>      

</div>

</div>

<!-- /Row -->
<!--  -->
</div>                        

</div>

</div>
</div>




<div class="modal-footer">
<div class="pull-left">
<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>
<div class="pull-right">
<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoaderSetDown">
<button type="button" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="editData()">Update</button>
</div>
</div>
</form>






<div class="image_upload_content">
<form enctype="multipart/form-data" action="{{APIURLIMG}}" method="post" 
                        ng-class="MediaCheck? 'col-md-12 collapse show' : 'col-md-12 collapse'" id="collapseExample">
   
   
   <input type="hidden" name="Section" id="media_Section" value="QuestionBank">
   
   <label class="control-label mb-10" style="font-size: 100%;
      text-transform: capitalize;
      color: #212121;
      margin-bottom: 10px;">Add image to the question</label>
   
   <input type="file" accept="image/*" name="File" id="fileInput"  class="form-control file upload docfileInput" data-target="#picture-box-picture"  data-targetinput="#MediaGUIDs" style="width: 100%;float: right; margin-left: 20px;">
   
   <div class="progressBar progressBar-doc">
      <div class="bar"></div>
      <div class="percent">0%</div>
   </div>
   
</form>
</div>


<script type="text/javascript">

function changeQuestionType(type)
{
   $('.colors').hide();

   if(type == "Multiple Choice")
   {
      $('#multilevel').show();
   }
   else if(type == "Logical Answer")
   {
      $('#logical').show();
   }
}





$('#next').click(function() {

$('.current').removeClass('current').hide()

.next().show().addClass('current');  $('.current1').removeClass('current1').removeClass('active').next().addClass('active').addClass('current1');

$( "li.current1" ).prevAll().find('span').addClass('active1');



if ($('.current').hasClass('last')) {

$('#next').css('display', 'none');

}

$('#prev').css('display', 'block');

});



$('#prev').click(function() {

$('.current').removeClass('current').hide()

.prev().show().addClass('current');

$('.current1').removeClass('current1').removeClass('active').prev().addClass('active').addClass('current1');



$("li.current1").find('span').removeClass('active1'); 



if ($('.current').hasClass('first')) {

$('#prev').css('display', 'none');

}

$('#next').css('display', 'block');

});



var max_fields      = 10; //maximum input boxes allowed

var wrapper         = $(".input_fields_wrap"); //Fields wrapper

var add_button      = $(".add_field_button"); //Add button ID

var x = 1; 
var y = 1;
var set_counter = false;


function add_field_button(){

var check = check_empty_input("multiple-choice-options");

if(set_counter == false)
{   
   y = $("#multilevel_counter").val();
   y = parseInt(y);
   if(y == null || y == undefined || y == "") y = 1;
   set_counter = true;

   x = y;
}

//e.preventDefault();

if(x < max_fields && check){ //max input box allowed

x++; y++;//text box increment

if(y <= 2){ 

$(".input_fields_wrap").append('<div class="row mt-15 multiple-choice" style="margin-top: 10px;"><div class="col-sm-8"><input type="text" name="AnswerContent[]" class="form-control multiple-choice-options" placeholder="Option" id="multiple-choice-'+y+'"/></div><div class="col-sm-2 mt-40" style="margin-top: 12px;"><input type="radio" name="CorrectAnswerOption" class="CorrectAnswerOption" value="'+y+'" style="margin: 4px 10px 0 45px;" id="correct-answer-'+y+'" onchange="setCorrectAnswer(this.value)"></div><div class="col-sm-2 mt-40"></div></div>'); //add input box

}else{

$(".input_fields_wrap").append('<div class="row mt-15 multiple-choice" style="margin-top: 10px;"><div class="col-sm-8"><input type="text" name="AnswerContent[]" class="form-control multiple-choice-options" placeholder="Option" id="multiple-choice-'+y+'"/></div><div class="col-sm-2 mt-40" style="margin-top: 12px;"><input type="radio" name="CorrectAnswerOption" class="CorrectAnswerOption" value="'+y+'" style="margin: 4px 10px 0 45px;" id="correct-answer-'+y+'" onchange="setCorrectAnswer(this.value)"></div><div class="col-sm-2 mt-40"><a href="javascript:void(0)" onclick="removeMultipleChoice('+y+')" class="remove_field ml-15" id="remove_field'+y+'" style="position: relative;top: 0px;"><i class="glyphicon glyphicon-remove" style="top: 5px;"></i> Remove Option</a></div></div>'); //add input box

}

}
else
{
   alert("Maximum 10 options are allowed.");
}
}



function removeMultipleChoice(count)
{
   $('#remove_field'+count).parents('.multiple-choice').remove(); 

   x--;
}


function removeMultipleChoiceById(ElementID)
{
   $('#'+ElementID).parents('.multiple-choice').remove(); 

   x--;
}



function setSubject(subValue){

//alert(setSubject);

$('#CategoryGUIDs').val(subValue);

}





$(document).ready(function() {    



// var x = 1; var y = 1; //initlal text box count

// $(".add_field_button").click(function(e){ //on add input button click

//     alert("fdsfds");

//     var check = check_empty_input("multiple-choice-options");

//     e.preventDefault();

//     if(x < max_fields && check){ //max input box allowed

//         x++; y++;//text box increment

//         if(x == 2){

//             $(wrapper).append('<div class="row mt-15 multiple-choice" style="margin-top: 30px;"><div class="col-sm-8"><input type="text" name="AnswerContent[]" class="form-control multiple-choice-options" placeholder="Option" id="multiple-choice-'+y+'"/></div><div class="col-sm-2 mt-40" style="margin-top: 12px;"><input type="radio" name="CorrectAnswerOption" value="'+y+'" style="margin: 4px 10px 0 45px;" id="correct-answer-'+y+'" onchange="setCorrectAnswer(this.value)"></div><div class="col-sm-2 mt-40"></div></div>'); //add input box

//         }else{

//             $(wrapper).append('<div class="row mt-15 multiple-choice" style="margin-top: 30px;"><div class="col-sm-8"><input type="text" name="AnswerContent[]" class="form-control multiple-choice-options" placeholder="Option" id="multiple-choice-'+y+'"/></div><div class="col-sm-2 mt-40" style="margin-top: 12px;"><input type="radio" name="CorrectAnswerOption" value="'+y+'" style="margin: 4px 10px 0 45px;" id="correct-answer-'+y+'" onchange="setCorrectAnswer(this.value)"></div><div class="col-sm-2 mt-40"><a href="#" class="remove_field ml-15" style="position: relative;top: 0px;"><i class="glyphicon glyphicon-remove" style="top: 5px;"></i> Remove Option</a></div></div>'); //add input box

//         }

//     }

// });



$("#remove_field").on("click", function(e){ //user click on remove text

e.preventDefault(); $(this).parents('.multiple-choice').remove(); x--;

})

});



/*check duplicate entry for form input values*/

function find_duplicate_in_array(title_name) {

var object = {};

var result = [];



var arra1 = $("."+title_name)

.map(function() {

if($(this).val()){

return $(this).val();

}

}).get();



arra1.forEach(function (item) {

if(!object[item])

object[item] = 0;

object[item] += 1;

})



for (var prop in object) {

if(object[prop] >= 2) {

result.push(prop);

}

}

return result;

}



function check_empty_input(class_name) {

if(class_name){

var check = true;

var Option_values = $("."+class_name)

.map(function() {

return $(this).val();

}).get();

$.each(Option_values, function(index, value) { 

if (value == "") {

alert("Please fill or remove blank fields for multiple answer.");

check = false;

return false;

}

});

var duplicate_vals = find_duplicate_in_array(class_name);

//console.log(duplicate_vals);

if(duplicate_vals.length > 0){

alert("Duplicate entries are found for multiple answer! Please remove duplicate entries.");

check = false;

return false;

}

}

return check;

}



function setCorrectAnswer(num)
{
   if(num)
   {
      $(".CorrectAnswerOption").removeAttr("checked");

      var option_val = $("#multiple-choice-"+num).val();      

      if(option_val)
      {
         $("#CorrectAnswer").val(option_val);

         $("#correct-answer-"+num).prop("checked", true);
      }
      else
      {
         $("#correct-answer-"+num).prop("checked", false);

         alert("Please fill option value before assign correct answer.");
      }
   }
}   







$(function() 
{
   $('input[name="type"]').on('click', function() 
   {
      if ($(this).val() == 'logical') 
      {
         $('#logicalboxs').show();
      }
      else
      {
         $('#logicalboxs').hide();
      }
   });
});



function checkAndAdd(submitType,listCheck=""){

var QuestionType = $(".QuestionType").val();

if(QuestionType=='Multiple Choice'){

var check = check_empty_input("multiple-choice-options");

if(check){

angular.element(document.getElementById('question-body')).scope().addData(submitType,listCheck);

}

}else{

angular.element(document.getElementById('question-body')).scope().addData(submitType,listCheck);

}       

}


function setCorrectLogicalAnswer(obj)
{
   $("#logical").find(".CorrectAnswers").removeAttr("checked");
   $(obj).attr("checked", "checked");
   $(obj).prop("checked", "checked");
}

</script>