<div class="modal-body">

<div class="form-area">

<div class="form-group">

<div>

<div class="">


<form enctype="multipart/form-data" action="{{APIURL}}" name="importQuestions" method="post" class="col-md-12">	

<div class="row">

<div class="col-md-4">

<div class="form-group">

<label class="control-label">Course <span class="text-danger">*</span></label>

<select class="form-control" onchange="getSubCategoryList(this.value, 's');" name="ParentCat" id="Courses">

<option value="">Select Course</option>

<option ng-repeat="row in categoryDataList" value="{{row.CategoryGUID}}" ng-selected="CourseGUID == row.CategoryGUID">{{row.CategoryName}}</option>

</select>

</div>

</div>

<div class="col-md-4">

<div class="form-group">

<label class="control-label">Subject <span class="text-danger">*</span></label>

<div id="subjects_section">				

<select id="SubjectGUID" name="CategoryGUID" onchange="getSubCategoryList(this.value, 't')" class="form-control">

<option value="">Select Subject</option>

<option ng-repeat="row in subCategoryDataList" value="{{row.CategoryGUID}}" ng-selected="SubjectGUID == row.CategoryGUID">{{row.CategoryName}}</option>

</select>

</div>

</div>

</div>


<div class="col-md-4">

<div class="form-group">

<label for="TopicID" class="control-label mb-10">Select Topic</label>

<div>
    <select id="TopicID" name="TopicID"  class="form-control">

      <option value="">Select Topic</option>

      <option ng-repeat="row in subTopicDataList" value="{{row.CategoryID}}">{{row.CategoryName}}</option>

   </select>

</div>

</div>

</div>


<div class="col-md-12">

<div class="form-group">

<label class="control-label mb-10">Question Group <em style="color: red">*</em></label>

<div class="checkbox-list" style="    width: 100%;

float: left;">

<div class="checkbox-inline pl-0" style="width: 125px;float: left;">

<span class="checkbox checkbox-info">

<input class="checkbox0" name="QuestionsGroup[]" value="1" type="checkbox">

<label for="checkbox0"> Practice Test </label>

</span>

</div>

<div class="checkbox-inline pl-0" style="width: 75px;float: left;">

<span class="checkbox checkbox-info">

<input class="checkbox11" name="QuestionsGroup[]" value="2"  type="checkbox">

<label for="checkbox11"> Quiz </label>

</span>

</div>

<div class="checkbox-inline pl-0" style="width: 110px;float: left;">

<span class="checkbox checkbox-info">

<input class="checkbox11" name="QuestionsGroup[]"  value="3"  type="checkbox">

<label for="checkbox11"> Assessment </label>

</span>

</div>

<div class="checkbox-inline pl-0" style="width: 90px; float: left;">

<span class="checkbox checkbox-info">

<input id="checkbox11" name="QuestionsGroup[]"  value="4"  type="checkbox">

<label for="checkbox11"> Contest </label>

</span>

</div>

<div class="checkbox-inline pl-0" style="width: 138px;float: left;">

<span class="checkbox checkbox-info">

<input class="checkbox11" name="QuestionsGroup[]"  value="5"  type="checkbox">

<label for="checkbox11"> Scholarship Test </label>

</span>

</div>

</div>	

</div>

</div>

</div>

<input type="hidden" name="Section" value="QuestionBank">

<input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">

<input type="hidden" class="MediaURL" id="MediaURL" name="MediaURL" value="">

<label class="control-label" style="width: 100%; margin-top: 10px;">Upload File <span class="text-danger">*</span>
<!-- <a style="text-decoration: underline;  text-transform: capitalize;float: right;" href="/asset/questionbank/import_question_answer_format.xlsx" download>Download format</a> --></label>
<input type="file" accept=".csv" name="File" id="questionFileInput"  class="form-control"  data-targetinput="#MediaGUID" style="width: 100%;">
<small style="font-size: 90%;">Allowed file type: (.csv)</small>
</form>


<div class="row">
<div class="col-md-12">
<div class="form-group">
<br/><h6>Steps:</h6>
<ol>
	<li>Download the format <a style="text-decoration: underline;" href="./asset/questionbank/import_question_answer_format.xlsx">click here</a>.</li>

	<li>Fill the downloaded file.</li>

	<li>Convert downloaded file into csv file.</li>

	<li>Select converted csv file by clicking on Browse button.</li>

	<li>Click on Save button to import the content of csv file.</li>

</ol>
</div>
</div>
</div>


</div>

<!-- progressbar -->

<div class="progressBar">

<div class="bar"></div>

<div class="percent">0%</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">

<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" >

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="importData()">Save</button>



</div>

<script type="text/javascript">
$('#questionFileInput').on('change', function() 
{
    var filename = this.files[0].name; 
    var ext = filename.split('.').pop();
	
    if (ext != "csv")
    { 
        $('#questionFileInput').val('');
        alert("Please select a CSV file."); 
        return false;
    } 
}); 	
</script>