<style type="text/css">

#view_model .modal-lg{

max-width: 85%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>

<form id="add_form" name="add_form" enctype="multipart/form-data" autocomplete="off">

<input type="hidden" name="MediaGUIDs" id="MediaGUIDs" value="">

<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<form action="#" class="form-horizontal">

<div id="div1" class="first current">

<div class="form-body">

<!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>VIEW QUESTION DETAILS</h6> -->



<div class="row">

	<div class="col-md-4">

		<div class="form-group">

			<label class="control-label col-md-12">Course :</label>

			<div class="col-md-9">

				<p class="form-control-static"> {{formData.ParentCategoryName}} </p>

			</div>

		</div>

	</div>

	<div class="col-md-4">

		<div class="form-group">

			<label class="control-label col-md-12">Subject :</label>

			<div class="col-md-8">

				<p class="form-control-static"> {{formData.SubCategoryName}} </p>

			</div>

		</div>

	</div>

	<div class="col-md-4">

		<div class="form-group">

			<label class="control-label col-md-12">Topic :</label>

			<div class="col-md-8">

				<p class="form-control-static"> {{formData.TopicCategoryName}} </p>

			</div>

		</div>

	</div>

</div>

<!-- /Row -->

<hr class="light-grey-hr"/>

<div class="row">

	<div class="col-md-6">

		<div class="form-group">

			<label class="control-label col-md-12">Question :</label>

			<div class="col-md-9">

				<p class="form-control-static"> <p ng-bind-html="formData.QuestionContent"></p></p>

				<img ng-if="formData.Media.Records" id="picture-box-picture"  style="height: 100px;width: 150px;margin-bottom: 10px;" src="{{formData.Media.Records[0].MediaURL}}">

				<div id="myModal" class="modal fade myModal" role="dialog">
		            <div class="modal-dialog">              
		              <div class="modal-content">

		                <div class="modal-header">
		                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>                  
		                </div>

		                <div class="modal-body">
		                  <img src="{{formData.Media.Records[0].MediaURL}}" class="img-responsive">
		                </div>
		              </div>
		            </div>
		          </div>

			</div>

		</div>

	</div>

	<div class="col-md-6">

		<div class="form-group">

			<label class="control-label col-md-12">Question Type :</label>

			<div class="col-md-9">

				<p class="form-control-static"> {{formData.QuestionsType}} </p>

			</div>

		</div>

	</div>

	<!--/span-->

</div>

<!-- /Row -->

<hr class="light-grey-hr"/>

<div class="row">

	<div class="col-md-4">

		<div class="form-group">

			<label class="control-label col-md-12">Difficulty Level :</label>

			<div class="col-md-8">

				<p class="form-control-static"> {{formData.QuestionsLevel}}</p>

			</div>

		</div>

	</div>

	<!--/span-->

	<div class="col-md-4">

		<div class="form-group">

			<label class="control-label col-md-12">Question Group :</label>

			<div class="col-md-7">

				<p class="form-control-static"> {{formData.QuestionsGroup}} </p>

			</div>

		</div>

	</div>

	<!--/span-->

	<div class="col-md-4">

		<div class="form-group">

			<label class="control-label col-md-12">Marks :</label>

			<div class="col-md-9">

				<p class="form-control-static"> {{formData.QuestionsMarks}} </p>

			</div>

		</div>

	</div>

	<!--/span-->

</div>

<!-- /Row -->

<hr class="light-grey-hr"/>

<div class="row" ng-if="formData.QuestionsType == 'Multiple Choice'">

	<div class="col-md-12">

		<div class="form-group">

			<label class="control-label col-md-12" style="text-align: left;">Multiple Choice :</label>				

		</div>

	</div>

	<!--/span-->

	<div class="col-md-12" ng-repeat="(key, row) in formData.answer">

		<div class="form-group" style="margin-left: 14px;">

			<label class="control-label" style="text-align: left; float: left; width: auto;">Option {{key+1}} :- <p ng-bind-html="row.AnswerContent"></p></label>

			<div class="has-success" style="text-align: left; color:green; float: left; width: auto; margin-top: -5px; margin-left:10px; ">

				<p ng-if="row.CorrectAnswer == 1" class="form-control-static control-label" style="color: green;"> <span class="glyphicon glyphicon-ok" style="top:0px;font-size: 16px;"></span> <span>Correct Answer</span> </p>

			</div>

		</div>

	</div>														

</div>

<div class="row" ng-if="formData.QuestionsType == 'Short Answer'">

	<div class="col-md-12">

		<div class="form-group">

			<label class="control-label col-md-12" style="text-align: left;">Text :</label>				

		</div>

	</div>

	<!--/span-->

	<div class="col-md-12" ng-repeat="(key, row) in formData.answer">

		<div class="form-group">

			<label class="control-label col-md-12" style="text-align: left;"><p ng-bind-html="row.AnswerContent"></p></label>

		</div>

	</div>

	<!--/span-->

</div>

<div class="row" ng-if="formData.QuestionsType == 'Logical Answer'">

	<div class="col-md-12" ng-repeat="(key, row) in formData.answer">

		<div class="form-group" style="margin-left: 14px;">

			<label class="control-label" style="text-align: left; float: left; width: auto;"><p ng-bind-html="row.AnswerContent"></p></label>

			<div class="has-success" style="text-align: left; color:green; float: left; width: auto; margin-top: -5px; margin-left:10px; ">

				<p ng-if="row.CorrectAnswer == 1" class="form-control-static control-label" style="color: green;"> <span class="glyphicon glyphicon-ok" style="top:0px;font-size: 16px;"></span> <span>Correct Answer</span> </p>

			</div>

		</div>

	</div>

</div>

<!-- /Row -->

<hr class="light-grey-hr"/>

<div class="row">

	<div class="col-md-12">

		<div class="form-group">

			<label class="control-label col-md-12" style="text-align: left;">Explanation :</label>				

		</div>

	</div>

	<!--/span-->

	<div class="col-md-12">

		<div class="form-group">

			<label class="control-label col-md-12" style="text-align: left;"><p ng-bind-html="formData.Explanation"></p></label>

		</div>

	</div>

	<!--/span-->

</div>

<!-- /Row -->

<hr class="light-grey-hr"/>

<div class="clear">&nbsp;</div>

</div>

</div>

											

</form>

</div>

</div>

</div>

</div>

</div>

</div>		

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">  

<div class="pull-left">

<button type="submit" id="next" class="btn btn-success btn-sm" ng-click="loadFormView(data.Position+1,formData.QtBankGUID,formData.CourseID,formData.SubjectID,'previous')"> Previous </button>

<button href="add_question.html" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="loadFormAdd(1);"> <i class="fa fa-plus"></i> <span>Add New</span></button>

<!-- <a href="edit_question.html" class="btn btn-success btn-sm"> <i class="zmdi zmdi-edit"></i> <span>Edit</span></a> -->

<!-- <button type="submit" class="btn btn-success btn-sm" ng-click="deleteData(formData.QtBankGUID)"> <span class="glyphicon glyphicon-trash" style="top: 2px;padding: 0px;font-size: 15px;"></span> Remove</button> -->

</div>



<div class="pull-right">

<button type="button" class="btn btn-success btn-sm" data-dismiss="modal"><span>Exit</span></button>

<button type="submit" id="next" class="btn btn-success btn-sm" ng-click="loadFormView(data.Position+1,formData.QtBankGUID,formData.CourseID,formData.SubjectID,'next')"> Next</button>

</div>		

</div>