<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" class="ng-pristine ng-valid">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Role <span style="color: red">*</span></label>
						<input name="UserTypeName" type="text" class="form-control" value="">
					</div>
				</div>

			</div>

		<!-- 	<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Description <span style="color: red">*</span></label>
						<textarea name="Description" id="Description" class="form-control"></textarea>
					</div>
				</div>

			</div>
         -->

			<input type="hidden" name="Source" value="Direct">  

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>
	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoaderSet">
</div>


