<div class="modal-body">



	<div class="row">

		<div class="col-md-6">

			<div class="form-group">

				<label class="control-label">Role <span class="text-danger">*</span></label>

				<input name="UserTypeName" type="text" class="form-control" value="{{formData.UserTypeName}}" >

			</div>

		</div>

	</div>

	</div>

	</div>



	<div class="modal-footer">

		<input type="hidden" name="UserTypeID" value="{{formData.UserTypeID}}">   

		<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>

		<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>

		<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoaderSet">
	</div>





