
<div class="modal-body">
	<div class="row" >
		<div class="col-md-4">
			<input type="radio"  name="PermissionType" value="All Permission" ng-checked="PermissionType == 'All'" onchange="CheckPermission('All')"><label for="edit">All Permission</label>
		</div>
		<div class="col-md-4">
			<input type="radio"  name="PermissionType" value="View Only" ng-checked="PermissionType == 'View Only'" onchange="CheckPermission('View')"><label for="edit">View Only</label>
		</div>
		<div class="col-md-4">
			<input type="radio"  name="PermissionType" value="Customized" ng-checked="PermissionType == 'Customized'" onchange="CheckPermission('Customized')"><label for="edit">Customized</label>
		</div>
	</div>
	<hr>
	<br>
    <div class="row" >
		<div class="col-md-4" ng-repeat="(key, rows) in data.dataLists" ng-if="rows.ModuleID">
			<div class="form-group"  style="border: 1px solid gray; padding: 10px;">
				
                <!-- <label class="control-label">{{rows.ModuleTitle}}</label>
				<input name="ModuleID[]" type="checkbox" class="form-control" value="{{rows.ModuleID}}" ng-checked="rows.C == 'sc'"> -->
					<!-- <h6>Module</h6> -->
		         	<!-- <input type="checkbox" class="module" name="ModuleID[]" value="{{rows.ModuleID}}" ng-checked="rows.C == 'sc'" id="squaredFour"/> -->
		            <h6>{{rows.ControlName}}</h6>
		            <label>Permission</label><br>
		            <input type="checkbox" class="view" ng-checked="rows.Action.indexOf('view') == 0 || rows.Action.indexOf('view') > 0" name="view[]" value="{{rows.ModuleID}}" id="view{{rows.ModuleID}}" onchange="CheckOnce('view',this.value)">&nbsp;<label for="edit">View Only</label>&nbsp;&nbsp;
		            <input type="checkbox" class="all" ng-checked="rows.Action.indexOf('all') == 0 || rows.Action.indexOf('all') > 0" name="all[]" value="{{rows.ModuleID}}" id="all{{rows.ModuleID}}" onchange="CheckOnce('all',this.value)">&nbsp;<label for="add">All Permission</label>
		            <!-- <input type="checkbox" ng-checked="rows.Action.indexOf('delete') == 0 || rows.Action.indexOf('delete') > 0" name="delete[]" value="{{rows.ModuleID}}"><label for="delete">Delete</label> -->
		     </div>
		</div>
	</div>
</div>
</div>

<div class="modal-footer">
	<input type="hidden" name="UserTypeID" value="{{data.UserTypeID}}">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="PermissionDataLoading" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm"  ng-disabled="PermissionDataLoading" ng-click="PermissionData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="PermissionDataLoading" style="position: absolute;    top:96%;    left: 40%; ">
</div>


