<div class="modal-body">



	<div class="row">

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label col-md-12">Role</label>
				<div class="col-md-8">
					<p class="form-control-static"> {{formData.UserTypeName}} </p>
				</div>

			</div>

		</div>

	</div>
	<!-- <div class="row">

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label col-md-12">Description</label>
				<div class="col-md-8">
					<p class="form-control-static" ng-bind-html="formData.Description"></p>
				</div>

			</div>

		</div>

	</div> -->

	</div>

	</div>



	<div class="modal-footer">

		<input type="hidden" name="UserTypeID" value="{{formData.UserTypeID}}">   

		<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	</div>





