<div class="modal-body">

	<div class="form-area">

		<form id="add_form" name="add_form" autocomplete="off" >

			<div class="row">

				<input name="FacultyGUID" type="hidden" class="form-control" value="18f1f4da-7372-3578-631f-911ca8299c39">

				<input name="QueryType" type="hidden" class="form-control" value="Query">

				<div class="col-md-12">

					<div class="form-group">

						<label class="filter-col" for="ParentCategory" id="select-label-parent-category">Title</label>

						<input name="QueryCaption" type="text" class="form-control" value="" maxlength="4">

						<!-- <select  ng-if="type == 'Course'" id="CategoryTypeName" onchange="ParentcategoryCheck(this.value)" name="CategoryTypeName" class="form-control chosen-select">

							<option value="Stream">Subject</option>

						</select>   -->

					</div>

				</div>

			</div>


			<div class="row" id="SelectParentCategory">

				<div class="col-md-12">

					<div class="form-group">

						<label class="filter-col" for="ParentCategory" id="select-label-parent-category">Ask a Query</label>

						<textarea rows="4" cols="100" ui-tinymce="" class="manual_text" name="QueryContent" id="QueryContent" onkeyup="" style="border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #212121;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;"></textarea>

					</div>

				</div>

			</div>


		</form>



	</div>

</div>



<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-click="addData()">Save</button>

</div>