<div class="modal-body" ng-if="!data.pageLoading">
   <div class="form-area"> 
      <form id="edit_form" name="edit_form" autocomplete="off" method="post">
        <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
        <input type="hidden" name="TotalFee" value="{{formData.TotalFeeAmount}}">
        <input type="hidden" name="LastPaidAmount" value="{{formData.PaidAmount}}">
        <input type="hidden" name="RemainingAmount" id="RemainingAmount" value="{{formData.RemainingAmount}}">
        <input type="hidden" name="FeeCollectionID" value="{{formData.FeeCollectionID}}">
        
        
        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="filter-col" for="ParentCategory">Student Name<span style="color:red">*</span></label>
                 <!--  <input type="text" class="form-control" name="StudentID"  value="{{StudentID}}"> -->
                 <select class="form-control" name="UserGUID" readonly>
                     <option value="{{formData.UserGUID}}">{{formData.FirstName}} {{formData.LastName}}</option>
                  </select>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="filter-col" for="ParentCategory">Enrollment No.<span style="color:red">*</span></label>
                  <input type="text" class="form-control" name="StudentID"  value="{{formData.Enrollment}}">
               </div>
            </div>
        </div>


        <div class="row">
        <div class="col-md-12">
          <table class="table">
          <thead><th width="50%">Due Date (<label style="font-size: 10px;">Check due date for which receiving payment.</label>)</th><th width="50%">Received Date</th></thead>
          <tbody>
            <tr ng-repeat="(key, row) in data.DueDates">
              <td>
                <label ng-if="row.IsPaid == 0"><input type='checkbox' name='duedates[]' value="{{row.DueDateID}}">&nbsp;{{row.DueDate}}</label>
                
                <label ng-if="row.IsPaid == 1"><input type='checkbox' name='duedates[]' value="{{row.DueDateID}}" checked >&nbsp;{{row.DueDate}}</label>
              </td>  

              <td>{{row.ReceivedDate}}</td>
            </tr>

            <tr ng-if="data.DueDates.length <= 0">
              <td colspan="2">
                Please define due date for selected student on Edit student details.
              </td>
            </tr>  
          </tbody>  
          </table>
        </div>   
        </div>
        <hr class="light-grey-hr-custom">


        <div class="row">
            <div class="col-sm-12">
               <strong style="color: #000; font-size: 16px; margin-bottom: 0px;"> Fee/Paid Details:</strong>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Course:</strong>
                  <p>{{formData.CourseName}}</p>                  
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Batch:</strong>
                  <p>{{formData.BatchName}}</p> 
               </div>
            </div>  
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Fee:</strong>
                  <p>{{formData.TotalFee}}</p>
               </div>
            </div> 
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> EMI:</strong>
                  <p>{{formData.NoOfInstallment}} <span> ({{formData.InstallmentAmount}}) </span></p> 
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Paid EMI:</strong>
                  <p>{{formData.PaidEMICount}}</p> 
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Paid Amount:</strong>
                  <p>{{formData.PaidAmount}}</p> 
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Remaining EMI:</strong>
                  <p ng-if="formData.PaidAmount > 0">{{formData.RemainingEMI}}</p> 
                  <!-- <p ng-if="formData.PaidAmount == 0">{{formData.TotalFeeInstallments}}</p> --> 
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Remaining Amount:</strong>
                  <p ng-if="formData.PaidAmount > 0">{{formData.RemainingAmount}}</p>
                  <!-- <p ng-if="formData.PaidAmount == 0 && formData.TotalFeeAmount > 0">{{formData.TotalFeeAmount}}</p>
                  <p ng-if="formData.PaidAmount == 0 && formData.TotalFeeAmount == 0">{{formData.FullDiscountFee}}</p>  --> 
               </div>
            </div>  
            <div class="col-md-12">
              <hr class="light-grey-hr-custom">
            </div>          
         </div>
         
         <div class="row">
            <div class="col-sm-12" style="margin-bottom: 10px;">
               <strong style="color: #000; font-size: 16px; margin-bottom: 10px;"> Payment:</strong>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label class="filter-col" for="ParentCategory">Mode of payment <span style="color:red">*</span></label>
                  <input type="hidden" name="CategoryGUID" value="{{CourseGUID}}">
                   <select class="form-control" name="PaymentMode" ng-model="PaymentMode"  ng-change="updatePaymentMode(PaymentMode)">
                        <option value="">Please select</option>
                        <option value="Cash" ng-selected='formData.PaymentMode == "Cash"'>Cash</option>
                        <option value="Cheque" ng-selected='formData.PaymentMode == "Cheque"'>Cheque</option>
                        <option value="Online" ng-selected='formData.PaymentMode == "Online"'>Online</option>
                   </select>
               </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label class="control-label mb-10">Amount (<i class="fa fa-rupee"></i>)</label>
                  <input type="text" name="Amount" class="form-control integer" onkeyup="CheckAmount(this.value)" id="Amount" placeholder="0.00" value="{{formData.Amount}}">
              </div>
            </div>
            <div class="col-md-4">
               <div class="form-group">
                  <label class="control-label mb-10">Payment Date</label>
                  <input type="text" name="PaymentDate" class="form-control" id="PaymentDate" placeholder="dd-mm-yyyy" value="{{formData.PaymentDate}}" readonly>
               </div>
            </div>
          </div>
         
         <div class="row cash" ng-show="formData.PaymentMode == 'Cash'">           
            <div class="col-md-12 cash">
               <div class="form-group">Denomination 
                  <table width="50%" border="0" class="table table-striped table-hover" style="width: 50% !important;">
                                       
                    <tr><th>Type</th><th>Counts</th><th>Amount <span class="TotalCashTop"></span></th></tr>

                     <tr ng-repeat="Notes in CurrencyNotes">
                        <td>{{Notes}} x</td>
                        
                        <td>
                           <input type="text" name="Notes[{{Notes}}]" class="integer" id="{{Notes}}_Note" placeholder="0" ng-keyup="calculate_notes_amount(Notes);" maxlength="5" style="width: 50%; height: 25px;">
                        </td>

                        <td> = 
                           <input type="text" class="integer NotesCashAmount" id="{{Notes}}_Cash" placeholder="0" style="width: 50%; height: 25px;" readonly>
                        </td>
                     </tr>

                     <tr>
                        <td colspan="2" align="center">Total</td>
                        <td> 
                           <input type="text" class="integer" id="TotalCash" placeholder="0" style="width: 100%; height: 25px;" readonly>
                        </td>                     
                     </tr>   
                  </table>   
              </div>
            </div>            
          </div>




        <div class="row online" ng-show="formData.PaymentMode == 'Online'">
            <!--/span-->
            <div class="col-md-12">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2">Payment Type</label>
                  <div class="input-group">
                     <select  id="PaymentType" class="form-control"  name="PaymentType">
                        <option value="">Please select</option>
                        <option value="NEFT" ng-selected="formData.PaymentType == 'NEFT'">NEFT</option>
                        <option value="RTGS" ng-selected="formData.PaymentType == 'RTGS'">RTGS</option>
                        <option value="Paytm" ng-selected="formData.PaymentType == 'Paytm'">Paytm</option>
                        <option value="UPI" ng-selected="formData.PaymentType == 'UPI'">UPI</option>
                        <option value="UPI" ng-selected="formData.PaymentType == 'CreditCard'">Credit Card</option>
                        <option value="UPI" ng-selected="formData.PaymentType == 'DebitCard'">Debit Card</option>
                   </select>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2">Transaction ID</label>
                  <div class="input-group">
                     <input type="text" class="form-control integer" id="TransactionID"  name="TransactionID" value="{{formData.TransactionID}}">
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>  
            <!--/span-->
          <div class="row cheque" ng-show="formData.PaymentMode == 'Cheque'">
           
            <div class="col-md-6 cheque">
               <div class="form-group">
                  <label class="control-label mb-10">Cheque Number</label>
                  <input type="text" name="ChequeNumber" class="form-control integer" 
                     id="ChequeNumber" placeholder="" maxlength="20" value="{{formData.ChequeNumber}}">
               </div>
            </div>
            <div class="col-md-6 cheque">
               <div class="form-group">
                  <label class="control-label mb-10">Cheque Date</label>
                  <input type="text" name="ChequeDate" class="form-control" 
                     id="ChequeDate" placeholder="dd-mm-yyyy" value="{{formData.ChequeDate}}" readonly>
               </div>
            </div>
            <div class="col-md-6 cheque">
               <div class="form-group">
                  <label class="control-label mb-10">Bank Name</label>
                  <input type="text" name="BankName" class="form-control" 
                     id="BankName" placeholder="" maxlength="100" value="{{formData.BankName}}">
               </div>
            </div>
            </form>
            <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName">Upload Deposite Slip</label>
               <div class="form-group">
                  <div id="picture-box" class="picture-box banner">
                     <!-- picture display -->
                     <img id="picture-box-picture" ng-src="{{formData.MediaThumbURL}}">
                     <div class="picture-upload">
                        <img src="./asset/img/upload.svg" id="picture-uploadBtn">
                        <form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">
                           <input type="hidden" name="Section" value="OfflinePayment">
                           <input type="file" accept="image/*" name="File" id="fileInput"
                              data-target="#picture-box #picture-box-picture"
                              data-croptarget="#picture-box #picture-box-crop"
                              data-targetinput=".MediaGUIDs"
                              >
                        </form>
                     </div>
                     <!-- progressbar -->
                     <div class="progressBar">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        </div>       
      
   </div>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
   <button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="editData()">Save</button>
   <img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>
<script> 
   function CheckAmount(givenAmount)
   {
      var RemainingAmount = $("#RemainingAmount").val();
      console.log(RemainingAmount); console.log(givenAmount);
      if(givenAmount.length > 0 && !$.isNumeric(givenAmount)){
        alert("Sorry! Only numbers are allowed");
        $("#Amount").val('');
      }else if(parseInt(RemainingAmount) < parseInt(givenAmount)){
        alert("Sorry! Amount can not be greater than "+parseInt(RemainingAmount));
        $("#Amount").val('');
      }
   }
</script>