<div class="modal-body" ng-if="!data.pageLoading">
   <div class="form-area"> 
      
        <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
        <input type="hidden" name="TotalFee" value="{{formData.TotalFeeAmount}}">
        <input type="hidden" name="LastPaidAmount" value="{{formData.PaidAmount}}">
        <input type="hidden" name="RemainingAmount" id="RemainingAmount" value="{{formData.RemainingAmount}}">
        <input type="hidden" name="FeeCollectionID" value="{{formData.FeeCollectionID}}">
        
        
        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;">Student Name:</strong> {{formData.FirstName}} {{formData.LastName}}</label>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;">Enrollment No.:</strong> {{formData.Enrollment}}
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
               <strong style="color: #000; font-size: 16px; margin-bottom: 0px;"> Fee/Paid Details:</strong>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Course:</strong>
                  <p>{{formData.CourseName}}</p>                  
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Batch:</strong>
                  <p>{{formData.BatchName}}</p> 
               </div>
            </div>  
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Fee:</strong>
                  <p>{{formData.TotalFee}}</p>
               </div>
            </div> 
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> EMI:</strong>
                  <p>{{formData.NoOfInstallment}} <span> ({{formData.InstallmentAmount}}) </span></p> 
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Paid EMI:</strong>
                  <p>{{formData.PaidEMICount}}</p> 
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Paid Amount:</strong>
                  <p>{{formData.PaidAmount}}</p> 
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Remaining EMI:</strong>
                  <p ng-if="formData.PaidAmount > 0">{{formData.RemainingEMI}}</p>                   
               </div>
            </div>
            <div class="col-md-3">
               <div class="form-group">
                  <strong style="color: #000; font-size: 14px; margin-bottom: 20px;"> Remaining Amount:</strong>
                  <p ng-if="formData.PaidAmount > 0">{{formData.RemainingAmount}}</p>                  
               </div>
            </div>  
            <div class="col-md-12">
              <hr class="light-grey-hr-custom">
            </div>          
         </div>
         
         <div class="row">
            <div class="col-sm-12" style="margin-bottom: 10px;">
               <strong style="color: #000; font-size: 16px; margin-bottom: 10px;"> Payment:</strong>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label class="filter-col" for="ParentCategory"><b>Mode of payment:</b> {{formData.PaymentMode}}</label>                  
               </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label class="control-label mb-10"><b>Amount:</b> (<i class="fa fa-rupee"></i>):</label> {{formData.Amount}}
              </div>
            </div>
            <div class="col-md-4">
               <div class="form-group">
                  <label class="control-label mb-10"><b>Payment Date:</b></label> {{formData.PaymentDate | date}}
               </div>
            </div>
          </div>

         
         <div class="row cash" ng-show="formData.PaymentMode == 'Cash'">           
            <div class="col-md-12 cash">
               <div class="form-group">Denomination 
                  <table width="50%" border="0" class="table table-striped table-hover" style="width: 50% !important;">
                                       
                    <tr><th style="min-width: 150px;">Type</th><th style="min-width: 150px;">Counts</th><th style="min-width: 150px;">Amount <span class="TotalCashTop"></span></th></tr>

                     <tr ng-repeat="notes in formData.Denomination">
                        <td><i class="fa fa-rupee"></i>{{notes.NoteType}} x</td>
                        
                        <td>
                           <input type="text" id="{{notes.NoteType}}_Note" style="width: 50%; height: 25px;" value="{{notes.Count}}" readonly>
                        </td>

                        <td> = 
                           <input type="text" class="integer NotesCashAmount" id="{{notes.NoteType}}_Cash" style="width: 50%; height: 25px;" value="{{notes.Amount}}" readonly>
                        </td>
                     </tr> 

                     <tr>
                        <td colspan="2" align="center">Total</td>
                        <td>
                            <span class="TotalCashTop"></span> 
                           <!-- <input type="text" class="TotalCashTop" id="TotalCash" style="width: 100%; height: 25px;" readonly> -->
                        </td>                     
                     </tr>                      
                  </table>   
              </div>
            </div>            
          </div>




        <div class="row online" ng-show="formData.PaymentMode == 'Online'">
            <!--/span-->
            <div class="col-md-12">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2"><b>Payment Type:</b> {{formData.PaymentType}}</label>                  
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label mb-10" for="exampleInputuname_2"><b>Transaction ID:</b> {{formData.TransactionID}}</label>
               </div>
            </div>
            <!--/span-->
         </div>  
            <!--/span-->


          <div class="row cheque" ng-show="formData.PaymentMode == 'Cheque'">
           
            <div class="col-md-6 cheque">
               <div class="form-group">
                  <label class="control-label mb-10"><b>Cheque Number:</b> {{formData.ChequeNumber}}</label>
               </div>
            </div>
            <div class="col-md-6 cheque">
               <div class="form-group">
                  <label class="control-label mb-10"><b>Cheque Date:</b> {{formData.ChequeDate | date}}</label>
               </div>
            </div>
            <div class="col-md-6 cheque">
               <div class="form-group">
                  <label class="control-label mb-10"><b>Bank Name:</b> {{formData.BankName}}</label>
               </div>
            </div>
            
            <div class="col-md-6">
            <div class="form-group">
               <label class="filter-col" for="CategoryTypeName"><b>Upload Deposite Slip:</b> </label>
               <div class="form-group">
                  <div id="picture-box" class="picture-box banner">
                     <!-- picture display -->
                     <img id="picture-box-picture" ng-src="{{formData.MediaThumbURL}}">                     
                     
                  </div>
               </div>
            </div>
         </div>
        </div>       
      
   </div>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>