<div class="modal-body">
	<div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off">
			<input type="hidden" name="IndustryID" value="{{formDatas.IndustryID}}">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Industry Name <span style="color: red">*</span></label>
						<input value="{{formDatas.IndustryName}}" name="IndustryName" type="text" class="form-control">
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Description </label>
						<textarea name="Description" id="Description" class="form-control">{{formDatas.Description}}</textarea>
					</div>
				</div>

			</div>

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData();$event.preventDefault();">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">
</div>