<style type="text/css">
#view_model .modal-lg{
max-width:1000px;
}
.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
min-width: 50px;
}
.disabled-btn {
cursor: not-allowed !important;
}
.enabled-btn {
cursor: pointer!important;
}
</style>
<div class="modal-body">
<div id="" class="">
	<div class="">
	<!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>VIEW QUESTION DETAILS</h6> -->
	<!-- <hr class="light-grey-hr"/> -->
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label col-md-12">Industry Name :</label>
				<div class="col-md-9">
					{{formDatas.IndustryName}}
																				
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label col-md-12">Description :</label>
				<div class="col-md-8">
					<p class="form-control-static"  ng-bind-html="formDatas.Description"> </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label col-md-12">Entry Date :</label>
				<div class="col-md-9">
					{{formDatas.EntryDate}}
																				
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label col-md-12">Last Modify Date :</label>
				<div class="col-md-8">
					<p class="form-control-static" ng-if="formDatas.ModifyDate != ''"> {{formDatas.ModifyDate}} </p>
					<p class="form-control-static" ng-if="formDatas.ModifyDate == ''"> {{formDatas.EntryDate}} </p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>


<div class="modal-footer">
<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>