<div class="modal-body">


	<div class="form-area">

		<div class="form-group">
			<div id="picture-box" class="picture-box banner">

				<!-- picture display -->
				<img id="picture-box-picture" ng-src="./asset/img/default-product.png">


				<form id="picture-box-crop" name="img_crop_form" action="../api/upload/cropimage" method="post" style="display:none">
					<input type="hidden" name="x1-axis" id="x1-axis" value="" />
					<input type="hidden" name="y1-axis" id="y1-axis" value="" />
					<input type="hidden" name="x2-axis" id="x2-axis" value="" />
					<input type="hidden" name="y2-axis" id="y2-axis" value="" />
					<input type="hidden" name="thumb-width" id="thumb-width" value="" />
					<input type="hidden" name="thumb-height" id="thumb-height" value="" />
					<!-- <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value=""> -->
						<button type="button" class="btn btn-success btn-sm text-center mt-3" id="cropBtn"
						data-target="#picture-box #picture-box-picture"
						data-croptarget="#picture-box #picture-box-crop">Crop Image</button>
				</form>		


				<!-- picture upload form -->
				<div class="picture-upload">
					<img src="./asset/img/upload.svg" id="picture-uploadBtn">
					<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="Product">
						<input type="file" accept="image/*" name="File" id="fileInput"
						data-target="#picture-box #picture-box-picture"
						data-croptarget="#picture-box #picture-box-crop"
						data-targetinput=".MediaGUIDs"
						>
					</form>
				</div>
				<!-- progressbar -->
				<div class="progressBar">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
			</div>
		</div>


		<form id="add_form" name="add_form" autocomplete="off" >



			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#general-add" role="tab">General</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#prices-add" role="tab">Prices</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#inventory-add" role="tab">Inventory</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#categories-add" role="tab">Categories</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#associated-add" role="tab">Associated Products</a>
				</li>





			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

				<!-- General tab -->
				<div class="tab-pane pt-3 active" id="general-add" role="tabpanel">

					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<label class="control-label">Name</label>
								<input name="ProductName" type="text" class="form-control" maxlength="40">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Description</label>
								<textarea name="ProductDesc" class="form-control" id="ProductDesc" style="height:80px"></textarea>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Short Description</label>
								<textarea name="ProductShortDesc" class="form-control" style="height:50px" maxlength="200"></textarea>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="filter-col">Food Label</label>
								<select name="IsVeg" class="form-control chosen-select">
									<option value="">Please Select</option>								
									<option value="Yes">Veg</option>
									<option value="No">Non-veg</option>
								</select>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Preparation time</label>
								<select name="ProductPrepTime" class="form-control chosen-select">
									<option value="15 min">15 min</option>
									<option value="30 min">30 min</option>
									<option value="45 min">45 min</option>
									<option value="1 hr">1 hr</option>
								</select>
							</div>
						</div>

					</div>







					<hr>







					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Status</label>
								<select name="Status" class="form-control chosen-select">
									<option value="Active">Active</option>
									<option value="Inactive">Inactive</option>
								</select>
							</div>
						</div>
					</div>

				</div><!-- General tab /-->

				<!-- Prices tab -->
				<div class="tab-pane pt-3" id="prices-add" role="tabpanel">

					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Regular Price</label>
								<input name="ProductRegPrice" type="text" class="form-control numeric" maxlength="6">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Buy Price</label>
								<input name="ProductBuyPrice" type="text" class="form-control numeric" maxlength="6">
							</div>
						</div>
					</div>

				</div><!-- Prices tab /-->




				<!-- Inventory tab -->
				<div class="tab-pane pt-3" id="inventory-add" role="tabpanel">

					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="filter-col">Stock Quantity</label>
								<input name="ProductInStock" type="text" class="form-control integer" maxlength="3" >
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="filter-col">Backorder</label>
								<select name="ProductBackorders" class="form-control chosen-select">
									<option value="Yes">Yes</option>
									<option value="No">No</option>
								</select>
								<small>This option also allows the user to order out-of-stock products.</small>
							</div>
						</div>

					</div>


				</div><!-- Categories tab /-->


				<!-- Categories tab --><!-- ng:model="query.Statuses" -->
				<div class="tab-pane pt-3" id="categories-add" role="tabpanel">

					<div class="row" ng-if="formData.Navigation.length">
						<div class="col-md-8">
							<div class="form-group">
								<label class="filter-col">Navigation</label>
								<select name="CategoryGUIDs[]" class="form-control chosen-select" multiple ng-model="formData.Product.NavigationCategoryGUIDs" ng-options="row.CategoryGUID as row.CategoryName for row in formData.Navigation">
								</select>
							</div>
						</div>
					</div>



					<div class="row"  >
						<div class="col-md-8">
							<div class="form-group" ng-if="filterData.Categories.length">
								<label class="filter-col">Categories</label>
								<select name="CategoryGUIDs[]" class="form-control chosen-select" multiple ng-model="formData.Product.CategoriesCategoryGUIDs" ng-options="row.CategoryGUID as row.CategoryName for row in filterData.Categories">
								</select>
							</div>

							<div class="form-group text-danger text-center" ng-if="!filterData.Categories.length">
								<span>No categories defined.</span>
							</div>
						</div>
					</div>


					<div class="row"  ng-if="formData.Cuisine.length">
						<div class="col-md-8">
							<div class="form-group">
								<label class="filter-col">Cuisine</label>
								<select name="CategoryGUIDs[]" class="form-control chosen-select" multiple ng-model="formData.Product.CuisineCategoryGUIDs" ng-options="row.CategoryGUID as row.CategoryName for row in formData.Cuisine">
								</select>
							</div>
						</div>
					</div>


				</div><!-- Categories tab /-->


				<!-- Associated products tab -->
				<div class="tab-pane pt-3" id="associated-add" role="tabpanel">
					<div class="row" >
						<div class="col-md-8">
							<div class="form-group" ng-if="formData.Products.length">
								<label class="filter-col">Products</label>
								<select name="ProductGUIDs[]" class="form-control chosen-select" multiple ng-model="formData.Product.AddOnProductsGUIDs" ng-options="row.ProductGUID as row.ProductName for row in formData.Products">
								</select>
							</div>

							<div class="form-group text-danger text-center" ng-if="!formData.Products.length">
								<span>No products.</span>
							</div>
						</div>
					</div>



				</div><!-- Associated products tab /-->



			</div>


































			<!-- hidden parameters -->
			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value=""> <!-- for banner -->
			<input type="hidden" name="ProductGUID">   
			<!-- hidden parameters /-->
		</form>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>
</div>


