<div class="modal-body">
	<div class="form-area">

		<h4 class="text-center">{{formData.ProductName}}</h4>


		<div class="form-group">
			<div id="picture-box" class="picture-box banner">
				<img ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/default-product.png">
				<img ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}">
			</div>
		</div>


		<div class="form-group">
			<div>
				<p><strong>Warning!</strong> This action is irreversible. Data will be scrubbed and irretrievable.</p>
			</div>
		</div>


	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="deleteData(formData.ProductGUID)">Delete Permanently</button>
</div>


