<div class="modal-body">
	<div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off">
			<!-- <input type="hidden" name="SignatureGUID" value="{{formdata.SignatureGUID}}"> -->
			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">From Name </label>
						<input name="FromName" type="text" class="form-control" value="{{formData.FromName}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">From Email<span style="color:red">*</span></label>
						<input name="FromEmail" type="email" class="form-control" value="{{formData.FromEmail}}">
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-md-12">

					<div class="form-group">

						<label class="control-label" >Signature <span style="color:red">*</span></label>
                        <!-- <input type="text" name="Address" id="Address" class="form-control"> -->
                  		 <textarea class="form-control" name="Signature" id="Signature" ng-bind-html="formData.Signature"></textarea>
                    </div>
 				
 				</div>
 				

			</div>
			
			</div>
		</form>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="editData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoaderSet">
</div>


