<div class="modal-body">
	<div class="form-area">

		<h4 class="text-center">{{formData.StoreName}}</h4>

		<div class="form-group">
			<div id="picture-box" class="picture-box banner">
				<img ng-if="!formData.Logo.MediaThumbURL" ng-src="./asset/img/default-store.png">
				<img ng-if="formData.Logo.MediaThumbURL" ng-src="{{formData.Logo.MediaThumbURL}}">
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<p>Current status is <strong ng-class="{Inactive:'text-danger', Active:'text-success'}[formData.Status]">{{formData.Status}}</strong>.</p>
				</div>
			</div>
		</div>


		<div class="form-group">
			<div>
				<p><strong>Warning!</strong> This action is irreversible. Data will be scrubbed and irretrievable.</p>
			</div>
		</div>


	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="deleteData(formData.StoreGUID)">Delete Permanently</button>
</div>


