<div class="modal-body">
	<div class="form-area">

	<h4 class="text-center">{{formData.StoreName}}</h4>	

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#slogo" role="tab">Store Logo</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " data-toggle="tab" href="#sbanner" role="tab">Store Banner</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Logo tab -->
			<div class="tab-pane pt-3 active" id="slogo" role="tabpanel">
				<div class="form-group">
					<div id="picture-box" class="picture-box banner">
						<!-- picture display -->
						<img id="picture-box-logo" ng-if="!formData.Logo.MediaThumbURL" ng-src="./asset/img/default-store.png">
						<img id="picture-box-logo" ng-if="formData.Logo.MediaThumbURL" ng-src="{{formData.Logo.MediaThumbURL}}">
						<!-- picture upload form -->
						<div class="picture-upload">
							<img src="./asset/img/upload.svg" id="picture-uploadBtn">
							<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
								<input type="hidden" name="Section" value="Store">
								<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-logo" data-targetinput="#MediaGUID">
							</form>
						</div>
						<!-- progressbar -->
						<div class="progressBar">
							<div class="bar"></div>
							<div class="percent">0%</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Banner tab -->
			<div class="tab-pane pt-3" id="sbanner" role="tabpanel">
				<div class="form-group">
					<div id="picture-box" class="picture-box banner">
						<!-- picture display -->
						<img id="picture-box-banner" ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/default-storebanner.png">
						<img id="picture-box-banner" ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}">
						<!-- picture upload form -->
						<div class="picture-upload">
							<img src="./asset/img/upload.svg" id="picture-uploadBtn">
							<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
								<input type="hidden" name="Section" value="StoreCover">
								<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-banner" data-targetinput="#MediaGUIDs">
							</form>
						</div>
						<!-- progressbar -->
						<div class="progressBar">
							<div class="bar"></div>
							<div class="percent">0%</div>
						</div>
					</div>
				</div>
			</div>
		</div>










		<form id="edit_form" name="edit_form" autocomplete="off" >

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Store Name</label>
						<input name="StoreName" type="text" class="form-control" value="{{formData.StoreName}}" maxlength="150" ng-model="formData.StoreName">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Store Location</label>
						<textarea name="Location" type="text" class="form-control" maxlength="255">{{formData.Location}}</textarea>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="filter-col">Food Label</label>
						<select name="IsVeg" class="form-control chosen-select">
							<option value="">Please Select</option>								
							<option value="Yes" ng-selected="formData.IsVeg=='Yes'">Veg</option>
							<option value="No" ng-selected="formData.IsVeg=='No'">Non-veg</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Estimated Delivery Time</label>
						<select name="EstimatedDeliTime" class="form-control chosen-select">
							<option value="15 min" ng-selected="formData.EstimatedDeliTime=='15 min'">15 min</option>
							<option value="30 min" ng-selected="formData.EstimatedDeliTime=='30 min'">30 min</option>
							<option value="45 min" ng-selected="formData.EstimatedDeliTime=='45 min'">45 min</option>
							<option value="1 hour" ng-selected="formData.EstimatedDeliTime=='1 hour'">1 hour</option>
						</select>
					</div>
				</div>


				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Min Order Price</label>
						<input name="MinOrderPrice" type="text" class="form-control" value="{{formData.MinOrderPrice}}" maxlength="4">
					</div>
				</div>


			</div>






			<div class="row">
			<div class="col-md-6">
					<div class="form-group">
						<label class="filter-col">Store Owner</label>
						<select id="StoreOwnerUserID" name="StoreOwnerGUID" class="form-control chosen-select">
							<option value="">Please Select</option>
							<option ng-repeat="row in filterData.Users" value="{{row.UserGUID}}"  ng-selected="formData.StoreOwnerGUID==row.UserGUID">{{row.FullName}}</option>
						</select>  
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Status</label>
						<select name="Status" id="Status" class="form-control chosen-select">
							<option value="Active" ng-selected="formData.Status=='Active'">Active</option>
							<option value="Inactive" ng-selected="formData.Status=='Inactive'">Inactive</option>
						</select>
					</div>
				</div>
			</div>

			<!-- hidden parameters -->
			<input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value=""> <!-- for Logo -->
			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value=""> <!-- for banner -->

			<input type="hidden" name="StoreGUID" value="{{formData.StoreGUID}}">   
			<!-- hidden parameters /-->
		</form>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>
</div>


