<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

.checkbox-list{



}

</style>



<div class="modal-body">

<div class="form-area">

<div class="col-md-12">

<div class="row">

<div class="col-md-12">

<div class="panel panel-default card-view">

<div class="panel-wrapper in">

<div class="panel-body">

<div class="row">

<div class="col-sm-12 col-xs-12">

<div class="form-wrap">

<div class="form-body">

<div class="form-area">

<form id="add_make_payment_form" name="add_make_payment_form" autocomplete="off">							

	<input name="OrderID" type="hidden" value="{{OrderID}}">
	<input name="InstituteID" type="hidden" value="{{InstituteID}}">
	
	<input name="AmountTotal" type="hidden" value="{{AmountTotal}}">
	<input name="PayableAmount" type="hidden" value="{{PayableAmount}}">
	<input name="Commission" type="hidden" value="{{Commission}}">

	<div class="row">

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Payout Date <span class="text-danger">*</span></label>

				<input name="PayoutDate" id="PayoutDate" type="text" class="form-control" value="{{PayDate}}" readonly="">

			</div>

		</div>

	</div>	
	

	<div class="row">	

		<div class="col-md-12">

			<div class="form-group">

				<label class="control-label">Remarks <span class="text-danger">*</span></label>

				<textarea class="form-control" name="Remarks" id="Remarks" rows="2" cols="50"></textarea>

			</div>
		</div>
	
	</div>		


</form>



</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addDataPayout()">Save</button>

</div>