<div class="modal-body">
	<div class="form-area">
		<form id="active_form" name="active_form" autocomplete="off" >

			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">You confirm This Status Inactive ?</label>
						<input name="StatusID" type="checkbox" value="3">
						<input type="hidden" name="UserGUID" id="UserGUID" class="form-control" value="{{formData.UserGUID}}">
					</div>
				</div>
			</div>
			
		</form>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-click="Inactive()">Inactive</button>
</div>


