<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">Branch Name <span style="color:red">*</span></label>
						<input name="BranchName" type="text" class="form-control" value="" maxlength="100">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">Email ID <span style="color:red">*</span></label>
						<input name="Email" type="email" class="form-control" value="" onkeyup="validateEmail(this);" onblur="validateEmail(this);">
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label" >Address <span style="color:red">*</span></label>
                        <!-- <input type="text" name="Address" id="Address" class="form-control"> -->
                   <textarea class="form-control ng-binding" name="Address" rows="8" cols="10" onkeyup="maxCharactersLimit(this, 200);" onblur="maxCharactersLimit(this, 200);"></textarea>
                    </div>
 				
 				</div>
 				<div class="col-md-6">
					

					<div class="form-group">
						<label class="control-label">Select State <span style="color:red">*</span></label>
						<select name="StateName" id="State" class="form-control" ng-model="state" ng-change="getCities(state)">
							<option value="">Please Select</option>
							<option ng-repeat="row in data.states" value="{{row.State_id}}">{{row.StateName}}</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">Select City <span style="color:red">*</span></label>
						<select name="CityName" id="City" class="form-control">
							<option value="">Please Select</option>
							<option ng-repeat="row in data.cities" value="{{row.name}}">{{row.name}}</option>
						</select>
					</div>
					<div class="form-group">

						<label class="control-label" >ZIP CODE </label>

						<input type="text" name="CityCode" id="CityCode" class="form-control integer" maxlength="6">

					</div>

						<input type="hidden" name="CountryCode" id="CountryCode" class="form-control" value="IN">


					</div>

			</div>
			
			</div>

			<div class="row">
				<div class="col-md-6">

					
				</div>
			
			</div>


			

			<!-- <input type="hidden" name="Source" value="Direct">   -->

		</form>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Invite</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>


