<div class="modal-body">
	<div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">Branch Name <span style="color:red">*</span></label>
						<input name="BranchName" type="text" maxlength="100" class="form-control" value="{{formData.FirstName}}">
						<input name="UserGUID" type="hidden" class="form-control" value="{{formData.UserGUID}}">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">Email ID <span style="color:red">*</span></label>
						<input name="Email" id="Email" type="email" class="form-control" value="{{formData.Email}}" onkeyup="validateEmail(this);" onblur="validateEmail(this);">
					</div>
				</div>
			</div>
		
			<div class="row">
				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label" >Address <span style="color:red">*</span></label>
                        <!-- <input type="text" name="Address" id="Address" class="form-control" value="{{formData.Address}}"> -->
                        <textarea class="form-control ng-binding" name="Address" rows="8" cols="10" value="{{formData.Address}}" onkeyup="maxCharactersLimit(this, 200);" onblur="maxCharactersLimit(this, 200);">{{formData.Address}}</textarea>
                   
                    </div>
 				
 				</div>
 				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Select State <span style="color:red">*</span></label>
						<select name="StateName" id="State" class="form-control" onchange="getCities(this.value)">
							<option value="">Please Select</option>
							<option ng-repeat="row in data.states" ng-selected="row.State_id==formData.StateID" value="{{row.State_id}}">{{row.StateName}}</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">Select City <span style="color:red">*</span></label>
						<select name="CityName" id="City" class="form-control">
							<option value="">Please Select</option>
							<option ng-repeat="rows in data.cities" ng-selected="rows.name==formData.CityName"  value="{{rows.name}}">{{rows.name}}</option>
						</select>
					</div>
					<div class="form-group">

						<label class="control-label" >ZIP CODE </label>

						<input type="text" name="CityCode" id="CityCode" maxlength="6" class="form-control integer" value="{{formData.CityCode}}">

					</div>
						<input type="hidden" name="CountryCode" id="CountryCode" class="form-control" value="IN">


					

			</div>
			
			</div>

		</form>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">
</div>


