<div class="modal-body">
	<div class="form-area">
		<form id="email_form" name="email_form" autocomplete="off" >

			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">Email ID <span style="color:red">*</span></label>
						<input name="Email" type="email" class="form-control" value="{{formData.Email}}" >
						<input name="UserGUID" type="hidden" class="form-control" value="{{formData.UserGUID}}">
						<input name="UserID" type="hidden" class="form-control" value="{{formData.UserID}}">
						<input type="hidden" name="MediaURL" value="{{formData.MediaURL}}">
						<input name="FirstName" type="hidden" class="form-control" value="{{formData.FirstName}}">
					</div>
				</div>
			</div>

		</form>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-click="emailData()">Invite</button>
</div>


