<div class="row">
<div class="col-md-12">
<div class="panel panel-default card-view">
<div class="panel-wrapper">
<div class="panel-body">
<div class="row" >
<div class="col-sm-12 col-xs-12">
<div class="form-wrap">
 <!--   <form action="#" class="form-horizontal"> -->
      <div class="form-body">
         <!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Institute Info</h6> 
         <hr/>-->
         <div class="row">
            <div class="col-md-12">
               <img src="{{formData.ProfilePic}}" alt="Logo" class="thumbnail rounded-circle" style="float: left;">
              
            </div> 
         </div>
         <div class="clear" >&nbsp;</div>
         
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label ng-if="formData.UserTypeName=='Institute'" class="control-label">Branch Name:</label>
                  <label ng-if="formData.UserTypeName!='Institute'" class="control-label">First Name:</label>
                  <div class="">
                  <p class="form-control-static"> {{formData.FirstName}}</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6" ng-if="formData.UserTypeName=='Institute'">
               <div class="form-group">
                  <label class="control-label">Registration No:</label>
                  <div class="">
                     <p class="form-control-static"> {{formData.RegistrationNumber}} </p>
                  </div>
               </div>
            </div>
            <div class="col-md-6" ng-if="formData.UserTypeName!='Institute'">
               <div class="form-group">
                  <label class="control-label">Last Name</label>
                  <div class="">
                     <p class="form-control-static"> {{formData.LastName}} </p>
                  </div>
               </div>
            </div>
         </div>
         <div ng-if="formData.UserTypeName!='Institute'">
                          <!-- /Row -->
         <div class="clear">&nbsp;</div>
         <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Job And Work Experience</h6>
         <hr/>
          <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">User Type Name:</label>
                  <div class="">
                     <p class="form-control-static"> {{row.UserTypeName}} </p>
                  </div>
               </div>
            </div>
             <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">DESIGNATION:</label>
                  <div class="">
                     <p class="form-control-static">{{row.Designation}} </p>
                  </div>
               </div>
            </div>
         </div> 
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Last Employer:</label>
                  <div class="">
                     <p class="form-control-static"> {{row.Employer}} </p>
                  </div>
               </div>
            </div>
             <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">JobProfile:</label>
                  <div class="">
                     <p class="form-control-static">{{row.JobProfile}} </p>
                  </div>
               </div>
            </div>
         </div> 
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Total Experience:</label>
                  <div class="">
                     <p class="form-control-static"> {{row.Experience}} </p>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
         <!-- /Row -->
         <div class="clear">&nbsp;</div>
         <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Postal Details</h6>
         <hr/>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Address:</label>
                  <div class="">
                     <p class="form-control-static"> {{formData.Address}}
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Country:</label>
                  <div class="">
                     <p class="form-control-static">India</p>
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">State:</label>
                  <div class="">
                     <p class="form-control-static"> {{formData.StateName}}</p>
                  </div>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">City:</label>
                  <div class="">
                     <p class="form-control-static"> {{formData.CityName}} </p>
                  </div>
               </div>
            </div>
            <!--/span-->																
         </div>
         <!-- /Row -->
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Zip Code:</label>
                  <div class="">
                     <p class="form-control-static">{{formData.Postal}}</p>
                  </div>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Email address:</label>
                  <div class="">
                     <p class="form-control-static" ng-if="formData.EmailForChange!=''"> {{formData.EmailForChange}} </p>
                     <p class="form-control-static" ng-if="formData.EmailForChange==''"> {{formData.Email}} </p>
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>
         <!-- /Row -->
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Tel:</label>
                  <div class="">
                     <p class="form-control-static" ng-if="formData.TelePhoneNumber"> +91-{{formData.CityCode}} {{formData.TelePhoneNumber}} </p>
                     <p class="form-control-static" ng-if="!formData.TelePhoneNumber"> - </p>
                  </div>
               </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Mobile No:</label>
                  <div class="">
                     <p class="form-control-static" ng-if="formData.PhoneNumberForChange==''"> +91-{{formData.PhoneNumber}} </p>
                     <p class="form-control-static" ng-if="formData.PhoneNumberForChange!=''"> +91-{{formData.PhoneNumberForChange}} </p>
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>
         <!-- /Row -->
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label">Website:</label>
                  <div class="">
                     <p class="form-control-static" ng-if="formData.Website">{{formData.UrlType}}{{formData.Website}}</p>
                     <p class="form-control-static" ng-if="!formData.Website"> - </p>
                  </div>
               </div>
            </div>
            <!--/span-->
         </div>
         <!-- /Row -->		
         <div class="clear">&nbsp;</div>
         <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Social Profile</h6>
         <hr class="light-grey-hr"/>
         <div class="row">
            <div class="col-sm-6">
               <div class="input-group"> 
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-icon-anim btn-facebook btn-square"><span class="fa fa-facebook"></span></button>
                  </span>
                  <input type="text" id="example-input3-group21" name="example-input3-group2" class="form-control" style="background-color: #fff !important; border:0px none !important;; box-shadow: 0px 0px 0px #fff !important;" placeholder="www.facebook.com"  value="{{formData.FacebookURL}}" disabled>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="input-group"> 
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-icon-anim btn-twitter btn-square"><span class="fa fa-twitter"></span></button>
                  </span> 
                  <input type="text" id="example-input3-group22" name="example-input3-group2" class="form-control" placeholder="www.twitter.com"  value="{{formData.TwitterURL}}" style="background-color: #fff !important; border:0px none !important;; box-shadow: 0px 0px 0px #fff !important;" disabled>
               </div>
            </div>
         </div>
         <div class="clear">&nbsp;</div>
         <div class="row">
            <div class="col-sm-6">
               <div class="input-group"> 
                  <span class="input-group-btn">
                  <button class="btn btn-linkedin btn-icon-anim btn-square"><span class="fa fa-linkedin"></span></button>
                  </span>
                  <input type="text" id="example-input3-group23" name="example-input3-group2" class="form-control" placeholder="www.linkedin.com" style="background-color: #fff !important; border:0px none !important;; box-shadow: 0px 0px 0px #fff !important;" disabled value="{{formData.LinkedInURL}}">
               </div>
            </div>
            <div class="col-sm-6">
               <div class="input-group"> 
                  <span class="input-group-btn">
                  <button class="btn btn-googleplus btn-icon-anim btn-square"><span class="fa fa-google-plus"></span></button>
                  </span>
                  <input type="text" id="example-input3-group24" name="example-input3-group2" class="form-control" placeholder="www.googleplus.com" style="background-color: #fff !important; border:0px none !important;; box-shadow: 0px 0px 0px #fff !important;" disabled value="{{formData.GoogleURL}}">
               </div>
            </div>
         </div>

      <br>

      <div class="form-actions mt-10">
        
         <!-- <a href=""> <i class="zmdi zmdi-edit"></i> <span ng-click="loadFormEdit(formData.UserGUID)">Update</span></a> --><!-- </button>
         <button type="button" class="btn btn-default">Cancel</button> -->
      </div>

      </div>
         <div class="clear">&nbsp;</div>
      </div>
      
 <!--   </form> -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>


