
<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-6">
				<div class="form-group">
						<label class="control-label">Faculty Name</label>
						<select  name="UserGUID" id="UserGUID" class="form-control chosen-select">

							<option value="">Select Faculty</option>

							<option ng-repeat="row in data.facultyLists" value="{{row.UserGUID}}">{{row.FirstName}} {{row.LastName}}</option>

						</select>
				</div>
				</div>
				<div class="col-md-6">
				<div class="form-group">
						<label class="control-label">Batch Name</label>
						<select  name="BatchGUID" id="BatchGUID" class="form-control chosen-select">

							<option value="">Select Batch</option>

							<option ng-repeat="row in data.batchList" value="{{row.BatchGUID}}">{{row.BatchName}}</option>

						</select>
				</div>
				</div>
			</div>
			<div class="row">
				

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Date</label>
						<input name="Date" type="date" class="form-control" value="" maxlength="12">
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Start Time</label>
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">End Time</label>
						<select name="Duration" class="form-control">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
					</div>
				</div>
			</div>

			</div>

			<!-- <input type="hidden" name="Source" value="Direct">   -->

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-click="addData()">Save</button>
</div>


