<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-9">
				<div class="form-group">
						<label class="control-label">Batch Name</label>
						<input name="BatchName" type="text" class="form-control" value="{{formData.BatchName}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Duration</label>
						<select name="Duration" class="form-control">
							<option value="1" ng-selected="formData.Duration==1">1</option>
							<option value="2" ng-selected="formData.Duration==2">2</option>
							<option value="3" ng-selected="formData.Duration==3">3</option>
							<option value="4" ng-selected="formData.Duration==4">4</option>
							<option value="5" ng-selected="formData.Duration==5">5</option>
							<option value="6" ng-selected="formData.Duration==6">6</option>
							<option value="7" ng-selected="formData.Duration==7">7</option>
							<option value="8" ng-selected="formData.Duration==8">8</option>
							<option value="9" ng-selected="formData.Duration==9">9</option>
							<option value="10" ng-selected="formData.Duration==10">10</option>
							<option value="11" ng-selected="formData.Duration==11">11</option>
							<option value="12" ng-selected="formData.Duration==12">12</option>
						</select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Start Date</label>
						<input name="StartDate" type="date" class="form-control" value="{{formData.StartDate}}" maxlength="12">
					</div>
				</div>

			</div>


			<div class="row">
				
				<div class="col-md-7">

					<div class="form-group">

						<label class="control-label" >Select Course</label>

						<select  name="CategoryGUID" id="CategoryGUID" class="form-control chosen-select">

							<option value="">Select Course</option>

							<option ng-repeat="row in data.dataLists" value="{{row.CategoryGUID}}" ng-selected="formData.CourseID==row.CategoryID">{{row.CategoryName}}</option>

						</select>

					</div>

			</div>
			</div>


			</div>

			 <input type="hidden" name="BatchGUID" value="{{formData.BatchGUID}}"> 

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-click="editData()">Update</button>
</div>


