
<div class="modal-body">

	<div class="form-area">
			
		<form id="add_form" name="add_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">

						<label class="control-label">Title <span class="text-danger">*</span></label>

						<input name="MediaCaption" type="text" class="form-control" value="" maxlength="50">

					</div>

				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Name of Person <span class="text-danger">*</span></label>
						<select name="Name" class="form-control chosen-select">
							<option value="">Please Select</option>
							<option ng-repeat="row in data.UserData" value="{{row.UserID}}" >{{row.FullName}}</option>
						</select>

					</div>

				</div>
					
			</div>
		

			<div class="row">

				<!-- <div class="col-md-6">

					<div class="form-group">
						<label class="control-label">Year <span class="text-danger">*</span></label>
						
						<input type="text" name="Year" id="Year" class="form-control integer Year" placeholder="yyyy">

					</div>
				</div> -->

				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label">Date <span class="text-danger">*</span></label>

						<input name="NewsDate" type="text" id="NewsDate" class="form-control integer" value="" maxlength="50" placeholder="dd-mm-yyyy">

					</div>

				</div>
		</div>
        <div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Content <span class="text-danger">*</span></label>
						<textarea rows="4" cols="100" ui-tinymce="" class="manual_text MediaContent form-control" name="MediaContent" id="MediaContent" onkeyup=""></textarea>
					</div>
				</div>
			</div>
			 <input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
            <input type="hidden" name="Source" value="Direct">  

		</form>

	<div class="row">
		<div class="col-md-12">
		   <div class="form-group">
			<label class="control-label">Upload Image <span class="text-danger">*</span></label>
				<div id="picture-box" class="picture-box banner">
					<!-- picture display -->
					<img id="picture-box-picture" ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/imageupload.png" style="height: 138px;
    width: 180px;">
					<img id="picture-box-picture" ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}" style="height: 138px;
    width: 180px;">

					<!-- picture upload form -->
					<div class="picture-upload">
						<img src="./asset/img/upload.svg" id="picture-uploadBtn">
						<form enctype="multipart/form-data" action="{{APIURL}}" method="post" name="picture_upload_form" id="picture_upload_form">
							<input type="hidden" name="Section" value="WallOfFame">
							<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">
						</form>
					</div>
					<!-- progressbar -->
					<div class="progressBar">
						<div class="bar"></div>
						<div class="percent">0%</div>
					</div>
				</div>
			</div>
		</div>
	 </div>
			
			

	</div>

</div>


<div class="modal-footer">

	<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="addData()">Save</button>

</div>


<script type="text/javascript">
	  function applytinymce(){
        tinymce.init({
            selector: '#MediaContent',
            setup: function(editor) {
                editor.on('keyup', function(e) {
                console.log('edited. Contents: ' + editor.getContent());
                formDataCheck(editor.getContent());
                });
            }
        });  
    }
</script>


