<div class="modal-body">
  <div class="form-area">
<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title <span class="text-danger">*</span></label>
						<input name="MediaCaption" type="text" class="form-control" value="{{formData.MediaCaption}}" maxlength="50">

					</div>

				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Name of Person <span class="text-danger">*</span></label>
						<select name="Name" class="form-control">
							<option ng-repeat="row in data.UserData" value="{{row.UserID}}" ng-selected="row.UserID==formData.UserID">{{row.FullName}}</option>
						</select>

					</div>

				</div>

			</div>
		

			<div class="row">
				<!-- <div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Year <span class="text-danger">*</span></label>

						<input type="text" name="Year" id="Year" class="form-control integer Year" placeholder="yyyy" value="{{formData.Year}}">

					</div>
				</div> -->
				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label">Date <span class="text-danger">*</span></label>

						<input name="NewsDate" type="text" class="form-control" id="NewsDate"  value="{{formData.NewsDate}}" maxlength="12"  placeholder="dd-mm-yyyy">

					</div>

				</div>
			

			</div>

			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Content <span class="text-danger">*</span></label>
						<textarea rows="4" cols="100" class="manual_text MediaContent form-control" name="MediaContent" id="MediaContent" ng-bind-html="formData.MediaContent"></textarea>
					</div>
				</div>
			</div>
			 <input type="hidden" class="MediaGUIDe" id="MediaGUIDe" name="MediaGUIDe" value="">
			 <input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="{{formData.MediaGUID}}">
            <input type="hidden" name="Source" value="Direct"> 

   </form>
		   <div class="row">
			<div class="col-md-12">
			   <div class="form-group">
				<label class="control-label">Upload Image </label>
				<div id="picture-box" class="picture-box banner">
					<!-- picture display -->
					<img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png" style="width: 25%;">
					<img id="picture-box-picture" ng-if="formData.MediaURL" ng-src="{{formData.MediaURL}}" style="width: 25%;">

					<!-- picture upload form -->
					<div class="picture-upload">
						<img src="./asset/img/upload.svg" id="picture-uploadBtn">
						<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
							<input type="hidden" name="Section" value="WallOfFame">
							<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDe">
						</form>
					</div>
					<!-- progressbar -->
					<div class="progressBar">
						<div class="bar"></div>
						<div class="percent">0%</div>
					</div>
				</div>
			</div>
			 </div>
		</div>
           
     </div>
</div>
<div class="modal-footer">

<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">
	
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="editData()">Update</button>

</div>





