<div class="modal-body">
  <div class="form-area">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title: </label><br>
						{{formData.MediaCaption}}
					</div>
				</div>
               <div class="col-md-6">
					<div class="form-group">

						<label class="control-label">Name of person:</label><br>
					
						<span> {{formData.UserName}}  </span> 

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Date: </label><br>
						{{formData.NewsDate | date:'mm-dd-yyyy H:i:s'}}
					</div>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Content:</label><br>
					   
					    <p ng-bind-html="formData.MediaContent" style="word-break: break-all;"></p>
					
					</div>
				</div>	
			</div>
	    
			
				 

			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
						<label class="control-label">Image :</label><br>
				<div id="picture-box" class="picture-box banner">
					<!-- picture display -->
					<img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png">
					<img id="picture-box-picture" ng-if="formData.MediaURL" ng-src="{{formData.MediaURL}}" style="height: 138px;
    width: 180px;">
				</div>
			</div>
		</div>
       </div>
		
	
  </div>
</div>