<div class="modal-body" style="min-height: 450px; max-height: 450px; overflow: auto;">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Job Title</label>
						<input name="JobTitle" type="text" class="form-control" value="" required="" maxlength="100">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Description</label>
						<input name="Description" type="text" id="Description" class="form-control">
					</div>
				</div> 
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Employement Type</label>
						<select class="form-control"  name="EmployementType" id="EmployementType">
							<option value="">Please Select</option>
							<?php 
							<!-- $arr = getEmployementType();
							foreach($arr as $k => $v)
							{
							?>
								<option value="<?php echo $k;?>"><?php echo $v;?></option>
							<?php	
							} -->
							?>
							<option value="Fulltime">Fulltime</option>
							<option value="Partime">Partime</option>
							<option value="Contractual">Contractual</option>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Start Date</label>
						<input name="StartDate" type="text" id="StartDate" class="form-control" readonly>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>End Date</label>
						<input name="EndDate" type="text" id="EndDate" class="form-control" readonly>
					</div>
				</div>
			</div>
			

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Min. Experience Req. (in years)</label>
						<input name="Experience" type="text" id="Experience" class="form-control integer" maxlength="2">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Qualification</label>
						<input name="Qualification" type="text" id="Qualification" class="form-control" maxlength="100">
						<!--select class="form-control float-left chosen-select" name="Qualification" id="Qualification">
							<option value="">Please Select</option>
							<option ng-repeat="rows in data.qualification" value="{{rows.Qualification}}">{{rows.Qualification}}</option>
						</select-->
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Salary (per month)</label>
						<input name="Salary" type="text" id="Salary" class="form-control integer" maxlength="7">
					</div>
				</div>
			</div>	


			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Job Status</label>
						<select name="JobStatus" class="form-control">
							<option value="2">Open</option>
							<option value="4">Closed</option>
						</select>	
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><span class='mandatory'>*</span>Job Location</label>
						<select class="form-control float-left chosen-select"  name="JobLocationState" id="JobLocationState" onchange="getCities(this.value);">
							<option value="">Please Select State</option>
							<option ng-repeat="rows in data.states" value="{{rows.State_id}}">{{rows.StateName}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<p ng-if="data.citylistLoading" class="text-center data-loader"><img src="asset/img/loader.svg"></p> 
						<label class="control-label"><span class='mandatory'>*</span>City</label>
						<select class="form-control float-left chosen-select"  name="JobLocationCity" id="JobLocationCity">
							<option value="">Please Select City</option>
							<option ng-repeat="rows in data.cities" value="{{rows.id}}">{{rows.name}}</option>
						</select>
					</div>
				</div>
			</div>

			

		</form>
	</div>
</div>


<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
	
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
</div>