<div class="modal-body" style="min-height: 450px; max-height: 450px; overflow: auto;">
	<div class="form-area">				
			<input type="hidden" name="ApplyID" value="{{data.FacultyData.ApplyID}}">
			<div class="row">
				<div class="col-md-6">
					<label><strong>Name:</strong> {{data.FacultyData.FirstName}} {{data.FacultyData.LastName}}</label><br/>
					<label><strong>Status:</strong> {{data.FacultyData.StatusName}}</label>
				</div>

				<div class="col-md-6">
					<label><strong>Contact:</strong> {{data.FacultyData.Email}} / {{data.FacultyData.PhoneNumberForChange}}</label>
				</div>
			</div>

			<hr/>

			<div id="InterviewType1_content">
				<div class="row">
					<div class="col-md-12">
						<h5><input type="radio" name="InterviewType" id="InterviewType1" value="1" onchange="InterviewSelection(1,2);" checked ng-disabled="data.FacultyData.PerInterviewDate != ''">&nbsp;Telephonic Interview (Optional)</h5>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Set Telephonic Interview Date</label>
							<input name="TelephonicInterviewDate" type="text" id="TelephonicInterviewDate" class="form-control" value="{{data.FacultyData.TelInterviewDate}}" ng-disabled="data.FacultyData.TelInterviewDate != '' || data.FacultyData.PerInterviewDate != ''">
						</div>
					</div>

					<div class="col-md-6" ng-if="data.FacultyData.TelInterviewDate">
						<div class="form-group">
							<label class="control-label">Status</label>
							<select name="TelephonicInterviewStatus" id="TelephonicInterviewStatus" class="form-control" ng-disabled="data.FacultyData.TelInterviewStatus == '19' || data.FacultyData.PerInterviewDate != ''"  onchange="ReScheduledInterview('TelephonicInterviewDate', '1', this.value);">
								<option value="">Select Status</option>

								<option value="16" ng-selected="data.FacultyData.TelInterviewStatus == '16'">Candidate Refused</option>

								<option value="17" ng-selected="data.FacultyData.TelInterviewStatus == '17'">Did Not Appear</option>

								<option value="18">Re-Scheduled</option>

								<option value="19" ng-selected="data.FacultyData.TelInterviewStatus == '19'">Round 2nd Personal</option>

								<option value="20" ng-selected="data.FacultyData.TelInterviewStatus == '20'">Selected</option>

								<option value="21" ng-selected="data.FacultyData.TelInterviewStatus == '21'">Rejected</option>
							</select>	
						</div>
					</div>  
				</div>
			</div>
			
			
			<div id="InterviewType2_content">
				<div class="row">
					<div class="col-md-12">
						<h5><input type="radio" name="InterviewType" id="InterviewType2" onchange="InterviewSelection(2,1);" value="2" ng-checked="data.FacultyData.PerInterviewDate != ''">&nbsp;Personal Interview</h5>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Set Personal Interview Date</label>
							<input name="PersonalInterviewDate" type="text" id="PersonalInterviewDate" class="form-control" value="{{data.FacultyData.PerInterviewDate}}" ng-disabled="data.FacultyData.PerInterviewDate != ''">
						</div>
					</div>

					<div class="col-md-6" ng-if="data.FacultyData.PerInterviewDate">
						<div class="form-group">
							<label class="control-label">Status</label>
							<select name="PersonalInterviewStatus" id="PersonalInterviewStatus" class="form-control" onchange="ReScheduledInterview('PersonalInterviewDate', '2', this.value);">
								<option value="">Select Status</option>
								
								<option value="22">Candidate Refused</option>

								<option value="23">Did Not Appear</option>

								<option value="24">Re-Scheduled</option>

								<option value="25">Selected</option>

								<option value="26">Rejected</option>
							</select>	
						</div>
					</div>  
				</div>
			</div>			
	</div>
</div>


<div class="modal-footer">
	<p ng-if="addInterviewLoading" class="text-center data-loader"><img src="asset/img/loader.svg"></p>
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addInterviewLoading" ng-click="addFixInterview()">Save</button>
</div>


<script type="text/javascript">
function InterviewSelection(on, off)
{
	$("#InterviewType"+on).removeAttr("checked");
	$("#InterviewType"+off).removeAttr("checked");

	$("#InterviewType"+on).attr("checked", "checked");
	$("#InterviewType"+on).prop("checked", "checked");
}

function ReScheduledInterview(field, type, sid)
{
	if(sid == 24 || sid == 18)
	{
		$("#InterviewType"+type+"_content").append('<div class="row"><div class="col-md-6"><input name="'+field+'1" type="text" id="'+field+'1" class="form-control"></div></div>');

		$("#"+field+"1").datetimepicker({
		timepicker:true,
		closeOnDateSelect:false,
		closeOnTimeSelect: true,
		initTime: true,
		format: 'dd-mm-yyyy hh:ii',
		});
	}
	else
	{
		$("#InterviewType"+type+"_content").find("#"+field+"1").remove();
	}
}

$(function()
{	
	//$("#TelephonicInterviewDate, #PersonalInterviewDate").datetimepicker();

	/*$( "#TelephonicInterviewDate" ).datetimepicker({
      dateFormat: "dd-mm-yy hh:ii",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#PersonalInterviewDate" ).datetimepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#PersonalInterviewDate" ).datetimepicker({
      dateFormat: "dd-mm-yy hh:ii",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#TelephonicInterviewDate" ).datetimepicker( "option", "maxDate", selectedDate );
      }
    });*/

    var startDate;
	$("#TelephonicInterviewDate").datetimepicker({
	         timepicker:true,
	         closeOnDateSelect:false,
	         closeOnTimeSelect: true,
	         initTime: true,
	         format: 'dd-mm-yyyy hh:ii',
	         minDate: -1,
	         maxDate: 0,
	         roundTime: 'ceil',
	         onChangeDateTime: function(dp,$input){
	                   startDate = $("#TelephonicInterviewDate").val();
	                                               }
	                                               });
	$("#PersonalInterviewDate").datetimepicker({
	         timepicker:true,
	         closeOnDateSelect:false,
	         closeOnTimeSelect: true,
	         initTime: true,
	         format: 'dd-mm-yyyy hh:ii',
	         onClose: function(current_time, $input){
	                var endDate = $("#PersonalInterviewDate").val();
	                if(startDate>endDate){
	                       alert('Please select correct date');
	                 }
	 }
	  });	
});
</script>