<div class="modal-body">
<div class="form-area">
<div class="row">
<div class="col-md-12">

<table class="table table-striped table-condensed table-hover table-sortable">			
<thead>
<tr>
	<th style="width: 10px;">#</th>					
	<th style="width: 100px;">Status</th>
	<th style="width: 70px;">Date</th>
</tr>
</thead>
<tbody>
<tr scope="row" ng-repeat="(key, row) in data.JobLogList">
	<td>{{ (key + 1) }}</td>

	<td>{{row.StatusName}}</td>

	<td>{{row.LogDate}}</td>
</tr>				
</tbody>
</table>
</div>
</div>
</div>
</div>
