<div class="modal-body">
  <div class="form-area">

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label"><b>Faculty Name:</b></label>
				{{formData.FirstName | uppercase}} {{formData.LastName | uppercase}}
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label"><b>Contact:</b></label>
				{{formData.Email}} / {{formData.PhoneNumberForChange}}
			</div>
		</div>		
	</div>

	<hr/>

	<div>	

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label"><b>Qualification:</b></label>
					{{formData.ApplyQualification}}
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label"><b>Experience:</b></label>
					{{formData.ApplyExperience}} years
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label"><b>Age:</b></label>
					{{formData.ApplyAge}} years
				</div>
			</div>		
		</div>	


		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label"><b>Apply Date:</b></label>
					{{formData.ApplyDate}}					
				</div>
			</div>

			<div class="col-md-8">
				<div class="form-group">
					<label class="control-label"><b>Status:</b></label>
					{{formData.StatusName}}<br/>
				</div>
			</div>						
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label"><b>Note To Employer:</b></label>
					{{formData.NoteToEmployer}}
				</div>
			</div>		
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<p class="mb-0" ng-if="formData.MediaID != '' && formData.MediaID != '0'">
					    
					    <button type="button" name="submit_button" class="btn btn-primary radius-full btn-sm" ng-click="FileInModalBoxLocal(formData.MediaID,'Resume')"> <i class="fa fa-eye" aria-hidden="true"></i> View Resume</button>&nbsp;&nbsp;

					    <a target="_blank" href="{{formData.MediaID}}"><button type="button" name="submit_button" class="btn btn-danger radius-full btn-sm"> <i class="fa fa-download" aria-hidden="true"></i> Download Resume</button></a>

					</p>
				</div>
			</div>		
		</div>

	</div>



  </div>
</div>
