<div class="modal-body">
  <div class="form-area">

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"><b>Job Title:</b></label>
				{{formData.JobTitle}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"><b>Description:</b></label>
				<span ng-bind-html="formData.Description"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"><b>Employement Type:</b></label>
				{{formData.EmployementType}}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"><b>Start Date:</b></label>
				{{formData.StartDate}}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"><b>End Date:</b></label>
				{{formData.EndDate}}
			</div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"><b>Min. Experience Req.:</b></label>
				{{formData.Experience}} years
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"><b>Qualification:</b></label>
				{{formData.Qualification}}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"><b>Salary:</b></label>
				{{formData.Salary}} per month
			</div>
		</div>
	</div>	


	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"><b>Job Location:</b></label>
				{{formData.CityName}}, {{formData.StateName}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"><b>Post Date:</b></label>
				{{formData.EntryDate}}
			</div>
		</div>
	</div>
  </div>
</div>
