<div class="modal-body">

	<div class="form-area">

		<form id="add_form" name="add_form" autocomplete="off" >

			<div class="row">

				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label">News Title <span class="text-danger">*</span></label>

						<input name="NewsName" type="text" class="form-control" value="" maxlength="50" placeholder="News Name">

					</div>

				</div>

			

				<div class="col-md-6">

					<div class="form-group">
						<label class="control-label">News Date <span class="text-danger">*</span></label>
						<input name="NewsDate" id="NewsDate" type="text" class="form-control" value="" maxlength="50" placeholder="dd/mm/yyyy">
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">News Description <span class="text-danger">*</span></label>
						<textarea ui-tinymce="" class="manual_text NewsDescription form-control" name="NewsDescription" id="NewsDescription" onkeyup=""></textarea>
					</div>
				</div>
			</div>
			 <input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">
             <input type="hidden" name="Source" value="Direct">  

		</form>

			<div class="row">
				<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Upload News Image</label>
					<div id="picture-box" class="picture-box banner">
					<!-- picture display -->
					<img id="picture-box-picture" ng-if="!formData.Media.Records[0].MediaThumbURL" ng-src="./asset/img/imageupload.png" style="height: 138px;    width: 180px;">
					<img id="picture-box-picture" ng-if="formData.Media.Records[0].MediaThumbURL" ng-src="{{formData.Media.Records[0].MediaThumbURL}}" style="height: 138px;    width: 180px;">

					<!-- picture upload form -->
					<div class="picture-upload">
						<img src="./asset/img/upload.svg" id="picture-uploadBtn">
						<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
							<input type="hidden" name="Section" value="News">
							<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUID">
						</form>
					</div>
					<!-- progressbar -->
					<div class="progressBar">
						<div class="bar"></div>
						<div class="percent">0%</div>
					</div>
					</div>
				</div>
				</div>
       		</div>

		</div>

	</div>



	<div class="modal-footer">

		<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
		
		<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>

		<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoader">
	</div>


	<script type="text/javascript">
		  function applytinymce(){
	        tinymce.init({
	            selector: '#NewsDescription',
	            setup: function(editor) {
	                editor.on('keyup', function(e) {
	                console.log('edited. Contents: ' + editor.getContent());
	                formDataCheck(editor.getContent());
	                });
	            }
	        });  
	    }
	</script>


