<div class="modal-body">
  <div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">News Title <span class="text-danger">*</span></label>
						<input name="NewsName" type="text" class="form-control" value="{{formData.NewsName}}" maxlength="50">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">News Date <span class="text-danger">*</span></label>
						<input name="NewsDate" type="text" id="NewsDate" value="{{formData.NewsDate}}" class="form-control" value="" maxlength="50" placeholder="dd/mm/yyyy">
					</div>
				</div>
							
			</div>
	
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">News Description <span class="text-danger">*</span></label>
						<textarea rows="4" cols="100" ui-tinymce="" class="manual_text NewsDescription form-control" name="NewsDescription" id="NewsDescription" value="{{formData.NewsDescription}}">{{formData.NewsDescription}}</textarea>
					</div>
				</div>
			</div>
				 <input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">
				 <input type="hidden" class="NewsGUID" id="NewsGUID" name="NewsGUID" value="{{formData.NewsGUID}}">
				 <input type="hidden" class="MediaID" id="MediaID" name="MediaID" value="{{formData.MediaID}}">
		</form>

			<div class="row">
			<div class="col-md-12">
			<div class="form-group">
			<label class="control-label">Upload News Image</label>
			<div id="picture-box" class="picture-box banner">
				<!-- picture display -->
				<img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png">
				<img id="picture-box-picture" ng-if="formData.MediaURL" ng-src="{{formData.MediaURL}}" style="height: 138px;
    width: 180px;">

				<!-- picture upload form -->
				<div class="picture-upload">
					<img src="./asset/img/upload.svg" id="picture-uploadBtn">
					<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="News">
						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUID">
					</form>
				</div>
				<!-- progressbar -->
				<div class="progressBar">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
				</div>
				</div>
				</div>
      		 </div>
		
	
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoader">

</div>





