<div class="modal-body">
  <div class="form-area">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">News Title: </label><br>
						{{formData.NewsName}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">News Date: </label><br>
						{{formData.NewsDate}}
					</div>
				</div>
							
			</div>
	
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">News Description: </label><br>
						
						<p ng-bind-html="formData.NewsDescription"></p>
					</div>
				</div>
			</div>
			


			<div class="row">
			<div class="col-md-12">
			<div class="form-group">
			<label class="control-label">News Image</label>
			<div id="picture-box" class="picture-box banner">
				<!-- picture display -->
				<img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png">
				<img id="picture-box-picture" ng-if="formData.MediaURL" ng-src="{{formData.MediaURL}}" style="height: 138px;
    width: 180px;">

				
				</div>
				</div>
				</div>
      		 </div>
		
	
  </div>
</div>
