<style type="text/css">

#add_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

</style>



<div class="modal-body">
<div class="form-area">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default card-view">
<div class="panel-wrapper in">
<div class="panel-body">
<div class="row">
<div class="col-sm-12 col-xs-12">
<div class="form-wrap">
<div class="form-body">
<div class="form-area">

<form name="add_form" autocomplete="off">
<div class="row">

<div class="col-md-3">
<div class="form-group">
	<label class="control-label">Search Name<span class="text-danger">*</span></label>
</div>	
</div>

<div class="col-md-9">		
<div class="form-group">
	<input name="SearchName" id="SearchName" type="text" class="form-control" value="" maxlength="100">
</div>
</div>
</div>
</form>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoaderSet">

<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="saveSearch()">Save</button>

</div>