<style type="text/css">

#list_model .modal-lg{

max-width: 75%;

/*margin-right: 35px;*/

}

.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{

min-width: 50px;

}

.disabled-btn {

cursor: not-allowed !important;

}

.enabled-btn {

cursor: pointer!important;

}

.modal-body {

padding: 0px;

padding-top: 1rem;

}

</style>
<div class="modal-body">
<div class="form-area">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default card-view">
<div class="panel-wrapper in">
<div class="panel-body">
<div class="row">
<div class="col-sm-12 col-xs-12">
<div class="form-wrap">
<div class="form-body">
<div class="form-area">

<table class="table table-striped table-condensed table-hover table-sortable">
<thead>
<tr>
	<th style="width:30px;">S.No.</th>

	<th style="width: 150px;">Search Name</th>

	<th style="width: 100px;">Report Type</th>

	<th style="width: 100px;">From Date</th>

	<th style="width: 100px;">To Date</th>

	<th style="width: 100px;">Search Date</th>	

	<th style="width: 70px;" class="text-center">Action</th>
</tr>

</thead>


<tbody>
<tr scope="row" ng-repeat="(key, row) in data.search_history" id="sectionsid_{{row.SaveID}}">
	<td>{{(key + 1)}}</td>

	<td>{{row.SearchName}}</td>		

	<td>{{row.ReportType | capitalizeFirstLetter}}</td>	

	<td>{{row.ReportFromDate}}</td>

	<td>{{row.ReportToDate}}</td>

	<td>{{row.SearchDate}}</td>

	<td class="text-center">		
		<a class="glyphicon glyphicon-eye-open" href="reports?sid={{row.SaveID}}&rt={{row.ReportType}}&fd={{row.ReportFromDate}}&td={{row.ReportToDate}}" data-toggle="tooltip" title="View"></a>

		<a class="glyphicon glyphicon-trash" href="" ng-click="searchDelete(row.SaveID);" data-toggle="tooltip" title="Delete"></a>
	</td>
</tr>
</tbody>
</table>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="modal-footer">
<img src="./asset/img/ajax-loader.gif" ng-if="data.listDataLoading || data.deleteDataLoading" class="processingLoaderSet">
</div>