<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Qualification <span style="color: red">*</span></label>
						<input name="Qualification" type="text" class="form-control" value="">
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Description </label>
						<textarea name="Description" id="Description" class="form-control"></textarea>
					</div>
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" ng-disabled="listLoading" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-success btn-sm" ng-disabled="listLoading" ng-click="addData(event);">Save</button>
				<img src="./asset/img/ajax-loader.gif" ng-if="listLoading" class="processingLoaderSet">
			</div>

		</form>
	</div>
</div>