<div class="modal-body">
	<div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off">{{formData.Qualification}}
			<input type="hidden" name="QualificationID" value="{{formDatas.QualificationID}}">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Qualification <span style="color: red">*</span></label>
						<input name="Qualification" type="text" class="form-control" value="{{formDatas.Qualification}}">
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Description </label>
						<textarea name="Description" id="Description" class="form-control">{{formDatas.Description}}</textarea>
					</div>
				</div>

			</div>

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-success btn-sm"  ng-click="editData();$event.preventDefault();">Save</button>
	<img src="./asset/img/ajax-loader.gif" ng-if="listLoading" class="processingLoaderSet">
</div>