<div class="modal-body" style="padding: 15px;">



	<div class="form-area">



		<!-- <h2>Payment</h2> -->

		<!-- <form id="payment_form" name="payment_form" autocomplete="off" > -->
			<input type="hidden" name="OrderGUID" id="OrderGUID" value="{{formData.OrderGUID}}">
			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
			<div class="row">
				<div class="col-md-12">
						<div class="form-group">
						<label class="control-label" style="font-weight: bold;font-size: 13px;">Select payment method </label>
						<div class="row">
							<div class="col-md-12">
									<input type="radio" name="PaymentType" value="Online" onchange="display_payment_form('Online')"> Online via credit card/ debit card/ net banking
							</div>
							<div class="col-md-12">
								<input type="radio" name="PaymentType" value="Offline" onchange="display_payment_form('Offline')"> By cheque/ DD 
							</div>
							<!-- <div class="col-md-12">
								<input type="radio" name="PaymentType" value="Direct" onchange="display_payment_form('Direct')"> Direct Deposite
							</div> -->
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="row" id="online_payment_form" style="display: none;">
			   <form class="col-md-12" method="POST" name="customerData" action="https://cp.iconik.in/order/online">
			      <input type="hidden" name="tid" id="tid" readonly />
			      <input type="hidden" name="merchant_id" value="209521"/>
			      <div class="col-md-12" ng-if="formData.CustomOrderID">
			         <div class="form-group">
			            <label class="filter-col" for="CategoryTypeName">Order ID <span style="color:red"> *</span></label>
			            <input type="text" name="order_id" class="form-control" value="{{formData.CustomOrderID}}"/>						
			         </div>
			      </div>
			      <div class="col-md-12">
			         <div class="form-group">
			            <label class="filter-col" for="CategoryTypeName">Amount (<i class="fa fa-rupee"></i>)<span style="color:red"> *</span></label>
			            <input type="hidden" name="amount" value="{{OrderAmount}}"/>
			            <input type="text" class="form-control" value="{{OrderAmount}}" disabled="disabled"/>
			         </div>
			      </div>
			      <input type="hidden" name="currency" value="INR"/><input type="hidden" name="redirect_url" value="https://cp.iconik.in/ccavResponseHandler.php"/><input type="hidden" name="cancel_url" value="https://cp.iconik.in/ccavResponseHandler.php"/><input type="hidden" name="language" value="EN"/>
			      <input type="hidden" name="merchant_param1" value="{{SessionKey}}"/>
			      <input type="hidden" name="merchant_param2" value="{{formData.OrderGUID}}"/>
			      <input type="hidden" name="merchant_param3" value="SMS Credits"/>
			      <input type="hidden" name="merchant_param4" value="Online"/>
			      <div class="modal-footer">
			         <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
			         <button type="submit" class="btn btn-success btn-sm" id="continue_payment">Continue</button>
			      </div>
			   </form>
			</div>

			<div class="row" id="offline_payment_form" style="display: none;">

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Cheque/DD Number <span style="color:red"> *</span></label>

						<input name="ChequeNumber" id="ChequeNumber" type="text" class="form-control integer" value="" maxlength="6">						

					</div>

				</div>

				

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Cheque/DD Drawn On (Bank Name) <span style="color:red"> *</span></label>

						<input name="DrawnBank" id="DrawnBank" type="text" class="form-control" value="" maxlength="100">						

					</div>

				</div>

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Cheque/DD Date <span style="color:red"> *</span></label>

						<input name="ChequeDate" id="ChequeDate" type="text" class="form-control" onchange="setDepositeDate(this.value)" value="" maxlength="40">						

					</div>

				</div>

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Amount (<i class="fa fa-rupee"></i>)<span style="color:red"> *</span></label>

						<input type="hidden" id="ChequeAmount" name="OrderAmount" value="{{OrderAmount}}">

						<input name="ChequeAmount"  type="text" class="form-control" value="{{OrderAmount}}" max="{{OrderAmount}}" disabled="disabled">						

					</div>

				</div>

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Deposited On <span style="color:red"> *</span></label>

						<input name="DepositedDate" id="DepositedDate" type="text" class="form-control" value="" maxlength="40">						

					</div>

				</div>

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Upload Deposite Slip</label>

						<div class="form-group">
							<div id="picture-box" class="picture-box banner">

								<!-- picture display -->
								<img id="picture-box-picture" ng-src="">


								<!-- <form id="picture-box-crop" name="img_crop_form" action="../api/upload/cropimage" method="post" style="display:none">
									<input type="hidden" name="x1-axis" id="x1-axis" value="" />
									<input type="hidden" name="y1-axis" id="y1-axis" value="" />
									<input type="hidden" name="x2-axis" id="x2-axis" value="" />
									<input type="hidden" name="y2-axis" id="y2-axis" value="" />
									<input type="hidden" name="thumb-width" id="thumb-width" value="" />
									<input type="hidden" name="thumb-height" id="thumb-height" value="" />
									<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="">
										<button type="button" class="btn btn-success btn-sm text-center mt-3" id="cropBtn"
										data-target="#picture-box #picture-box-picture"
										data-croptarget="#picture-box #picture-box-crop">Crop Image</button>
								</form>	 -->	


								<!-- picture upload form -->
								<div class="picture-upload">
									<img src="./asset/img/upload.svg" id="picture-uploadBtn">
									<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
										<input type="hidden" name="Section" value="OfflinePayment">
										<input type="file" accept="image/*" name="File" id="fileInput"
										data-target="#picture-box #picture-box-picture"
										data-croptarget="#picture-box #picture-box-crop"
										data-targetinput=".MediaGUIDs"
										>
									</form>
								</div>
								<!-- progressbar -->
								<div class="progressBar">
									<div class="bar"></div>
									<div class="percent">0%</div>
								</div>
							</div>
						</div>					

					</div>

				</div>

			</div>


			<div class="row" id="direct_payment_form" style="display: none;">

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Name of depositor</label>

						<input name="DepositorName" id="DepositorName" type="text" class="form-control" value="" maxlength="40">						

					</div>

				</div>


				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Bank Name</label>

						<input name="DrawnOnBank" id="DrawnOnBank" type="text" class="form-control" value="" maxlength="40">						

					</div>

				</div>

				


				<div class="col-md-12">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Transaction Number</label>

						<input name="TransactionNumber" id="TransactionNumber" type="text" class="form-control" value="" maxlength="40">						

					</div>

				</div>	


				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Amount</label>

						<input name="Amount" id="Amount" type="text" class="form-control integer" value="" maxlength="40">						

					</div>

				</div>


				
				

				<div class="col-md-6">

					<div class="form-group">

						<label class="filter-col" for="CategoryTypeName">Deposited On</label>

						<input name="DepositedOn" id="DepositedOn" type="text" class="form-control" value="" maxlength="40">						

					</div>

				</div>

			</div>

	</div>

</div>

<div class="modal-footer" id="modal_footer">



	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="makePaymentLoading" data-dismiss="modal">Cancel</button>


	<button type="submit" class="btn btn-success btn-sm" ng-disabled="makePaymentLoading" ng-click="makePayment()">Continue</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="makePaymentLoading" class="processingLoader">

</div>