<style type="text/css">
input[type=checkbox]{
	width: 50%;
    float: left;
    margin: 10px 0px;
}	
input[type=checkbox] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 0px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
}
</style>
<div class="modal-body">



	<div class="form-area">
		<table class="table">
		    <thead>
		      <tr>
		        <th>SMS Credits</th>
		        <th>Cost / Credit</th>
		        <th>Amount</th>
		        <th>Tax Amount (18%)</th>
		        <th>Total (Inc. Tax)</th>
		        <th>Action</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>5000</td>
		        <td>0.23</td>
		        <td>1150</td>
		        <td>207</td>
		        <td>1357</td>
		        <td><a style="text-decoration: underline;color: blue;" ng-click="LoadBuyNow(1357)">Buy Now</a></td>
		      </tr>
		      <tr>
		        <td>10000</td>
		        <td>0.21</td>
		        <td>2100</td>
		        <td>378</td>
		        <td>2478</td>
		        <td><a style="text-decoration: underline;color: blue;" ng-click="LoadBuyNow(2478)">Buy Now</a></td>
		      </tr>
		      <tr>
		        <td>25000</td>
		        <td>0.19</td>
		        <td>4750</td>
		        <td>855</td>
		        <td>5605</td>
		        <td><a style="text-decoration: underline;color: blue;" ng-click="LoadBuyNow(5605)">Buy Now</a></td>
		      </tr>
		      <tr>
		        <td>50000</td>
		        <td>0.17</td>
		        <td>8500</td>
		        <td>1530</td>
		        <td>10030</td>
		        <td><a style="text-decoration: underline;color: blue;" ng-click="LoadBuyNow(10030)">Buy Now</a></td>
		      </tr>
		      <tr>
		        <td>75000</td>
		        <td>0.15</td>
		        <td>11250</td>
		        <td>2025</td>
		        <td>13275</td>
		        <td><a style="text-decoration: underline;color: blue;" ng-click="LoadBuyNow(13275)">Buy Now</a></td>
		      </tr>
		      <tr>
		        <td>100,000</td>
		        <td>0.14</td>
		        <td>14000</td>
		        <td>2520</td>
		        <td>16520</td>
		        <td><a style="text-decoration: underline;color: blue;" ng-click="LoadBuyNow(16520)">Buy Now</a></td>
		      </tr>
		    </tbody>
		  </table>
	</div>

</div>







<div class="modal-footer">



	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>


</div>