<style type="text/css">
	#view_model .modal-md{
		max-width: 60%;
    	/*margin-right: 35px;*/
	}
	.btn.btn-success.add-more, .btn.btn-danger.remove, .btn.btn-success.video-add-more, .btn.btn-success.add-more1{
		min-width: 50px;
	}
	.disabled-btn {
	  cursor: not-allowed !important;
	}
	.enabled-btn {
	  cursor: pointer!important;
	}
	.modal-body {
	    padding: 0px;
	    padding-top: 1rem;
	}
	.checkbox-list{

	}
</style>
<form id="add_form" name="add_form" enctype="multipart/form-data" autocomplete="off">
<input type="hidden" name="MediaGUIDs" id="MediaGUIDs" value="">
<div class="modal-body">
	<div class="form-area">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default card-view">
						<div class="panel-wrapper">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="form-wrap">
											<form action="#" class="form-horizontal">
												<div id="div1" class="first current">
													<div class="form-body">
													<!-- <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>VIEW QUESTION DETAILS</h6> -->
													<!-- <hr class="light-grey-hr"/> -->
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Order Id :</label>
																<div class="col-md-9">

																	<span class="text-center" ng-if="formData.OrderID.length == 1">{{formData.OrderIDPrefix}}00{{formData.OrderID}}</span>

																	<span class="text-center" ng-if="formData.OrderID.length == 2">{{formData.OrderIDPrefix}}0{{formData.OrderID}}</span>

																	<span class="text-center" ng-if="formData.OrderID.length > 2">{{formData.OrderIDPrefix}}{{formData.OrderID.length}}</span>																	
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Order Date :</label>
																<div class="col-md-8">
																	<p class="form-control-static"> {{formData.EntryDate}} </p>
																</div>
															</div>
														</div>
													</div>

													<hr class="light-grey-hr"/>
													<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Order Details</h6>
													<hr class="light-grey-hr"/>
													<div class="row">
														<!--/span-->
														<div class="col-md-2">
														<div class="form-group">
																<label class="control-label col-md-12">Credits</label>
																<!-- <div class="col-md-8">
																	<p class="form-control-static"> {{formData.EntryDate}}</p>
																</div> -->
															</div>
														</div>
														<!--/span-->
														<div class="col-md-2">
															<div class="form-group">
																<label class="control-label col-md-12">Cost/Credit</label>
																<!-- <div class="col-md-7">
																	<p class="form-control-static"> {{formData.QuestionsGroup}} </p>
																</div> -->
															</div>
														</div>
														<!--/span-->
														<div class="col-md-2">
															<div class="form-group">
																<label class="control-label col-md-12">Amount</label>
																<!-- <div class="col-md-7">
																	<p class="form-control-static"> {{formData.QuestionsGroup}} </p>
																</div> -->
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="control-label col-md-12">Tax Amount (18%)</label>
																<!-- <div class="col-md-7">
																	<p class="form-control-static"> {{formData.QuestionsGroup}} </p>
																</div> -->
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="control-label col-md-12">Total (Inc. Tax)</label>
																<!-- <div class="col-md-7">
																	<p class="form-control-static"> {{formData.QuestionsGroup}} </p>
																</div> -->
															</div>
														</div>
													</div>
													<div class="row" ng-repeat="(key, row) in formData.Order_details">
														<!--/span-->
														<div class="col-md-2">
														<div class="form-group">
																<div class="col-md-8">
																	<p class="form-control-static"> {{row.SMSCredits}}</p>
																</div>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-1">
															<div class="form-group">
																<div class="col-md-7">
																	<p class="form-control-static"> {{row.Cost}} </p>
																</div>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-3">
															<div class="form-group">
																<div class="col-md-7">
																	<p class="form-control-static"><i class="fa fa-rupee"></i> {{row.Amount}} </p>
																</div>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<div class="col-md-7">
																	<p class="form-control-static"><i class="fa fa-rupee"></i> {{row.TaxAmount}} </p>
																</div>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<div class="col-md-7">
																	<p class="form-control-static"><i class="fa fa-rupee"></i> {{row.TotalIncludeTax}} </p>
																</div>
															</div>
														</div>
													</div>
													<!-- /Row -->
													<hr class="light-grey-hr"/>
													<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>Payment Details</h6>
													

													<!-- <div class="row text-center" ng-if="formData.Payment_details">
														<hr class="light-grey-hr"/>
														
														<div class="col-md-6">
															<div class="form-group">
																<label class="">Method</label>
															</div>
														</div>
														
														<div class="col-md-2">
															<div class="form-group">
																<label class="">Amount (<i class="fa fa-rupee"></i>)</label>	
															</div>
														</div>
														
														<div class="col-md-1">
															<div class="form-group">
																<label class="">Cheque No</label>																
															</div>
														</div>

														<div class="col-md-2">
															<div class="form-group">
																<label class="">Cheque Date</label>																
															</div>
														</div>

														<div class="col-md-2">
															<div class="form-group">
																<label class="">Deposited Date</label>																
															</div>
														</div>

														<div class="col-md-2">
															<div class="form-group">
																<label class="">Bank</label>																
															</div>
														</div>

														<div class="col-md-2">
															<div class="form-group">
																<label class="">Transaction No</label>																
															</div>
														</div>
													</div> -->
													<div class="row text-center" ng-if="formData.Payment_details" ng-repeat="(key, row) in formData.Payment_details">
														<!--/span-->
														<div class="col-md-3">
															<div class="form-group">
																<label class=""><strong style="font-weight: bold;">Method :</strong></label>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																	<p class="form-control-static" ng-if="row.PaymentType == 'Offline'"> By Cheque</p>
																	<p class="form-control-static" ng-if="row.PaymentType != 'Offline'"> Online via CCAvenue</p>
																	<a ng-if="row.MediaURL" ng-click="closeView(key,row.MediaURL,formData.OrderGUID)" style="text-decoration: underline;color:blue;">Slip</a>
																	
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class=""><strong style="font-weight: bold;">Amount (<i class="fa fa-rupee"></i>) :</strong></label>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-3">
															<div class="form-group">
																	<p class="form-control-static">{{row.Amount}} </p>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class=""><strong style="font-weight: bold;">Cheque Number :</strong></label>
															</div>
														</div>
														<!--/span-->
														<div class="col-md-3">
															<div class="form-group">
																	<p class="form-control-static">{{row.ChequeNumber}} </p>
																
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class=""><strong style="font-weight: bold;">Cheque Date :</strong></label>
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																	<p class="form-control-static"> {{row.ChequeDate}} </p>
																
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class=""><strong style="font-weight: bold;">Deposite Date :</strong></label>
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																	<p class="form-control-static">{{row.DepositedOn}} </p>
																
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class=""><strong style="font-weight: bold;">Drawn On :</strong></label>
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																	<p class="form-control-static">{{row.DrawnOnBank}} </p>
																
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class=""><strong style="font-weight: bold;">Transaction No :</strong></label>
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																	<p class="form-control-static">{{row.TransactionNumber}} </p>
																
															</div>
														</div>

														<hr class="light-grey-hr"/>
													</div>


													<!-- /Row -->
													<hr class="light-grey-hr"/>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Due Amount :</label>
																<div class="col-md-9">
																	<p class="form-control-static"> {{formData.RemainingAmount}}</p>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Paid Amount :</label>
																<div class="col-md-9">
																	<p class="form-control-static"> {{formData.TotalPaidAmount}} </p>
																</div>
															</div>
														</div>
														<!--/span-->
													</div>
													<!-- /Row -->
													<hr class="light-grey-hr"/>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Stock Received :</label>
																<div class="col-md-8">
																	<p class="form-control-static"> {{formData.StockReceived}}</p>
																</div>
															</div>
														</div>
														<!--/span-->
														<!-- <div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Payment Date :</label>
																<div class="col-md-7">
																	<p class="form-control-static"> {{formData.QuestionsGroup}} </p>
																</div>
															</div>
														</div> -->
													</div>
													<!-- /Row -->		
													<!-- /Row -->
													<!-- <hr class="light-grey-hr"/>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Payment Status :</label>
																<div class="col-md-8">
																	<p class="form-control-static"> {{formData.EntryDate}}</p>
																</div>
															</div>
														</div>
														/span
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-12">Order Status :</label>
																<div class="col-md-7">
																	<p class="form-control-static"> {{formData.QuestionsGroup}} </p>
																</div>
															</div>
														</div>
													</div> -->
													<!-- /Row -->													
													
												</div>
																								
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>