<style type="text/css">
	.chosen-select {
	    width: 100%;
	}
</style>
<div class="modal-body">
  <div class="form-area">

	<form id="edit_activity_form" name="edit_activity_form" class="edit_form" autocomplete="off">
		<input type="hidden" name="EventGUID" value="{{EventGUID}}">
		<input type="hidden"  name="EventActivityID" value="{{data.EditActivityData.EventActivityID}}">
		<div class="Activities" id="Activity1" style="border: 1px solid gray;padding: 10px;margin: 10px;border-radius: 5px;">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label">Activity Name <span class="text-danger">*</span></label>
						<input name="ActivityName" type="text" class="form-control" value="{{data.EditActivityData.ActivityName}}" maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label">Accountability <span class="text-danger">*</span></label>
						<select name="Accountaibility" class="form-control chosen-select Accountaibility" tabindex="4">
							 <option ng-repeat="rows in data.UserData" value="{{rows.UserID}}" ng-selected="rows.UserID==data.EditActivityData.Accountaibility">{{rows.FullName}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label">Coordinator <span class="text-danger">*</span></label>
						<input name="Coordinator" type="text" class="form-control" value="{{data.EditActivityData.Coordinator}}" maxlength="50">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label">Duration <span class="text-danger">* </span>(hh:mm)</label>
						<!-- <input name="ActivityDuration" type="number" step="0.1"  onkeyup="checkDuration(this.value)" class="form-control without_ampm" min="0.1" value="{{data.EditActivityData.ActivityDuration}}"> -->

						<input type="text" name="hour" class="form-control integer" maxlength="2" style="width:40%;    display: inline;" value="{{data.EditActivityData.hour}}" placeholder="Hour">
						<input type="text" name="minute" value="{{data.EditActivityData.minute}}" class="form-control integer" maxlength="2"  style="width:40%;    display: inline;" placeholder="Minute">
						<!-- <input name="ActivityDuration" type="text"  onkeyup="checkDuration(this.value)" class="form-control without_ampm" pattern= "[0-9]"  title= "Title"> -->
					</div>
				</div>
			</div>
			
			<table class="row" id="ActivityTable">
				<thead>
					
					<th style="width: 200px;" class="text-center">Task</th>
					<th style="width: 300px;" class="text-center">Responsible Person</th>
					<th style="width: 200px;" class="text-center">Completion Date</th>
					<th style="width: 200px;" class="text-center">Action</th>
				</thead>
				<tbody>
				<tr class="taskEdit"  ng-repeat="(key, row) in data.EditActivityData.Task" id="taskEdit{{key+1}}">
					
					<td class="text-center" style="width: 200px;">
							{{row.Task}}
							<input name="Task[]" type="hidden" class="editTask" value="{{row.Task}}" maxlength="50">
						
					</td>
					<td class="text-center" style="width: 300px;">
							{{row.ResponsiblePerson}}
							<input name="ResponsiblePerson[]" type="hidden" class="editTask" value="{{row.ResponsiblePerson}}">
					</td>
					<td class="text-center" style="width: 200px;">
							{{row.CompletionDate | date :  'dd/MM/yyyy'}}
							<input name="CompletionDate[]" type="hidden" class="editTask CompletionDate" value="{{row.CompletionDate}}" id="CompletionDate{{key}}" maxlength="50" >
					</td>
					<td class="text-center" style="width: 200px;">
						<button type="button" class="btn btn-danger btn-sm" onclick="removeActivityRow(this);"><i class="fa fa-trash"></i></button>
					</td>
				</tr>

			</tbody>

			</table>
			<div>
				
			</div>
			 <!-- <button type="button" class="delete-row">Delete Row</button> -->
			
		</div>
	</form>
	<form>
        <div class="row taskEdit">
			<div class="col-md-2">
				<div class="form-group">
					<h6 style="margin-top: 30px;font-size: 14px;">Activity Tasks:</h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Task <span class="text-danger">*</span></label>
					<input name="Task[]" type="text" class="form-control editTask" id="Task" maxlength="50">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Responsible Person <span class="text-danger">*</span></label>
					<input name="ResponsiblePerson[]" type="text" class="form-control editTask" id="ResponsiblePerson">
					<!-- <select name="ResponsiblePerson[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Category" ng-change="pushCategory(Category)">
						 <option ng-repeat="rows in data.UserData" value="{{rows.UserID}}" ng-selected="rows.Category==Category">{{rows.FullName}}</option>
					</select> -->
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Completion Date <span class="text-danger">*</span></label>
					<input name="CompletionDate[]" type="text" class="form-control editTask CompletionDate"  id="CompletionDate" maxlength="50" readonly>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-sm"  style="margin-top: 30px;min-width: 0px;" id="add-row">+</button>
				</div>
			</div>
		</div>
    </form>	
	
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="cancelActivityView" ng-click="cancelActivityView()">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm"  ng-click="editActivity()">Save</button>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#add-row").click(function(){
            var Task = $("#Task").val();
            var ResponsiblePerson = $("#ResponsiblePerson").val();            
            var CompletionDate = $("#CompletionDate").val();  

			if(Task == "" || ResponsiblePerson == "" || CompletionDate == "")
			{
				alert("Please enter all mandatory fields.");

				return false;
			}

            var markup = '<tr><td class="text-center" style="width: 200px;"><input name="Task[]" type="hidden" class="form-control editTask" value="'+Task+'" maxlength="50"><input name="ResponsiblePerson[]" type="hidden" class="form-control editTask" value="'+ResponsiblePerson+'"><input name="CompletionDate[]" type="hidden" class="form-control editTask CompletionDate" value="'+CompletionDate+'" maxlength="50">' + Task + '</td><td class="text-center" style="width: 300px;">' + ResponsiblePerson + '</td><td class="text-center" style="width: 200px;">' + CompletionDate + '</td><td class="text-center" style="width: 200px;"><button type="button" class="btn btn-danger btn-sm" onclick="removeActivityRow(this);"><i class="fa fa-trash"></i></button></td></tr>';
            $("#ActivityTable tbody").append(markup);

            $("#Task, #ResponsiblePerson, #CompletionDate").val('');

            if($("#ActivityTable tbody").find("tr").length == 1)
			{
				$("#ActivityTable thead").show();
			}
        });
    });   


function removeActivityRow(obj)
{
	if(confirm("Are you sure, want to delete ?"))
	{
		$(obj).parent().parent().remove();
		if($("#ActivityTable tbody").find("tr").length == 0)
		{
			$("#ActivityTable thead").hide();
		}
	}	


}    
</script>