
<div class="modal-body">
	<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Title </label>
						<input name="Title" type="text" class="form-control" value="{{formData.Title}}" maxlength="50" readonly="">
					</div>
				</div>
               <div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Category </label>
						<input name="Category" type="text" class="form-control" value="{{formData.Category}}" maxlength="50" readonly="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Author </label>
						<input name="Author" type="text" value="{{formData.Author}}" class="form-control" value="" maxlength="50" readonly="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Accession Number </label>
						<input name="AccessionNumber" type="text" class="form-control" value="{{formData.AccessionNumber}}" readonly="">
						<input name="BookID" type="hidden" class="form-control" value="{{formData.BookID}}">
						<input name="BookGUID" type="hidden" class="form-control" value="{{formData.BookGUID}}">
					</div>
				</div>				
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Select User <span class="text-danger">*</span></label>
						<select name="UserID" id="UserID" class="form-control">
							<option value=""></option>
							<option ng-repeat="row in data.UserData" value="{{row.UserID}}">{{row.FullName}}</option>

						</select>
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Issue Date <span class="text-danger">*</span></label>
						<input name="IssueDate" type="text" id="IssueDate" class="form-control" value=""  placeholder="dd/mm/yyyy">
					</div>
				</div>				
			</div>





</div>





<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm"  ng-click="IssueBookData()">Book Issue</button>

</div>





