<div class="modal-body">
  <div class="form-area">
  		<table class="table">
            <thead>
               <tr>
               	  <th>Activity</th>
                  <th>Name</th>
                  <th>Batch</th>
                  <th>Selected</th>
               </tr>
            </thead>
            <tbody id="activity-table-body">
               <tr ng-repeat="(key, row) in data.Participants">
               	  <td>{{row.ActivityName}}</td>
                  <td>{{row.FullName}}</td>
                  <td>{{row.BatchName}}</td>
                  <td>
                  	   <img src="./asset/img/ajax-loader.gif" id="loader{{row.UserID}}" style="display:none; position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
                  	   <div class="form-group">
	                       <label class="control-label" style="width: 10%;float: left;">Yes</label>
	                       <input type="radio" ng-checked="row.Permission == '1'" value="1"  ng-click="SetParticipantsPermission(1,row.UserID,row.EventActivityID)" id="radio1{{row.UserID}}{{row.EventActivityID}}" style="width: 10%;float: left;" >
	                       <label class="control-label" style="width: 10%;float: left;margin-left: 20px;">No</label>
	                       <input  type="radio" ng-checked="row.Permission == '0'" value="0" style="width: 10%;float: left;" id="radio0{{row.UserID}}{{row.EventActivityID}}" ng-click="SetParticipantsPermission(0,row.UserID,row.EventActivityID)">
	                   </div>
                 </td>
                 <!--  <td>{{row.ActivityDuration}}</td>
                  <td> 
                  	<a class="glyphicon glyphicon-eye-open" href="" ng-click="loadFormActivityView(key, row)" data-toggle="tooltip" title="View"></a>

                    <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="glyphicon glyphicon-edit" href="" ng-click="loadFormActivityEdit(key, row)" data-toggle="tooltip" title="Edit"></a>

                     <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="glyphicon glyphicon-trash" href="" ng-click="loadFormActivityDelete(key, EventGUID, row.EventActivityID)" data-toggle="tooltip" title="Delete"></a>
                 </td> -->
               </tr>
            </tbody>
         </table>
        <p style="margin-top: 0px;" class="no-records text-center" ng-if="!data.Participants.length">
			<span>No records found.</span>
		</p>
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>