<div class="modal-body">
  <div class="form-area">
  		<table class="table">
            <thead>
               <tr>
                  <th>Activity</th>
                  <th>Accountability</th>
                  <th>Coordinator</th>
                  <th>Duration</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody id="activity-table-body">
               <tr ng-repeat="(key, row) in data.Activity">
                  <td>{{row.ActivityName}}</td>
                  <td>{{row.FullName}}</td>
                  <td>{{row.Coordinator}}</td>
                  <td>{{row.ActivityDuration}}</td>
                  <td> 
                  	<a class="glyphicon glyphicon-eye-open" href="" ng-click="loadFormActivityView(key, row)" data-toggle="tooltip" title="View"></a>

                    <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="glyphicon glyphicon-edit" href="" ng-click="loadFormActivityEdit(key, row)" data-toggle="tooltip" title="Edit"></a>

                     <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="glyphicon glyphicon-trash" href="" ng-click="loadFormActivityDelete(key, EventGUID, row.EventActivityID)" data-toggle="tooltip" title="Delete"></a>
                 </td>
               </tr>
            </tbody>
         </table>
        <p style="margin-top: 0px;" class="no-records text-center" ng-if="!data.Activity.length">
			<span>No records found.</span>
		</p>
		<hr class="light-grey-hr-custom">
	    <h6 class="txt-dark capitalize-font" style="margin-left: 15px;">    <i class="zmdi zmdi-account mr-10"></i>Add New Activity :</h6>
	    <!-- <hr class="light-grey-hr-custom"> -->
		<form id="manage_activity_form" name="manage_activity_form" class="edit_form" autocomplete="off" >
			<input type="hidden"  name="EventGUID" value="{{EventGUID}}">
			<div class="Activities" id="Activity1" style="border: 1px solid gray;padding: 10px;margin: 10px;border-radius: 5px;">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Activity Name <span class="text-danger">*</span></label>
							<input name="ActivityName" type="text" class="form-control" maxlength="50">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Accountability <span class="text-danger">*</span></label>
							<select name="Accountaibility" class="form-control chosen-select Accountaibility" tabindex="4">
								<option value="">Please Select</option>
								 <option ng-repeat="rows in data.UserData" value="{{rows.UserID}}" ng-selected="rows.Category==Category">{{rows.FullName}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Coordinator <span class="text-danger">*</span></label>
							<input name="Coordinator" type="text" class="form-control" maxlength="50">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Duration <span class="text-danger">* </span>(hh:mm)</label>
							<input type="text" name="hour" class="form-control integer" maxlength="2" style="width:40%;    display: inline;" placeholder="Hour">
							<input type="text" name="minute" class="form-control integer" maxlength="2"  style="width:40%;    display: inline;" placeholder="Minute">
							<!-- <input name="ActivityDuration" type="number" step="0.1"  onkeyup="checkDuration(this.value)" class="form-control without_ampm" min="0.1"> -->
							<!-- <input name="ActivityDuration" type="text"  onkeyup="checkDuration(this.value)" class="form-control without_ampm" pattern= "[0-9]"  title= "Title"> -->
						</div>
					</div>
				</div>
				<table class="row" id="ActivityTable">
					<thead  style="display: none;">
						
						<th style="width: 200px;" class="text-center">Task</th>
						<th style="width: 300px;" class="text-center">Responsible Person</th>
						<th style="width: 200px;" class="text-center">Completion Date</th>
						<th style="width: 200px;" class="text-center">Action</th>
					</thead>
					<tbody>
						<tr class="taskEdit">						
							<td class="text-center" style="width: 200px;">
							</td>
							<td class="text-center" style="width: 300px;">
							</td>
							<td class="text-center" style="width: 200px;">
							</td>
							<td class="text-center" style="width: 200px;">	
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
		<form>
        <div class="row taskEdit">
			<div class="col-md-2">
				<div class="form-group">
					<h6 style="margin-top: 30px;font-size: 14px;">Activity Tasks:</h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Task <span class="text-danger">*</span></label>
					<input name="Task[]" type="text" class="form-control editTask" id="Task" maxlength="50">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Responsible Person <span class="text-danger">*</span></label>
					<input name="ResponsiblePerson[]" type="text" class="form-control editTask" id="ResponsiblePerson">
					<!-- <select name="ResponsiblePerson[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Category" ng-change="pushCategory(Category)">
						 <option ng-repeat="rows in data.UserData" value="{{rows.UserID}}" ng-selected="rows.Category==Category">{{rows.FullName}}</option>
					</select> -->
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Completion Date <span class="text-danger">*</span></label>
					<input name="CompletionDate[]" type="text" class="form-control editTask CompletionDate"  id="CompletionDate0" maxlength="50" readonly>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-sm"  style="margin-top: 30px;min-width: 0px;" id="add-row">+</button>
				</div>
			</div>
		</div>
    </form>	
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" ng-click="ManageActivity(1)" class="btn btn-success btn-sm">Save and Exit</button>
	<button type="submit" class="btn btn-success btn-sm addMoreActivity addMoreActivity1" id="addMoreActivity_2"  ng-click="ManageActivity()" style="min-width: 0px; float: right;">Save and Add More Activity</button>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#add-row").click(function(){
            var Task = $("#Task").val();
            var ResponsiblePerson = $("#ResponsiblePerson").val();            
            var CompletionDate = $("#CompletionDate0").val();  

			if(Task == "" || ResponsiblePerson == "" || CompletionDate == "")
			{
				alert("Please enter all mandatory fields.");

				return false;
			}

            var markup = '<tr><td class="text-center" style="width: 200px;"><input name="Task[]" type="hidden" class="form-control editTask" value="'+Task+'" maxlength="50"><input name="ResponsiblePerson[]" type="hidden" class="form-control editTask" value="'+ResponsiblePerson+'"><input name="CompletionDate[]" type="hidden" class="form-control editTask CompletionDate" value="'+CompletionDate+'" maxlength="50">' + Task + '</td><td class="text-center" style="width: 300px;">' + ResponsiblePerson + '</td><td class="text-center" style="width: 200px;">' + CompletionDate + '</td><td class="text-center" style="width: 200px;"><button type="button" class="btn btn-danger btn-sm" onclick="removeActivityRow(this);"><i class="fa fa-trash"></i></button></td></tr>';
            $("#ActivityTable tbody").append(markup);

            $("#Task, #ResponsiblePerson, #CompletionDate0").val('');

            $("#ActivityTable thead").show();

            if($("#ActivityTable tbody").find("tr").length == 1)
			{
				$("#ActivityTable thead").show();
				//$("#ActivityTable thead").show();
			}
        });
    });   


function removeActivityRow(obj)
{
	if(confirm("Are you sure, want to delete ?"))
	{
		$(obj).parent().parent().remove();
		if($("#ActivityTable tbody").find("tr").length == 0)
		{
			$("#ActivityTable thead").hide();
		}
	}	
}    
</script>