<style type="text/css">
	.form-group label {
		font-weight: bold;
	}
</style>
<div class="modal-body">
  <div class="form-area">
  	
    <h6 class="txt-dark capitalize-font">    <i class="zmdi zmdi-account mr-10"></i>Activity Details :</h6>
    <hr class="light-grey-hr-custom">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Activity Name </label><br>
				{{data.ViewActivityData.ActivityName}}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Accountability </label><br>
				{{data.ViewActivityData.FullName}}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Coordinator </label><br>
				{{data.ViewActivityData.Coordinator}}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Duration (HH:MM) </label><br>
				{{data.ViewActivityData.ActivityDuration}}
				<!-- <input name="ActivityDuration" type="text"  onkeyup="checkDuration(this.value)" class="form-control without_ampm" pattern= "[0-9]"  title= "Title"> -->
			</div>
		</div>
	</div>
	<hr class="light-grey-hr-custom">
    <h6 class="txt-dark capitalize-font">    <i class="zmdi zmdi-account mr-10"></i>Task Details :</h6>
    <hr class="light-grey-hr-custom">
	<div  ng-repeat="(key, row) in data.ViewActivityData.Task">
		<div class="row" ng-if="key==0">
			<div class="col-md-3">
				<div class="form-group">
					<h6 style="margin-top: 30px;font-size: 14px;">S. No.</h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<h6 style="margin-top: 30px;font-size: 14px;"> Task </h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<h6 style="margin-top: 30px;font-size: 14px;"> Responsible Person </h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<h6 style="margin-top: 30px;font-size: 14px;"> Completion Date :</h6>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					  {{key+1}}. 
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<!-- <label class="control-label">Task </label><br> -->
					{{row.Task}}
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<!-- <label class="control-label">Responsible Person </label><br> -->
					{{row.ResponsiblePerson}}
					<!-- <select name="ResponsiblePerson[]" class="form-control chosen-select Categorys" multiple tabindex="4" ng-model="Category" ng-change="pushCategory(Category)">
						 <option ng-repeat="rows in data.UserData" value="{{rows.UserID}}" ng-selected="rows.Category==Category">{{rows.FullName}}</option>
					</select> -->
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<!-- <label class="control-label">Completion Date </label><br> -->
					{{row.CompletionDate}}
				</div>
			</div>
		</div>
		<!-- <div class="col-md-1">
			<div class="form-group" id="task_button01">
				<button type="submit" class="btn btn-success btn-sm"  onclick="addMoreTask(0,1)" style="margin-top: 30px;min-width: 0px;">+</button>
			</div>
		</div> -->
		<hr>
	</div>
		
	
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" ng-click="cancelActivityView()">Cancel</button>
</div>