<style type="text/css">
   .card-header, .card-link,.card-link:hover{background-color:#000;text-align:left;color:hotpink;}
   .card-body{padding:10px 10px;}
   .card{height: auto;}
   .eventcollapse{position:absolute;top:5px;right:20px;font-size:20px;color:white;
   -webkit-animation: minus 0.5s;}
   .card-header, .card-link, .card-link:hover {
   /*background-color: #359FDD;
   text-align: left;
   color: #FFF;*/
   background-color: lightblue;
   text-align: left;
   color: #000;
   }
   .collapse.show{
      min-height: 100px;
   }
   @keyframes minus {
      from {
      transform:rotate(0deg);
      }
      to {
      transform:rotate(360deg);
      }
   }
   [aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}
</style>
<div class="modal-body">
   <div id="accordion">
      <div class="card">
         <div class="card-header">
            <a class="card-link" data-toggle="collapse"  href="#menuone" aria-expanded="true" aria-controls="menuone">
               Event Programme
               <span class="collapsed">
                  <p class="eventcollapse"><b style="color: #000000">></b></p>
               </span>
               <span class="expanded">
                  <p class="eventcollapse"><b style="color: #000000"><</b></p>
               </span>
            </a>
         </div>
         <div id="menuone" class="collapse show">
            <div class="card-body">
               <div class="row" ng-if="!formData.EventDetails.MediaURL">
                  <div class="col-md-12">
                     <div class="form-group">
                        <label class="control-label">Event Image :</label><br>
                        <div id="picture-box" class="picture-box banner">
                           <!-- picture display -->
                           <img id="picture-box-picture" ng-if="!formData.EventDetails.MediaURL" ng-src="./asset/img/imageupload.png">
                           <img id="picture-box-picture" ng-if="formData.EventDetails.MediaURL" ng-src="{{formData.EventDetails.MediaURL}}" style="height: 138px;
                              width: 180px;">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">Event Name: </label><br>
                        {{formData.EventDetails.EventName}}
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">Venue: </label><br>
                        {{formData.EventDetails.Address}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">Start Date: </label><br>
                        {{formData.EventDetails.EventStartDateTime | date:'mm-dd-yyyy H:i:s'}}
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">End Date:</label><br>
                        {{formData.EventDetails.EventEndDateTime | date:'mm-dd-yyyy H:i:s'}}
                     </div>
                  </div>
               </div>
               <table class="table">
                  <thead>
                     <tr>
                        <th>Activity</th>
                        <th>Accountability</th>
                        <th>Coordinator</th>
                        <th>Duration</th>
                        <!-- <th>Action</th> -->
                     </tr>
                  </thead>
                  <tbody id="activity-table-body">
                     <tr ng-repeat="(key, row) in formData.EventActivities">
                        <td>{{row.ActivityName}}</td>
                        <td>{{row.FullName}}</td>
                        <td>{{row.Coordinator}}</td>
                        <td>{{row.ActivityDuration}}</td>
                        <!-- <td> 
                           <a class="glyphicon glyphicon-eye-open" href="" ng-click="loadFormActivityView(key, row)" data-toggle="tooltip" title="View"></a>
                           
                           <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="glyphicon glyphicon-edit" href="" ng-click="loadFormActivityEdit(key, row)" data-toggle="tooltip" title="Edit"></a>
                           
                            <a ng-if="(UserTypeID == 10 || UserTypeID == 1) || data.SecondLevelPermission.indexOf('all') == 0 || data.SecondLevelPermission.indexOf('all') > 0" class="glyphicon glyphicon-trash" href="" ng-click="loadFormActivityDelete(key, EventGUID, row.EventActivityID)" data-toggle="tooltip" title="Delete"></a>
                           </td> -->
                     </tr>
                  </tbody>
               </table>
               <p style="margin-top: 10px;
    text-align: center;
    width: 100%;
    float: left;
    color: #000;
    font-size: 16px;" class="text-center" ng-if="!formData.EventActivities.length">
                  <span>No records found.</span>
               </p>
            </div>
         </div>
      </div>
      <br>
      <div class="card">
         <div class="card-header">
            <a class="card-link" data-toggle="collapse"  href="#menutwo" aria-expanded="false" aria-controls="menutwo">
               Task List
               <span class="collapsed">
                  <p class="eventcollapse"><b style="color: #000000">></b></p>
               </span>
               <span class="expanded">
                  <p class="eventcollapse"><b style="color: #000000"><</b></p>
               </span>
            </a>
         </div>
         <div id="menutwo" class="collapse">
            <div class="card-body">
              <table class="table">
                  <thead>
                     <tr>
                        <th>Activity</th>
                        <th>Task</th>
                        <th>Responsible Person</th>
                        <th>Completion Date</th>
                        <!-- <th>Action</th> -->
                     </tr>
                  </thead>
                  <tbody id="activity-table-body" ng-repeat="(key, row) in formData.EventActivities">
                     <tr ng-repeat="(keys, task) in row.Task">
                        <td>{{row.ActivityName}}</td>
                        <td>{{task.Task}}</td>
                        <td>{{task.ResponsiblePerson}}</td>
                        <td>{{task.CompletionDate}}</td>
                     </tr>
                  </tbody>                   
              </table>
              <p style="margin-top: 10px;
    text-align: center;
    width: 100%;
    float: left;
    color: #000;
    font-size: 16px;" class="text-center" ng-if="!formData.EventActivities.length"><span>No records found.</span></p>
            </div>
         </div>
      </div>
      <br>
      <div class="card">
         <div class="card-header">
            <a class="card-link" data-toggle="collapse"  href="#menu3" aria-expanded="false" aria-controls="menu3">
               Paticipants List
               <span class="collapsed">
                  <p class="eventcollapse"><b style="color: #000000">></b></p>
               </span>
               <span class="expanded">
                  <p class="eventcollapse"><b style="color: #000000"><</b></p>
               </span>
            </a>
         </div>
         <div id="menu3" class="collapse">
            <div class="card-body">
               <table class="table">
                  <thead>
                     <tr>
                        <th>Activity</th>
                        <th>Name</th>
                        <th>Batch</th>
                        <th>Permission</th>
                     </tr>
                  </thead>
                  <tbody id="activity-table-body">
                     <tr ng-repeat="(key, row) in formData.EventParticipants">
                        <td>{{row.ActivityName}}</td>
                        <td>{{row.FullName}}</td>
                        <td>{{row.BatchName}}</td>
                        <td>
                           <img src="./asset/img/ajax-loader.gif" id="loader{{row.UserID}}" style="display:none; position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
                           <div class="form-group">
                              <label class="control-label" style="width: 13%;float: left;">Yes</label>
                              <input type="radio" ng-checked="row.Permission == '1'" value="1"  ng-click="SetParticipantsPermission(1,row.UserID,row.EventActivityID)" id="radio1{{row.UserID}}{{row.EventActivityID}}" style="width: 10%;float: left;" >
                              <label class="control-label" style="width: 10%;float: left;margin-left: 20px;">No</label>
                              <input  type="radio" ng-checked="row.Permission == '0'" value="0" style="width: 10%;float: left;" id="radio0{{row.UserID}}{{row.EventActivityID}}" ng-click="SetParticipantsPermission(0,row.UserID,row.EventActivityID)">
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <p style="margin-top: 10px;
    text-align: center;
    width: 100%;
    float: left;
    color: #000;
    font-size: 16px;" class="text-center" ng-if="!formData.EventParticipants.length">
                  <span>No records found.</span>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>