<div class="modal-body">
   <div class="form-area">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label class="control-label">Event Name: </label><br>
               {{formData.EventName}}
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="control-label">Multiple Activity:</label><br>
               <span ng-repeat="name in Category"> {{name}}  </span> 
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label class="control-label">Start Date: </label><br>
               {{formData.EventStartDateTime | date:'mm-dd-yyyy H:i:s'}}
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="control-label">End Date:</label><br>
               {{formData.EventEndDateTime | date:'mm-dd-yyyy H:i:s'}}
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label class="control-label">Address: </label><br>
               {{formData.Address}}
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label class="control-label">Event Description:</label><br>
               <p ng-bind-html="formData.EventDescription" style="">{{formData.EventDescription}}</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label class="control-label">Event Image :</label><br>
               <div id="picture-box" class="picture-box banner">
                  <!-- picture display -->
                  <img id="picture-box-picture" ng-if="!formData.MediaURL" ng-src="./asset/img/imageupload.png">
                  <img id="picture-box-picture" ng-if="formData.MediaURL" ng-src="{{formData.MediaURL}}" style="height: 138px;
                     width: 180px;">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>