<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" >
			<input name="UserTypeID" type="hidden" class="form-control" value="10" >
			<input name="Status" type="hidden" class="form-control" value="Pending" >
			<input name="DeviceType" type="hidden" class="form-control" value="Native" >

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Username</label>
						<input name="Username" type="text" class="form-control" value="" required="" maxlength="50">
					</div>
				</div>
			</div>

	<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Email</label>
						<input name="Email" type="email" class="form-control" value="" maxlength="50">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Confirm Email</label>
					<input name="ConfirmEmail" type="text" class="form-control" value="" maxlength="50">
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Password</label>
						<input name="Password" type="password" class="form-control" value="" maxlength="12">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Confirm Password</label>
						<input name="ConfirmPassword" type="password" class="form-control" value="" maxlength="12">
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Contact No.</label>
						<input name="PhoneNumber" type="text" class="form-control" value="" maxlength="10">
					</div>
				</div>

			</div>

	<hr>
	<input type="hidden" name="Source" value="Direct"> 
<!-- 	<input type="hidden" name="UserGUID" value="{{formData.UserGUID}}">    
 -->		</form>
	</div>
</div>

<div class="modal-footer">

	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="addData()">Save</button>
</div>


