<div class="modal-body">
	<div class="form-area">
		<form id="add_form" name="add_form" autocomplete="off" >
			<div class="row">
				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label" >Select Course <span style="color:red">*</span></label>

						<select  name="CategoryGUID" id="CategoryGUID" class="form-control chosen-select" ng-model="CategoryGUID" ng-change="getDuration(CategoryGUID)">

							<option value="">Select Course</option>

							<option ng-repeat="row in data.categoryList" value="{{row.CategoryGUID}}">{{row.CategoryName}}</option>

						</select>

					</div>

			</div>
			
				<div class="col-md-6">
				<div class="form-group">
						<label class="control-label">Batch Name <span class="text-danger">*</span></label>
						<input name="BatchName" id="BatchName" type="text" class="form-control" maxlength="100">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label integer">Duration (in months) <span style="color:red">*</span></label>
						<input type="text" name="Duration" id="Duration" maxlength="3" class="form-control integer" value="{{Duration}}">
						</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Start Date <span style="color:red">*</span></label>
						<input name="StartDate" id="StartDate" type="text" class="form-control integer" value="" maxlength="12" placeholder="dd-mm-yyyy" readonly>
					</div>
				</div>

			</div>


			


			</div>

			<!-- <input type="hidden" name="Source" value="Direct">   -->

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData(1)">Save & Continue</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData(0)">Save & Exit</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoaderSet">
</div>