<div class="modal-body">
	<div class="form-area">
		<form id="addasaining_form" name="addasaining_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-9">
				<div class="form-group">
						<label class="control-label">Select Course <span style="color:red">*</span></label>
						<!-- <input name="" type="text" class="form-control" value=""> -->
						<select  name="CategoryID" class="form-control chosen-select"  ng-model="CategoryID" ng-change="getFaculty(CategoryID)" >
							<option value="">Please Select</option>
							<option ng-repeat="row in data.categoryList" value="{{row.CategoryID}}">{{row.CategoryName}}</option>

						</select>
					</div>
				</div>

				
				<div class="col-md-9">

					<div class="form-group">

						<label class="control-label" >Select Staff<span style="color:red">*</span></label>

						<select  name="FacultyID" id="FacultyID" class="form-control chosen-select" ng-model="FacultyID" ng-change="getBatch(CategoryID)">

							 <option ng-repeat="rows in data.dataFaculty" value="{{rows.UserID}}">{{rows.FullName}}</option> 

						</select>

					</div>

			</div>

				<div class="col-md-9">
				<div class="form-group">
						<label class="control-label">Batch Name <span style="color:red">*</span></label>
						<select  name="BatchID" id="BatchGUID" class="form-control chosen-select">

							<option value=""></option>
							 <option ng-repeat="rowb in data.dataBatch" value="{{rowb.BatchID}}">{{rowb.BatchName}}</option>

						</select>
					</div>
				</div>
			</div>
			
</form>

			</div>

			<!-- <input type="hidden" name="Source" value="Direct">   -->

		
	</div>


<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="addDataLoading" data-dismiss="modal">Cancel</button>
	
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addasainingData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="addDataLoading" class="processingLoaderSet">
</div>


