<div class="modal-body">
	<div class="form-area">
		<form id="add_attendance_form" name="add_attendance_form" autocomplete="off" >
			<div class="row">
				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label" >Select Batch <span style="color:red">*</span></label>

						<select name="BatchID" id="BatchGUID" ng-model="BatchGUID" ng-change="getStudents(BatchGUID,date)" class="form-control chosen-select">
							<option value="">Select Batch</option>
							<option ng-repeat="rowb in data.batchDataList" value="{{rowb.BatchGUID}}">{{rowb.BatchName}}</option>
						</select>  

					</div>
				</div>

				<div class="col-md-6">

					<div class="form-group">

							<label class="control-label">Attendance Date <span style="color:red">*</span></label>

							<p>
	    						<input name="EntryDate" id="EntryDate" ng-model="date" type="text" class="form-control" maxlength="50" placeholder="" value="{{date | date:'dd-mm-yyyy'}}" ng-change="getStudents(BatchGUID,date)">
							</p>

					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						&nbsp;
					</div> 
				</div>	
				<div class="col-md-4">
					<div class="form-group">
						
					</div>
				</div>		
				<div class="col-md-6">
					<div class="form-group">
                       <label class="control-label" style="float: left;color:green;">Present</label>
                       <input type="radio" name="AttendanceAll" id="AttendanceAll1" onclick="MarkAttendanceAll(1);" value="1" class="radio" style="float: left;" >

                       <label class="control-label" style="float: left;margin-left: 20px;color:red;">Absent</label>
                       <input  type="radio" name="AttendanceAll" id="AttendanceAll2" onclick="MarkAttendanceAll(2);" value="2" style="float: left;" class="radio">

                       <label class="control-label" style="float: left;margin-left: 20px;color:blue;">On Leave</label>
                       <input  type="radio" name="AttendanceAll" id="AttendanceAll3" onclick="MarkAttendanceAll(3);" value="3" style="float: left;" class="radio">

                       <label class="control-label" style="float: left;margin-left: 20px;color:gray;">Clear All</label>
                       <input  type="radio" name="AttendanceAll" id="AttendanceAll4" onclick="MarkAttendanceAll(4);" value="4" style="float: left;" class="radio">
                   </div>
				</div>
			</div>		

			<div class="row" style="max-height: 300px; min-height: 300px; overflow: auto;">
				<div class="col-md-12">
				<table class="table">
		            <thead>
		               <tr>
		               	  <th style="width:30%;">Students</th>
		                  <th style="width:70%;">Action</th>
		               </tr>
		            </thead>
		            <tbody id="activity-table-body">
		               <tr ng-repeat="(key, row) in data.Students">
		               	  <td>{{row.FullName}}</td>
		                  <td>
		                  	   <img src="./asset/img/ajax-loader.gif" id="loader{{row.UserID}}" style="display:none; position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%, -50%);">
		                  	   
		                  	   <div class="form-group">
			                       
		                  	   		<label style="width:30%; float:left;">
				                       <label class="control-label" style="color:green;">Present</label><input type="radio" name="uid[{{row.UserID}}]" ng-checked="row.AttendanceStatus == 'Present'" style="margin-left:3px;" value="Present" class="radio{{row.UserID}} PresentAll" >
			                   		</label>


			                   		<label style="width:30%; float:left; margin-left:20px;">
				                       <label class="control-label" style="color:red; float:left;">Absent</label><input  type="radio" name="uid[{{row.UserID}}]" ng-checked="row.AttendanceStatus == 'Absent'" value="Absent" style="float:left; margin-left:3px;" class="radio{{row.UserID}} AbsentAll">
				                    </label>   
				                    

				                    <label style="width:30%; float:left; margin-left:20px;">
			                       		<label class="control-label" style="color:blue; float:left;">On Leave</label><input  type="radio" name="uid[{{row.UserID}}]" ng-checked="row.AttendanceStatus == 'OnLeave'" value="OnLeave" style="float:left; margin-left:3px;" class="radio{{row.UserID}} OnLeaveAll">
			                       	</label>	

			                       <!--ng-click="SetAttendance(row.UserID,'OnLeave',date,row.BatchID)"-->
			                   </div>
		                 </td>
		               </tr>

		               <tr ng-if="data.studentAttLoading">
		               		<td colspan="2">
		               			<img src="./asset/img/ajax-loader.gif" ng-if="data.studentAttLoading" style="position: absolute;    top: 30%;    left: 50%;">
		               		</td>	
		               </tr>

		            </tbody>
		         </table>
		        <p style="margin-top: 0px;" class="no-records text-center" ng-if="!data.Students.length && !data.studentAttLoading">
					<span>No records found.</span>
				</p>
		     </div>
			</div>
		</form>

		
	</div>
</div>

<div class="modal-footer">
	<img src="./asset/img/ajax-loader.gif" ng-if="loadeSubmit" class="processingLoader">

	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="loadeSubmit" data-dismiss="modal">Cancel</button>

	<button type="submit" class="btn btn-success btn-sm" ng-disabled="loadeSubmit" ng-click="SetAttendance()">Save</button>
</div>

<script type="text/javascript">
$(function()
{
	$( "#EntryDate" ).datepicker({
      dateFormat: "dd-mm-yy",
      changeMonth: true,
      maxDate: 0
    });
});


function MarkAttendanceAll(typ)
{
	if(typ == 1)
	{
		$(".PresentAll").attr("checked", "checked");
		$(".PresentAll").prop("checked", "checked");
		$(".AbsentAll").removeAttr("checked");
		$(".OnLeaveAll").removeAttr("checked");
	}
	else if(typ == 2)
	{
		$(".PresentAll").removeAttr("checked");
		$(".AbsentAll").attr("checked", "checked");
		$(".AbsentAll").prop("checked", "checked");
		$(".OnLeaveAll").removeAttr("checked");
	}
	else if(typ == 3)
	{
		$(".PresentAll").removeAttr("checked");
		$(".AbsentAll").removeAttr("checked");
		$(".OnLeaveAll").attr("checked", "checked");
		$(".OnLeaveAll").prop("checked", "checked");
	}
	else
	{
		$(".PresentAll").removeAttr("checked");
		$(".AbsentAll").removeAttr("checked");
		$(".OnLeaveAll").removeAttr("checked");
	}
}	
</script>