<div class="modal-body" >
	<div class="form-area">
		<form id="editAssign_form" name="editAssign_form" autocomplete="off" >
				<div class="row">
				  <div class="col-md-9">
				      <div class="form-group">

						<label class="control-label">Select Course <span style="color:red">*</span></label>
						<!-- <input name="" type="text" class="form-control" value=""> -->
						<select  name="CategoryID" class="form-control chosen-select"  ng-model="CategoryID" ng-change="getFaculty(CategoryID)" >
							<option ng-repeat="row in data.categoryList" value="{{row.CategoryID}}" ng-selected="CategoryID==row.CategoryID">{{row.CategoryName}}</option>

						</select>
					
					</div>
				</div>

				
				<div class="col-md-9">

					<div class="form-group">

						<label class="control-label" >Select Staff <span style="color:red">*</span></label>
				
						<select  name="FacultyID" class="form-control chosen-select" ng-model="FacultyID" ng-change="getBatch(CategoryID)">
							 <option ng-repeat="rows in data.dataFaculty" value="{{rows.UserID}}" ng-selected="FacultyID == rows.UserID">{{rows.FullName}}</option> 
							

						</select>
		

					</div>

			</div>

				<div class="col-md-9">
				<div class="form-group">
						<label class="control-label">Batch Name <span style="color:red">*</span></label>
						<select  name="BatchGUID" id="BatchGUID" class="form-control chosen-select">

							<option value=""></option>
							 <option ng-repeat="rowb in data.dataBatch" value="{{rowb.BatchGUID}}" ng-selected="formData.BatchGUID==rowb.BatchGUID">{{rowb.BatchName}}</option>

						</select>
						<input type="hidden" name="AsID" value="{{formData.AsID}}">
					</div>
				</div>
			</div>
			<!-- <input type="hidden" name="Source" value="Direct">   -->

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>
	
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editAssignData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoaderSet">
</div>


