<div class="modal-body">
	<div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">
				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label" >Select Course <span style="color:red">*</span></label>

						<select  name="CategoryGUID" id="CategoryGUID" class="form-control chosen-select" onchange="getDuration(CategoryGUID)">

							<!-- <option value="">Select Course</option> -->

							<option ng-repeat="row in data.categoryList" value="{{row.CategoryGUID}}" ng-selected="formData.CourseID == row.CategoryID">{{row.CategoryName}}</option>

						</select>

					</div>

				</div>
			
				<div class="col-md-6">
				<div class="form-group">
						<label class="control-label">Batch Name <span style="color:red">*</span></label>
						<input name="BatchName" type="text" class="form-control" maxlength="100" value="{{formData.BatchName}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Duration (in months)<span style="color:red">*</span></label>
						<input type="hidden" id="DuratioExtendMonth" name="DuratioExtendMonth" value="{{formData.DuratioExtendMonth}}">
						<input type="hidden" name="LastDuration" class="form-control integer" value="{{formData.Duration}}">
						<input type="text" id="Duration" name="Duration" class="form-control integer" value="{{Duration}}" maxlength="3">
			            <small>You can extend duration by max 1 month only.</small>
					</div>
				</div>

				<div class="col-md-6">
			
					<div class="form-group">
						<label class="control-label">Start Date <span style="color:red">*</span></label>
						<input name="StartDate" id="StartDate" type="text" class="form-control" value="{{formData.StartDate | date : 'dd-MM-yyyy'}}" maxlength="12"  placeholder="dd-mm-yyyy" readonly>
					</div>
				</div>

			</div>

				<input type="hidden" name="BatchGUID" value="{{formData.BatchGUID}}"> 

		</form>

		</div>

			 
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" ng-disabled="editDataLoading" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>

	<img src="./asset/img/ajax-loader.gif" ng-if="editDataLoading" class="processingLoaderSet">
</div>