<div class="modal-body" >
	<div class="form-area">
		<form id="editAssign_form" name="editAssign_form" autocomplete="off" >
				<div class="row">
				  <div class="col-md-6">
				      <div class="form-group">

						<label class="control-label"> Course </label><br>
						{{formData.CategoryName}}
					</div>
				</div>

				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label" > Staff </label><br>
						{{formData.FullName}}

					</div>

			</div>

				<div class="col-md-6">
				<div class="form-group">
						<label class="control-label">Batch Name </label><br>
						{{formData.BatchName}}
						<input type="hidden" name="AsID" value="{{formData.AsID}}">
					</div>
				</div>
			</div>
			<!-- <input type="hidden" name="Source" value="Direct">   -->

		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-click="editAssignData()">Save</button>
</div>


