
<div class="modal-body">
	<div class="form-area">
		<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">
				
				<div class="col-md-6">

					<div class="form-group">

						<label class="control-label" >Course </label><br>

						{{formData.CategoryName}}

					</div>

			</div>
			
				<div class="col-md-6">
				<div class="form-group">
						<label class="control-label">Batch Name </label><br>
						{{formData.BatchName}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Duration (in months)</label><br>
						{{formData.Duration}}
			
					</div>
				</div>

				<div class="col-md-6">
			
					<div class="form-group">
						<label class="control-label">Start Date </label><br>
						 {{formData.StartDate | date : 'dd/MM/yyyy'}}
					</div>
				</div>

			</div>

				<input type="hidden" name="BatchGUID" value="{{formData.BatchGUID}}"> 

		</form>

		</div>

			 
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>


